﻿@using Swordfish.Businessobjects.TopDog
@using Swordfish.Businessobjects.Common
@using Swordfish.Businessobjects.Easyjet
@model Swordfish.UI.Models.Booking.BookingFulfillmentModel
@{
    Layout = "";
    string ReturnButtonText = string.IsNullOrEmpty(Model.ReturnButtonText) ? "Book" : Model.ReturnButtonText;
    string OutBoundButtonText = string.IsNullOrEmpty(Model.OutBoundButtonText) ? "Book" : Model.OutBoundButtonText;
    string InBoundButtonText = string.IsNullOrEmpty(Model.InBoundButtonText) ? "Book" : Model.InBoundButtonText;
    var topDogRefData = new TopDogResponse();
    var topDogOtherData = new List<TopDogResponse>();
    string agentNotes = ViewBag.agentNotes;
}
<div class="panel-body">
    <div>
        <div class="col-xs-12 smallpadd">
            @if (Model.TopDogResponse != null && Model.TopDogResponse.Count > 0)
            {
                <div class="row posting-info-wrapper">
                    <div class="col-xs-12 smallpadd">
                        <div class="row">
                            <div class="col-xs-8 status-td">
                                <div class="row">
                                    <div>
                                        @if (Model.TopDogResponse != null && Model.TopDogResponse.Count > 0)
                                        {
                                            topDogRefData = Model.TopDogResponse.Find(t => !string.IsNullOrEmpty(t.TopDogRefNum) && t.VerbName.Equals(SFConstants.TopDogResponse));
                                            topDogOtherData = Model.TopDogResponse.Where(t => t.IsVisible && !t.VerbName.Equals(SFConstants.TopDogResponse)).ToList();
                                        }
                                        @if (topDogRefData != null)
                                        { <div class="col-xs-12 smallpadd">
                                            <div class="col-xs-5">
                                                <strong>@topDogRefData.VerbName</strong>
                                            </div>
                                            <div class="col-xs-7">
                                                @*<div class="status-acknowledge">@topDogRefData.TopDogRefNum</div>*@
                                            </div>
                                        </div>
                                        }
                                        @if (topDogOtherData != null && topDogOtherData.Count > 0)
                                        {
                                            foreach (var item in topDogOtherData)
                                            {
                                                <div class="col-xs-12 smallpadd">
                                                    <div class="col-xs-5 status-td">
                                                        @item.VerbName
                                                    </div>
                                                    <div class="col-xs-7">
                                                        <div><strong>@item.VerbResponse</strong></div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="row">
                                    <div class="col-xs-5 status-sf topdog-sf">
                                        @if (topDogRefData != null && !(topDogOtherData.Where(x => x.IsError == true).Count() > 0))
                                        {
                                            <div class="status-success text-center"><i class="fa fa-check" aria-hidden="true"></i></div>
                                        }
                                        else
                                        {
                                            <div class="status-error text-center"><i class="fa fa-times" aria-hidden="true"></i></div>
                                        }
                                        <!--<div class="status-error text-center"><i class="fa fa-times" aria-hidden="true"></i></div>-->
                                    </div>
                                    <div class="col-xs-7">
                                        @if (topDogRefData != null && !(topDogOtherData.Where(x => x.IsError == true).Count() > 0))
                                        {
                                            <div class="status-acknowledge">@topDogRefData.TopDogRefNum</div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-xs-7">
                    <div class="status-acknowledge">Booking Failed</div><br />
                    <h4 class="text-left ttl-wht" style="color:firebrick">@Model.FulfillmentTransactionSummary</h4>
                </div>
            }
        </div>
    </div>
</div>