﻿<!doctype html>
<html ng-app="SwordFish">
<head>
    @using Swordfish.Businessobjects.TopDog
    @using Swordfish.Businessobjects.Common
    @using Swordfish.Businessobjects.Easyjet
    @model Swordfish.UI.Models.Booking.BookingFulfillmentModel
    @{
        Layout = "";
        int index = 0;
        string ReturnButtonText = string.IsNullOrEmpty(Model.ReturnButtonText) ? "Book" : Model.ReturnButtonText;
        string OutBoundButtonText = string.IsNullOrEmpty(Model.OutBoundButtonText) ? "Book" : Model.OutBoundButtonText;
        string InBoundButtonText = string.IsNullOrEmpty(Model.InBoundButtonText) ? "Book" : Model.InBoundButtonText;
        var topDogRefData = new TopDogResponse();
        var topDogOtherData = new List<TopDogResponse>();
        string agentNotes = ViewBag.agentNotes;
    }
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/angularCSS")

    @if (Model.IsFromSubmitted == 0)
            {
        <script type="text/javascript">
            $(document).ready(function () {
                $("#loader").show();
                //$("#frmBooking").submit();
                $("#btnSubmit").click();
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            $("#loader").hide();
        </script>
    }

    <script type="text/javascript">
            $(document).ready(function () {
                $("#btnPostToTopDog").on("click", function () {
                    $("#loader").show();
                    $("#btnPostToTopDog").attr("disabled", true);
                    var quoteHeaderID = $('#quoteHeaderId').val();
                    var agentNotes = $('#agentNotes').val();
                    var myKeyVals = { agentNotes: agentNotes, quoteHeaderID: quoteHeaderID };
                     $.ajax({
                        type: 'POST',
                        url: "../BookingFulfillment/PostToTopDog",
                        data: myKeyVals,
                        dataType: "text",
                        success: function (resultData) {
                            $("#divTopdogResponse").html(resultData);
                            $("#loader").hide();
                        },
                        error: function (request, status, error) {
                            $("#btnPostToTopDog").removeAttr("disabled");
                            $("#loader").hide();
                        }
                    });
                });
            });
    </script>
</head>
<body>
    <div class="main">
        <div class="container">
            <div id="loader" class="container">
                <div class="logo_loader"></div>
            </div>
            <layout></layout>
            <div class="row">
                <vertical-menu></vertical-menu>
                <div class="search-rs">
                    @Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmBooking" })
                    {
                    @Html.HiddenFor(q => q.IsFromSubmitted)
                    @Html.HiddenFor(q => q.quoteHeaderId)
                    @Html.HiddenFor(q => q.ComponentTypeOptionId)
                    <input id="btnSubmit" type="submit" value="Refresh" class="btn btn-primary" style="display:none;" name="action:Index" />
                    @if (Model != null)
                    {
                        <div class="search-rs">
                            <div class="row srch-body-cntnr">
                                <div class="full-fill-area-wrp ">
                                    <div class="search-results-inner-wrap">
                                        <h2 class="text-left ttl-wht">Booking Fulfillment </h2>
                                        <h4 class="text-left ttl-wht" style="color:firebrick">@Model.FulfillmentTransactionSummary</h4>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <!--ng-class if then else example-->
                                                <div class="panel-title">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <h3 class="panel-int-ttl">Hotel Confirmation</h3>
                                                            <!--  h3 class="acc-head-left"></h3 -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- The "in" class determines whether the panel is opened or closed -->
                                            <div class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <div>
                                                        <div class="col-xs-12 smallpadd">
                                                            <div class="row hotel-info-wrapper">
                                                                <div class="col-xs-12 out-bound-ew">
                                                                    <div class="row">
                                                                        <div class="col-xs-12">
                                                                            <div class="row">
                                                                                <div class="col-xs-8 padhtl htl-bordr">
                                                                                    <div class="row">
                                                                                        <div class="col-xs-12">
                                                                                            @if (@Model.Hotel != null)
                                                                                            {
                                                                                                <div class="hotel-primary-det">
                                                                                                    <h4>
                                                                                                        <a href="" class="hotel-det-link prl">@Model.Hotel.HotelName</a> &nbsp;
                                                                                                        <span class="htlrtg">
                                                                                                            @for (int count = 0; Model.Hotel.StarRating > count; count++)
                                                                                                            {
                                                                                                                <i class="fa fa-star"></i>
                                                                                                            }
                                                                                                        </span>

                                                                                                    </h4>
                                                                                                </div>
                                                                                                <div class="text-left  hotel-primary-info">
                                                                                                    @Model.Hotel.ResortName<br /> @Model.Hotel.HotelDescription
                                                                                                </div>
                                                                                            }
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-xs-4">
                                                                                    <div class="row">
                                                                                        <div class="col-xs-5 status-sf">
                                                                                            @if (Model.NonEjHotelStatusCodes != null && Model.NonEjHotelStatusCodes.Count > 0)
                                                                                            {
                                                                                                foreach (var item in Model.NonEjHotelStatusCodes)
                                                                                                {
                                                                                                    if (item.StatusCode == (int)System.Net.HttpStatusCode.OK)
                                                                                                    {
                                                                                                        <div class="status-success text-center"><i class="fa fa-check" aria-hidden="true"></i></div>
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        <div class="status-error text-center"><i class="fa fa-times" aria-hidden="true"></i></div>
                                                                                                    }
                                                                                                }
                                                                                            }

                                                                                            <!--<div class="status-error text-center"><i class="fa fa-times" aria-hidden="true"></i></div>-->
                                                                                        </div>
                                                                                        <div class="col-xs-7">
                                                                                            @if (Model.NonEjHotelStatusCodes != null && Model.NonEjHotelStatusCodes.Count > 0)
                                                                                            {
                                                                                                foreach (var item in Model.NonEjHotelStatusCodes)
                                                                                                {
                                                                                                    <div class="status-acknowledge">@item.RefCode</div>
                                                                                                }
                                                                                            }
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading scheduled-flights" role="tab">
                                                <div class="panel-title">
                                                    <div class="row">
                                                        <div class="col-xs-11">
                                                            <h3 class="panel-int-ttl">Flight Confirmation</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- The "in" class determines whether the panel is opened or closed -->
                                            <div class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <div>
                                                        <div>
                                                            <div class="col-xs-12">
                                                                <div class="row">
                                                                    <div class="col-xs-12 smallpadd">
                                                                        <!-- EasyJet or NonEasyJet Case -->
                                                                        @if (Model.BookingType != null && (Model.BookingType.Equals(SFConstants.NonEasyJetBookingType) || Model.BookingType.Equals(SFConstants.EasyJetBookingType) || Model.BookingType.Equals(SFConstants.HybridBookingType)))
                                                                        {
                                                                            <div class="row flight-info-wrapper">
                                                                                <div class="col-xs-8 out-bound-sf smallpadd">
                                                                                    @if (Model.QuoteData.flightComponents != null && Model.QuoteData.flightComponents.Count == 1)
                                                                                    {
                                                                                        var item = Model.QuoteData.flightComponents[0];
                                                                                        <div class="row">
                                                                                            <div class="col-xs-5">
                                                                                                <div class="ariline-name">@item.Source <br /> @item.FlightComponentDetails.FirstOrDefault(x => x.DirectionOptionId == SFConstants.Direction_Outbound).MarketingAirLine</div>
                                                                                            </div>
                                                                                            <div class="col-xs-2 text-center nopadding">
                                                                                                <div class="arrow-stops fullfill">
                                                                                                    <i class="fa fa-plane"></i>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-xs-5 text-right">
                                                                                                <div class="ariline-name">@item.Arrival <br />@item.FlightComponentDetails.Last(x => x.DirectionOptionId == SFConstants.Direction_Outbound).MarketingAirLine</div>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="search-col-space bot-border"></div>
                                                                                        <div class="row">
                                                                                            <div class="col-xs-5">
                                                                                                <div class="ariline-name">@item.Arrival <br /> @item.FlightComponentDetails.FirstOrDefault(x => x.DirectionOptionId == SFConstants.Direction_Inbound).MarketingAirLine</div>
                                                                                            </div>
                                                                                            <div class="col-xs-2 text-center nopadding">
                                                                                                <div class="arrow-stops fullfill">
                                                                                                    <i class="fa fa-plane"></i>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-xs-5 text-right">
                                                                                                <div class="ariline-name">@item.Source <br />@item.FlightComponentDetails.Last(x => x.DirectionOptionId == SFConstants.Direction_Inbound).MarketingAirLine</div>
                                                                                            </div>
                                                                                        </div>
                                                                                    }
                                                                                    else if (Model.QuoteData.flightComponents != null && Model.QuoteData.flightComponents.Count > 1)
                                                                                    {
                                                                                        foreach (var item in Model.QuoteData.flightComponents.OrderByDescending(x => x.FlightComponentDetails.OrderByDescending(n => n.DirectionOptionId).First().DirectionOptionId))
                                                                                        {
                                                                                            <div class="row">
                                                                                                <div class="col-xs-5">
                                                                                                    <div class="ariline-name">@item.Source <br /> @item.FlightComponentDetails.First().MarketingAirLine</div>
                                                                                                </div>
                                                                                                <div class="col-xs-2 text-center nopadding">
                                                                                                    <div class="arrow-stops fullfill">
                                                                                                        <i class="fa fa-plane"></i>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-xs-5 text-right">
                                                                                                    <div class="ariline-name">@item.Arrival <br />@item.FlightComponentDetails.Last().MarketingAirLine</div>
                                                                                                </div>
                                                                                            </div>
                                                                                            if (index == 0)
                                                                                            {
                                                                                                <div class="search-col-space bot-border"></div>
                                                                                            }
                                                                                            index = index + 1;
                                                                                        }
                                                                                    }

                                                                                </div>
                                                                                <div class="col-xs-4">
                                                                                    <div class="row">
                                                                                        <div class="col-xs-5 status-sf text-center">
                                                                                            @if (Model.Flights != null && Model.Flights.Count == 2 || Model.Flights.Where(x => x.MarketingAirlineCode.Equals(SFConstants.EasyJetMarketingAirlineCode)).Count() > 0)
                                                                                            {
                                                                                                if (Model.ComponentTypeOptionId == SFConstants.QuoteComponent_FlightReturn)
                                                                                                {
                                                                                                    if (Model.Flights[0].MarketingAirlineCode.Equals(SFConstants.EasyJetMarketingAirlineCode) && Model.Flights[1].MarketingAirlineCode.Equals(SFConstants.EasyJetMarketingAirlineCode))
                                                                                                    {
                                                                                                        if (Model.EasyJetBookingStatus != null && Model.EasyJetBookingStatus.Count > 0)
                                                                                                        {
                                                                                                            if (Model.EasyJetBookingStatus[0].eJReturnBookingSuccess.HasValue && Model.EasyJetBookingStatus[0].eJReturnBookingSuccess.Value)
                                                                                                            {
                                                                                                                <div class="status-success text-center"><i class="fa fa-check" aria-hidden="true"></i></div>
                                                                                                            }
                                                                                                            else if (Model.EasyJetBookingStatus[0].eJReturnBookingSuccess.HasValue && !Model.EasyJetBookingStatus[0].eJReturnBookingSuccess.Value)
                                                                                                            {
                                                                                                                <div class="status-error text-center"><i class="fa fa-times" aria-hidden="true"></i></div>
                                                                                                            }
                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                                            <input type="submit" value="@ReturnButtonText" class="btn btn-primary return" name="action:Return" />
                                                                                                        }
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        if (Model.NonEjFlightStatusCodes != null && Model.NonEjFlightStatusCodes.Count > 0)
                                                                                                        {
                                                                                                            foreach (var item in Model.NonEjFlightStatusCodes)
                                                                                                            {
                                                                                                                if (item.StatusCode == (int)System.Net.HttpStatusCode.OK)
                                                                                                                {
                                                                                                                    <div class="status-success text-center"><i class="fa fa-check" aria-hidden="true"></i></div>
                                                                                                                }
                                                                                                                else
                                                                                                                {
                                                                                                                    <div class="status-error text-center"><i class="fa fa-times" aria-hidden="true"></i></div>
                                                                                                                }
                                                                                                            }
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    if (Model.Flights.Where(x => x.MarketingAirlineCode.Equals(SFConstants.EasyJetMarketingAirlineCode) && x.DirectionOptionId.Equals(SFConstants.Direction_Outbound)).Count() > 0)
                                                                                                    {
                                                                                                        EasyJetBookingStatus outboundStatus = Model.EasyJetBookingStatus.Where(n => n.componentTypeOptionId == SFConstants.Direction_Outbound).FirstOrDefault();
                                                                                                        if (outboundStatus != null)
                                                                                                        {
                                                                                                            if (outboundStatus.eJOutBoundBookingSuccess.HasValue && outboundStatus.eJOutBoundBookingSuccess.Value)
                                                                                                            {
                                                                                                                <div class="status-success text-center"><i class="fa fa-check" aria-hidden="true"></i></div>
                                                                                                            }
                                                                                                            else if (outboundStatus.eJOutBoundBookingSuccess.HasValue && !outboundStatus.eJOutBoundBookingSuccess.Value)
                                                                                                            {
                                                                                                                <div class="status-error text-center"><i class="fa fa-times" aria-hidden="true"></i></div>
                                                                                                            }
                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                                            <input type="submit" value="@OutBoundButtonText" class="btn btn-primary" name="action:OutBound" />
                                                                                                        }
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        if (Model.NonEjFlightStatusCodes != null && Model.NonEjFlightStatusCodes.Count > 0)
                                                                                                        {
                                                                                                            if (Model.NonEjFlightStatusCodes[0].StatusCode == (int)System.Net.HttpStatusCode.OK)
                                                                                                            {
                                                                                                                <div class="status-success text-center"><i class="fa fa-check" aria-hidden="true"></i></div>
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                <div class="status-error text-center"><i class="fa fa-times" aria-hidden="true"></i></div>
                                                                                                            }
                                                                                                        }
                                                                                                    }
                                                                                                    if (Model.Flights.Where(x => x.MarketingAirlineCode.Equals(SFConstants.EasyJetMarketingAirlineCode) && x.DirectionOptionId.Equals(SFConstants.Direction_Inbound)).Count() > 0)
                                                                                                    {
                                                                                                        EasyJetBookingStatus inboundStatus = Model.EasyJetBookingStatus.Where(n => n.componentTypeOptionId == SFConstants.Direction_Inbound).FirstOrDefault();
                                                                                                        if (inboundStatus != null)
                                                                                                        {
                                                                                                            if (inboundStatus.eJInBoundBookingSuccess.HasValue && inboundStatus.eJInBoundBookingSuccess.Value)
                                                                                                            {
                                                                                                                <div class="status-success text-center"><i class="fa fa-check" aria-hidden="true"></i></div>
                                                                                                            }
                                                                                                            else if (inboundStatus.eJInBoundBookingSuccess.HasValue && !inboundStatus.eJInBoundBookingSuccess.Value)
                                                                                                            {
                                                                                                                <div class="status-error text-center"><i class="fa fa-times" aria-hidden="true"></i></div>
                                                                                                            }
                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                                            <input type="submit" value="@InBoundButtonText" class="btn btn-primary" name="action:InBound" />
                                                                                                        }
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        if (Model.NonEjFlightStatusCodes != null && Model.NonEjFlightStatusCodes.Count > 0)
                                                                                                        {
                                                                                                            if (Model.NonEjFlightStatusCodes[0].StatusCode == (int)System.Net.HttpStatusCode.OK)
                                                                                                            {
                                                                                                                <div class="status-success text-center"><i class="fa fa-check" aria-hidden="true"></i></div>
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                <div class="status-error text-center"><i class="fa fa-times" aria-hidden="true"></i></div>
                                                                                                            }
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                if (Model.NonEjFlightStatusCodes != null && Model.NonEjFlightStatusCodes.Count > 0)
                                                                                                {
                                                                                                    foreach (var item in Model.NonEjFlightStatusCodes)
                                                                                                    {
                                                                                                        if (item.StatusCode == (int)System.Net.HttpStatusCode.OK)
                                                                                                        {
                                                                                                            <div class="status-success text-center"><i class="fa fa-check" aria-hidden="true"></i></div>
                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                                            <div class="status-error text-center"><i class="fa fa-times" aria-hidden="true"></i></div>
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                        </div>
                                                                                        <div class="col-xs-7 hybrid-status">
                                                                                            @if (Model.Flights != null && Model.Flights.Count == 2 || Model.Flights.Where(x => x.MarketingAirlineCode.Equals(SFConstants.EasyJetMarketingAirlineCode)).Count() > 0)
                                                                                            {
                                                                                                if (Model.ComponentTypeOptionId == SFConstants.QuoteComponent_FlightReturn)
                                                                                                {
                                                                                                    if (Model.Flights[0].MarketingAirlineCode.Equals(SFConstants.EasyJetMarketingAirlineCode) && Model.Flights[1].MarketingAirlineCode.Equals(SFConstants.EasyJetMarketingAirlineCode))
                                                                                                    {
                                                                                                        if (Model.EasyJetBookingStatus != null && Model.EasyJetBookingStatus.Count > 0 && Model.EasyJetBookingStatus[0].eJReturnBookingSuccess.HasValue && Model.EasyJetBookingStatus[0].eJReturnBookingSuccess.Value)
                                                                                                        {
                                                                                                            <div class="fstatus-acknowledge return">@Model.EasyJetBookingStatus[0].eJReturnBookingRefId</div>
                                                                                                        }
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        if (Model.NonEjFlightStatusCodes != null)
                                                                                                        {
                                                                                                            foreach (var item in Model.NonEjFlightStatusCodes)
                                                                                                            {
                                                                                                                <div class="fstatus-acknowledge">@item.RefCode</div>
                                                                                                            }
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    EasyJetBookingStatus outboundStatus = Model.EasyJetBookingStatus.Where(n => n.componentTypeOptionId == SFConstants.Direction_Outbound).FirstOrDefault();
                                                                                                    EasyJetBookingStatus inboundStatus = Model.EasyJetBookingStatus.Where(n => n.componentTypeOptionId == SFConstants.Direction_Inbound).FirstOrDefault();
                                                                                                    if (outboundStatus != null && SFConstants.Direction_Outbound == outboundStatus.componentTypeOptionId)
                                                                                                    {
                                                                                                        if (outboundStatus.eJOutBoundBookingSuccess.HasValue && outboundStatus.eJOutBoundBookingSuccess.Value)
                                                                                                        {
                                                                                                            <div class="fstatus-acknowledge">@outboundStatus.eJOutBoundBookingRefId</div>
                                                                                                        }
                                                                                                    }
                                                                                                    else if (Model.NonEjFlightStatusCodes != null && Model.NonEjFlightStatusCodes.Where(ob => ob.DirectionOptionId == SFConstants.Direction_Outbound).Count() > 0)
                                                                                                    {
                                                                                                        <div class="fstatus-acknowledge">@Model.NonEjFlightStatusCodes.Where(ob => ob.DirectionOptionId == SFConstants.Direction_Outbound).FirstOrDefault().RefCode</div>
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        <div class="fstatus-acknowledge"> </div>
                                                                                                    }
                                                                                                    if (inboundStatus != null && SFConstants.Direction_Inbound == inboundStatus.componentTypeOptionId)
                                                                                                    {
                                                                                                        if (inboundStatus.eJInBoundBookingSuccess.HasValue && inboundStatus.eJInBoundBookingSuccess.Value)
                                                                                                        {
                                                                                                            <div class="fstatus-acknowledge">@inboundStatus.eJInBoundBookingRefId</div>
                                                                                                        }
                                                                                                    }
                                                                                                    else if (Model.NonEjFlightStatusCodes != null && Model.NonEjFlightStatusCodes.Where(ob => ob.DirectionOptionId == SFConstants.Direction_Inbound).Count() > 0)
                                                                                                    {
                                                                                                        <div class="fstatus-acknowledge">@Model.NonEjFlightStatusCodes.Where(ob => ob.DirectionOptionId == SFConstants.Direction_Inbound).FirstOrDefault().RefCode</div>
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        <div class="fstatus-acknowledge"></div>
                                                                                                    }
                                                                                                }                                                                                             
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                if (Model.NonEjFlightStatusCodes != null)
                                                                                                {
                                                                                                    foreach (var item in Model.NonEjFlightStatusCodes)
                                                                                                    {
                                                                                                        <div class="fstatus-acknowledge">@item.RefCode</div>
                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <!--ng-class if then else example-->
                                                <div class="panel-title">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <h3 class="panel-int-ttl">Transfer Confirmation</h3>
                                                            <!--  h3 class="acc-head-left"></h3 -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- The "in" class determines whether the panel is opened or closed -->
                                            <div class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <div>
                                                        <div class="col-xs-12 smallpadd">
                                                            <div class="row transfers-info-wrapper">
                                                                <div class="col-xs-12 out-bound-ew">
                                                                  @if (Model.QuoteData != null && (Model.QuoteData.transferComponents != null && Model.QuoteData.transferComponents.Count > 0))
                                                                  {
                                                                        <div class="row">
                                                                            @*<div class="col-xs-2">
                                                                                    <div class="hprimg"><img src="~/Assets/private-transfers.jpg"></div>
                                                                                </div>*@
                                                                            <div class="col-xs-8 text-left htl-bordr">
                                                                                <div class="trans-primary-det">
                                                                                    <h4><a class="hotel-det-link prl">@Model.QuoteData.transferComponents[0].ProductType</a> &nbsp; | &nbsp; Return  &nbsp; | &nbsp; Time: @Model.QuoteData.transferComponents[0].TransferTime min</h4>
                                                                                    <div class="transfer-list text-left">
                                                                                        @Model.QuoteData.transferComponents[0].MinPax-@Model.QuoteData.transferComponents[0].MaxPax<i class="fa fa-user"></i>   &nbsp; | &nbsp;
                                                                                        @Model.QuoteData.transferComponents[0].Luggage <i class="fa fa-briefcase"></i>   &nbsp; @if (Model.QuoteData.transferComponents[0].Luggage > 0)
                                                                                        {
                                                                                            <span> | &nbsp;Quantity:</span> @Model.QuoteData.transferComponents[0].Units
                                                                                        }
                                                                                    </div>

                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-4">
                                                                                <div class="row">
                                                                                    <div class="col-xs-5 status-sf">
                                                                                        @if (Model.TransferStatusCodes > 0 && Model.TransferStatusCodes == (int)System.Net.HttpStatusCode.OK)
                                                                                        {
                                                                                            <div class="status-success text-center"><i class="fa fa-check" aria-hidden="true"></i></div>
                                                                                        }
                                                                                        else if (Model.TransferStatusCodes > 0 && Model.TransferStatusCodes != (int)System.Net.HttpStatusCode.OK)
                                                                                        {
                                                                                            <div class="status-error text-center"><i class="fa fa-times" aria-hidden="true"></i></div>
                                                                                        }
                                                                                    </div>
                                                                                    <div class="col-xs-7">
                                                                                        @if (Model.TransferStatusCodes > 0 && Model.TransferStatusCodes == (int)System.Net.HttpStatusCode.OK)
                                                                                        {
                                                                                            <div class="status-acknowledge">@Model.TransferStatusMessage</div>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <div>@Model.TransferStatusMessage</div>
                                                                                        }
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @*Agent notes changes start*@
                                        <div class="panel panel-default topdogwrp">
                                            <div class="panel-heading">
                                                <!--ng-class if then else example-->
                                                <div class="panel-title">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <h3 class="panel-int-ttl">Agent notes</h3>
                                                            <!--  h3 class="acc-head-left"></h3 -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <div>
                                                        <div class="col-xs-12 smallpadd">
                                                            <div class="col-xs-3">
                                                                Enter agent notes
                                                             </div>

                                                                <div class="col-xs-9">
                                                                    @Html.TextArea("agentNotes", agentNotes, 10, 80, new { Style = "resize: none" })
                                                                </div>

                                                            </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <input type="button" id="btnPostToTopDog" value="Submit" class="btn btn-primary return" style="margin-left:350px; margin-bottom:10px;"/>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        @*Agent notes changes end*@
                                        <div class="panel panel-default topdogwrp">
                                            <div class="panel-heading">
                                                <!--ng-class if then else example-->
                                                <div class="panel-title">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <h3 class="panel-int-ttl">Topdog reference number</h3>
                                                            <!--  h3 class="acc-head-left"></h3 -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="divTopdogResponse" class="panel-collapse collapse in">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/angularCore")
    @Scripts.Render("~/bundles/angularCustom")
</body>
</html>