﻿
@{
    ViewBag.Title = "Welcome to Easy Jet Assistance Tool";
}
<br />
<br />
<br />
<br />
<input type="text" name="GetDataURL" style="display:none;" id="GetDataURL" value="@ViewBag.GetURL" />
<input type="text" name="UpdateDataURL" style="display:none;" id="UpdateDataURL" value="@ViewBag.UpdateURL" />
<input type="text" name="AbortDataURL" style="display:none;" id="AbortDataURL" value="@ViewBag.AbortURL" />
<input type="text" name="addon-installed" style="display:none;" id="addon-installed" value="" />
<div style="color:white;"><h2>Welcome to Easy Jet Assistance Tool</h2></div>
<div id="addon-error" class="panel panel-primary" style="display:none;">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <div><h4 id="ErrorMessage">Welcome to Easy Jet Assistance Tool</h4></div>
            </div>
            <div class="col-md-2">
                <a href="javascript:window.location.href = window.location.href" name="btnRedirect" id="btnRedirect" class="btn btn-success">Retry</a>
            </div>
            <div class="col-md-2">
                <a href="@ViewBag.AbortURL" name="btnRedirect" id="btnRedirect" class="btn btn-warning">Go Back</a>
            </div>
            </div>
    </div>
</div>

