﻿<div id="hotel-details-wrapper">
    <div class="row" id="hotelDetailsExpand" ng-if="hotelInformation.Name">
        <div class="hotels-rate col-md-12 col-lg-12">
            <div class="ttss-hotel-flight-widget-rate">
                <h4 class="hotel-name-txt" id="spHotelName">
                    {{ hotelInformation.Name }}<label style="font-size:14px;">
                        &nbsp;
                        <i class="fa fa-star" ng-repeat="r in [] | range:hotelInformation.Rating"></i>
                        <i class="fa fa-star-o" ng-repeat="rr in [] | rangeReverse:{value:hotelInformation.Rating,reverse:5}"></i>
                    </label>
                </h4>
            </div>
            <div id="hotel-place col-md-12 col-lg-12">
                <h5>{{ hotelInformation.Address.Address1 + " " + hotelInformation.Address.City}}</h5>
            </div>
            <div id="moreHotelRoomCodes" class="morerooms_wrapper"></div>

        </div>
    </div>
    <div class="row" ng-if="hotelInformation.noDataFoundMessage">
        <div class="col-md-offset-3 col-md-6"><h4>{{hotelInformation.noDataFoundMessage}}</h4></div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12" ng-if="hotelInformation.Images">
            <div>
                <div style="height: 305px">
                    <carousel interval="myInterval">
                        <slide ng-repeat="slide in slides" active="slide.active">
                            <img ng-src="{{slide.image}}" style="margin:auto; width:704px; height:300px;">
                        </slide>
                    </carousel>
                </div>
                <div class="row thmbrow" ng-show="hotelInformation.Images.length > 1">
                    <div class="col-xs-1 navbtns" ng-show="hotelInformation.Images.length > 5">
                        <button class="btn btn-primary" ng-click="prevPage()">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                        </button>
                    </div>
                    <div class="col-xs-2 crslthumb smallpadd" ng-repeat="thumbnail in showThumbnails">
                        <img ng-src="{{thumbnail.image}}" style="width:100%" ng-click="setActive(thumbnail.index)">
                    </div>
                    <div class="col-xs-1 navbtns noleftpadd" ng-show="hotelInformation.Images.length > 5">
                        <button class="btn btn-primary" ng-click="nextPage()">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-12 htloverflow" ng-if="hotelInformation.Descriptions">
            <div class="panel panel-default" ng-repeat="description in hotelInformation.Descriptions" ng-class="{'ner': !isExpanded}" ng-controller="panelCtrl">
                <div class="panel-heading" role="tab">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-xs-11">
                                <h3 class="panel-int-ttl">{{description.Title}}</h3>
                            </div>
                            <div class="col-xs-1 tog-acc-icon">
                                <span ng-click="toggle()" class="pull-right glyphicon" ng-class="(isExpanded) ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-collapse collapse transprp" ng-class="{'in': isExpanded}" role="tabpanel">
                    <div class="panel-heading" ng-bind-html="description.Value">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
