﻿<div ng-controller="hotelCtrl">
    <div class="panel panel-default" ng-class="{'ner': !isHotelExpanded }">
        <div class="panel-heading" role="tab">
            <!--ng-class if then else example-->
            <div class="panel-title">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="panel-int-ttl">Hotel - Results</h3>
                        <!--  h3 class="acc-head-left"></h3 -->
                    </div>
                    <div class="col-xs-2 norightpadd">
                        <a class="btn btn-info accupy  btn-sm" ng-click="initHotelSearch()" ng-show="isHotelsSearchButttonNeeded">Get Hotels</a>
                    </div>
                    <div class="col-xs-3 norightpadd">
                        <div class="form-group">
                            <select class="form-control order-by" id="sel1" data-ng-model="hotelPriceOrderBy">
                                <option value="+AmountAfterTax">Price Low To High</option>
                                <option value="-AmountAfterTax">Price High To Low</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-1 tog-acc-icon">
                        <span ng-click="toggleHotelExpand();" class="pull-right glyphicon" ng-class="(isHotelExpanded) ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- The "in" class determines whether the panel is opened or closed -->
        <div class="panel-collapse collapse" ng-class="{'in': isHotelExpanded}" role="tabpanel">
            <div class="panel-body">
                <div class="row prihtin">
                    <div class="col-xs-12">
                        <div class="row hotel-info-wrapper prefferd-item" ng-repeat="ttsshotel in TTSSHotel.hotelResult  | orderBy:ttsshotel.AmountAfterTax:hotelReverse" ng-class="{'sellected-item': ttsshotel.TTIcode + ttsshotel.HotelName == hotelStates.activeItem}">
                            <div class="col-xs-12 out-bound-ew">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-6 padhtl">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="hotel-primary-det" ng-controller="hotelInfoPopupCtrl">
                                                            <h4>
                                                                <a ng-click="toggleHotelInfoModal(ttsshotel.TTIcode,ttsshotel.HotelCode)" class="hotel-det-link prl" title="HotelCode{{ttsshotel.HotelCode}}; TTICode{{ttsshotel.TTIcode}};MasterHotelId{{ttsshotel.MasterHotelId}};HotelKey{{ttsshotel.HotelKey}}">{{ ::ttsshotel.HotelName  }}</a> &nbsp;
                                                               
                                                                <span class="htlrtg"><i class="fa fa-star" ng-repeat="n in [] | range:ttsshotel.Rating"></i></span>
                                                              
                                                            </h4>
                                                            
                                                            <modal title="Hotel details" visible="showHotelInfo">
                                                                <hotel-info></hotel-info>
                                                            </modal>
                                                        </div>
                                                        <div class="text-left  hotel-primary-info">
                                                            {{ ::ttsshotel.ResortName }} <br />{{ ttsshotel.RoomDescription }}<span ng-class="{'text-danger nonRefundable':ttsshotel.NonRefundable == true}"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-3 smallpadd">
                                                <div class="row">
                                                    <div class="col-xs-5 padhtl left-border minhheight text-center smallpadd">
                                                        <span class="badge-bt">{{ ttsshotel.BoardType }}</span><br /><span class="total-htl-price">&pound;{{ ttsshotel.AmountAfterTax| number:2}}</span>
                                                    </div>
                                                    <div class="col-xs-7 padhtl left-border smallpadd minhheight">
                                                        <div class="select-rmtps text-center">
                                                            <span class="trip-adv-rate" trip-advisor-score tripAdvisorScore="{{ttsshotel.TripAdvisorScore}}"></span>
                                                            <span class="trip-adv-na">NA</span>
                                                            <br />
                                                            <a ng-click="TTmrtps = !TTmrtps">
                                                                <span ng-show="!TTmrtps">Room Options</span>
                                                                <span ng-show="TTmrtps">Close</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-xs-3 left-border padhtl smallpadd">
                                                <div class="row">
                                                    <div class="col-xs-6 htlttlprc text-right smallpadd">
                                                        <span class="badge-preff">TTSS</span>
                                                        <!--<span class="badge-preff ng-binding" style="background:#FF0000;">Recommended</span>--><br />
                                                        <span class="ttl-prc-stl">&pound;{{ ttsshotel.AmountAfterTax |number:2}}</span><br />
                                                        &pound;{{ ttsshotel.PricePerPerson |number:2}}pp
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <div class="lhrext-pricing bg-danger" style="margin-top:4px;" ng-hide="TTSSHotel.isFoundInHotelResult">{{TTSSHotel.Livepirce}}</div>
                                                        <div ng-show="TTSSHotel.isFoundInHotelResult"  class="select-package text-right trns-sel-btn"><a ng-click="hotelStates.activeItem=ttsshotel.TTIcode + ttsshotel.HotelName;addHotel(ttsshotel);" class="btn btn-primary">ADD</a></div>
                                                        <!--<div ng-hide="TTSSHotel.hotelResult.Livepirce" class="select-package text-right trns-sel-btn"><a ng-click="hotelStates.activeItem=hotelPR.$$hashKey;addHotel(TTSSHotel.hotelResult);" class="btn btn-primary">ADD</a></div>-->
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="row" ng-show="TTmrtps">
                                        <div class="col-xs-12">
                                            <div class="col-xs-12">
                                                <table class="table table-striped mrrm-types">
                                                    <tr>
                                                        <th><span ng-repeat="OccupancyRoom in searchModel.OccupancyRooms track by $index">Room {{$index+1}}:&nbsp;{{::OccupancyRoom.AdultsCount}}A&nbsp;{{::OccupancyRoom.ChildCount}}C&nbsp;{{::OccupancyRoom.InfantCount}}I&nbsp;</span></th>
                                                        <th ng-repeat="board in ttsshotel.boardTypes track by $index" ng-class="{activerpice: ($parent.$index == 0  && selectedPosition.index == $index+1)}"><a class="btn btn-sm btn-default">{{board}}</a></th>
                                                    </tr>
                                                    <tr ng-repeat="room in ttsshotel.boardRates track by $index">
                                                        <td>
                                                            <span>{{::room.roomDescription}}</span><span ng-class="{'text-danger nonRefundable':room.NonRefundable == true}"></span>
                                                        </td>
                                                        <td ng-repeat="boardPrice in room.boardPrices track by $index" ng-class="{'room-selected':selectedQuoteId == (boardPrice.QuoteId + boardPrice.RoomTypeCode)}">
                                                            <a ng-click="hotelStates.activeItem=ttsshotel.TTIcode + ttsshotel.HotelName;setSelectedHotelPrice(boardPrice,ttsshotel);" href="javascript:void(0)">{{::boardPrice.AmountAfterTax | number:2}}</a>

                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="hotelPR in upsell| orderBy:hotelPR.AmountAfterTax:hotelReverse"  class="col-xs-12">
                        <div class="row hotel-info-wrapper prefferd-item" ng-class="{'sellected-item': hotelPR.$$hashKey == hotelStates.activeItem}">
                            <div class="col-xs-12 out-bound-ew">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-6 padhtl">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="hotel-primary-det" ng-controller="hotelInfoPopupCtrl">
                                                            <h4>
                                                                <a ng-click="toggleHotelInfoModal(hotelPR.TTIcode,hotelPR.HotelCode)" class="hotel-det-link prl" title="HotelCode {{hotelPR.HotelCode}}TTICode {{hotelPR.TTIcode}}">{{ ::hotelPR.HotelName }}</a> &nbsp;
                                                                <span class="htlrtg"><i class="fa fa-star" ng-repeat="n in [] | range:hotelPR.Rating"></i></span>
                                                               
                                                            </h4>
                                                            <modal title="Hotel details" visible="showHotelInfo">
                                                                <hotel-info></hotel-info>
                                                            </modal>
                                                        </div>
                                                        <div class="text-left  hotel-primary-info">
                                                            {{ ::hotelPR.ResortName }} <br />{{ hotelPR.RoomDescription }}.<span ng-class="{'text-danger nonRefundable':hotelPR.NonRefundable == true}"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-3 smallpadd">
                                                <div class="row">
                                                    <div class="col-xs-5 padhtl left-border minhheight text-center smallpadd">
                                                        <span class="badge-bt">{{ hotelPR.BoardType }}</span><br /><span class="total-htl-price">&pound;{{ hotelPR.AmountAfterTax | number:2}}</span>
                                                    </div>
                                                    <div class="col-xs-7 padhtl left-border smallpadd minhheight">
                                                        <div class="select-rmtps text-center">
                                                            <span class="trip-adv-rate" trip-advisor-score tripAdvisorScore="{{hotelPR.TripAdvisorScore}}"></span>
                                                            <!--<img ng-src="{{hotelPR.TripAdvisorScore}}" />-->
                                                            <span class="trip-adv-na">NA</span>
                                                            <a ng-click="mrtps = !mrtps">
                                                                <span ng-show="!mrtps">Room Options</span>
                                                                <span ng-show="mrtps">Close</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-xs-3 left-border padhtl smallpadd">
                                                <div class="row">
                                                    <div class="col-xs-6 htlttlprc text-right">
                                                        <span class="badge-preff ng-binding" style="background:#FF0000;">Recommended</span><br />
                                                        <span class="ttl-prc-stl">&pound;{{ hotelPR.AmountAfterTax | number:2}}</span><br />
                                                        &pound;{{ hotelPR.PricePerPerson |number:2}}pp
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <div ng-hide="hotelPR.Livepirce" class="select-package text-right trns-sel-btn"><a ng-click="hotelStates.activeItem=hotelPR.$$hashKey;addHotel(hotelPR);" class="btn btn-primary">ADD</a></div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="row" ng-show="mrtps">
                                        <div class="col-xs-12">
                                            <div class="col-xs-12">
                                                <table class="table table-striped mrrm-types">
                                                    <tr>
                                                        <th><span ng-repeat="OccupancyRoom in searchModel.OccupancyRooms track by $index">Room {{$index+1}}:&nbsp;{{::OccupancyRoom.AdultsCount}}A&nbsp;{{::OccupancyRoom.ChildCount}}C&nbsp;{{::OccupancyRoom.InfantCount}}I&nbsp;</span></th>
                                                        <th ng-repeat="board in hotelPR.boardTypes track by $index" ng-class="{activerpice: ($parent.$index == 0  && selectedPosition.index == $index+1)}"><a class="btn btn-sm btn-default">{{::board}}</a></th>
                                                    </tr>
                                                    <tr ng-repeat="room in hotelPR.boardRates track by $index">
                                                        <td>
                                                            <span>{{::room.roomDescription}}</span><span ng-class="{'text-danger nonRefundable':room.NonRefundable == true}"></span>
                                                        </td>
                                                        <td ng-repeat="boardPrice in room.boardPrices track by $index" ng-class="{'room-selected':selectedQuoteId == (boardPrice.QuoteId + boardPrice.RoomTypeCode)}">
                                                            <a href="javascript:void(0)" ng-click="hotelStates.activeItem=hotelPR.$$hashKey;setSelectedHotelPrice(boardPrice,hotelPR);">{{::boardPrice.AmountAfterTax | number:2}}</a>

                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default top-margin">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-xs-2">
                                    <a ng-disabled="latestHotelsCount == 0" class="btn btn-info accupy  btn-sm" ng-click="refreshHotels()">Refresh</a>
                                </div>
                                <div class="col-xs-10">
                                    <div class="founded-results">
                                        <span>
                                            {{latestHotelsCount > 5000 ?'5000':latestHotelsCount}} more results found!
                                        </span>
                                        <span>
                                            <strong>Query Status:</strong> {{queryStatus}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hotel-info-scroll">
                    <div ng-repeat="hotel in hotelResults
                         | orderBy:hotelPriceOrderBy" class="col-xs-12">
                        <div class="row hotel-info-wrapper" ng-class="{'sellected-item': hotel.$$hashKey == hotelStates.activeItem}">
                            <div class="col-xs-12 out-bound-ew">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-6 padhtl">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="hotel-primary-det" ng-controller="hotelInfoPopupCtrl">
                                                            <h4>
                                                                <a ng-click="toggleHotelInfoModal(hotel.TTIcode,hotel.HotelCode)" class="hotel-det-link prl" title="HOTELCODE{{hotel.HotelCode}} TTICODE{{hotel.TTIcode}}">{{ ::hotel.HotelName }}</a>&nbsp;
                                                                <span class="htlrtg"><i class="fa fa-star" ng-repeat="n in [] | range:hotel.Rating"></i></span>
                                                                
                                                            </h4>
                                                            <modal title="Hotel details" visible="showHotelInfo">
                                                                <hotel-info></hotel-info>
                                                            </modal>
                                                        </div>
                                                        <div class="text-left  hotel-primary-info">
                                                            {{ ::hotel.ResortName }}<br /> {{ hotel.RoomDescription }}.<span ng-class="{'text-danger nonRefundable':hotel.NonRefundable == true}"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="row">
                                                    <div class="col-xs-5 padhtl left-border minhheight text-center smallpadd">
                                                        <span class="badge-bt">{{ hotel.BoardType }}</span><br /><span class="total-htl-price">&pound;{{ hotel.AmountAfterTax | number:2}}</span>
                                                    </div>
                                                    <div class="col-xs-7 padhtl left-border minhheight smallpadd">
                                                        <div class="select-rmtps text-center">
                                                            <span class="trip-adv-rate" trip-advisor-score tripAdvisorScore="{{hotel.TripAdvisorScore}}"></span>
                                                            <span class="trip-adv-na">NA</span>
                                                            <a ng-click="mrtps = !mrtps">
                                                                <span ng-show="!mrtps">Room Options</span>
                                                                <span ng-show="mrtps">Close</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-3 left-border padhtl smallpadd">
                                                <div class="row">
                                                    <div class="col-xs-6 htlttlprc text-right">

                                                        <span class="ttl-prc-stl">&pound;{{hotel.AmountAfterTax | number:2}}</span><br />
                                                        &pound;{{ hotel.PricePerPerson |number:2 }}pp<br />&nbsp;
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <div class="lhrext-pricing bg-danger" style="margin-top:8px;" ng-show="hotelPR.Livepirce">{{hotel.Livepirce | number:2}}</div>
                                                        <div ng-hide="hotel.Livepirce" class="select-package text-right trns-sel-btn"><a ng-click="hotelStates.activeItem=hotel.$$hashKey;addHotel(hotel);" class="btn btn-primary">ADD</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="mrtps">
                                        <div class="col-xs-12">
                                            <table class="table table-striped mrrm-types">
                                                <tr>
                                                    <th><span ng-repeat="OccupancyRoom in searchModel.OccupancyRooms track by $index">Room {{$index+1}}:&nbsp;{{::OccupancyRoom.AdultsCount}}A&nbsp;{{::OccupancyRoom.ChildCount}}C&nbsp;{{::OccupancyRoom.InfantCount}}I&nbsp;</span></th>
                                                    <th ng-repeat="board in hotel.boardTypes track by $index" ng-class="{activerpice: ($parent.$index == 0  && selectedPosition.index == $index+1)}"><a class="btn btn-sm btn-default">{{::board}}</a></th>
                                                </tr>
                                                <tr ng-repeat="room in hotel.boardRates track by $index">
                                                    <td>
                                                        <span>{{::room.roomDescription}}</span><span ng-class="{'text-danger nonRefundable':room.NonRefundable == true}"></span>
                                                    </td>                                                   
                                                    <td ng-repeat="boardPrice in room.boardPrices track by $index" ng-class="{'room-selected':selectedQuoteId == (boardPrice.QuoteId + boardPrice.RoomTypeCode+hotel.ReferenceId)}">
                                                        <a href="javascript:void(0)" ng-click="hotelStates.activeItem=hotel.$$hashKey;setSelectedHotelPrice(boardPrice,hotel);"><span ng-show="boardPrice.AmountAfterTax">&pound;</span>{{::boardPrice.AmountAfterTax | number:2}}</a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>