﻿<div id="AgentModal" class="modal" role="dialog" ng-app="SwordFish">
    <modal title="{{validationResult.title}}" visible="showCommonPopup">
        <div ng-bind-html="showCommonPopupData" class="alert"></div>
    </modal>
    <div class="modal-dialog modal-lg" ng-controller="agentQuotesCtrl">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close  modal-close" data-dismiss="modal" ng-click="resetData()">&times;</button>
                <h3 id="quotesAgentName">Hello {{AgentName}} </h3>
            </div>
            <div class="modal-body row">
                <div class="rQuote_body_wrapper">
                    <div id="global-recent-data">
                        <div id="recentQuotes_wrapper">
                            <div class="col-md-12 col-lg-12">
                                <div class="row">
                                    <div class="col-md-5 col-lg-5">
                                        <div class="row">
                                            <div class="col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="txtQuoteRef" placeholder="Search by Quote Ref" ng-model="quoteRefference">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="txtCustomerName" placeholder="Customer name" ng-model="customerName">
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-md-7 col-lg-7">
                                        <div class="row">
                                            <div class="col-md-3 col-lg-3 pull-left">
                                                <div class="input-group date" id="dtreturnpickupinput" >
                                                    <input type="text" date-picker placeholder="From" id="txtFromDate" class="form-control" ng-model="fromDate"  options="{singleDatePicker: true, maxDate : 'now'}" readonly="readonly">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-lg-3">
                                                <div class="input-group date">
                                                    <input type="text" date-picker placeholder="To" id="txtToDate" class="form-control" ng-model="toDate" options="{singleDatePicker: true, maxDate : 'now'}"   readonly="readonly">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-lg-3">
                                                <p class="last48hours" ng-click="getLast24HoursQuotes()"><a>Last 24 hours</a></p>
                                            </div>
                                            <div class="col-lg-3 col-xs-3">
                                                <button type="button" class="btn btn-info agent_quotes" id="btnSearchQuotes" ng-click="searchQuotes()">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xs-9 selectrow" id="recent_quotes_details">
                                <div id="dvRecentQuotes">
                                    <div class="row recent-quote head">
                                        <div class="col-lg-6 col-xs-6">
                                            <div class="row">
                                                <div class="col-lg-4 col-xs-4 right-border">
                                                    <div class="rcq-text"><strong>Quoted Date</strong></div>
                                                </div>
                                                <div class="col-lg-4 col-xs-4 right-border">
                                                    <div class="rcq-text"><strong>Quote Ref.</strong></div>
                                                </div>
                                                <div class="col-lg-4 col-xs-4 norightpadd right-border">
                                                    <div class="rcq-text"><strong>Customer Name</strong></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xs-6">
                                            <div class="row">
                                                <div class="col-lg-7 col-xs-8 right-border">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-xs-12">
                                                            <div class="rcq-text"><strong>Quoted Details</strong></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-5 col-xs-4">
                                                    <div class="rcq-text"><strong>Price</strong></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row recent-quote" ng-repeat="agentQuote in agentQuotes | filter:paginate" ng-class="{'backgroundattach': selectedQuoteHeader == agentQuote.CustomerReferenceCode && selectedQuoteHeader==basket.quoteRefference}">
                                        <div class="col-lg-6 col-xs-6">
                                            <div class="row">
                                                <div class="col-lg-4 col-xs-4 right-border">
                                                    <div class="rcq-text">{{agentQuote.QuotedOn | date : 'dd MMM yyyy'}}</div>
                                                </div>
                                                <div class="col-lg-4 col-xs-4 right-border">
                                                    <div class="rcq-text">{{agentQuote.CustomerReferenceCode}}</div>
                                                </div>
                                                <div class="col-lg-4 col-xs-4  right-border">
                                                    <div class="rcq-text">{{agentQuote.CustomerFirstName}}&nbsp;{{agentQuote.CustomerLastName}}</div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xs-6">
                                            <div class="row">
                                                <div class="col-lg-7 col-xs-8">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-xs-12">
                                                            <div class="rcq-resort"><strong>Route: </strong>{{agentQuote.SourceCode}} - {{agentQuote.DestinationCode}}, Staying at {{agentQuote.HotelName}}<br /> from {{agentQuote.FromtDate | date : 'dd/MM/yyyy'}} - {{agentQuote.ToDate | date : 'dd/MM/yyyy'}},<br /> for {{agentQuote.NumberOfNights}}nts, for {{agentQuote.AdultsCount}}A {{agentQuote.ChildrenCount}}C {{agentQuote.InfantsCount}}I </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-xs-3 left-border">
                                                    <div class="rcq-price">
                                                        Total &pound;{{agentQuote.GrandTotal}}<br />
                                                        <span>(&pound;{{agentQuote.PricePerPerson}}pp)</span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-1 col-xs-1 nopadding">
                                                    <a href="" class="show-bskt selected" ng-click="selectedQuoteHeader=agentQuote.CustomerReferenceCode;loadQuote(agentQuote.QuoteHeaderID)"><span class="icon icon-arrow-right2"></span></a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div id="quotesPagination"></div>
                            </div>
                            <div class="col-lg-3 col-xs-3 quotes-basket" ng-show="showBasket">
                                <div class="quotes-basket-wrap">
                                    <div id="basketid">
                                        <div class="search-col-space-small"></div>
                                        <div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="quote-ref-id"><strong>Quote Ref: {{basket.quoteRefference}}</strong></div>
                                                </div>
                                            </div>
                                            <div class="search-col-space bot-border"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <strong>
                                                    Occupancy:
                                                    <span>{{basket.adultCount}}A</span>,
                                                    <span>{{basket.childCount}}C</span>,
                                                    <span>{{basket.infantCount}}I</span>
                                                </strong>
                                            </div>
                                        </div>
                                        <div class="search-col-space bot-border"></div>
                                        <div id="basket_details_v2">
                                            <div class="row">
                                                <div class="col-xs-1 col-md-1 col-lg-1 tog-acc-icon">
                                                    <span class="glyphicon glyphicon-chevron-right" ng-click="showflightdetails = !showflightdetails" ng-class="(showflightdetails) ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>
                                                </div>
                                                <div class="col-xs-9 col-md-9 col-lg-10 noleftpadd  basket-ttl">
                                                    <strong>Flights</strong>
                                                </div>
                                                <div class="col-xs-12 tophdspace panel-collapse collapse in" ng-show="showflightdetails">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <strong>Outbound:</strong>
                                                        </div>
                                                    </div>
                                                    <div class="row smallmargin search-col-space" ng-repeat="outBoundFlight in basket.flightOutbounds">
                                                        <div class="col-xs-4 smallpadd">
                                                            Route
                                                        </div>
                                                        <div class="col-xs-8 smallpadd">
                                                            : {{outBoundFlight.DepartureAirportCode}}-{{outBoundFlight.ArrivalAirportCode}}
                                                        </div>
                                                        <div class="col-xs-4 smallpadd">
                                                            Flight
                                                        </div>
                                                        <div class="col-xs-8 smallpadd">
                                                            : {{outBoundFlight.MarketingAirLine}}, {{outBoundFlight.FlightNumber}}
                                                        </div>

                                                        <div class="col-xs-4 smallpadd">
                                                            Dept
                                                        </div>
                                                        <div class="col-xs-8 smallpadd">
                                                            : {{outBoundFlight.DepartureDateTime | date :'EEE, dd/MM/yyyy HH:mm'}}
                                                        </div>

                                                        <div class="col-xs-4 smallpadd">
                                                            Arr
                                                        </div>
                                                        <div class="col-xs-8 smallpadd">
                                                            : {{outBoundFlight.ArrivalDateTime | date :'EEE, dd/MM/yyyy HH:mm'}}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-9">
                                                            <strong>Inbound:</strong>
                                                        </div>
                                                        <div class="col-xs-3 text-right">
                                                            <a class="reset-search"><i class="fa fa-trash-o"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="row smallmargin  search-col-space" ng-repeat="inBoundFlight in basket.flightInbounds">
                                                        <div class="col-xs-4 smallpadd">
                                                            Route
                                                        </div>
                                                        <div class="col-xs-8 smallpadd">
                                                            : {{inBoundFlight.DepartureAirportCode}}-{{inBoundFlight.ArrivalAirportCode}}
                                                        </div>

                                                        <div class="col-xs-4 smallpadd">
                                                            Flight
                                                        </div>
                                                        <div class="col-xs-8 smallpadd">
                                                            : {{inBoundFlight.MarketingAirLine}}, {{inBoundFlight.FlightNumber}}
                                                        </div>
                                                        <div class="col-xs-4 smallpadd">
                                                            Dept
                                                        </div>
                                                        <div class="col-xs-8 smallpadd">
                                                            : {{inBoundFlight.DepartureDateTime | date :'EEE, dd/MM/yyyy HH:mm'}}
                                                        </div>
                                                        <div class="col-xs-4 smallpadd">
                                                            Arr
                                                        </div>
                                                        <div class="col-xs-8 smallpadd">
                                                            : {{inBoundFlight.ArrivalDateTime | date :'EEE, dd/MM/yyyy HH:mm'}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="search-col-space bot-border"></div>
                                            <div class="row">
                                                <div class="col-xs-1 col-md-1 col-lg-1 tog-acc-icon">
                                                    <span class="glyphicon glyphicon-chevron-right" ng-click="showaccomodationdetails=!showaccomodationdetails" ng-class="(showaccomodationdetails) ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>
                                                </div>
                                                <div class="col-xs-9 col-md-9 col-lg-10 noleftpadd  basket-ttl">
                                                    <strong>Accommodation</strong>
                                                </div>
                                                <div class="col-xs-12 tophdspace panel-collapse collapse in"ng-show="showaccomodationdetails">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <strong>{{basket.accommodation.hotelName}}</strong><br>
                                                            <span ng-show="basket.accommodation.supplierResortName">{{basket.accommodation.supplierResortName}}, </span><br>
                                                            <span>Check-In: {{basket.accommodation.checkInDate |date :'dd/MM/yyyy'}}</span><br>
                                                            <span>Check-Out: {{basket.accommodation.checkOutDate |date :'dd/MM/yyyy'}}</span><br>
                                                            <span>{{basket.accommodation.nights}}nts</span>, <span>2A,0C,0I</span>
                                                        </div>
                                                    </div>
                                                    <div class="row smallmargin">
                                                        <div class="col-xs-12 smallpadd norightpadd rtbt"><strong>Room Type</strong></div>
                                                        <div class="search-col-space"></div>
                                                    </div>
                                                    <div class="row ">
                                                        <div class="col-xs-12 rtbt" ng-repeat="occupancy in basket.accommodation.occupancyRooms">
                                                            Room {{occupancy.RoomNo}} - {{occupancy.AdultsCount}}A,{{occupancy.ChildCount}}C,{{occupancy.InfantCount}}I
                                                            <div class="search-col-space-small"></div>
                                                        </div>
                                                    </div>
                                                    <div class="row smallmargin">
                                                        <div class="col-xs-12  smallpadd"> <strong>Board Type</strong></div>
                                                        <div class="search-col-space"></div>
                                                    </div>
                                                    <div class="row ">
                                                        <div class="col-xs-12 rtbt">
                                                            <div class="row text-left">
                                                                <div class="col-xs-12 norightpadd">{{basket.accommodation.roomDescription}}, &nbsp; {{basket.accommodation.ratePlanCode}} </div>
                                                            </div>
                                                            <div class="search-col-space-small dot-bot-border"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="search-col-space bot-border"></div>
                                            <div class="row">
                                                <div class="col-xs-1 col-md-1 col-lg-1 tog-acc-icon">
                                                    <span class="glyphicon glyphicon-chevron-right" ng-click="showtransferdetails=!showtransferdetails" ng-class="(showtransferdetails) ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>
                                                </div>
                                                <div class="col-xs-6 col-md-7 col-lg-8 noleftpadd  basket-ttl">
                                                    <strong>Transfers </strong>
                                                </div>
                                                <div class="col-xs-12 tophdspace panel-collapse collapse in" ng-show="showtransferdetails">
                                                    <div class="row">
                                                        <div class="col-xs-12" ng-show="basket.Transfer.ProductType">
                                                            <strong>{{basket.Transfer.ProductType}} | Return</strong><br>
                                                            <span>Duration : {{basket.Transfer.TransferTime}} min</span><br>
                                                            <span>
                                                                {{basket.Transfer.MinPax}}-{{basket.Transfer.MaxPax}} <i class="icon icon-user"></i>   &nbsp; | &nbsp;
                                                                {{basket.Transfer.Luggage}} <i class="icon icon-briefcase"></i>
                                                            </span><br>
                                                            <span>Quantity: {{basket.Transfer.Units}}</span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="search-col-space bot-border"></div>
                                            <div class="row">
                                                <div class="col-xs-1 col-md-1 col-lg-1 tog-acc-icon">
                                                    <span class="glyphicon glyphicon-chevron-right" ng-click="showbaggagedetails=!showbaggagedetails" ng-class="(showbaggagedetails) ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>
                                                </div>
                                                <div class="col-xs-9 col-md-9 col-lg-10 noleftpadd  basket-ttl">
                                                    <strong>Baggage</strong>
                                                </div>
                                                <div role="tabpanel" class="col-xs-12 tophdspace panel-collapse collapse in" ng-show="showbaggagedetails">
                                                    <div class="condition" ng-if="baggage.returnBaggage.length>0">
                                                        <div class="col-xs-12 padding-left"><strong> Return baggage</strong></div>
                                                        <div class="row" ng-repeat="slab in baggage.returnBaggage">
                                                            <div class="col-xs-12"><strong>Passenger {{slab.PassengerIndex}}</strong></div>
                                                            <div class="col-xs-7">{{slab.BagsDescription}}</div>
                                                            <div class="col-xs-5 text-right">£{{slab.SellingPrice}}</div>
                                                        </div>
                                                        </div>
                                                    <div ng-if="baggage.outboundBaggage.length>0 || baggage.inboundBaggage.length>0">
                                                        <div class="col-xs-12"><strong> Outbound baggage</strong></div>
                                                        <div class="row" ng-repeat="slab in baggage.outboundBaggage">
                                                            <div class="col-xs-12"><strong>Passenger {{slab.PassengerIndex}}</strong></div>
                                                            <div class="col-xs-7">{{slab.BagsDescription}}</div>
                                                            <div class="col-xs-5 text-right">£{{slab.SellingPrice}}</div>
                                                        </div>
                                                        <div class="search-col-space-small"></div>
                                                        
                                                            <div class="col-xs-12"><strong> Inbound baggage</strong></div>
                                                        <div class="row" ng-repeat="slab in baggage.inboundBaggage">
                                                            <div class="col-xs-12"><strong>Passenger {{slab.PassengerIndex}}</strong></div>
                                                            <div class="col-xs-7">{{slab.BagsDescription}}</div>
                                                            <div class="col-xs-5 text-right">£{{slab.SellingPrice}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                            </div>
                                            <br>
                                            <div class="search-col-space bot-border"></div>
                                            <div class="row">
                                                <div class="col-xs-12  basket-ttl">
                                                    <strong>Basket Total</strong>
                                                </div>
                                            </div>
                                            <div class="row tophdspace">
                                                <div class="col-xs-7">
                                                    <strong>Flights</strong>
                                                </div>
                                                <div class="col-xs-5 text-right">

                                                </div>
                                            </div>
                                            <div class="row tophdspace" ng-show="basket.flightReturnAmount">
                                                <div class="col-xs-7">
                                                    {{basket.flightOutbound.departureAirportCode}}-{{basket.flightOutbound.arrivalAirportCode}} (Return)
                                                </div>
                                                <div class="col-xs-5 text-right">
                                                    £{{basket.flightCost | number:2}}
                                                </div>
                                            </div>
                                            <div class="row tophdspace" ng-show="!basket.flightReturnAmount">
                                                <div class="col-xs-7">
                                                    {{basket.flightOutbound.departureAirportCode}}-{{basket.flightOutbound.arrivalAirportCode}} (Outbound)
                                                </div>
                                                <div class="col-xs-5 text-right">
                                                    {{basket.flightOutboundAmount}}
                                                </div>

                                                <div class="col-xs-7">
                                                    {{basket.flightInbound.departureAirportCode}}-{{basket.flightInbound.arrivalAirportCode}} (Inbound)
                                                </div>
                                                <div class="col-xs-5 text-right">
                                                    {{basket.flightInboundAmount}}
                                                </div>
                                            </div>
                                            <div class="search-col-space-tb dot-bot-border"></div>
                                            <div class="row">
                                                <div class="col-xs-7">
                                                    Hotel
                                                </div>
                                                <div class="col-xs-5 text-right">
                                                    <span>£{{basket.hotelCost | number:2}}</span>
                                                </div>
                                            </div>
                                            <div class="search-col-space-tb dot-bot-border"></div>
                                            <div class="row">
                                                <div class="col-xs-7">
                                                    Baggage
                                                </div>
                                                <div class="col-xs-5 text-right">
                                                    £{{basket.baggageCost | number:2}}
                                                </div>
                                            </div>
                                            <div class="search-col-space-tb dot-bot-border"></div>
                                            <div class="row">
                                                <div class="col-xs-7">
                                                    Transfers
                                                </div>
                                                <div class="col-xs-5 text-right">
                                                    <span>£{{basket.transfersCost | number:2}}</span>
                                                </div>
                                            </div>
                                            <div class="search-col-space-tb dot-bot-border"></div>
                                            <div class="row">
                                                <div class="col-xs-7">
                                                    Fidelity
                                                </div>
                                                <div class="col-xs-5 text-right">
                                                    £{{basket.fidelityCost | number:2}}
                                                </div>
                                            </div>
                                            <div class="search-col-space-tb dot-bot-border"></div>
                                            <div class="row">
                                                <div class="col-xs-7">
                                                    <strong>Total</strong>
                                                </div>
                                                <div class="col-xs-5 text-right">
                                                    <strong>£{{(basket.flightCost + basket.hotelCost +basket.baggageCost +basket.transfersCost + basket.fidelityCost) | number : 2}}</strong>
                                                </div>
                                            </div>
                                            <div class="search-col-space bot-border"></div>
                                            <div class="row">
                                                <div class="col-xs-12  basket-ttl">
                                                    <strong>Margin</strong>
                                                </div>
                                            </div>
                                            <div class="row spncwrp tophdspace">
                                                <div class="col-xs-7 fight-sm-text">Margin Hotel</div>
                                                <div class="col-xs-5 text-right">
                                                    £{{basket.marginHotel | number:2}}
                                                </div>
                                            </div>
                                            <div class="search-col-space-tb dot-bot-border"></div>
                                            <div class="row spncwrp">
                                                <div class="col-xs-7 fight-sm-text">Margin Flight</div>
                                                <div class="col-xs-5 text-right">
                                                    £{{basket.marginFlight | number:2}}
                                                </div>
                                            </div>
                                            <div class="search-col-space-tb dot-bot-border"></div>
                                            <div class="row spncwrp">
                                                <div class="col-xs-7 fight-sm-text">Margin Extras</div>
                                                <div class="col-xs-5 text-right">
                                                    £{{basket.marginExtras | number:2}}
                                                </div>
                                            </div>
                                            <div class="search-col-space-tb dot-bot-border"></div>
                                            <div class="row spncwrp  basket-ttl">
                                                <div class="col-xs-7 norightpadd"><strong>Total Cost</strong></div>
                                                <div class="col-lg-5 text-right">
                                                    <strong>£{{(basket.flightCost + basket.hotelCost +basket.baggageCost +basket.transfersCost + basket.fidelityCost +basket.marginHotel + basket.marginFlight+ basket.marginExtras) | number : 2}}</strong>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="search-col-space bot-border"></div>

                                        <div class="row">
                                            <div class="col-xs-12 search-col-space">
                                                <a class="btn btn-primary purple col-xs-12" href="#" ng-click="reSearch()">Re-Search</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <nav aria-label="Page navigation">
                    <pagination total-items="totalItems" ng-model="currentPage" min-size="1"
                                max-size="5" boundary-links="true"
                                items-per-page="numPerPage" class="pagination-sm">
                    </pagination>
                </nav>
                
            </div>
        </div>

    </div>
</div>


