﻿@using Swordfish.UI.Helpers
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="../Assets/fvicon.png" type="image/x-icon">
    <title>Search</title>
    @Styles.Render("~/Content/Chillicss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Slider")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/daterangepicker")
    @Scripts.Render("~/bundles/menuscript")
    @Scripts.Render("~/bundles/chartsScript")
    @Scripts.Render("~/bundles/dashBoardScript")
    @Scripts.Render("~/bundles/roomTypeScript")
    @Scripts.Render("~/bundles/tinymce")
    @Scripts.Render("~/bundles/angularCore")
    @Scripts.Render("~/bundles/angularCustom")
</head>
<body>

    <div class="errror_summery_wrapper1">
        <div class="container errror_summery_container alert-box">
            <span class="icon icon-cross pull-right close_error_summary"></span>
            <h3 class="text-left">Error Summary</h3>
            <div class="error_container">
            </div>
        </div>
    </div>
    <div class="alert-wrapper">
        <div class="container-fluid alert-box">
            <div class="container-fluid alert_logo_strip"></div>
            <h4>Sorry information is not avilable</h4>
            <button class="btn btn-default" id="alert_close">Ok</button>
        </div>
    </div>

    <div id="global_site_map">
    </div>
    <!--- Global navigation starts -->
    <div class="search-header">
        <div class="search-logo">
            <img id="testforSyntec" src="../Assets/logo-big.png">
            <span class="icon icon-menu" data-toggle="modal" data-target="#dashboard_site_map"></span>

            <div class="user-dtls">
                <span class="icon icon-user"></span>
                <span class="usr-name">@SFConfiguration.GetUserName().ToString()</span>
                <span class="icon icon-switch logout-ico"></span>
                <span>@Html.ActionLink("LogOut", "LogOff", "Account", null, new { @class = "log_color" })</span>
            </div>

            <div class="qt-form clear">
                <input type="text" class="form-control qoute-filed pull-left" name="TTSSQuote" id="TTSSQuote" placeholder="Type quote ref..">
                <button type="submit" class="btn btn-default quote-find" id="submitbt" name="submitbt">RETRIEVE</button>
                <a class="btn btn-default quote-agent" id="AgntQuotes">AGENT QUOTE</a>
            </div>
        </div>

        <div class="search-incoming" id="accept_call_hide_show">
            <div class="inc-callbg">
                <h4>Incoming call</h4><span class="icon icon-phone"></span>
                <form class="form-inline">
                    <input type="text" class="form-control" id="ttsQuoteinfo" placeholder="TXT - 001">
                    <input type="text" class="form-control" id="IncustomerPhonenumber" placeholder="08000 0000000000">
                    <input type="text" class="form-control" id="Incustomername" placeholder="Adam">
                    <input type="text" class="form-control" id="IncustomerLastName" placeholder="Cleverley">
                    <input type="text" class="form-control" id="IncustomerEmail" placeholder="Cleverley@gmail.com">
                    <button id="btnIncomingcall" class="btn btn-default acpt-call">Accept Call</button>
                </form>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    
    <div class="search-body">
        <div class="search-wdgform" id="divHomeSearch">
            @Html.Partial("Search")
        </div>

        <div class="search-todayact">
            <div class="todayact-inner">
                <div class="taodayact-header">
                    Today’s actions
                    <button type="submit" class="btn btn-default btns-primary blue btnComplete" id="">COMPLETE</button>
                </div>
                <div id="to_do_list">
                </div>
                <div class="to_do_list_add">
                    <span class="pull-right icon icon-cross" id="close_add_task"></span>
                    <div class="row">
                        <div class="col-md-9"><input type="text" maxlength="49" class="form-control" id="add_task" placeholder="Enter task" autofocus></div>

                        <div class="col-md-9">
                            <div class='input-group date' id='DivTask_timer' style="display:none;">
                                <input type='text' id="Task_timer" class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>@*<input type="text" maxlength="49" class="form-control" id="" style="display:none" >*@
                        </div>
                        <div class="col-md-9"><input type="checkbox" maxlength="49" class="form-control" id="Task_checkbox"></div>
                        <div class="col-md-2"><button type="button" class="btn btn-info" id="add_task_button">Save</button></div>
                    </div>

                </div>
            </div>

            <div>
                <span class="icon-add" id="add_button" onclick="addbutt()">+</span>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="chart-section">
        <div class="chart-area">

            <div class="char-head col-md-12 col-xs-12 text-center">
                <label id="agentsname" style="font-style:italic"></label> booking statistics
                <button class="btn btn-default btns-primary purple" id="btnlastSevenDays">Last 7 days</button>
                <button class="btn btn-default btns-primary blue" id="btnlastfourweeks">Last 4 weeks</button>
            </div>
            <div class="chart-loader col-md-12 col-xs-12">
                <h3 id="chart_nodata"><i>No Data Available</i></h3>
                <div class="col-md-1 col-xs-1 chart_left_arrow"><p class="icon icon-play3" id="chart_slide_left"></p></div>
                <div class="col-md-9 col-xs-9 chart_holder">
                    <div id="chartContainerday" class="active"></div>
                    <div id="chartContainerweek"></div>
                </div>
                <div class="col-md-1 col-xs-1 chart_right_arrow"><p class="icon icon-play3" id="chart_slide_right"></p></div>
            </div>
        </div>
        <div class="agent-notes">
            <textarea id="agentNotes">Easy! You should check out MoxieManager!</textarea>
            <div class="clear"></div>
        </div>
        <div id="loader" class="container">
            <div class="logo_loader"></div>
        </div>
        <div class="booking_success_wrapper">
            <div class="success_alert_box">
                <div class="smile"></div>
                <h4>Your booking has done <br />successfully</h4>
                <button class="btn btn-md book_but_succes">Ok</button>
            </div>

        </div>
        <div class="booking_unsuccess_wrapper">
            <div class="unsuccess_alert_box">
                <div class="unsmile"></div>
                <h4>Your booking has failed<br />please try again</h4>
                <button class="btn btn-md book_but_unsucces">Ok</button>
            </div>
        </div>
        <div>
            <input type="hidden" id="hdnadult" value="2" />
            <input type="hidden" id="hdnchildren" value="0" />
            <input type="hidden" id="hdninfant" value="0" />
            <input type="hidden" id="hdnroom" value="1" />
            <input type="hidden" id="hdnTTSSQuoteRef" />
            <input type="hidden" id="hdnTTSSPrice" />
            <input type="hidden" id="hdnTypeOfSearch" />
        </div>
    </div>
    <div id="dialog-confirm"></div>
    <div class="Agent_quotes" id="Agent_quote">
        @Html.Partial("AgentQuotes")
    </div>
</body>
</html>
<script>
    var OccupancyRooms = [];
    tinymce.init({
        selector: "#agentNotes",
        theme: "modern",
        plugins: [
         "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
         "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
         "save table contextmenu directionality emoticons template paste textcolor"
        ],
        //content_css: "../css/content.css",
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons",
        style_formats: [
             { title: 'Bold text', inline: 'b' },
             { title: 'Purple text', inline: 'span', styles: { color: '#74397a' } },
             { title: 'Purple header', block: 'h1', styles: { color: '#74397a' } },
             { title: 'Example 1', inline: 'span', classes: 'example1' },
             { title: 'Example 2', inline: 'span', classes: 'example2' },
             { title: 'Table styles' },
             { title: 'Table row 1', selector: 'tr', classes: 'tablerow1' }
        ]
    });
    $("#Task_checkbox").on('change', function () {

        if ($("#Task_checkbox").prop('checked')) {
            $('#Task_timer').val('');
            $("#DivTask_timer").show();
        } else {
            $("#DivTask_timer").hide();
        }
    });
    //$('#Task_timer').datetimepicker({
    //    timepicker: true,
    //    format: 'd/m/Y H:i',
    //    formatTime: 'H:i',
    //    formatDate: 'd/m/Y'
    //});
    $('#DivTask_timer').datetimepicker({
        //  viewMode: 'years',
        format: 'DD/MM/YYYY h:mm:ss a',
        minDate: new Date()
    });

    $('#AgntQuotes').click(function () {
        $('#AgentModal').show();
        $('#txtFromDate').val('');
        $('#txtToDate').val('');
    });
    $('.modal-close').click(function () {
        $('#AgentModal').hide();
    });

    $('#submitbt').click(function () {
        $("#loader").show()
        var searchQuote = $('#TTSSQuote').val();
        $("#hdnTypeOfSearch").val('TTSS');
        if ($("#transfers_yes").prop("checked")) {
            transfer = true;
        }
        if ($("#transfers_no").prop("checked")) {
            transfer = false;
        }

        if (searchQuote == "") {
            $('.alert-wrapper').show();
            $('.alert-box h4').text("Please enter the teletext quote!");
            $("#loader").hide()
            return false;
        }
        else {
            $('#loader').show();
            var dataObject = { TTSSQuote: searchQuote, Transfer: transfer, }
            $.ajax({
                url: '../Home/Search',
                type: 'POST',
                data: JSON.stringify(dataObject),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.Message != undefined && data.Message != '') {
                        $('#loader').hide();
                        $('.alert-wrapper').show();
                        $('.alert-box h4').text(data.Message);
                    }
                    else {
                        $("#ddlHotel").prop('disabled', false);
                        $.ajax({
                            crossDomain: true,
                            url: '../Home/GetHotelList',
                            type: "GET",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: { destinationCode: data.DestinationTo},
                            success: function (response) {
                                var items = [];
                                items.push("<option value='0'>--Hotel Name--</option>");
                                var hotelFound = false;
                                $.each(response, function () {
                                    items.push("<option value=" + this.SupplierAccommId + ">" + this.Name + "</option>");
                                    if (data.MasterHotelId == this.SupplierAccommId)
                                        hotelFound = true;
                                });
                                $("#ddlHotel").html(items.join(' ')); 
                                var result = Searchresults(data, hotelFound);
                                OccupancyRooms = getOccupancyRooms();
                                return;
                            },
                            error: function (xhr, status, error) {
                                ShowAjaxRequestError(xhr, status, error);
                            }
                        });

                    }
                },
                error: function (xhr, status, error) {
                    ShowAjaxRequestError(xhr, status, error);

                }
            });
        }
    });
    $(document).ready(function () {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == "Searchval") {
                if (sParameterName[1] == "N") {
                    alert("No data found for your search!!");
                }
            }
        }


    });
    var HotelNameFilters;
    function getAppSettings() {
        @*var HotelNameFilters = '@System.Web.Configuration.WebConfigurationManager.AppSettings["HotelNameFilters"].ToString()';*@
        return HotelNameFilters = '@SFConfiguration.GetHotelNameFilters()';
    }
    $(".book_but_succes").click(function () {
        $('.booking_success_wrapper').hide();
    });
    $(".book_but_unsucces").click(function () {
        $('.booking_unsuccess_wrapper').hide();
    });
    $('#close_add_task').click(function () {

        $('.to_do_list_add').hide();
        $('#add_task').val('');
        $("#Task_checkbox").attr('checked', false);
        $('#DivTask_timer').hide();
        $('#Task_timer').val('');
    });
    $('.spinpt').click(function () {
        passengerswidget();

    });


</script>