﻿<div id="ttss-detail-block" class="col-lg-12 col-xs-12">
    <div id="ttss-detail-left-block" class="row">
        <div id="ttss-saerchrow" class="col-lg-12 col-xs-12">
            <div class="row">
                <div class="col-lg-2"><p>TXT-0001</p></div>
                <div class="col-lg-4"><p>Park Plaza Westminster Bridge,London</p></div>
                <div class="col-lg-2"><p>7nts,SC</p></div>
                <div class="col-lg-2"><p>from &pound;180pp</p></div>
                <div class="col-lg-2"><p class="text-center" id="ttss_view_button">View</p><p class="text-center" id="ttss_close_button">Close</p></div>
            </div>
        </div>
        <div class="col-lg-12 col-xs-12" style="margin-top:10px;" id="ttss_details">
            <div class="row">
                <div class="col-lg-5 col-xs-5">
                    <div id="ttss-hotel-details">
                        <div id="ttss-hotel-detail-name">
                            <div class="row">
                                <h4>Zalagh Kasbh Hotel & Spa Marrakash</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div id="ttss-board-hotel-details" class="col-lg-12 col-xs-12">
                                <span id="ttss-board-detail-name">
                                    7 Nights
                                </span>
                                <span class="ttss-board-detail-name-span">SC</span>
                                <span id="ttss-board-detail-rate">
                                    <span id="quote-details-rate">
                                        <img src="~/Assets/star.png">
                                    </span> <span>
                                        <img src="~/Assets/star.png">
                                    </span> <span><img src="~/Assets/star.png"></span> <span>
                                        <img src="~/Assets/star.png">
                                    </span>
                                    <span><img src="~/Assets/star.png"></span>
                                </span>
                                <span id="ttss-hotel-detail-view"><img src="~/Assets/view2.png" /></span>
                            </div>
                        </div>
                        <div class="row">
                            <div id="ttss-flight-details" class="col-lg-12 col-xs-12">
                                <div id="ttss-flight-from">
                                    <span id="ttss-flight-from-h3"> LON</span>
                                    <span class="icon icon-arrow-left"></span><span class="icon icon-arrow-right"></span>
                                    <span id="ttss-flight-to-h3">RAK</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="ttss-flight-timings" class="col-lg-12 col-xs-12">
                                <div id="ttss-flight-time-up" class="col-lg-6 col-xs-6">
                                    <p id="ttss-flight-time-up-p">(14th Jun) <br>16:30 - 22:30 / EJH</p>
                                </div>
                                <div id="ttss-flight-time-down" class="col-lg-6 col-xs-6">
                                    <p id="ttss-flight-time-down-p">(14th Jun) <br>16:30 - 22:30 / EJH</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="ttss-detail-right-block" class="row col-lg-3 col-xs-3">
                    <div class="ttss-hotel-board_block">
                        <p>AI</p>
                        <span id="ttss-hotel-AI"></span>
                    </div>
                    <div clear></div>
                    <div class="ttss-hotel-board_block">
                        <p>FB</p>
                        <span id="ttss-hotel-FB"></span>
                    </div>
                    <div clear></div>
                    <div class="ttss-hotel-board_block">
                        <p>HB</p>
                        <span id="ttss-hotel-HB"></span>
                    </div>
                    <div clear></div>
                    <div class="ttss-hotel-board_block">
                        <p>BB</p>
                        <span id="ttss-hotel-BB"></span>
                    </div>
                    <div clear></div>
                    <div class="ttss-hotel-board_block">
                        <p>SC</p>
                        <span id="ttss-hotel-SC"></span>
                    </div>
                    <div clear></div>
                    <div class="ttss-hotel-board_block">
                        <p>RO</p>
                        <span id="ttss-hotel-RO"></span>
                    </div>
                </div>
                <div class="row col-lg-4 col-xs-4">
                    <div class="ttss_worst_flight_tims">
                        <h4>Worst flight timings</h4>
                        <p id="worst-flight-time-time">16:40 - 22:30 / <span id="worst-flight-name">EJH</span> <a>2 Stops</a></p>
                    </div>
                    <div class="ttss_worst_flight_timings">
                        <p id="worst-flight-time-time">10:23 - 20:34 / <span id="worst-flight-name">EJH</span> <a>1 stop</a></p>
                    </div>
                    <div class="ttss_worst_flight_timings">
                        <p id="worst-flight-time-time">08:13 - 15:21 / <span id="worst-flight-name">EJH</span> <a>1 Stop</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<div id="ttss-list-view-nav">
    <ul>
        <li>Cheapest Price</li>
        <li>Best Value</li>
        <li>Best Flight Times</li>
        <li>Special Offers</li>
    </ul>
</div>
<div clear></div>

<script>
    $('#ttss_view_button').click(function () {
        $('#ttss_details').slideDown(300);
        $('#ttss_view_button').css("display", "none");
        $('#ttss_close_button').css("display", "block");
    });
    $('#ttss_close_button').click(function () {
        $('#ttss_details').slideUp(300);
        $('#ttss_view_button').css("display", "block");
        $('#ttss_close_button').css("display", "none");
    });
</script>


