﻿@model Swordfish.UI.Models.Account.SearchModel
@using Swordfish.Businessobjects.Common;
<form class="form-inline">
    <a class="btn btn-default btns-primary purple" id="btnHolidays" name="btnHolidays">Holidays</a>
    <a class="btn btn-default btns-primary" id="btnFlightonly" name="btnFlightonly"><span class="icon icon-airplane"></span> Flight only</a>
    <a class="btn btn-default btns-primary" id="btnHotelonly" name="btnHotelonly"><span class="icon icon-office"></span> Hotel only</a>
    @if (Model != null && !string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div id="divMessage" class="alert-danger message-field-new" style="margin-top:25px;text-align:center; height:40px;">
            <span style="color:red; font-size:16px; font-weight:bold; font-family:Verdana;line-height:40px;">@Model.ErrorMessage</span>
        </div>
    }
    <div class="inputrow" id="dstnSource">
        <div class="search-fl">
            @Html.TextBoxFor(model => model.SourceFrom, new { id = "txtSourceFrom", @class = "form-control input-primary", placeholder = "Flying From" })
            @Html.HiddenFor(model => model.SourceFromId, new { id = "hdnSourceFrom" })
        </div>
        <div class="search-fm">
            <span class="icon icon-arrow-left"></span>
            <span class="icon icon-arrow-right"></span>
        </div>
        <div class="search-fr">
            @Html.TextBoxFor(model => model.DestinationTo, new { id = "txtDestinationCode", @class = "form-control input-primary", placeholder = "Destination" })
            @Html.HiddenFor(model => model.DestinationToId, new { id = "hdnDestinationTo" })
        </div>
        <div class="clear"></div>
    </div>
    <div id="trip_checkbox_wrapper">
        <div class="radio">
            <label id="oneway">
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> One way
            </label>
        </div>
        <div class="radio">
            <label id="roundtrip">
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Round trip
            </label>
        </div>
    </div>
    <div class="inputrow">
        <div class="search-fl">

            <div class="input-group date" id="dvCheckIn">
                @Html.TextBoxFor(model => model.CheckIn, new { id = "txtCheckIn", @class = "form-control", placeholder = "", @readonly = "readonly", @title= "Today's date disabled for hotel search compatibility" })
            </div>
            @Html.DropDownListFor(model => model.Nights, new SelectList(
                new List<Object>{
                        new { value = 0, text = "Nts"  },
                           new { value = 1, text = "1 Nts" },
                           new { value = 2, text = "2 Nts"},
                           new { value = 3, text = "3 Nts" },
                           new { value = 4, text = "4 Nts"},
                           new { value = 5, text = "5 Nts" },
                           new { value = 6, text = "6 Nts" },
                           new { value = 7, text = "7 Nts" },
                           new { value = 8, text = "8 Nts" },
                           new { value = 9, text = "9 Nts" },
                           new { value = 10, text = "10 Nts" },
                           new { value = 11, text = "11 Nts" },
                           new { value = 12, text = "12 Nts"},
                           new { value = 13, text = "13 Nts" },
                           new { value = 14, text = "14 Nts"},
                           new { value = 15, text = "15 Nts" },
                           new { value = 16, text = "16 Nts" },
                           new { value = 17, text = "17 Nts" },
                           new { value = 18, text = "18 Nts" },
                           new { value = 19, text = "19 Nts" },
                           new { value = 20, text = "20 Nts" },
                           new { value = 21, text = "21 Nts" },
                           new { value = 22, text = "22 Nts"},
                           new { value = 23, text = "23 Nts" },
                           new { value = 24, text = "24 Nts"},
                           new { value = 25, text = "25 Nts" },
                           new { value = 26, text = "26 Nts" },
                           new { value = 27, text = "27 Nts" },
                           new { value = 28, text = "28 Nts" },
                           new { value = 29, text = "29 Nts" },
                           new { value = 30, text = "30 Nts" }
                    },
                "value",
                "text",
                0), new { @class = "form-control nts", id = "sel1", placeholder = "Nts" })

            @*<div class="input-group date" id="dvCheckOut">
                    @Html.TextBoxFor(model => model.CheckOut, new { id = "txtCheckOut", @class = "form-control", placeholder = "Rtn" })
                </div>*@
        </div>
        <div class="search-fm">
            <span class="icon">&nbsp;</span>
        </div>
        <div class="search-fr">           
            @Html.DropDownListFor(model =>model.HotelName, new SelectList(
                  new List<Object>{
                       new { value = 0, text = "Hotel Name"  }
                    },
                  "value",
                  "text",
                  0), new { @class = "form-control input-primary", id = "ddlHotel", placeholder = "Hotel Name", disabled = "disabled" })
            <div id="displayResult" style="display:none;color:red">
                <span class="filtered"> @SFConstants.NoHotelsFound</span>
            </div>
        </div>

        <div class="clear"></div>
    </div>
    <div class="inputrow" id="resultRow">
        <div class="search-fl">
            <div class="input-group spinpt">
                <input id="txtResult" type="text" class="form-control" name="txtResult" value="1 Rooms,2 Adults,0 Children" readonly>
                <div class="input-group-btn spinptrtbtn">
                    <button type="button" class="btn btn-default" role="menu" data-toggle="dropdown" id="totalpeoples">
                        <span class="icon icon-users"></span><span class="sr-only"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="search-fm">
            <span class="icon"> &nbsp;</span>
        </div>
        <div class="search-fr starrtng">
            <input id="input-1" class="rating" data-min="0" data-max="5" data-step="0.5">
        </div>
        <div class="clear"></div>
    </div>
    <div class="inputrow" id="search_avg_wrapper row">
        <div class="search-fr col-xs-6 pull-left search_bordtype">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn purplelight active" id="boradtypeAI">
                    <input type="checkbox" autocomplete="off" id="type_ai" /> AI
                </label>
                <label class="btn purplelight active" id="boradtypeFB">
                    <input type="checkbox" autocomplete="off" id="type_fb">FB
                </label>
                <label class="btn purplelight active" id="boradtypeHB">
                    <input type="checkbox" autocomplete="off" id="type_hb"> HB
                </label>
                <label class="btn purplelight active" id="boradtypeBB">
                    <input type="checkbox" autocomplete="off" id="type_bb"> BB
                </label>
                <label class="btn purplelight active" id="boradtypeSC">
                    <input type="checkbox" autocomplete="off" id="type_sc">SC
                </label>
                <label class="btn purplelight active" id="boradtypeRO">
                    <input type="checkbox" autocomplete="off" id="type_ro"> RO
                </label>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="text-right inputrow col-xs-6 col-xs-6" id="search_but_wrapper">
        <button class="btn btn-default big-btn" type="button" id="btnSearch" name="Submit">SEARCH &nbsp;&nbsp;&nbsp;&nbsp;<span class="icon icon-arrow-right2"></span></button>
    </div>
    <div>
        <input id="MaxRooms" type="hidden" value="@Model.MaxRooms" />
        <input id="MaxAdultsInRoom" type="hidden" value="@Model.MaxAdultsInRoom" />

        <input id="MaxChildInRoom" type="hidden" value="@Model.MaxChildInRoom" />
        <input id="MaxInfantInRoom" type="hidden" value="@Model.MaxInfantInRoom" />

        <input id="MaxPaxInRoom" type="hidden" value="@Model.MaxPaxInRoom" />
        <input id="MaxPaxPerBooking" type="hidden" value="@Model.MaxPaxPerBooking" />
    </div>
    <div class="col-xs-9" id="room_pax_wrapper">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-2">
                    <label class="control-label pull-left">Rooms :</label>
                </div>
                <div class="col-xs-5">
                    <select class="form-control col-xs-1 pull-left" id="Paxroom">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
            </div>
        </div><br />
        <div class="row pax-marginTop">
            <div class="col-xs-12">
                <div class="col-xs-2">
                    <label class="control-label pull-left">&nbsp;</label>
                </div>
                <div class="col-xs-3">
                    <label class="control-label pull-left">Adults</label>
                </div>
                <div class="col-xs-3">
                    <label class="control-label pull-left ch_margin">Children <br />Age(3-12)</label>
                </div>
                <div class="col-xs-3">
                    <label class="control-label pull-left ch_margin1">Infants<br />Age(0-2)</label>
                </div>
            </div>
        </div>
        <div class="row" id="dynamicroom1">
            <div class="col-xs-12">
                <div class="col-xs-2">
                    <label class="control-label pull-left">Room 1:</label>
                </div>
                <div class="col-xs-3 " id="DynamicAdultdivrow1">
                    <label class="control-label pull-left">
                        <select class="form-control col-xs-1 pull-left adultclass" id="DynamicAdultrow1">
                            <option>1</option>
                            <option selected="selected">2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </label>
                </div>
                <div class="col-xs-3" id="Dynamicchilddivrow1">
                    <label class="control-label pull-left">
                        <select class="form-control col-xs-1 pull-left ch_margin" id="Dynamicchildrow1">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </label>
                </div>
                <div class="col-xs-3" id="Dynamicinfantdivrow1">
                    <label class="control-label pull-left">
                        <select class="form-control col-xs-1 pull-left ch_margin1" id="Dynamicinfantrow1">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
        <div class="row dynamicrooms" id="dynamicroom"></div>
        <div class="btn select_people_ok">OK</div>
    </div>
</form>
