﻿@model Swordfish.UI.Models.Booking.CoBrowseResultModel
@using Swordfish.Businessobjects.Common
<!doctype html>

<html>
<head>
    @{
        Layout = "";
    }
    @Styles.Render("~/Content/Chillicss");
    @Styles.Render("~/Content/angularCSS")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/signalR")
    @Scripts.Render("~/signalr/hubs")
    <script type="text/javascript">


        $(function () {
            // Proxy created on the fly
            var chat = $.connection.chatHub;
            // Get the user name and store
            $('#displayname').val('customer');

            // Start the connection
            $.connection.hub.start().done(function () {

                chat.server.registerConId($('#displayname').val());
                chat.client.sendMessage = function (name, message) {
                }
            });
            $("#btnConfirm").click(function () {

                var message = "This will confirm your holiday booking.  Are you sure?";
                CoBrowseConfirmationBox(message, "Approved", "",@ViewBag.quoteHeaderId,"@ViewBag.guId");

            });

            $("#btnReject").click(function () {
                var message = "This will pass the passenger information to the customer.  (press cancel, if you need to make any corrections";
                CoBrowseConfirmationBox(message, "Rejected", "",@ViewBag.quoteHeaderId,"@ViewBag.guId");
            });

            function CoBrowseConfirmationBox(message, OkDelegate, CancelDelegate,quoteHeaderID, guId) {
                $("#dialog-confirm").html(message);
                // Define the Dialog and its properties.
                $("#dialog-confirm").dialog({
                    resizable: false,
                    modal: true,
                    title: "",
                    width: 400,
                    buttons: [
                        {
                            text: "Ok",
                            "class": 'btn btn-default grnbtn',
                            click: function () {
                                //	OkFunction();
                                $(this).dialog('close');
                                if (OkDelegate != null) {
                                    $.ajax({
                                        type: "POST",
                                        url: "../CoBrowsing/SaveConformationResponse",
                                        data: { quoteHeaderID: quoteHeaderID , guId:guId, responseMsg:OkDelegate},
                                        success:function(data){
                                            if(data==1){
                                                chat.server.send("@ViewBag.quoteHeaderId", OkDelegate);
                                                window.close();
                                            }
                                            else{
                                                alert("Error occured please contact agent..!");
                                            }
                                        }

                                    })
                                }
                                //callback(true, OkFunction);
                            }
                        },
                        {
                            text: "Cancel",
                            "class": 'btn btn-default vltbtn',
                            click: function () {
                                $(this).dialog('close');
                                if (CancelDelegate != null) {
                                    if (typeof (window[CancelDelegate]) === "function") {
                                        window[CancelDelegate]();
                                    }
                                }

                            }
                        }
                    ]
                });
            }
        });
    </script>
</head>
<body>
    <div id="dialog-confirm" class="cobrowse"></div>
    <div class="main" id="co_browse">
        <div class="container">
            @if (Model.Passengers != null && Model.BasketQuoteObject != null && Model.Passengers.Count() > 0 && Model.Passengers[0].LapsDays >= DateTime.Now && Model.Passengers[0].StatusOptionId == SFConstants.CobrowsStatus_New)
            {
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <header id="header">
                                <div class="header">
                                    <div class="logo col-xs-12">
                                        <img id="headerlogo" src="~/Assets/logo.png" alt="">
                                    </div>
                                    <div class="col-xs-4 user_cust_name">
                                    </div>
                                </div>
                            </header>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="search-rs col-xs-12">
                        <div class="bookingwidget">
                            <div class="row payment_wrapper">
                                <div class="col-xs-12 text-center">
                                    <h4><b>Please check and confirm details below</b></h4>
                                </div>

                            </div>
                            <div class="row quote_ref_wrapper">
                                <div class="col-xs-12 quote_wrapp top-margin">
                                    <h4 class="sechead top">Quote ref: <span class="quote_id"> @Model.BasketQuoteObject.quoteHeader.CustomerReferenceCode</span></h4>
                                </div>
                                <div class="col-xs-12 fLight_details_wrapp">
                                    <div class="row nomarging">
                                        <div class="col-xs-12 fLight_details noleftpadd">
                                            <h4 class="sechead">Flights (@Model.BasketQuoteObject.flightComponents[0].componentType)</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 fLight_ib_ob">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <h5 class="pull-left"><b>Outbound</b> <i class="fa fa-plane"></i></h5>
                                        </div>
                                        <div class="col-xs-6">
                                            <h5 class="pull-left"><b>Inbound</b> <i class="fa fa-plane in"></i></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 fLight_ib_ob_dEtails">
                                    <div class="row nomarging crdpmd notopmarg">
                                        <div class="col-xs-5 oi_right noleftpadd">
                                            @foreach (var flightcomponentdetail in Model.BasketQuoteObject.flightComponentUI.flightComponentsOutbound)
                                            {
                                                <div class="row">
                                                    <div class="col-xs-5">
                                                        <div>
                                                            @Convert.ToDateTime(flightcomponentdetail.DepartureDateTime).DayOfWeek.ToString().Substring(0, 3), @Convert.ToDateTime(flightcomponentdetail.DepartureDateTime).ToString("dd/MM/yyyy")  @Convert.ToDateTime(flightcomponentdetail.DepartureDateTime).ToString("HH:mm")<br />
                                                            @flightcomponentdetail.DepartureAirportName<br />
                                                            @flightcomponentdetail.DepartureAirportCode<br />
                                                            @flightcomponentdetail.MarketingAirLine
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <div class="row">
                                                            <div class="text-center">

                                                                @Convert.ToDateTime(flightcomponentdetail.ArrivalDateTime).Subtract(Convert.ToDateTime(flightcomponentdetail.DepartureDateTime)).ToString(@"hh\:mm") h<br />
                                                                <i class="fa fa-plane"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-5 text-right">
                                                        <div>
                                                            @Convert.ToDateTime(flightcomponentdetail.ArrivalDateTime).DayOfWeek.ToString().Substring(0, 3), @Convert.ToDateTime(flightcomponentdetail.ArrivalDateTime).ToString("dd/MM/yyyy") @Convert.ToDateTime(flightcomponentdetail.ArrivalDateTime).ToString("HH:mm")
                                                            <br />
                                                            @flightcomponentdetail.ArrivalAirportName<br />
                                                            @flightcomponentdetail.ArrivalAirportCode<br />
                                                           <span>@flightcomponentdetail.FlightNumber</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                        <div class="col-xs-5 oi_right  nopadding">
                                            @foreach (var flightcomponentdetail in Model.BasketQuoteObject.flightComponentUI.flightComponentsInbound)
                                            {
                                                <div class="rowr">
                                                    <div class="col-xs-5">
                                                        <div>
                                                            @Convert.ToDateTime(flightcomponentdetail.DepartureDateTime).DayOfWeek.ToString().Substring(0, 3), @Convert.ToDateTime(flightcomponentdetail.DepartureDateTime).ToString("dd/MM/yyyy") @Convert.ToDateTime(flightcomponentdetail.DepartureDateTime).ToString("HH:mm")<br />
                                                            @flightcomponentdetail.DepartureAirportName<br />
                                                            @flightcomponentdetail.DepartureAirportCode<br />
                                                            @flightcomponentdetail.MarketingAirLine
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <div class="row">
                                                            <div class="text-center">
                                                                @Convert.ToDateTime(flightcomponentdetail.ArrivalDateTime).Subtract(Convert.ToDateTime(flightcomponentdetail.DepartureDateTime)).ToString(@"hh\:mm") h <br />
                                                                <i class="fa fa-plane"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-5 text-right">
                                                        <div>
                                                            @Convert.ToDateTime(flightcomponentdetail.ArrivalDateTime).DayOfWeek.ToString().Substring(0, 3), @Convert.ToDateTime(flightcomponentdetail.ArrivalDateTime).ToString("dd/MM/yyyy") @Convert.ToDateTime(flightcomponentdetail.ArrivalDateTime).ToString("HH:mm")<br />
                                                            @flightcomponentdetail.ArrivalAirportName<br />
                                                            @flightcomponentdetail.ArrivalAirportCode<br />
                                                            <span>@flightcomponentdetail.FlightNumber</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div class="col-xs-2 cost">
                                            <h4>£@Model.BasketQuoteObject.quoteHeader.FlightCost.ToString("#,##,##,###.00")</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <h4 class="sechead">Accommodation</h4>
                                </div>
                                <div class="col-xs-12 aCC_dEtails">
                                    <div class="row  nomarging crdpmd notopmarg">
                                        <div class="col-xs-7 nopadding">
                                            <div class="row">
                                                <div class="col-xs-6 padhtl">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="hotel-primary-det">
                                                                <h4>
                                                                    <a class="hotel-det-link prl">@Model.BasketQuoteObject.hotelComponent.HotelName </a> &nbsp;
                                                                    <span class="htlrtg">
                                                                        @for (int index = 0; index < Model.BasketQuoteObject.hotelComponent.StarRating; index++)
                                                                        {
                                                                            <i class="fa fa-star"></i>
                                                                        }

                                                                    </span>
                                                                </h4>
                                                            </div>
                                                            <div class="text-left  hotel-primary-info">
                                                                @Model.BasketQuoteObject.hotelComponent.SupplierResortName <br />
                                                                <img src="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 left-border padhtl">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            @Model.BasketQuoteObject.searchModel.AdultsCount<span>A</span>,
                                                            @Model.BasketQuoteObject.searchModel.ChildrenCount<span>C</span>,
                                                            @Model.BasketQuoteObject.searchModel.InfantsCount<span>I</span>
                                                            <br />
                                                            No of rooms : @Model.BasketQuoteObject.searchModel.RoomNo<br />
                                                            Room Type: @Model.BasketQuoteObject.hotelComponent.hotelComponentsDetails[0].RoomDescription <br />
                                                            Board Type: @Model.BasketQuoteObject.hotelComponent.hotelComponentsDetails[0].RatePlanName
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3 checkin_out nopadding">
                                            <div class="col-lg-6">
                                                <div class="checkout-wrap">
                                                    <div class="checkin"><p>Check-In</p></div>
                                                    <div><h4><b>@Convert.ToDateTime(Model.BasketQuoteObject.hotelComponent.CheckInDate).ToString("dd")</b></h4></div>
                                                    <div>
                                                        <p>
                                                            <span>@Convert.ToDateTime(Model.BasketQuoteObject.hotelComponent.CheckInDate).ToString("MMMM") </span>
                                                            <span>@Convert.ToDateTime(Model.BasketQuoteObject.hotelComponent.CheckInDate).Year</span>
                                                        </p>
                                                    </div>
                                                    <div>
                                                        <p>@Convert.ToDateTime(Model.BasketQuoteObject.hotelComponent.CheckInDate).DayOfWeek</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="checkout-wrap">
                                                    <div class="checkout"><p>Check-Out</p></div>
                                                    <div><h4><b>@Convert.ToDateTime(Model.BasketQuoteObject.hotelComponent.CheckOutDate).ToString("dd")</b></h4></div>
                                                    <div>
                                                        <p>
                                                            <span>@Convert.ToDateTime(Model.BasketQuoteObject.hotelComponent.CheckOutDate).ToString("MMMM") </span>
                                                            <span>@Convert.ToDateTime(Model.BasketQuoteObject.hotelComponent.CheckOutDate).Year</span>
                                                        </p>
                                                    </div>
                                                    <div><p>@Convert.ToDateTime(Model.BasketQuoteObject.hotelComponent.CheckOutDate).DayOfWeek</p></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-2 cost">
                                            <h4>
                                                £@((Model.BasketQuoteObject.quoteHeader.HotelCost + Model.BasketQuoteObject.quoteHeader.MarginFlight + Model.BasketQuoteObject.quoteHeader.MarginHotel
                   + Model.BasketQuoteObject.quoteHeader.MarginExtras + Model.BasketQuoteObject.quoteHeader.FidelityCost).ToString("#,##,##,###.00"))
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <h4 class="sechead">Transfers </h4>
                                </div>
                                <div class="col-xs-12 travel_dETails-wrap">
                                    <div class="row  nomarging crdpmd notopmarg">
                                        @if (Model.BasketQuoteObject.transferComponents != null && Model.BasketQuoteObject.transferComponents.Count() > 0)
                                        {
                                            <div class="col-lg-10 noleftpadd travel_dETails">
                                                <p>
                                                    <strong>Transfer type :</strong> <span>@Model.BasketQuoteObject.transferComponents[0].ProductType   </span> &nbsp; | &nbsp;
                                                    <strong>Quantity :</strong> <span>@Model.BasketQuoteObject.transferComponents[0].Units</span> &nbsp; | &nbsp;
                                                    <strong>Duration :</strong> <span>@Model.BasketQuoteObject.transferComponents[0].TransferTime min</span>
                                                </p>
                                            </div>
                                            <div class="col-xs-2 cost">
                                                <h4>£@(string.IsNullOrEmpty(Model.BasketQuoteObject.quoteHeader.TransfersCost.ToString()) ? "0" : Model.BasketQuoteObject.quoteHeader.TransfersCost.ToString("#,##,##,###.00"))</h4>
                                            </div>
                                        }
                                        else {
                                            <div class="col-lg-10 noleftpadd travel_dETails">
                                                <p class="text-danger"><strong>Transfers not selected.</strong></p>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <h4 class="sechead">Baggage </h4>
                                </div>
                                <div class="col-xs-12 bags-wrap">
                                    <div class="row  nomarging crdpmd notopmarg">
                                        <div class="col-xs-10 noleftpadd travel_dETails">
                                            <div class="row">
                                                <div>
                                                    @if (Model.BasketQuoteObject.bagsComponents.Where(x => x.DirectionOptionId == SFConstants.QuoteComponent_FlightReturn).Count() > 0)
                                                    {
                                                        int passengerIndex = 0;
                                                        <div class="col-xs-12 bagheaders"><strong>RoundTrip baggage</strong></div>
                                                        for (int passengerCount = 1; passengerCount <= (Model.BasketQuoteObject.searchModel.AdultsCount + Model.BasketQuoteObject.searchModel.ChildrenCount + Model.BasketQuoteObject.searchModel.InfantsCount); passengerCount++)
                                                        {
                                                            if (Model.BasketQuoteObject.bagsComponents.Where(x => x.DirectionOptionId == SFConstants.QuoteComponent_FlightReturn && x.PassengerIndex == passengerCount).ToList().Count > 0)
                                                            {
                                                                foreach (var item in Model.BasketQuoteObject.bagsComponents.Where(x => x.DirectionOptionId == SFConstants.QuoteComponent_FlightReturn && x.PassengerIndex == passengerCount).ToList())
                                                                {
                                                                    passengerIndex++;
                                                                    <div class="col-xs-12">
                                                                        <strong class="col-xs-2">Passenger @passengerIndex</strong>
                                                                        <span class="col-xs-5">@item.BagsDescription</span>
                                                                        <span class="col-xs-5">£@item.SellingPrice.ToString("##,###.00")</span>
                                                                    </div>
                                                                }

                                                            }
                                                            else
                                                            {
                                                                passengerIndex++;
                                                                <div class="col-xs-12">
                                                                    <strong class="col-xs-2">Passenger @passengerIndex</strong>
                                                                    <span class="col-xs-5 text-danger">Baggage not selected.</span>
                                                                </div>
                                                            }
                                                        }
                                                    }
                                                    @if (Model.BasketQuoteObject.bagsComponents.Where(x => x.DirectionOptionId == SFConstants.Direction_Outbound).Count() > 0)
                                                    {
                                                        int passengerIndex = 0;
                                                        <div class="col-xs-12 bagheaders"><strong>Outbound baggage</strong></div>
                                                        for (int passengerCount = 1; passengerCount <= (Model.BasketQuoteObject.searchModel.AdultsCount + Model.BasketQuoteObject.searchModel.ChildrenCount + Model.BasketQuoteObject.searchModel.InfantsCount); passengerCount++)
                                                        {
                                                            if (Model.BasketQuoteObject.bagsComponents.Where(x => x.DirectionOptionId == SFConstants.Direction_Outbound && x.PassengerIndex == passengerCount).ToList().Count > 0)
                                                            {
                                                                foreach (var item in Model.BasketQuoteObject.bagsComponents.Where(x => x.DirectionOptionId == SFConstants.Direction_Outbound && x.PassengerIndex == passengerCount).ToList())
                                                                {
                                                                    passengerIndex++;
                                                                    <div class="col-xs-12">
                                                                        <strong class="col-xs-2">Passenger @passengerIndex</strong>
                                                                        <span class="col-xs-5">@item.BagsDescription</span>
                                                                        <span class="col-xs-5">£@item.SellingPrice.ToString("##,###.00")</span>
                                                                    </div>
                                                                }

                                                            }
                                                            else
                                                            {
                                                                passengerIndex++;
                                                                <div class="col-xs-12">
                                                                    <strong class="col-xs-2">Passenger @passengerIndex</strong>
                                                                    <span class="col-xs-5 text-danger">Baggage not selected.</span>
                                                                </div>
                                                            }

                                                        }
                                                    }
                                                    @if (Model.BasketQuoteObject.bagsComponents.Where(x => x.DirectionOptionId == SFConstants.Direction_Inbound).Count() > 0)
                                                    {
                                                        int passengerIndex = 0;
                                                        <div class="col-xs-12 bagheaders top-margin"><strong>Inbound baggage</strong></div>
                                                        for (int passengerCount = 1; passengerCount <= (Model.BasketQuoteObject.searchModel.AdultsCount + Model.BasketQuoteObject.searchModel.ChildrenCount + Model.BasketQuoteObject.searchModel.InfantsCount); passengerCount++)
                                                        {
                                                            if (Model.BasketQuoteObject.bagsComponents.Where(x => x.DirectionOptionId == SFConstants.Direction_Inbound && x.PassengerIndex == passengerCount).ToList().Count > 0)
                                                            {
                                                                foreach (var item in Model.BasketQuoteObject.bagsComponents.Where(x => x.DirectionOptionId == SFConstants.Direction_Inbound && x.PassengerIndex == passengerCount).ToList())
                                                                {
                                                                    passengerIndex++;
                                                                    <div class="col-xs-12">
                                                                        <strong class="col-xs-2">Passenger @passengerIndex</strong>
                                                                        <span class="col-xs-5">@item.BagsDescription</span>
                                                                        <span class="col-xs-5">£@item.SellingPrice.ToString("##,###.00")</span>
                                                                    </div>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                passengerIndex++;
                                                                <div class="col-xs-12">
                                                                    <strong class="col-xs-2">Passenger @passengerIndex</strong>
                                                                    <span class="col-xs-5 text-danger">Baggage not selected.</span>
                                                                </div>
                                                            }
                                                        }
                                                    }
                                                    @if (Model.BasketQuoteObject.bagsComponents.Count == 0)
                                                    {
                                                        <div class="col-lg-10 bagheaders">
                                                            <p class="text-danger"><strong>Baggage not selected.</strong></p>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-2 cost">
                                            @if (Model.BasketQuoteObject.bagsComponents.Count > 0)
                                            {
                                                <h4>£@Model.BasketQuoteObject.bagsComponents.Sum(x => x.SellingPrice).ToString("#,##,##,###.00")</h4>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 text-right">
                                    <h4 class="total_cost">Total :  <span>£@Model.BasketQuoteObject.quoteHeader.GrandTotal.ToString("#,##,##,###.00")</span></h4>
                                </div>

                            </div>

                        </div>
                        <div class="row contact_details_wrapper">
                            <div class="contact_details">
                                <h4 class="sechead">Passenger Details (@Model.BasketQuoteObject.searchModel.AdultsCount<span>A</span>,@Model.BasketQuoteObject.searchModel.ChildrenCount<span>C</span>,@Model.BasketQuoteObject.searchModel.InfantsCount<span>I</span>)</h4>
                            </div>
                            <div class="contact_details_table crdpmd">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>DOB</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var pasenger in Model.Passengers)
                                        {
                                            <tr>
                                                <td>@pasenger.Title</td>
                                                <td>@pasenger.FirstName</td>
                                                <td>@pasenger.LastName</td>
                                                <td>@(!string.IsNullOrEmpty(pasenger.DateOfBirth)? DateTime.ParseExact(pasenger.DateOfBirth, "dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture).ToString("dd/MM/yyyy"):string.Empty)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="passnger_detls">
                                <h4 class="sechead">Contact Details</h4>
                            </div>
                            @foreach (var pasenger in Model.Passengers)
                            {
                                if (!string.IsNullOrEmpty(pasenger.IsLeadPassenger) && Convert.ToBoolean(pasenger.IsLeadPassenger) == true)
                                {
                                    <div class="col-xs-12 pssenger_details_co-browse crdpmd">
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <label><strong>E-mail Address :</strong></label>
                                            </div>
                                            <div class="col-xs-3"><label>@pasenger.Email</label></div>
                                            <div class="col-xs-2"><strong>Address :</strong></div>
                                            <div class="col-xs-3"><label>@pasenger.Address1</label></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <label><strong>Mobile Number :</strong></label>
                                            </div>
                                            <div class="col-xs-3"><label>@pasenger.Mobile</label></div>
                                            <div class="col-xs-2"><strong>City/Town :</strong></div>
                                            <div class="col-xs-3"><label>@pasenger.City</label></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <label><strong>Telephone Number :</strong></label>
                                            </div>
                                            <div class="col-xs-3"><label>@pasenger.Telephone</label></div>
                                            <div class="col-xs-2"><strong>Country :</strong></div>
                                            <div class="col-xs-3"><label>@pasenger.Country</label></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <label><strong>House Number :</strong> </label>
                                            </div>                                           
                                            <div class="col-xs-3"><label>@pasenger.HouseNumber</label></div>
                                            <div class="col-xs-2"><strong>Post Code :</strong></div>
                                            <div class="col-xs-3"><label>@pasenger.PostCode</label></div>
                                        </div>

                                    </div>
                                }
                            }
                            <div class="row">
                                <div class="col-xs-12">
                                    <p class="imp_note_co_browse">
                                        Please note that these details are correct and valid at the time of your quote and are subject to change. We’ll confirm the

                                        final details and costs when we confirm your booking. Prices and availability change very quickly, especially during peak

                                        periods.<br /><br />

                                        All passengers, including children, must hold a valid 10-year passport with at least 6 months left to run when you return

                                        from your trip.<br /><br />

                                        Some destinations also require a tourist visa,(Turkey, USA, Egypt, Cuba & Dominican Republic) either prior to or upon arrival.

                                        We recommend that you also check with the relevant embassy or consulate in plenty of time before you are due to travel.

                                        See our FAQs for more details <a href="http://www.teletextholidays.co.uk/Holidays/About/Help" target="_blank">http://www.teletextholidays.co.uk/Holidays/About/Help</a> <br /><br />

                                        Once your booking is confirmed, we’ll send you all the relevant documentation. Please check through the paperwork to

                                        ensure all the details are correct. In particular please make sure all names are spelt correctly and match your passports.

                                        Contact the Customer Support Team immediately if you notice any errors. Charges may be incurred for any changes and

                                        these may increase the longer you leave it to notify us.<br /><br />

                                        Flights booked with a low cost carrier, such as Ryanair, Easyjet or others are 100% non-refundable in accordance with their

                                        terms and conditions.
                                        <br /><br />
                                        Amendments to non-refundable rate hotels are not allowed and cancellations are not permitted.<br /><br />
                                        For Visa and Mastercard the charge is 2.5% and for Amex credit cards, the charge is 3.5% per transaction. Debit cards £2 per

                                        transaction. Airline card charges will be advised to you at the time of booking. Payment will show in your bank account as

                                        Teletext Holidays. However, if we have booked a flight on your behalf directly with the airline you will see two transactions

                                        on your statement one showing the relevant airline name and the other Teletext Holidays.<br /><br />

                                        Hotel ratings are those of the supplier and may differ from the official classification. Some hotels may collect a security

                                        deposit on check-in. Please ensure you have a debit or credit card with you.
                                        <br /><br />
                                        Local taxes & Resort fees: The governments in some countries have introduced local taxes such as city, tourist, departure tax

                                        and resort fees which are payable locally at either the hotel or airport upon arrival/departure. Please note it is not possible to

                                        pay these fees/taxes in advance. For more information please visit our FAQ section on our website <a target="_blank" href="http://www.teletextholidays.co.uk/Holidays/About/Help">http://www.teletextholidays.co.uk/Holidays/About/Help</a>
                                        <br /><br />
                                        Bookings will be subject to our terms and conditions and those of our suppliers. Please ensure you read our terms and

                                        conditions before confirming your holiday at <a target="_blank" href="http://www.teletextholidays.co.uk/Holidays/About/Terms">http://www.teletextholidays.co.uk/Holidays/About/Terms</a> <br /><br />

                                        By confirming your booking you agree on behalf of all persons detailed on the booking that you have read these terms and

                                        conditions and agree to be bound by them; you consent to our use of information in accordance with our Privacy Policy.<br /><br />

                                        Your holiday arrangements are fully financially protected by Travel Trust Association (TTA) and ATOL protected under the

                                        CAA Flight Plus Scheme.<br />

                                        Your confirmation includes your ATOL certificate showing what is protected.

                                        Each element is an individual sale and creates a separate contract between you and the supplier, for whom we act as agent.

                                        We do not sell package holidays under the Package Travel Regulations and consequently your holiday arrangements are not a

                                        package holiday.<br /><br />

                                        For further information on any of the above important notes, please visit following FAQ link <a href="http://www.teletextholidays.co.uk/Holidays/About/Help" target="_blank">http://www.teletextholidays.co.uk/Holidays/About/Help</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-xs-12 text-center share_cust">
                                <input type="button" id="btnConfirm" class="btn btn-lg btn-primary" value="I Agree" />
                                <input type="button" id="btnReject" class="btn btn-lg btn-primary" value="I Reject" />
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="hdnResponce" />
                </div>

            }
            else
            {
                <h2 class="sexp">Link expired..! Please reach agent for more information</h2>
            }
        </div>
    </div>
</body>
</html>
