﻿@using Swordfish.UI.Helpers
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../Assets/fvicon.png" type="image/x-icon">
    <title></title>
    @Styles.Render("~/Content/Chillicss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Slider")
    @Scripts.Render("~/bundles/daterangepicker")    
    @Scripts.Render("~/bundles/menuscript")
    @Scripts.Render("~/bundles/bootPage")
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-messages.min.js"></script>
    <script src="~/Scripts/Custom/Customer/CustomerModule.js"></script>
    <script src="~/Scripts/Custom/Customer/CustomerService.js"></script>
    <script src="~/Scripts/Custom/Customer/CustomerController.js"></script>
</head>
<body>
    <div class="col-lg-12 col-xs-12">
        <div class="row">
            <header id="header">
                <div class="header">
                    <div class="logo col-lg-3 col-xs-3">
                        <img id="headerlogo" src="~/Assets/logo.png" alt="">
                        <span class="icon icon-menu" data-toggle="modal" data-target="#filter_site_map"></span>
                    </div>
                    <div class="col-lg-5 col-xs-5 user_cust_name">
                        <span class="icon icon-user"></span><span class="agent-name">@Html.ActionLink(SFConfiguration.GetUserName().ToString(), "RecentQuotes", "Quote", null, new { @class = "agent-name" })</span>
                        @if (SFConfiguration.GetIncomingCutomerName() != null)
                        {
                            <span class="icon icon-bubble"></span><span class="quote-bubble">@Html.ActionLink(SFConfiguration.GetIncomingCutomerName().ToString(), "CustomerQuotes", "Quote", null, new { @class = "quote-bubble" })</span>                       
                        }
                        else
                        {
                            <span class="icon icon-bubble"></span><span class="quote-bubble">@Html.ActionLink("Customer Name", "CustomerQuotes", "Quote", null, new { @class = "quote-bubble" })</span>
                        }

                       @if (SFConfiguration.GetQuoteCount() != null)
                       { 
                        <span id="quote_count">@SFConfiguration.GetQuoteCount().ToString()</span>
                       }
                    </div>
                    <div class="notifications col-lg-3 col-xs-3">
                        <ul>
                            <li><span class="icon icon-alarm"></span></li>
                            <li><span class="icon icon-envelop"></span></li>
                            <li id="basketIcon"><span class="icon icon-cart"></span></li>
                            <li class="icon icon-switch logout-ico-big" onclick="location.href='@Url.Action("LogOff", "Account")'"></li>
                        </ul>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <div id="wrapepr">
        <div id="agentQuotes">

        </div>
        @*<div id="global-nav">
            <ul>
                <li id="global-nav-logo"><span class="icon icon-home3"></span></li>
                 <li id="global-nav-agent"><span class="icon icon-user"></span><br>Agent <br>name</li>
                    <li id="global-nav-top-customer"><span class="icon icon-bubble"></span><br>Customer <br>name</li> 
                <li id="global-nav-search"><span class="icon icon-search"></span></li>
                <li id="global-nav-filters" class="active"><span class="icon icon-equalizer"></span></li>
                <li id="global-nav-add"><span class="icon icon-plus"></span></li>
                <li id="global-nav-basket"><span class="icon icon-pencil2"></span></li>
                <li id="global-nav-addCustomer"><span class="icon icon-user-plus"></span></li>
            </ul>
        </div>*@
        <input type="hidden" id="hdnSourceFlightWidget1" />
        <!--- Global navigation ends -->
        <!-- Filter Tab Ends Starts Here-->
        <div id="global-data">
            @RenderBody()
        </div>
        <div id="loader" class="container">
            <div class="logo_loader"></div>
        </div>
    </div>
   
    @Html.Partial("_PartialTodaysAction")
    <script>
        $(document).ready(function () {
            $(".act-toggle").click(function(){
                $(".addaction").toggleClass("expand");
                $(".note-actions-wrap").toggleClass("expand");
                if($(".addaction").hasClass("expand")){
                    $(".act-toggle").hide();
                }
            });
            $("#closeAddAction").click(function(){
                $(".addaction").removeClass("expand"); 
                $(".act-toggle").show();
                $("#scrollTask_checkbox").attr('checked', false);
                $("#FixedTask_timer").hide();
                $('#scrollTask_timer').val('');
            });
         
            $('#choutboundFlights').ionRangeSlider({
                type: 'double',
                suffix: "h",
                min: 0,
                max: 24,
                from: 0,
                to: 24,
                step: 1,
                prefix: "h ",
                grid: true,
                onFinish: function (e) {
                    FilterAlternateFlights('Outbound', e.from, e.to);
                }
            });

            $('#chinboundFlights').ionRangeSlider({
                type: 'double',
                suffix: "h",
                min: 0,
                max: 24,
                from: 0,
                to: 24,
                step: 1,
                prefix: "h ",
                grid: true,
                onFinish: function (e) {
                    FilterAlternateFlights('Inbound', e.from, e.to);
                }
            });
        });
        $('#FixedTask_timer').datetimepicker({
            //  viewMode: 'years',
            format: 'DD/MM/YYYY h:mm:ss a'
        });
        //$('#scrollTask_timer').datepicker({
        //    autoUpdateInput: new Date(),

        //    minDate: new Date(),
        //    //  maxDate:ToEndDate,
        //    dateFormat: 'dd/mm/yy',
        //    separator: ' to ',
        //    locale: {
        //        cancelLabel: 'Close'
        //    },
        //    orientation: "top auto",

        //    autoclose: true
        //});
        $("#scrollTask_checkbox").on('change', function () {

            if ($("#scrollTask_checkbox").prop('checked')) {
                $('#scrollTask_timer').val('');
                $("#FixedTask_timer").show();
            } else {
                $("#FixedTask_timer").hide();
            }
        });
        $("#addTaskButton").click(function(){
          
            var check = document.getElementById("scrollTask_checkbox");
            if(check.checked &&( $('#scrollTask_timer').val()==null || $('#scrollTask_timer').val()==''))
            {var reminderdate=$('#scrollTask_timer').val();
                fnOpenAlert("Please select the date");
                return false;
            }
            var tasktext =  $("#addTodaytask").val();
            

            if (tasktext == "") {             
                fnOpenAlert("Please enter today's action data");
                return;
            }else
            {
                var status='new';
                var type='Insert';
                
                inserttodayaction(status,type,tasktext);
                $(".addaction").removeClass("expand"); 
                $(".act-toggle").show();
                $("#scrollTask_checkbox").attr('checked', false);
                $("#FixedTask_timer").hide();
                $('#scrollTask_timer').val('');
            }
           
        });
        $("#ActionComplete").on('click',function(){           
            var id= $(this).attr('id');
            localStorage.clear();
            var type='';
           
            var TextId=$("#paragraph").html();
           
            var text=$("#myModalLabel").html();
            
            var model = {
                TaskPrimaryKeyid: TextId,
                TaskText: id,
                Type: type  ,
                reminder_status:"complete",
                reminder:'0',
                Is_deleted:"0"

            };
            var modeldata = JSON.stringify(model);
           
                       
            AddTodaysAction('POST',modeldata,"OTHER");
                $(".addaction").removeClass("expand"); 
                $(".act-toggle").show();
                $('#myModal').modal('hide');
                $("#"+TextId+"div").remove();
               
           
           
        });
       
        $(".btn btn-default open-task").on('click',function(){
          
            var id= $(this).id();
            var text=id.length;
            var textId=text.split("open",1);
            var text= $("#"+textId).val();  
            $('#myModalLabel').val(text);
            $('#paragraph').val(textId);
          
            $(".addaction").removeClass("expand"); 
            $(".act-toggle").show();
        });
       
        function inserttodayaction(status,type,text)
        {     var tasktext=null;
            if(type=="Insert")
            {
                var tasktext = $("#addTodaytask").val();
            }else{tasktext=text}
           
            if ($("#scrollTask_checkbox").prop('checked')) {
                var reminderDate = $("#scrollTask_timer").val();
                var reminder = 1;
            } else
            {
                var reminder = 0;
                var date = new Date();
                var reminderDate=null;
               
            };
            var model = {
                TaskText: tasktext,
                type: type,
                reminder_status: status,
                reminder: reminder,
                reminderdate:reminderDate

                              
                };
                var modeldata = JSON.stringify(model);
                $.ajax({
                    url: '../Account/InsertUpdateTodaysAction',
                    data: modeldata,
                    type: 'POST',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    cache: false,
                    complete: function () {

                    },success:function(response)
                    {                     
                        $("#addTodaytask").val("");
                        updatescrollbar(response);
                    },complete: function()
                    {
                       
                            AddTodaysAction('Get', "", "OTHER");
                    },
                    error:function (xhr, status, error) {
                        ShowAjaxRequestError(xhr, status, error);
                    }
                });
        } 
        $("#actions").click(function () {
            $("#note-actions").toggleClass("expanded")
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
