﻿
@{
    var timeout = FormsAuthentication.Timeout.TotalMinutes - 1;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../Assets/fvicon.png" type="image/x-icon">
    <title>@ViewBag.Title - Teletext Holidays</title>
    @Styles.Render("~/Content/Chillicss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="navbar-header"> <img src="../Assets/logo-big.png" class="img-responsive" style="margin-left:-28px;" /> </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Teletext Holidays", "DashBoard", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("DashBoard", "DashBoard", "Home")</li>
                        @if (HttpContext.Current.User.IsInRole("Admin"))
                        {
                        <li>@Html.ActionLink("Roles Management", "RolesManagement", "Account")</li> }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; Copy rights reserverd to Teletext Holidays</p>
            </footer>
        </div>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Html.Partial("_PartialTodaysAction");
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
       
         initSession();
     });
     var sess_pollInterval = 30000;
     var sess_expirationMinutes =@timeout;
     var sess_pollInterval = 1000;//30000;
     var sess_expirationMinutes =1000;  @*@timeout;*@
     var sess_warningMinutes = @timeout;
     var sess_intervalID;
     var sess_lastActivity;

     function initSession() {
         sess_lastActivity = new Date();
         sessSetInterval();
         $(document).bind('keypress.session', function (ed, e) {
             sessKeyPressed(ed, e);
         });
     }
     function sessSetInterval() {
         sess_intervalID = setInterval('sessInterval()', sess_pollInterval);
     }
     function sessClearInterval() {
         clearInterval(sess_intervalID);
     }

     function sessKeyPressed(ed, e) {
         sess_lastActivity = new Date();
     }
     function sessLogOut() {
         window.location.href = "/Account/LogOff";
     }
     function sessInterval() {
         var now = new Date();
         //get milliseconds of differneces
         var diff = now - sess_lastActivity;
         //get minutes between differences
         var diffMins = (diff / 1000 / 600);
         if (diffMins > sess_warningMinutes) {
                     sessLogOut();
        }
     }

</script>