﻿<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../Assets/fvicon.png" type="image/x-icon">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Chillicss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
 <div id="loader" class="container">
        <div id="fountainTextG"><div id="fountainTextG_1" class="fountainTextG">L</div><div id="fountainTextG_2" class="fountainTextG">o</div><div id="fountainTextG_3" class="fountainTextG">a</div><div id="fountainTextG_4" class="fountainTextG">d</div><div id="fountainTextG_5" class="fountainTextG">i</div><div id="fountainTextG_6" class="fountainTextG">n</div><div id="fountainTextG_7" class="fountainTextG">g</div><div id="fountainTextG_8" class="fountainTextG">.</div><div id="fountainTextG_9" class="fountainTextG">.</div><div id="fountainTextG_10" class="fountainTextG">.</div>
		</div>
    </div>
	<div class="login_wrapper">
    <div class="container">
                    <div class="navbar-header"> <img src="~/Assets/logo-big.png" class="img-responsive" />@*<span class="icon icon-menu" data-toggle="modal" data-target="#login_site_map"></span>*@ </div>
    </div>
    <div class="container">
        @RenderBody()
    </div> 
	</div>
    <div class="modal fade" id="login_site_map" role="dialog">
        <div class="col-lg-12 col-xs-12">
            <div class="container" id="site_map_container">
                <div class="row" style="height:1100px;">
                    <div class="sitemap_icons_holder">
                        <div id="login_sitemap_img">
                            <img src="~/Assets/logo-big.png">
                            <span class="icon icon-cross pull-right close" data-dismiss="modal"></span>
                        </div>

                        <ul>
                            <li><span class="icon icon-search"></span><br />Search</li>
                            <li><span class="icon icon-pencil2"></span><br />Agent Notes</li>
                            <li><span class="icon icon-cart"></span><br />Basket</li>
                            <li><span class="icon icon-cart"></span><br />Basket</li>
                        </ul>
                        <ul>
                            <li><span class="icon icon-airplane"></span><br />Add Flight</li>
                            <li><span class="icon icon-office"></span><br />Add Hotel</li>
                            <li><span class="icon icon-truck"></span><br />Car Hire</li>
                            <li><span class="icon icon-truck"></span><br />Transfers</li>
                        </ul>
                        <ul>
                            <li><span class="icon icon-users"></span><br />Coustomers</li>
                            <li><span class="icon icon-pencil2"></span><br />Agent Notes</li>
                            <li><span class="icon icon-mail2"></span><br />E-mail</li>
                            <li><span class="icon icon-stats-bars"></span><br />Dash Board</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="alert-wrapper">
        <div class="container-fluid alert-box">
            <div class="container-fluid alert_logo_strip"></div>
            <h4>Sorry information is not avilable</h4>
            <button class="btn btn-default" id="alert_close">Ok</button>
        </div>
    </div>
    <script type="text/javascript">
        function validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@@\*|%&\^$!~`"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
	        return re.test(email);
        }
        function validatePass(pswd){
            var re = new RegExp(/((?=.*\d)(?=.*[A-Z])(?=.*\W).{8,8})/);
            return re.test(pswd);
        }
        function onLogin(){
            var result = false;
            var email = $('#login_email'),
	        password = $('#login_password');
            if (email.val().trim().length == 0) {
                //$('.alert-wrapper').show();
                $('#login_email').addClass('shadow');
            } else if (!validateEmail(email.val().trim())) {
                $('#login_email').addClass('shadow');
            } else if (password.val().trim().length == 0) {
                $('#login_password').addClass('shadow');
            } else if (!validatePass(password.val())) {
                $('.alert-wrapper').show();
                $('.alert-box h4').text('Password should contain atleast 8 characters and  one capital letter, one numeric and one special character');

            } else {
	            result = true;
	        }

	        return result;
        }

        function onForgotPassword() {
            var result = false;

            var forgotEmailval = $('#forgot_password');

            if (forgotEmailval.val().trim().length == 0) {
                $('.alert-wrapper').show();
                $('.alert-box h4').text('Please enter email');
            } else if (!validateEmail(forgotEmailval.val().trim())) {
                $('.alert-wrapper').show();
                $('.alert-box h4').text('Email is not valid');
            }
            else {                
                return result = true;                
            }

            return result;
        }

        function resetPassword() {
            var result = false;
            var email = $('#user_email');
            var password = $('#user_password');
            var confirmpassword = $('#user_confirm_password');

            if (email.val().trim().length == 0) {
                $('.alert-wrapper').show();
                $('.alert-box h4').text('Please enter email');
            } else if (!validateEmail(email.val().trim())) {
                $('.alert-wrapper').show();
                $('.alert-box h4').text('Email is not valid');
            } else if (password.val().trim().length == 0) {
                $('.alert-wrapper').show();
                $('.alert-box h4').text('Please enter password');

            } else if (!validatePass(password.val())) {
                $('.alert-wrapper').show();
                $('.alert-box h4').text("Password should contain atleast 8 characters and  one capital letter, one numeric and one special character");

            } else if (confirmpassword.val().trim().length == 0) {
                $('.alert-wrapper').show();
                $('.alert-box h4').text('Please confirm password');

            }
            else if (password.val().trim() != confirmpassword.val().trim()) {
                $('.alert-wrapper').show();
                $('.alert-box h4').text("Password's doesn't matched.");
            }
            else {
                result = true;
            }

            return result;
        }

        $(document).ready(function () {
            $("#alert_close").click(function () {
                $('.alert-wrapper').hide();
            });
            $('.close_error_summary').click(function () {
               // $('.errror_summery_wrapper').hide();
                $(".errror_summery_wrapper").parent().removeClass("validation-summary-errors").addClass("validation-summary-valid");
            })
            //$('.login_button').on('click', onLogin);
            //$('.reset_button').on('click', resetPassword);
            //$(".forgot_button").on('click', onForgotPassword);

            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
