﻿<div class="addaction">
    <div class="add-actions-wrap">
        <div class="act-toggle"><span class="icon-add" id="add_button">+</span></div>
        <div class="act-transwrp">

            <div class="todays-input">
                @*<span class="pull-right icon icon-cross" id="closeAddAction"></span>*@
                <div class="row">
                    <div class="col-md-4"><input type="text" maxlength="250" class="form-control" id="addTodaytask" placeholder="Enter task" autofocus=""></div>
                    <div class="col-md-5">
                        <div class='input-group date' id='FixedTask_timer' style="display:none;">
                            <input type='text' id="scrollTask_timer" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    @*<div class="col-md-9"><input type="date" maxlength="49" class="form-control" id="scrollTask_timer" style="display:none"></div>*@
                    <div class="col-md-1"><input type="checkbox" maxlength="49" class="form-control" id="scrollTask_checkbox"></div>
                    <div class="col-md-2"><button type="button" class="btn btn-info" id="addTaskButton">Save</button></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="actions">

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
                <p id="paragraph" style="display:none;"></p>
            </div>
            <div class="modal-body" id="myModalLabel">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="ActionComplete">Complete</button>
            </div>
        </div>
    </div>
</div>
<div id="dialog-confirm"></div>

