﻿
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Styles.css" rel="stylesheet" />
<link href="~/Content/Gridmvc.css" rel="stylesheet" />