﻿@model Swordfish.Businessobjects.Membership.UserInfo

<span class="icon icon-cross icon-cros pull-right" id="close_agetnprofile" onclick="CloseAgentProfile()"></span>
<div class="agent-det">
    <div class="row ag-head">
        <div class="col-lg-12 col-xs-12">
            <h3>Agent Profile</h3>
        </div>
    </div>
    <div class="row ag-body">
        <div class="col-lg-12 col-xs-12">
            <div class="ag-body-wrap">
                <div class="row">
                    <div class="col-lg-3 col-sm-3 rt-pad">
                        <div class="row">
                            <div class="col-lg-12 col-xs-12"><p class="ag-pic"><img src=.\@Model.Imagepath  /></p></div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-sm-9 lt-border lt-pad">
                        <div class="row">
                            <div class="col-lg-3 col-xs-6"><p class="lbl">Alias </p></div>
                            <div class="col-lg-3 col-xs-6"><p class="lbl" id="lblAlias">:@Model.FirstName   </p></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-xs-6"><p class="lbl">Fisrt Name </p></div>

                            <div class="col-lg-3 col-xs-6">
                                <p class="lbl" id="lblFirstName">              
                                     :@Model.FirstName                                  
                                </p>
                            </div>
                            <div class="col-lg-3 col-xs-6"><p class="lbl">Last Name</p></div>
                            <div class="col-lg-3 col-xs-6"><p class="lbl" id="lblLastName">:@Model.LastName </p></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-xs-6"><p class="lbl">Extension </p></div>
                            <div class="col-lg-3 col-xs-6"><p class="lbl" id="lblExtension">:@Model.MobileNumber</p></div>
                            <div class="col-lg-3 col-xs-6"><p class="lbl">Tier</p></div>
                            <div class="col-lg-3 col-xs-6"><p class="lbl" id="lblTier">:@Model.TierName &pound;(@Model.TierDescription)</p></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-xs-5"><p class="lbl">Margin </p></div>
                            <div class="col-lg-7 col-xs-7"><p class="lbl" id="lblMargin">:&pound;(@Model.TierDescription) </p></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-xs-5"><p class="lbl">Team </p></div>
                            <div class="col-lg-7 col-xs-7"><p class="lbl" id="lblTeam">:@Model.TeamName </p></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-xs-5"><p class="lbl">E-mail </p></div>
                            <div class="col-lg-7 col-xs-7"><p class="lbl" id="lblEmail">:@Model.Username </p></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-xs-5"><p class="lbl">Reports to </p></div>
                            <div class="col-lg-7 col-xs-7"><p class="lbl" id="lblReportsTo">:@Model.FirstName </p></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-xs-5"><p class="lbl">Last logged in</p></div>
                            <div class="col-lg-7 col-xs-7"><p class="lbl" id="lblLastLoggedIn">:@Model.LastLoginDate</p></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-xs-5"><p class="lbl">Special</p></div>
                            <div class="col-lg-5 col-xs-5"><p class="lbl" id="lblSpecial">:@Model.Special</p></div>
                        </div>
                        <div class="row">
                            @*<div class="col-lg-4 col-xs-4 norpad"><p class="lbl"><a class="btn btn-default btns-primary" id="btnFlightonly" name="btnFlightonly">Save</a></p></div>
                                <div class="col-lg-4 col-xs-4 norpad"><p class="lbl"><a class="btn btn-default btns-primary" id="btnClose" name="btnClose">Close</a></p></div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

