﻿@model System.Web.Mvc.HandleErrorInfo
@{

    ViewBag.Title = "Error";  
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <h2 style="color:#fff">
        An error occurred while processing your request.
    </h2><br />
    @{
        if (@Model != null && @Model.Exception != null)
        {
            string stackTrace = string.Empty;
            string ErrMsg = string.Empty;
            if (@Model.Exception.InnerException == null)
            {
                ErrMsg = @Model.Exception.Message;
                stackTrace = @Model.Exception.StackTrace;
            }
            else
            {
                ErrMsg = ErrMsg + @Model.Exception.InnerException.Message;
                stackTrace = stackTrace + @Model.Exception.InnerException.StackTrace;
            }
            <h3 style="color:#fff">Error: @ErrMsg</h3><br />
            <h4 style="color:#fff">Stack: @stackTrace</h4><br />
        }
        else
        {
            <h4 style="color:#fff">Please contact the support team for further assistance!!</h4>
        }
    }
</body>
</html>