﻿@model Swordfish.Businessobjects.Quotes.QuoteCommunication
@{
    ViewBag.Title = "GenericEmailTemplate";
}
<html>
<head>
    <title></title>
</head>
<body>
    @foreach (var keys in Model.quoteDictionary)
    {
        @keys.Value
    }
</body>
</html>

