﻿<div class="filtersContents">
    <h4>Filter Results</h4>
    <div id="hotel-filter">
        <div class="form-group">
            <input type="text" class="form-control" id="hotel-name-flter" placeholder="Hotel Name">
        </div>
    </div>
    <br />
    <div id="trip-score-filter">
        <div class="form-group">
            <p class="pull-left" style="margin-right:10px;">TripAdvisor Rating</p><img src="../Assets/view.png" width="60" style="opacity:0.9" /><br>
            <input type="hidden" id="userRating" class="slider-input" value="0,5" />
        </div>
    </div>
    <div id="board-type-filter" class="row">
        <div class="col-lg-12 col-md-12 clpsheading" data-toggle="collapse" data-target="#boardTypesClps"><p>Board Type</p></div>
        <div class="col-lg-12 col-md-12 collapse in" id="boardTypesClps">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <div class="checkbox" id="boardTypes">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rating-filter" class="row">
        <div class="col-lg-12 col-md-12 clpsheading" data-toggle="collapse" data-target="#StarRatingClps"><p>Star Rating</p></div>
        <div class="col-lg-12 col-md-12 collapse in" id="StarRatingClps">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <div class="checkbox" id="starRating">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="price-per-heading" class="col-lg-12 col-md-12 clpsheading" data-toggle="collapse" data-target="#PricePersonClps"><p>Price per person</p></div>
        <div class="col-lg-12 col-md-12  collapse in" id="PricePersonClps">
            <div id="price-per-person-filter">
                <div class="form-group">
                    <input type="hidden" id="pricePerPerson" class="slider-input" value="25,75" />
                </div>
            </div>
            <br>
            <div id="outbound-flight-filter">
                <div class="form-group">
                    <p>Outbound Timings </p>
                    <input type="hidden" id="outboundFlights" class="slider-input" value="25,75" />
                </div>
            </div>
            <br />
            <div id="inbound-flight-filter">
                <div class="form-group">
                    <p>Inbound Timings</p>
                    <input type="hidden" id="inboundFlights" class="slider-input" value="25,75" />
                </div>
            </div>
        </div>
    </div>
    <div id="near-airport-filter" class="row">
        <div class="col-lg-12 col-md-12 clpsheading" data-toggle="collapse" data-target="#DepatureClps"><p>Departure Airport</p></div>
        <div class="col-lg-12 col-md-12 collapse in" id="DepatureClps">
            <div class="row">
                <span id="dept_airport_wrapper"><img src="../Assets/loader.gif" width="40" /></span>                
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <div class="checkbox" id="depatureFlight">
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="resort-filter" class="row">
        <div class="col-lg-12 col-md-12 clpsheading" data-toggle="collapse" data-target="#ResortsClps"><p>Resorts</p></div>
        <div class="col-lg-12 col-md-12" id="ResortsClps">
            <div class="row">
                @*<div class="dept_airport_wrapper">
                    <div id="circularG">
                        <div id="circularG_1" class="circularG"></div>
                        <div id="circularG_2" class="circularG"></div>
                        <div id="circularG_3" class="circularG"></div>
                        <div id="circularG_4" class="circularG"></div>
                        <div id="circularG_5" class="circularG"></div>
                        <div id="circularG_6" class="circularG"></div>
                        <div id="circularG_7" class="circularG"></div>
                        <div id="circularG_8" class="circularG"></div>
                    </div>
                </div>*@
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <div class="checkbox" id="resortName">

                            @*<label>
                                <input type="checkbox" resortname="Heathrow Hotel Bath Road"> Heathrow Hotel Bath Road
                            </label>
                            <span class="pricetag1">&pound;1815</span>
                            <label>
                                <input type="checkbox" resortname="Generator Hotel London"> Generator Hotel London
                            </label>
                            <span class="pricetag1">&pound;285</span>
                            <label>
                                <input type="checkbox" resortname="Jesmond Dene Hotel"> Jesmond Dene Hotel
                            </label>
                            <span class="pricetag1">&pound;385</span>
                            <label>
                                <input type="checkbox" resortname="Ibis London Heathrow"> Ibis London Heathrow
                            </label>
                            <span class="pricetag1">&pound;185</span>
                            <label>
                                <input type="checkbox" resortname="Al Murooj Rotana"> Al Murooj Rotana
                            </label>
                            <span class="pricetag1">&pound;1125</span>*@
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>