﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <h2 style="color:#fff">
       
    </h2>
    @{
        
            <h4 style="color:#fff">Session Time Out, Please Login again</h4>
        
    }
</body>
</html>