﻿
<div class="col-lg-12 col-xs-12" id="site_map">
    <div class="row">
        <div class="container sitemap_icons_holder">
            <ul>
                <li><span class="icon icon-search"></span><br />Search</li>
                <li><span class="icon icon-pencil2"></span><br />Agent Notes</li>
                <li><span class="icon icon-cart"></span><br />Basket</li>
                <li><span class="icon icon-cart"></span><br />Basket</li>
            </ul>
            <ul>
                <li><span class="icon icon-airplane"></span><br />Add Flight</li>
                <li><span class="icon icon-office"></span><br />Add Hotel</li>
                <li><span class="icon icon-truck"></span><br />Car Hire</li>
                <li><span class="icon icon-truck"></span><br />Transfers</li>
            </ul>
            <ul>
                <li><span class="icon icon-users"></span><br />Coustomers</li>
                <li><span class="icon icon-pencil2"></span><br />Agent Notes</li>
                <li><span class="icon icon-mail2"></span><br />E-mail</li>
                <li><span class="icon icon-stats-bars"></span><br />Dash Board</li>
            </ul>
        </div>
    </div>
</div>