﻿@model ModelStateDictionary
<div class="@(Html.ViewData.ModelState.IsValid ? "validation-summary-valid" : "validation-summary-errors")" data-valmsg-summary="true">
    <div class="errror_summery_wrapper">
        <div class="container-fluid errror_summery_container">
            <span class="icon icon-cross pull-right close_error_summary"></span>
            <h3>Error Summary</h3>
            <div class="error_container">
                <ul>
                    @foreach (var modelError in Model.SelectMany(keyValuePair => keyValuePair.Value.Errors))
                    {
                        <li class="validateli"><span class='icon icon-warning pull-left'></span><p class='pull-left summary_mesg'>@modelError.ErrorMessage</p></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div> 