﻿<div id="basketid" ng-controller="basketCtrl" ng-init="">
    <!--<div class="row">
        <div class="col-xs-9 norightpadd">
            <a href="#" class="btn btn-info col-xs-12">Refresh Costs</a>
        </div>

        <div class="col-xs-3 text-right expbskt">
            <i ng-click="bsExpand()" class="fa fa-expand" ng-class="{'fa-compress': bsExpanded, 'fa-expand': !bsExpanded}"></i>
        </div>
    </div>-->
    <div class="search-col-space-small"></div>
    <div>
        <div class="row">
            <div class="col-xs-9">
                <div class="quote-ref-id" ng-show="basket.quoteReference"><strong>Quote Ref: {{basket.quoteReference}}</strong></div>
            </div>
            <div class="col-xs-3 text-right expbskt">
                <i ng-click="bsExpand()" class="fa fa-expand" ng-class="{'fa-compress': bsExpanded, 'fa-expand': !bsExpanded}"></i>
            </div>
        </div>
        <div class="search-col-space bot-border"></div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <strong>
                Occupancy:
                <span>{{::basket.searchModel.Adults}}A</span>,
                <span>{{::basket.searchModel.Child}}C</span>,
                <span>{{::basket.searchModel.Infants}}I</span>
            </strong>
        </div>
    </div>
    <div class="search-col-space bot-border"></div>
   <div id="basket_details_v2" ng-scrollbars>
       <div class="row" ng-controller="panelCtrl">
           <div class="col-xs-1 col-md-1 col-lg-1 tog-acc-icon">
               <span ng-click="toggle()" class="glyphicon" ng-class="(!isExpanded) ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>
           </div>
           <div class="col-xs-9 col-md-9 col-lg-10 noleftpadd  basket-ttl">
               <strong>Flights</strong>
           </div>
           <div class="col-xs-12 tophdspace panel-collapse collapse" ng-class="{'in': !isExpanded}" role="tabpanel" ng-show="basket.flightsReturn.$$hashKey">
               <div class="row">
                   <div class="col-xs-9">
                       <strong>Outbound:</strong>
                   </div>
                   <div class="col-xs-3 text-right">
                       <a class="reset-search" href="#" ng-controller="flightCtrl" ng-click="removeReturnFlight()"><i class="fa fa-trash-o"></i></a>
                   </div>
               </div>
               <div class="row smallmargin search-col-space" ng-show="basket.flightsReturn.$$hashKey && basket.flightsReturn.OutBoundStopsCount == 0">
                   <div class="col-xs-4 smallpadd">
                       Route
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{basket.flightsReturn.OutboundFlightFrom}}-{{basket.flightsReturn.OutboundFlightTo}}
                   </div>
                   <div class="col-xs-4 smallpadd">
                       Flight
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{basket.flightsReturn.OutBoundFlightName}}, {{basket.flightsReturn.OutBoundFlightNumber}}
                   </div>

                   <div class="col-xs-4 smallpadd">
                       Dept
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{basket.flightsReturn.OutboundDepartureTimeV}}
                   </div>

                   <div class="col-xs-4 smallpadd">
                       Arr
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{basket.flightsReturn.OutboundArrivalTimeV}}
                   </div>
               </div>
               <div class="row smallmargin search-col-space" ng-show="basket.flightsReturn.$$hashKey && basket.flightsReturn.OutBoundStopsCount > 0" ng-repeat="obStop in basket.flightsReturn.OutBoundStopPoints">
                   <div class="col-xs-4 smallpadd">
                       Route
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{obStop.StopAirportCode}}-{{obStop.NextStopAirportCode}}
                   </div>
                   <div class="col-xs-4 smallpadd">
                       Flight
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{obStop.FlightName}}, {{obStop.FlightNumber}}
                   </div>

                   <div class="col-xs-4 smallpadd">
                       Dept
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{obStop.DepartureDateTimeV}}
                   </div>

                   <div class="col-xs-4 smallpadd">
                       Arr
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{obStop.NextStopArrrivalDateTimeV}}
                   </div>
               </div>

               <div class="row">
                   <div class="col-xs-9">
                       <strong>Inbound:</strong>
                   </div>
                   <div class="col-xs-3 text-right">
                       <a class="reset-search" href="#" ng-controller="flightCtrl" ng-click="removeReturnFlight()"><i class="fa fa-trash-o"></i></a>
                   </div>
               </div>
               <div class="row smallmargin  search-col-space" ng-show="basket.flightsReturn.$$hashKey && basket.flightsReturn.InBoundStopsCount == 0">
                   <div class="col-xs-4 smallpadd">
                       Route
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{basket.flightsReturn.InboundFlightFrom}}-{{basket.flightsReturn.InboundFlightTo}}
                   </div>

                   <div class="col-xs-4 smallpadd">
                       Flight
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{basket.flightsReturn.InBoundFlightName}}, {{basket.flightsReturn.InBoundFlightNumber}}
                   </div>
                   <div class="col-xs-4 smallpadd">
                       Dept
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{basket.flightsReturn.InboundDepartureTimeV}}
                   </div>
                   <div class="col-xs-4 smallpadd">
                       Arr
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{basket.flightsReturn.InboundArrivalTimeV}}
                   </div>
               </div>
               <div class="row smallmargin  search-col-space" ng-show="basket.flightsReturn.$$hashKey && basket.flightsReturn.InBoundStopsCount > 0" ng-repeat="obStop in basket.flightsReturn.InBoundStopPoints">
                   <div class="col-xs-4 smallpadd">
                       Route
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{obStop.StopAirportCode}}-{{obStop.NextStopAirportCode}}
                   </div>

                   <div class="col-xs-4 smallpadd">
                       Flight
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{obStop.FlightName}}, {{obStop.FlightNumber}}
                   </div>
                   <div class="col-xs-4 smallpadd">
                       Dept
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{obStop.DepartureDateTimeV}}
                   </div>
                   <div class="col-xs-4 smallpadd">
                       Arr
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{obStop.NextStopArrrivalDateTimeV}}
                   </div>
               </div>
           </div>
           <div class="col-xs-12 tophdspace panel-collapse collapse" ng-class="{'in': !isExpanded}" role="tabpanel" ng-show="basket.flightsOneWayOutBound.$$hashKey">
               <div class="row">
                   <div class="col-xs-9">
                       <strong>Outbound:</strong>
                   </div>
                   <div class="col-xs-3 text-right">
                       <a class="reset-search" href="#" ng-controller="flightCtrl" ng-click="removeOutBoundFlight()"><i class="fa fa-trash-o"></i></a>
                   </div>
               </div>
               <div class="row smallmargin search-col-space" ng-show="basket.flightsOneWayOutBound.$$hashKey && basket.flightsOneWayOutBound.OutBoundStopsCount == 0">
                   <div class="col-xs-4 smallpadd">
                       Route
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{basket.flightsOneWayOutBound.OutboundFlightFrom}}-{{basket.flightsOneWayOutBound.OutboundFlightTo}}
                   </div>
                   <div class="col-xs-4 smallpadd">
                       Flight
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{basket.flightsOneWayOutBound.AirLaneName}}, {{basket.flightsOneWayOutBound.OutBoundFlightNumber}}
                   </div>

                   <div class="col-xs-4 smallpadd">
                       Dept
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{basket.flightsOneWayOutBound.OutboundDepartureTimeV}}
                   </div>

                   <div class="col-xs-4 smallpadd">
                       Arr
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{basket.flightsOneWayOutBound.OutboundArrivalTimeV}}
                   </div>
               </div>
               <div class="row smallmargin search-col-space" ng-show="basket.flightsOneWayOutBound.OutBoundStopsCount > 0" ng-repeat="obStop in basket.flightsOneWayOutBound.OutBoundStopPoints">
                   <div class="col-xs-4 smallpadd">
                       Route
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{obStop.StopAirportCode}}-{{obStop.NextStopAirportCode}}
                   </div>
                   <div class="col-xs-4 smallpadd">
                       Flight
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{obStop.FlightName}}, {{obStop.FlightNumber}}
                   </div>

                   <div class="col-xs-4 smallpadd">
                       Dept
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{obStop.DepartureDateTimeV}}
                   </div>

                   <div class="col-xs-4 smallpadd">
                       Arr
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{obStop.NextStopArrrivalDateTimeV}}
                   </div>
               </div>
           </div>
           <div class="col-xs-12 tophdspace panel-collapse collapse" ng-class="{'in': !isExpanded}" role="tabpanel" ng-show="basket.flightsOneWayInBound.$$hashKey">
               <div class="row">
                   <div class="col-xs-9">
                       <strong>Inbound:</strong>
                   </div>
                   <div class="col-xs-3 text-right">
                       <a class="reset-search" href="#" ng-controller="flightCtrl" ng-click="removeInBoundFlight()"><i class="fa fa-trash-o"></i></a>
                   </div>
               </div>
               <div class="row smallmargin  search-col-space" ng-show="basket.flightsOneWayInBound.$$hashKey && basket.flightsOneWayInBound.InBoundStopsCount == 0">
                   <div class="col-xs-4 smallpadd">
                       Route
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{basket.flightsOneWayInBound.InboundFlightFrom}}-{{basket.flightsOneWayInBound.InboundFlightTo}}
                   </div>

                   <div class="col-xs-4 smallpadd">
                       Flight
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{basket.flightsOneWayInBound.AirLaneName}}, {{basket.flightsOneWayInBound.InBoundFlightNumber}}
                   </div>
                   <div class="col-xs-4 smallpadd">
                       Dept
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{basket.flightsOneWayInBound.InboundDepartureTimeV}}
                   </div>
                   <div class="col-xs-4 smallpadd">
                       Arr
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{basket.flightsOneWayInBound.InboundArrivalTimeV}}
                   </div>
               </div>
               <div class="row smallmargin  search-col-space" ng-show="basket.flightsOneWayInBound.$$hashKey && basket.flightsOneWayInBound.InBoundStopsCount > 0" ng-repeat="obStop in basket.flightsOneWayInBound.InBoundStopPoints">
                   <div class="col-xs-4 smallpadd">
                       Route
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{obStop.StopAirportCode}}-{{obStop.NextStopAirportCode}}
                   </div>

                   <div class="col-xs-4 smallpadd">
                       Flight
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{obStop.FlightName}}, {{obStop.FlightNumber}}
                   </div>
                   <div class="col-xs-4 smallpadd">
                       Dept
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{obStop.DepartureDateTimeV}}
                   </div>
                   <div class="col-xs-4 smallpadd">
                       Arr
                   </div>
                   <div class="col-xs-8 smallpadd">
                       : {{obStop.NextStopArrrivalDateTimeV}}
                   </div>
               </div>
           </div>
       </div>
       <div class="search-col-space bot-border"></div>

       <div class="row" ng-controller="panelCtrl">
           <div class="col-xs-1 col-md-1 col-lg-1 tog-acc-icon">
               <span ng-click="toggle()" class="glyphicon" ng-class="(!isExpanded) ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>
           </div>
           <div class="col-xs-9 col-md-9 col-lg-10 noleftpadd  basket-ttl">
               <strong>Accommodation</strong>
           </div>
           <div class="col-xs-12 tophdspace panel-collapse collapse" ng-class="{'in': !isExpanded}" role="tabpanel" ng-show="basket.hotel.TTIcode||basket.hotel.HotelName">
               <div class="row">
                   <div class="col-xs-10">
                       <strong>{{basket.hotel.HotelName}}</strong><br />
                       <span>{{basket.hotel.ResortName}}, {{basket.hotel.HotelCity}}</span><br />
                       <span>Check-In: {{basket.hotel.checkIn | date:'dd/MM/yyyy'}}</span><br />
                       <span>Check-Out: {{basket.hotel.checkOut | date:'dd/MM/yyyy'}}</span><br />
                       <span>{{basket.hotel.nights}}nts</span>, <span>{{basket.hotel.PAXCount.AdultsCount}}A,{{basket.hotel.PAXCount.ChildCount}}C,{{basket.hotel.PAXCount.InfantCount}}I</span>
                   </div>
                   <div class="col-xs-2 text-right pull-right">
                       <a class="reset-search" href="#" ng-controller="hotelCtrl" ng-click="removeHotel();"><i class="fa fa-trash-o"></i></a>
                   </div>
               </div>
               <div class="row smallmargin">
                   <div class="col-xs-12 smallpadd norightpadd rtbt"><strong>Room Type</strong></div>
                   <div class="search-col-space"></div>
               </div>
               <div class="row " ng-repeat="room in basket.hotel.roomsInfo">
                   <div class="col-xs-12 rtbt">

                       Room {{$index+1}} - {{room.adultsCount}}A,{{room.childCount}}C,{{room.infantCount}}I
                       <div class="search-col-space-small"></div>
                   </div>
               </div>
               <div class="row smallmargin">
                   <div class="col-xs-12  smallpadd"> <strong>Board Type</strong></div>
                   <div class="search-col-space"></div>
               </div>
               <div class="row "><!--ng-repeat="room in basket.hotel.roomsInfo"--> <!--Rmoved because of multiple times are displaying-->
                   <div class="col-xs-12 rtbt">
                       <div class="row text-left">
                           <div class="col-xs-12 norightpadd">{{basket.hotel.roomsInfo[0].roomType}}, &nbsp; {{basket.hotel.roomsInfo[0].boardType}} </div>
                       </div>
                       <div class="search-col-space-small dot-bot-border"></div>
                   </div>
               </div>
           </div>
       </div>
       <div class="search-col-space bot-border"></div>
       <div class="row" ng-controller="panelCtrl">
           <div class="col-xs-1 col-md-1 col-lg-1 tog-acc-icon">
               <span ng-click="toggle()" class="glyphicon" ng-class="(!isExpanded) ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>
           </div>
           <div class="col-xs-6 col-md-7 col-lg-8 noleftpadd  basket-ttl">
               <strong>Transfers </strong>
           </div>
           <div class="col-xs-12 tophdspace panel-collapse collapse" ng-class="{'in': !isExpanded}" role="tabpanel" ng-show="basket.transfers.transfers.$$hashKey">
               <div class="row">
                   <div class="col-xs-9">
                       <strong>{{basket.transfers.transfers.general[0].producttype}} | {{'Return'}}</strong><br />
                       <span>Duration : {{basket.transfers.transfers.general[0].transfertime}} min</span><br />
                       <span>
                           {{basket.transfers.transfers.general[0].minpax}}-{{basket.transfers.transfers.general[0].maxpax}} <i class="fa fa-user"></i>   &nbsp; | &nbsp;
                           {{basket.transfers.transfers.general[0].luggage}} <i class="fa fa-briefcase"></i>
                       </span><br />
                       <span ng-show="basket.transfers.transfers.general[0].luggage>0">Quantity: {{basket.transfers.transfers.pricing[0].prices[0].units}}</span>
                   </div>
                   <div class="col-xs-3 text-right">
                       <a class="reset-search" href="#" ng-controller="transfersCtrl" ng-click="removeTransfers()"><i class="fa fa-trash-o"></i></a>
                   </div>
               </div>

           </div>
       </div>  
       <div class="search-col-space bot-border"></div>
       <div class="row" ng-controller="panelCtrl">
           <div class="col-xs-1 col-md-1 col-lg-1 tog-acc-icon">
               <span ng-click="toggle()" class="glyphicon" ng-class="(!isExpanded) ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>
           </div>
           <div class="col-xs-9 col-md-9 col-lg-10 noleftpadd  basket-ttl">
               <strong>Baggage</strong>
           </div>

           <div class="col-xs-12 tophdspace panel-collapse collapse" ng-class="{'in': !isExpanded}" role="tabpanel">
               <div class="row" ng-show="basket.isContainBags">
                   <div class="col-xs-12" ng-show="basket.baggage.isTwoWay">
                       <div class="row">
                           <div class="col-xs-12"> <strong>Round Trip</strong></div>
                           <div class="col-xs-12" ng-repeat="selectedItem in basket.baggage.selectedRoundTripBaggage | orderBy:'passengerIndex':false">
                               <div class="row">
                                   <strong class="col-xs-7">Passenger {{selectedItem.passengerIndex}}</strong>
                                   <div class="col-xs-5 text-right">
                                       <a class="reset-search" href="#"><i class="fa fa-trash-o" ng-click="DeleteSelectedBaggage(selectedItem.passengerIndex,'Twoway')"></i></a>
                                   </div>
                               </div>
                               <div class="row" ng-repeat="slabItem in selectedItem.baggage.slab">
                                   <span class="col-xs-7">{{slabItem.Description}}</span> <span class="col-xs-5 text-right">£{{slabItem.SellingPricePence | number:2}}</span><br />
                               </div>
                               <div class="row" ng-repeat="slabItem in selectedItem.weight.slab">
                                   <span class="col-xs-7">{{slabItem.Description}}</span> <span class="col-xs-5 text-right">£{{slabItem.SellingPricePence | number:2}}</span><br />
                               </div>
                               <div class="row" ng-repeat="slabItem in selectedItem.sportsEquipment.slab">
                                   <span class="col-xs-7">{{slabItem.Description}}</span> <span class="col-xs-5 text-right">£{{slabItem.SellingPricePence | number:2}}</span><br />
                               </div>

                           </div>
                       </div>
                   </div>
                   <div ng-hide="basket.baggage.isTwoWay">
                       <div class="col-xs-12"><strong> Outbound baggage</strong></div>
                       <div class="col-xs-12" ng-repeat="selectedItem in basket.baggage.OutboundSelectedBaggage | orderBy:'passengerIndex':false">
                           <div class="row">
                               <strong class="col-xs-7">Passenger {{selectedItem.passengerIndex}}</strong>
                               <div class="col-xs-5 text-right">
                                   <a class="reset-search" href="#"><i class="fa fa-trash-o" ng-click="DeleteSelectedBaggage(selectedItem.passengerIndex,'Outbound')"></i></a>
                               </div>
                           </div>
                           <div class="row" ng-repeat="slabItem in selectedItem.baggage.slab">
                               <span class="col-xs-7">{{slabItem.Description}}</span> <span class="col-xs-5 text-right">£{{slabItem.SellingPricePence | number:2}}</span><br />
                           </div>
                           <div class="row" ng-repeat="slabItem in selectedItem.weight.slab">
                               <span class="col-xs-7">{{slabItem.Description}}</span> <span class="col-xs-5 text-right">£{{slabItem.SellingPricePence | number:2}}</span><br />
                           </div>
                           <div class="row" ng-repeat="slabItem in selectedItem.sportsEquipment.slab">
                               <span class="col-xs-7">{{slabItem.Description}}</span> <span class="col-xs-5 text-right">£{{slabItem.SellingPricePence | number:2}}</span><br />
                           </div>

                       </div>
                       <div class="col-xs-12 tophdspace"><strong>Inbound baggage</strong> </div>
                       <div class="col-xs-12" ng-repeat="selectedItem in basket.baggage.inboundSelectedBaggage | orderBy:'passengerIndex':false">
                           <div class="row">
                               <strong class="col-xs-7">Passenger {{selectedItem.passengerIndex}}</strong>
                               <div class="col-xs-5 text-right">
                                   <a class="reset-search" href="#"><i class="fa fa-trash-o" ng-click="DeleteSelectedBaggage(selectedItem.passengerIndex,'Inbound')"></i></a>
                               </div>
                           </div>
                           <div class="row" ng-repeat="slabItem in selectedItem.baggage.slab">
                               <span class="col-xs-7">{{slabItem.Description}}</span> <span class="col-xs-5 text-right">£{{slabItem.SellingPricePence | number:2}}</span><br />
                           </div>
                           <div class="row" ng-repeat="slabItem in selectedItem.weight.slab">
                               <span class="col-xs-7">{{slabItem.Description}}</span> <span class="col-xs-5 text-right">£{{slabItem.SellingPricePence | number:2}}</span><br />
                           </div>
                           <div class="row" ng-repeat="slabItem in selectedItem.sportsEquipment.slab">
                               <span class="col-xs-7">{{slabItem.Description}}</span> <span class="col-xs-5 text-right">£{{slabItem.SellingPricePence | number:2}}</span><br />
                           </div>
                       </div>
                   </div>
                   <br />
               </div>
               <br />
           </div>
       </div>
       <div class="search-col-space bot-border"></div>
       <div class="row">
           <div class="col-xs-12  basket-ttl">
               <strong>Basket Total</strong>
           </div>
       </div>
       <div class="row tophdspace">
           <div class="col-xs-7">
               <strong>Flights</strong>
           </div>
           <div class="col-xs-5 text-right">

           </div>
       </div>
       <div class="row tophdspace">
           <div class="col-xs-8" ng-show="basket.flightsReturn.$$hashKey">
               {{basket.flightsReturn.OutboundFlightFrom}}-{{basket.flightsReturn.OutboundFlightTo}} (Round Trip)
           </div>
           <div class="col-xs-8" ng-show="basket.flightsOneWayOutBound.$$hashKey">
               {{basket.flightsOneWayOutBound.OutboundFlightFrom}}-{{basket.flightsOneWayOutBound.OutboundFlightTo}} (Outbound)
           </div>
           <div class="col-xs-4 text-right" ng-show="basket.flightsReturn.$$hashKey">
               &pound;{{basket.flightsReturn.FlightFare | number:2 }}
           </div>
           <div class="col-xs-4 text-right" ng-show="basket.flightsOneWayOutBound.$$hashKey">
               &pound;{{ basket.flightsOneWayOutBound.FlightFare | number:2 }}
           </div>
       </div>
       <div class="row tophdspace">
           <!--<div class="col-xs-8" ng-show="basket.flightsReturn.$$hashKey">
            {{basket.flightsReturn.InboundFlightFrom}}-{{basket.flightsReturn.InboundFlightTo}} (Inbound)
        </div>-->
           <div class="col-xs-8" ng-show="basket.flightsOneWayInBound.$$hashKey">
               {{basket.flightsOneWayInBound.InboundFlightFrom}}-{{basket.flightsOneWayInBound.InboundFlightTo}} (Inbound)
           </div>
           <div class="col-xs-4 text-right" ng-show="basket.flightsOneWayInBound.$$hashKey">
               &pound;{{ basket.flightsOneWayInBound.FlightFare | number:2}}
           </div>
       </div>
       <div class="search-col-space-tb dot-bot-border"></div>
       <div class="row">
           <div class="col-xs-7">
               Hotel
           </div>
           <div class="col-xs-5 text-right">
               <span ng-show="basket.hotel.AmountAfterTax">&pound;{{basket.hotel.AmountAfterTax | number:2}}</span>
               <span ng-hide="basket.hotel.AmountAfterTax">&pound;0.00</span>
           </div>
       </div>
       <div class="search-col-space-tb dot-bot-border"></div>
       <div class="row">
           <div class="col-xs-7">
               Baggage
           </div>
           <div class="col-xs-5 text-right">
               &pound;{{basket.baggage.totalPrice|number:2}}
           </div>
       </div>
       <div class="search-col-space-tb dot-bot-border"></div>
       <div class="row">
           <div class="col-xs-7">
               Transfers
           </div>
           <div class="col-xs-5 text-right">
               <span ng-show="basket.transfers.transfers.pricing[0].totalPrice">
                   &pound;{{basket.transfers.transfers.pricing[0].totalPrice | number:2}}
               </span>
               <span ng-hide="basket.transfers.transfers.pricing[0].totalPrice">&pound;0.00</span>
           </div>
       </div>
       <div class="search-col-space-tb dot-bot-border"></div>
       <div class="row">
           <div class="col-xs-7">
               Fidelity
           </div>
           <div class="col-xs-5 text-right">
               &pound;{{basket.fidelityVal| number:2}}
           </div>
       </div>
       <div class="search-col-space-tb dot-bot-border"></div>
       <div class="row">
           <div class="col-xs-7">
               <strong>Total</strong>
           </div>
           <div class="col-xs-5 text-right">

               <br /><strong>&pound;{{((basket.hotel.AmountAfterTax | number:2 | convertToDecimal) + (basket.flightsReturn.FlightFare | number:2 | convertToDecimal) + (basket.flightsOneWayOutBound.FlightFare | number:2 | convertToDecimal) + (basket.flightsOneWayInBound.FlightFare | number:2 | convertToDecimal)+(basket.baggage.totalPrice | number:2 | convertToDecimal) +(basket.transfers.transfers.pricing[0].totalPrice | number:2 | convertToDecimal )+(basket.fidelityVal| number:2 | convertToDecimal)) | number:2}}</strong>
           </div>
       </div>
       <div class="search-col-space bot-border"></div>

       <div class="row">
           <div class="col-xs-12  basket-ttl">
               <strong>Add Margin</strong>
           </div>
       </div>
       <div class="row spncwrp tophdspace" ng-controller="spinCounterCtrl">
           <div class="col-xs-6 fight-sm-text">Margin Hotel</div>
           <div class="col-lg-6 noleftpadd tspn fight-sm-text">
               <input type="text" value="0" prefix="£" ng-model="basket.marginHotelVal" min="{{basket.userInfo.MarginHotelMin}}" max="{{basket.userInfo.MarginHotelMax}}" step="1" ng-touch-spin dirtyflag="{{basket.isDirty}}">
           </div>
       </div>
       <div class="row spncwrp" ng-controller="spinCounterCtrl" >
           <div class="col-xs-6 fight-sm-text">Margin Flight</div>
           <div class="col-lg-6 noleftpadd tspn fight-sm-text flg-mrg pointerEventsDisable" >
               <input type="text" value="0" prefix="£" ng-model="basket.marginFlighVal" min="{{basket.userInfo.MarginFlightMin}}" max="{{basket.userInfo.MarginFlightMax}}" step="1" ng-touch-spin dirtyflag="{{basket.isDirty}}">
           </div>
       </div>
       <div class="row spncwrp" ng-controller="spinCounterCtrl">
           <div class="col-xs-6 fight-sm-text">Margin Extras</div>
           <div class="col-lg-6 noleftpadd tspn fight-sm-text flg-mrg pointerEventsDisable">
               <input type="text" value="0" prefix="£" ng-model="basket.marginExtraVal" min="{{basket.userInfo.MarginExtraMin}}" max="{{basket.userInfo.MarginExtraMax}}" step="1" ng-touch-spin dirtyflag="{{basket.isDirty}}">
           </div>
       </div>
       <div class="search-col-space bot-border"></div>

       <div class="row spncwrp  basket-ttl" ng-controller="spinCounterCtrl">
           <div class="col-xs-6 norightpadd"><strong>Total Cost</strong></div>
           <div class="col-lg-6 text-right">
               <strong>&pound;{{((basket.hotel.AmountAfterTax | number:2 | convertToDecimal) + (basket.flightsReturn.FlightFare | number:2 | convertToDecimal) + (basket.flightsOneWayOutBound.FlightFare | number:2 | convertToDecimal) + (basket.flightsOneWayInBound.FlightFare | number:2 | convertToDecimal)+(basket.baggage.totalPrice | number:2 | convertToDecimal) +(basket.transfers.transfers.pricing[0].totalPrice  | number:2 | convertToDecimal)+(basket.fidelityVal| number:2 | convertToDecimal)+(basket.marginHotelVal | number:2 | convertToDecimal)+(basket.marginFlighVal | number:2 | convertToDecimal)+(basket.marginExtraVal | number:2 | convertToDecimal))| number:2}}</strong>
           </div>

       </div>

   </div>
    <div class="search-col-space bot-border"></div>
    <div class="row">
        <div class="col-xs-12 search-col-space">
            <textarea class="form-control" rows="3" placeholder="Internal Notes" ng-model="basket.internalNotes"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 search-col-space">
            <a class="btn btn-primary col-xs-12" ng-click="saveBasket('quote')">Save Quote</a>
        </div>
        <div class="col-xs-12 search-col-space">
            <a ng-click="saveBasket('mail')" class="btn btn-primary col-xs-12">Email/ SMS Quote</a>
            <modal title="Email/ SMS Quote" visible="showEmailSMSModal">
                <div class="row">
                    <div class="col-xs-4 lblsms">
                        <label><input type="checkbox" value="{{basket.customer.IsSms}}" ng-model="basket.customer.IsSms" checked> SMS/ Text to</label>
                    </div>

                    <div class="col-xs-6">
                        <input type="text" class="form-control" placeholder="9100000123" ng-model="basket.customer.CustomerMobileNo" id="comment" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required />
                    </div>
                </div>
                <div class="search-col-space"></div>
                <div class="row">
                    <div class="col-xs-4 lblsms">
                        <label><input type="checkbox" value="{{basket.customer.IsEmail}}" ng-model="basket.customer.IsEmail" checked> Email to</label>
                    </div>

                    <div class="col-xs-6">
                        <input type="text" class="form-control" placeholder="abcd@xyz.com" ng-model="basket.customer.CustomerEmail" id="comment" />
                    </div>
                </div>
                <div class="search-col-space"></div>
                <div class="row">
                    <div class="col-xs-4 lblsms">

                    </div>

                    <div class="col-xs-6 text-right">
                        <a ng-click="clickCancel(basket.customer)" data-dismiss="modal" aria-hidden="true" class="btn btn-info">Cancel</a>
                        <a ng-click="sendSmsAndMail(basket.customer)" class="btn btn-primary">Send</a>
                    </div>
                </div>
            </modal>
        </div>
        <div class="col-xs-12 search-col-space">
            <form action="../SearchResults/Booking" method="post" name="basketForm" id="basketForm">
                <input type="hidden" name="QuoteRef" id="QuoteRef" value="" ng-value="basket.quoteReference" />
                <input type="hidden" name="QuoteHeaderId" id="QuoteHeaderId" value="" ng-value="basket.quoteHeaderId" />
            </form>
            <a ng-href="" class="btn btn-primary col-xs-12" ng-click="saveBasket('book')">Book</a>
        </div>
    </div>
</div>