﻿@charset "utf-8";
/* CSS Document */
div[clear] {
    clear: both;
}
.clear{
    clear: both;
}
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-image:url("../img/global-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
	background-color:#333333;
    background-attachment: fixed;
    /* background-size: cover; */
}

h1,h2,h3,h4,h5,h6,p,img,a{
    margin: 0;
    padding: 0;
}
hr{
    margin: 3%;
    padding:3%;

}

.btn{
	text-shadow: 0 0 0 #fff;
}



/* @media screen and (min-device-width:1920px) and (max-device-width:2048px) {
      hr{
        margin: 3%;
        padding:3%;
    }
    #basket-wrapper-bag-cost span{
        margin-left: 90px !important;
    }
    #basket-wrapper-button-book{
        height: 50px !important;
        line-height: 50px !important;
        font-size: 20px;
    }
    #basket-wrapper-button-save{
        height: 50px !important;
        line-height: 50px !important;
        font-size: 20px;
    }
    #basket-wrapper-button-email{
        height: 50px !important;
        line-height: 50px !important;
        font-size: 20px;
    }
    .ttss-hotel-widget-flight-end{
        margin-left: 19% !important;
    }
    #worst-flight-time-para{
    margin-left: 30% !important;
    }
    #board-type ul li{
        height: 30px !important;
        width: 30px !important;
        line-height: 30px !important;
        font-size: 15px !important;;
    } 
} */
/* @media only screen and (min-device-width:1024px) {
    #ttss-board-detail-name{
        width: 45% !important;
    }
    #ttss-flight-time-up{
        width: 20% !important;
    }
    #ttss-flight-time-down{
        width: 30% !important;
    }
    .ttss-hotel-flight-widget-more-para span:nth-child(2){
    margin-left: 15% !important;
}
.ttss-hotel-widget-flight-from img{
    margin-left: 0 !important;
}
#ttss-add{
    margin-left: 0 !important;
}
#board-type ul li{
    font-size: 12px !important;
    height: 25px !important;
    width: 25px !important;
    line-height: 25px !important;
}
} */



ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#wrapepr{
	padding-left: 120px;
	min-width:990px;
	max-width:1400px;
	margin:0 auto;
	padding-top:52px;
}

#header{
	min-width:990px;
	max-width:1400px;
	margin:0 auto;
}

.header{
	background:#6e3a81;
	height:52px;
	min-width:990px;
	max-width:1400px;
	width:100%;
	position:fixed;
	z-index:22;
}




.logo{
	padding:13px 15px;
	float:left;
	width:50%;
}

.logo img{
	float:left;
}

.notifications{
	width:50%;
	float:right;
	text-align:right;
	padding:0 50px 0 15px;
	color:#FFFFFF;
	font-size:30px;
}
.notifications li{
	display:inline-block;
	margin:3px 5px 0;
	padding: 6px 10px 0px;
}

.notifications li.active{
	background-color:#FFFFFF;
	color:#333333;
}

.logo .icon{
	font-size:24px;
	color:#FFFFFF;
	padding:0 0 0 20px;
	padding: 0 0 0 20px;
}



#global-data-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#global-filter-data-wrapper {
    padding: 2%;
	float:left;
    width: 20%;
    background-color: #fff;
}

#filterContents {
}

.filtersContents {
/*     position: absolute;
    width: 96%;
    height: 100%;
    left: 100%; */
    padding: 2%;
}

.filtersContents.active {
    left: 0;
}
/* 
#filters-components {
    width: 100%;
    height: 7%;
}

#filters-components ul {
    height: 100%;
    width: 100%;
}

#filters-components li {
    height: 100%;
    float: left;
    color: #fff;
}

.filterIcon {
    width: 100%;
    height: 60%;
    background-image: url(../img/controls.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transform: rotate(90deg);
    margin-top: 2px;
}

#filters-components li p {
    text-align: center;
    font-size: 10px;
    margin: 0;
    margin-top: 2px;
}

.filterFilters {
    background-color:#00bfce;
    width: 48%;
    margin-right: 2%;
}

#filters-components.filter {
    border-bottom: 3px solid #00bfce;
}

#filters-components.components {
    border-bottom: 3px solid #3c9;
}

.filterComponents {
    width: 48%;
    margin-left: 2%;
    background-color:#89c25d;
}

.filterIcon1 {
    width: 100%;
    height: 60%;
    text-align: center;
    font-size: 20px;
    padding-top: 3px;
    transform: rotate(45deg);
} */

#hotel-filter {
    margin-top: 25px;
    width: 100%;
    padding-bottom: .5%;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}
#board-type ul li{
    float: left;
    width: 30px !important;;
    height: 30px !important;;
    background-color:#803c7e;
    text-align: center;
    line-height: 30px !important;;
    margin-left: 1px;
    color: #fff;
}
#tar-rating{
    margin-top: 20px;
}
#star-rating ul li{
    float: left;
    width: 30px;
    height: 30px;
    background-color:#803c7e;
    text-align: center;
    line-height: 30px;
    margin-left: 1px;
    color: #fff;
}
#global-filter-data {
    width: 60%;
    padding:0 2%;
	float:left;
}

#ttss-detail-block {
    height: 300px;
    width: 100%;
    background-color: #fffcf2;
    padding: 10px;
}

#ttss-detail-left-block {
    width: 75%;
    height: 100%;
    float: left;
}

#ttss-saerchrow {
    width: 100%;
}

#ttss-detail {
    width: 60%;
    float: left;
    text-align: center;
}

#ttss-change {
    width: 30%;
    float: left;
    text-align: center;
}
#ttss-change button{
    border: none;
    color: #fff;
    border-radius: 0;
    background-color: #00bfce;
}
#ttss-add {
    float: left;
    margin-left: -50px;
}
#ttss-add button{
    border: none;
    color: #fff;
    border-radius: 0;
    background-color: #89c25d;
    border-radius: 100%;
}
#ttss-hotel-details {
    margin-top: 4%;
    width: 100%;
}

#ttss-hotel-detail-view {
    width: 30%;
    float: left;
}
#ttss-board-detail-name{
    width: 20%;
    float: left;
}
#ttss-board-detail-rate{
    width: 46%;
}
#ttss-board-hotel-details {
    margin-top: 2%;
    clear: both;
    width: 100%;
    margin-left: 1%;
}

#ttss-flight-details {
    width: 100%;
    margin-top: 2%;
}

#ttss-flight-from h3 {
    margin-left: 2%;
    float: left;
}
#ttss-flight-from h3:nth-child(2){
    margin-left: 6%;
}
#ttss-flight-from img {
    margin-left: 5%;
    margin-top: -2%;
    float: left;
}

#ttss-hotel-detail-name {
    width: 65%;
    float: left;
    margin-left: 1%;
}
#ttss-hotel-detail-name h4{
    color: #74397a;
}
#ttss-flight-timings {
    width: 100%;
    margin-top: -2%;
    clear: both;
}
#ttss-flight-time-up{
    width: 20%;
    font-size: 10px;
    margin-left: 2%;
    color: #c2c2c2;
    float: left;
}
#ttss-flight-time-down{
    width: 20%;
    font-size: 10px;
    color: #c2c2c2;
    float: left;
}
#ttss-block-note{
    width: 80%;
    margin-top: 2%;
    margin-left: 3%;
    font-size: 11px;
    color: #a09b94;
}
#ttss-detail-right-block {
    width: 25%;
    height: 100%;
    float: left;
    border-left:1px solid rgba(0,0,0,0.1);
}
#ttss-detail-right-block ul {
    height: 100%;
    width: 100%;
}
#ttss-detail-right-block ul li{
    text-align: center;
    margin-bottom: 3%;
}
#worst-flight-time-para{
    font-size: 10px;
    line-height: 0;
    text-align:justify;
    margin-left: 13%;
}
#worst-flight-time-time{
    font-size: 12px;
    line-height: 20px;
    text-align:justify;
    margin-left: 0%;
}
#worst-flight-time-time2{
    font-size: 12px;
    line-height: 20px;
    text-align:justify;
    margin-left: 0%;
    margin-top: 8%;
}
#ttss-detail-right-block ul li p:nth-child(2){
    font-size: 12px;
    line-height: 0;
    text-align:justify;
    margin-left: 23%;
    margin-top: 2%;
}
#ttss-detail-right-block ul li h5 span{
    margin-left: 10%;
}
#ttss-list-view-nav {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    line-height: 40px;
    clear: both;
}

#ttss-list-view-nav ul {
    height: 100%;
    width: 100%;
}

#ttss-list-view-nav li {
    width: 16.5%;
    background-color: #74397a;
    text-align: center;
    float: left;
    font-size: 12px;
    border-left: 1px solid rgba(0,0,0,0.5);
    color: #fff;
    line-height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#ttss-list-view-nav li:hover{
    background-color: #fff;
    color: #333;
    transition: 1s all;
    cursor: pointer;
}
.ttss-hotel-flight-widget-wraper{
    overflow: auto;
}
.ttss-hotel-flight-widget{
    padding: 1%;
    width: 100%;
	border-radius:5px;
    background-color: #fffcf2;
    margin-top: 2%;
}
.ttss-hotel-flight-widget-detail{
    width: 100%;
 }
.ttss-hotel-flight-widget-image{
    width: 16%;
    float: left;
}
.ttss-hotel-flight-widget-image img{
    width: 100%;
}
.ttss-hotel-flight-widget-names{
    width: 64%;
    background-color: #fffcf2;
    float: left;
}
.ttss-hotel-flight-widget-names h4 {
    color: #74397a;
    margin-left: 2%;
    margin-top: 2%;
}

.ttss-hotel-flight-widget-bord{
    width: 90%;
    height: 20px;
    margin-left: 2%;
}
.ttss-hotel-flight-widget-bord-p{
    float: left;
}
.ttss-hotel-flight-widget-rate{
    margin-top: -2px;
    margin-left: 5px;
    float: left;
}
.ttss-hotel-widget-flight-names{
    width: 100%;
    margin-top: 2%;
}
.ttss-hotel-widget-flight-from{
    width: 35%;
    float: left;
}
.ttss-hotel-widget-flight-from img{
    display: block;
    margin-left: 16%;
    margin-top: -10px;
    float: left;
}
.ttss-hotel-widget-flight-to{
    width: 40%;
    float: left;
}
.ttss-hotel-widget-flight-from h3 {
    margin-left: 2%;
    float: left;
}
.ttss-hotel-widget-flight-to-img  {
    width: 30%;
}
.ttss-hotel-widget-flight-times{
    position: relative;
    top: -50%;
    font-size: 10px;
}
.ttss-hotel-widget-flight-start{
    float: left;
    color: #c2c2c2;
}
.ttss-hotel-widget-flight-end{
    float: left;
    font-size: 10px;
    margin-left: 14%;
    color: #c2c2c2;
}
.ttss-hotel-flight-widget-cost{
    width: 20%;
    background-color: #fffcf2;
    float: left;
}
.ttss-hotel-flight-widget-cost-more{
    width: 100%;
    text-align: right;
}
.ttss-hotel-flight-widget-edit{
    margin-top: 10%;
}
.ttss-hotel-flight-widget-edit-button{
    width: 70%;
    border: none;
    float: right;
    background-color: #00bfce;
    height: 40px;
    color: #fff;
}
.ttss-hotel-flight-widget-more-details{
    width: 100%;
    background-color: #fffcf2;
}
.ttss-hotel-flight-widget-more-para span{
    margin-left: 3%;
    margin-top:3%
}
.ttss-hotel-flight-widget-more-para span:nth-child(2){
    margin-left: 25%;
    font-size: 20px;

}
.ttss-hotel-flight-widget-more-link p{
    margin-left: 3%;
    margin-top:1%;
    color: #00bfce;
    margin-bottom: 2%;
}
.ttss-hotel-flight-widget-more-link p:hover{
    cursor: pointer;
    text-decoration: underline;
}
.ttss-hotel-flight-widget-more-left{
    float: left;
    width: 70%;
}
.ttss-hotel-flight-widget-more-button{
    width: 13%;
    font-size: 20px;
    background-color: #89c25d;
    text-align: center;
    height:50px;
    float: right;
    border: none;
    color: #fffcf2;
}
#global-filter-basket {
    width: 20%;
    background-color: #fff;
	float:right;
}
#basket-wrapper{
    width: 92%;
    margin: auto;
    margin-top: 4%;
}
#basket-wrapper-hotel-name{
    margin-bottom: 3%;
}
#basket-wrapper-hotel-name h4{
    color: #74397a;
    text-decoration: underline;
}
#basket-wrapper-hotel-days-quote{
    margin-bottom: 5%;
}
#basket-wrapper-fliht-hotel{
    width: 100%;
}
#basket-wrapper-flight-cost{
    width: 90%;
    font-size: 17px;
    margin-bottom: 3%;
}
#basket-wrapper-flight-cost p{
    font-size: 17px;
    float: left;
}
#basket-wrapper-flight-cost span{
    margin-left: 30%;
}
#basket-wrapper-hotel-cost{
    width: 90%;
    font-size: 17px;
    margin-bottom: 3%;
}
#basket-wrapper-hotel-cost p{
    font-size: 17px;
    float: left;
}
#basket-wrapper-hotel-cost span{
    margin-left: 30%;
}
#basket-wrapper-bag-detail{
    width: 90%;
}
#basket-wrapper-bag-total{
    width: 90%;
    font-size: 17px;
    margin-bottom: 3%;
}
#basket-wrapper-bag-total p{
    font-size: 17px;
    float: left;
}
#basket-wrapper-bag-total span{
    margin-left: 35%;
}
#basket-wrapper-bag-cost{
    width: 90%;
    font-size: 17px;
    margin-bottom: 3%;
}
#basket-wrapper-bag-cost p{
    font-size: 17px;
    float: left;
}
#basket-wrapper-bag-cost span{
    margin-left: 40px;
}

#basket-wrapper-total-cost{
    width: 90%;
    font-size: 17px;
    margin-bottom: 3%;
}
#basket-wrapper-total-cost p{
    font-size: 17px;
    float: left;
}
#basket-wrapper-total-cost span{
    margin-left: 55px;
}
#basket-wrapper-deposit-cost{
    width: 90%;
    font-size: 17px;
    margin-bottom: 3%;
}
#basket-wrapper-deposit-cost p{
    font-size: 17px;
    float: left;
}
#basket-wrapper-deposit-cost span{
    margin-left: 35px;
}
#basket-wrapper-buttons{
    width: 90%;
}
#basket-wrapper-button-book{
    margin: auto;
    width: 100%;
    text-align: center;
    height: 30px;
    background-color: #4cae4c;
    margin-bottom: 3%;
    color: #fffcf2;
    line-height: 30px;
    margin-left: 4%;
}
#basket-wrapper-button-save{
    margin: auto;
    width: 100%;
    text-align: center;
    height: 30px;
    background-color: #23527c;
    margin-bottom: 3%;
    color: #fffcf2;
    line-height: 30px;
    margin-left: 4%;
}
#basket-wrapper-button-email{
    margin: auto;
    width: 100%;
    text-align: center;
    height: 30px;
    background-color:#00bfce;
    margin-bottom: 3%;
    color: #fffcf2;
    line-height: 30px;
    margin-left: 4%;
}


/************* Start Search Screen *********/
.search-header{
	padding:0;
	min-width:1000px;
	max-width:1400px;
	margin:0 auto;
}
.search-logo{
	width:67%;
	padding:50px 0 0 70px;
	float:left;
}

.search-incoming{
	width:33%;
	float:left;
	padding-right:45px;
}
	
.search-logo img, .search-logo .icon-menu{
	float:left;
}
.search-logo .icon-user{
	color: #fff;
    font-size: 20px;
    padding: 3px 4px 0 10px;
}
.search-logo .icon-menu{
	color:#FFFFFF;
	font-size:25px;
	padding:22px 0 0 20px;
}
.user-dtls{
	padding:22px 0 0 20px;
	float:left;
}
.user-dtls .usr-name{
	font-size:20px;
	font-weight:bold;
	color:#FFFFFF;
}

.qt-form{
	width:100%;
	padding-top:25px;
}
.qt-form .qoute-filed{
	width:310px;
	height:49px;
}
.qt-form .quote-find{
	width: 145px;
	height:51px;
	background:#7bc563;
	border:0 none;
	color:#FFFFFF;
	font-size:20px;
	margin:0 20px;
	font-weight:normal;
}
.qt-form .icon-questn{
	color:#FFFFFF;
	background:#37bdd1;
	font-size:20px;
	height:30px;
	width:30px;
	border-radius:15px;
	float:left;
	margin-top:12px;
	padding:2px 10px;
}
.qt-form form{
	float:left;
}

.inc-callbg{
	background-color:rgba(0,0,0, 0.44);
	margin-top:20px;
	padding:10px 30px 2px;
	position:relative;
}
.inc-callbg h4{
	font-family:Trebuchet MS;
	color:#FFFFFF;
	font-size:20px; 
	padding:4px 4px 15px;
}

.inc-callbg .form-inline .form-control{
	margin: 1%;
    width: 47%;
	border-radius:2;
	height:27px;
}


.inc-callbg .acpt-call{
	background: #7bc563 none repeat scroll 0 0;
    border: 0 none;
    color: #ffffff;
    font-size: 13px;
	text-transform:uppercase;
    font-weight: normal;
    height: 29px;
    margin: 5px;
    width: 145px;
}

.inc-callbg .icon-phone{
	height:26px;
	width:26px;
	background:#f07541;
	border-radius:13px;
	padding:5px;
	color:#FFFFFF;
	display:block;
	right:25px;
	top:10px;
	position:absolute;
}

.search-body{
    margin: 25px auto;
    max-width: 1400px;
    min-width: 1000px;
	display:flex;
	flex-wrap: wrap;
}

.search-wdgform{
	width:67%;
	background:#f7f7f7;
	padding:20px 0 20px 70px;
	float:left;
}

.btns-primary {
    background: #7bc563 none repeat scroll 0 0;
    border: 0 none;
    color: #ffffff;
    font-size: 16px;
	border-radius: 2px;
    font-weight: normal;
    height: 29px;
	line-height:16px;
    margin: 5px;
}

.purple{
	background:#74397a;
}


.purplelight{
	background:#d2bdd2;
}

.search-todayact{
	width:33%;
	float:left;
	background:#202020;
	padding-right:45px;
}
.icon-arrow-left, .icon-arrow-right{
	color:#acacac;
	padding:0px;
}
.search-wdgform .input-primary {
    height: 40px;
    width: 100%;
}

.inputrow{
	padding-top:20px;
	padding-right:70px;
}


#sandbox-container input{
	height:40px;
}

.search-wdgform .date,.search-wdgform .date2{
	width:37%;
}
.search-wdgform .nts{
	width:23%;
	height:35px;
}
.search-wdgform .rac{
	width:100%;
	height:40px;
}

.search-fm, .search-fr, .search-fl{
	float:left;
}

.search-fr, .search-fl{
	width:47%;
}
.search-fm{
	width:6%;
	text-align:center;
	line-height: 40px;
}

.starrtng{
	font-size:20px;
	color:#d4c1d5;
}
.starrtng span{
	padding-right:8px;
}

.purpleco{
	color:#74397a;
}

.search-fl label{
}

.form-inline .search-fl .input-group > .form-control.bgs{
	width: 60px;
}

.search-wdgform .big-btn{
	height:51px;
	background:#7bc563;
	border:0 none;
	color:#FFFFFF;
	font-size:20px;
	margin:0 20px;
	font-weight:normal;
}
.todayact-inner{
	padding:30px 0 30px 30px; 
}
.blue{
	background:#37bdd1;
}
.taodayact-header{
	font-size:22px;
	font-weight:bold;
	font-family:trebuchet ms;
	color:#FFFFFF;
}

.todayact-inner .btns-primary{
	font-size:13px;
}

.todayact-inner .checkbox{
	padding:5px;
	background:#2b2b2b;
	line-height:39px;
	color:#ffffff;
	height:50px;
}
.todayact-inner .checkbox label{
/* 	line-height:50px; */
}




.todayact-inner input[type=checkbox] {
  display: none;
}

/* 
- Style each label that is directly after the input
- position: relative; will ensure that any position: absolute children will position themselves in relation to it
*/
.todayact-inner input[type=checkbox] + label {
  /* background: url(../img/check.png) no-repeat; */
  height: 36px;
  width: 36px;
  display: block;
  position: relative;
  transition: all 0.4s;
  float:right;
  border: solid 1px #b4b4b4;
}

/* Provide a border when hovered and when the checkbox before it is checked */
.todayact-inner input[type=checkbox] + label:hover,
.todayact-inner input[type=checkbox]:checked + label {
  border: solid 1px #b4b4b4; /* Soften the jagged edge */
}

/* 
- Create a pseudo element :after when checked and provide a tick
- Center the content
*/
.todayact-inner input[type=checkbox]:checked + label:after {
  content: '\2714'; /*content is required, though it can be empty - content: '';*/
  display: block;
  height: 1em;
  width: 1em;
  position: absolute;
  top: 0;
  font-size:26px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  color: #FFFFFF;
  line-height: 25px;
}


.chart-section{
	background:rgba(0, 0, 0, 0.20);
	margin: 0 auto;
    max-width: 1400px;
    min-width: 1000px;
}

.chart-area {
    float: left;
    padding: 20px 0 20px 70px;
    width: 67%;
}
.char-head{
	   color: #ffffff;
    font-family: trebuchet ms;
    font-size: 22px;
    font-weight: bold;
	margin-bottom:15px;

}

.char-body{
	   color: #ffffff;
    font-family: trebuchet ms;
    font-size: 18px;
    font-weight: bold;
	margin-bottom:15px;
}

.chart-loader{
	border-right:1px solid #ac9eae;
}
.agent-notes{
    float: left;
    padding: 20px 45px 20px 30px;
    width: 33%;
}
.promo{
	height:72px;
	width:100%;
	color:#74397a;
	border-radius:0;
	font-size:22px;
	margin-top:50px;
}

.icon-add {
    background: #37bdd1 none repeat scroll 0 0;
    border-radius: 30px;
    color: #ffffff;
    float: left;
    font-size: 36px;
    height: 58px;
    margin-top: 12px;
    padding: 2px 20px;
    width: 58px;
}
/************* End Search Screen *********/