﻿<!doctype html>
<html ng-app="SwordFish">
<head>
    @{
        Layout = "";
    }
    @Styles.Render("~/Content/angularCSS")
</head>
<body>
    <div class="main">
        <div class="container">
            <layout></layout>
            <div class="row">
                <vertical-menu></vertical-menu>
                <div class="search-rs" ng-class="{'col-xs-11': showMenu, 'col-xs-12': !showMenu}">
                    <booking-confirmation-widget></booking-confirmation-widget>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angularCore")
    @Scripts.Render("~/bundles/angularCustom")
</body>
</html>
