﻿<div class="row">
    <div class="col-lg-12 col-sm-12" id="crete_customer">
        <div>
            <div class="alert alert-success" ng-show="CustomerModel.successalert">
                <h5 style="margin:0">
                    <strong>Success!</strong> {{CustomerModel.SuccessMessage}}
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                </h5>
            </div>

            <div class="alert alert-danger" ng-show="CustomerModel.Warningalert">
                <h5 style="margin:0">
                    <strong>Warning!</strong> {{CustomerModel.ErrorMessage}}
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                </h5>
            </div>

            <div class="col-lg-3 col-sm-3" id="cust_search_wrapper">
                <div class="row">
                    <div>
                        <button class="btn btn-success" id="btnCreatenewCusstomer" ng-click="CustomerModel.createCustomerClick()">Create New Customer</button>
                    </div>
                </div>
                <div class="row" id="search_cust">
                    <h3>Customer search</h3>
                    <form>
                        <div class="form-group">
                            <label>Membership no</label>
                            <input type="text" class="form-control" id="search_membership_no" placeholder="membership no" ng-model="CustomerModel.search_membership_no">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Show inactive
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>First Name or Surname</label>
                            <input type="text" class="form-control" id="search_first_name" placeholder="name" ng-model="CustomerModel.search_first_name">
                        </div>
                        @*<div class="form-group">
                            <label>Email type</label>
                            <input type="text" class="form-control" id="search_emailtype" placeholder="eMail type" ng-model="CustomerModel.search_emailtype">
                        </div>*@
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" id="search_email_address" placeholder="email" ng-model="CustomerModel.search_email_address">
                        </div>
                        <div class="form-group">
                            <label>Phone number</label>
                            <input type="text" class="form-control" id="search_phone_number" placeholder="phone no" ng-model="CustomerModel.search_phone_number" numbers-only="\d" maxlength="15">
                        </div>
                        <div class="form-group">
                            <label>Post code</label>
                            <input type="text" class="form-control" id="search_postcode" placeholder="post code" ng-model="CustomerModel.search_postcode">
                        </div>
                        <br />
                        <button type="button" class="btn btn-success text-center" ng-click="CustomerModel.getCustomersOnly()">Search</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-9 col-sm-9" id="_customers_wrapper">

                <div id="create_customer_wrapper" ng-show=CustomerModel.createcustomerwrapper>
                    <h3>{{CustomerHeading}}</h3>
                    <form style="margin-top:20px;" name="CustomerCreateForm" id="form">
                        <input type="hidden" ng-model="CustomerModel.hdnMembershipNo" />
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label>Title <span class="create_cust_star">*</span></label>
                                <select name="repeatSelect" class="form-control" id="repeatSelect" ng-model="CustomerModel.title">
                                    <option ng-repeat="option in CustomerModel.titleList">{{option.Value}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>First name <span class="create_cust_star">*</span></label>
                                <input type="text" class="form-control" ng-class="{'shadow' :CustomerCreateForm.firstname.$invalid && !CustomerCreateForm.firstname.$pristine}" required name="firstname" id="first_name" placeholder="enter first name" ng-maxlength="50" ng-model="CustomerModel.first_name" />
                            </div>
                            <div class="form-group">
                                <label>Surname <span class="create_cust_star">*</span></label>
                                <input type="text" class="form-control" ng-class="{'shadow' :CustomerCreateForm.lastname.$invalid && !CustomerCreateForm.lastname.$pristine}" required id="surname" placeholder="enter surname" name="lastname" ng-model="CustomerModel.last_name" />
                            </div>
                            @*<div class="form-group">
                                <label>Email type <span class="create_cust_star">*</span></label>
                                <input type="text" class="form-control" ng-class="{'shadow' :CustomerCreateForm.emailtype.$invalid && !CustomerCreateForm.emailtype.$pristine}" required name="emailtype" id="email_type" placeholder="enter email type" ng-model="CustomerModel.emailtype" />
                            </div>*@
                            <div class="form-group">
                                <label>Email <span class="create_cust_star">*</span></label>
                                <input type="email" class="form-control" ng-class="{'shadow' :CustomerCreateForm.email.$invalid && !CustomerCreateForm.email.$pristine}" required id="email" placeholder="enter email" name="email" ng-model="CustomerModel.email_address" ng-pattern="/^[^\s&#64]+&#64[^\s&#64]+\.[^\s&#64]{2,}$/" maxlength="50" />
                            </div>
                            <div class="form-group mNumber_wrapper">
                                <label>Mobile number <span class="create_cust_star">*</span></label><br />
                                <input type="text" class="form-control" id="mNumber_lable" placeholder="44" maxlength="2" ng-model="CustomerModel.countrycode" numbers-only="\d"/>
                                <input type="text" class="form-control" id="mNumber_field" ng-class="{'shadow' :CustomerCreateForm.phonenumber.$invalid && !CustomerCreateForm.phonenumber.$pristine}" required id="phone_no" name="phonenumber" placeholder="enter phone no" ng-model="CustomerModel.phone_number"  maxlength="15" numbers-only="\d" />
                            </div>
                            <div class="form-group">
                                <label>Telephone number <span class="create_cust_star"></span></label>
                                <input type="text" class="form-control" ng-class="{'shadow' :CustomerCreateForm.telephonenumber.$invalid && !CustomerCreateForm.telephonenumber.$pristine}"  name="telephonenumber" placeholder="enter telephone no" ng-model="CustomerModel.telephone_number" maxlength="15" numbers-only="\d" />
                            </div>
                            <div class="form-group">
                                <label>Post code <span class="create_cust_star"></span></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-class="{'shadow' :CustomerCreateForm.postcode.$invalid && !CustomerCreateForm.postcode.$pristine}"  placeholder="enter post code" ng-model="CustomerModel.postcode" ng-maxlength="50" name="postcode" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn  btn-info text-center" ng-click="CustomerModel.findPostcode()">Find Post code</button>
                                    </span>

                                </div>

                                <div class="row col-xs-12 noleftpadd ng-scope custPostCodeList" ng-if="CustomerModel.postCodeList.length" ng-show="!manualCustomerAddress">
                                    <select class="form-control postCodeList" size="10" name="ngvalueselect1" ng-model="CustomerModel.selectedAddress"  ng-options="option.postcode +',' + option.line_1 + ',' + option.line_2 +',' + option.line_3 + ','+ option.post_town for option in CustomerModel.postCodeList track by option.udprn " ng-change="bindAddresData(CustomerModel.selectedAddress);">
                                        <option value="" ng-model="CustomerModel.selectedAddress">-- Select Address --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Town/City <span class="create_cust_star"></span></label>
                                <input type="text" class="form-control" ng-class="{'shadow' :CustomerCreateForm.city.$invalid && !CustomerCreateForm.city.$pristine}"  placeholder="enter town/city" name="city" ng-model="CustomerModel.city" />
                            </div>

                            <div class="form-group">
                                <label>
                                    <input type="checkbox" class="" ng-model="CustomerModel.optedForEmail" ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1">
                                    Yes! Send Teletext exclusive offers by E-mail to customer
                                </label>
                                <label>
                                    <input type="checkbox" class="" ng-model="CustomerModel.optedForSMS" ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1">
                                    Yes! Send Teletext exclusive offers by SMS to customer
                                </label><br />
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success  text-center" ng-hide="CustomerModel.btnCreate" ng-click="CustomerModel.addCustomer()">Create</button>
                                <button type="submit" class="btn btn-success text-center" ng-show="CustomerModel.btnUpdate" ng-click="CustomerModel.UpdateCustomer()">Update</button>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label>House number <span class="create_cust_star"></span></label>
                                <input type="text" class="form-control" ng-class="{'shadow' :CustomerCreateForm.houseno.$invalid && !CustomerCreateForm.houseno.$pristine}"  placeholder="enter houseno" ng-model="CustomerModel.houseno" ng-maxlength="50" name="houseno"/>
                            </div>

                            <div class="form-group">
                                <label>Country <span class="create_cust_star"></span></label>
                                <input type="text" class="form-control" ng-class="{'shadow' :CustomerCreateForm.country.$invalid && !CustomerCreateForm.country.$pristine}"  placeholder="enter country" ng-model="CustomerModel.country" ng-maxlength="50" name="country"  readonly/>
                            </div>
                            
                            <div class="form-group">
                                <label>Address<span class="create_cust_star"></span></label>
                                @*<textarea class="form-control" rows="3" ng-class="{'shadow' :CustomerCreateForm.addressline1.$invalid && !CustomerCreateForm.addressline1.$pristine}" required placeholder="enter address" ng-model="CustomerModel.address_line1" id="address_line1" name="addressline1"> </textarea>*@
                                <textarea type="text" class="form-control" rows="5" ng-class="{'shadow' :CustomerCreateForm.addressline1.$invalid && !CustomerCreateForm.addressline1.$pristine}"  ng-model="CustomerModel.address_line1" id="address_line1" name="addressline1" />
                            </div>
                          
                        </div>
                    </form>
                </div>
                <div class="row" id="create_customer_list" ng-show=CustomerModel.createcustomerlist>
                    <h3>{{CustomerModel.CustomerCount}} customers</h3>
                    <div class="col-lg-12" id="list_cust_container">
                        <div ng-repeat="customer in CustomerModel.customerData track by $index">
                            <div class="col-lg-3 cust_detail_widget">
                                <h5><b>#{{customer.MembershipNo}}</b></h5>
                                <h4 id="custDetailName">{{customer.first_name}} {{customer.last_name}}</h4>
                                <h5 id="custDetailMail">{{customer.email_address}}</h5>
                                <h5>{{customer.phone_number}}</h5>
                                <h5>{{customer.Postcode}}</h5>
                                <button class="btn" ng-click="CustomerModel.selectCustomer(customer)">Select</button>
                                <button class="btn" ng-click="CustomerModel.getCustomerbyMembershipNo(customer)">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <style type="text/css">
            .shadow {
                -moz-box-shadow: inset 0 0 15px #cc1212;
                -webkit-box-shadow: inset 0 0 15px #cc1212;
                box-shadow: inset 0 0 15px #cc1212;
                border: none;
            }
        </style>
        <script type="text/javascript">

            $(function () {
                $('#form input').on('keypress', function (e) {
                    if (e.which == 32)
                        return false;
                });
            });
            function isNumber(evt) {
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    return false;
                }
                return true;
            }
        </script>
    </div>
</div>
