﻿
@{
    Layout = "~/Views/Shared/_FilterLayout.cshtml";
}

<!DOCTYPE html>

<html ng-app="SwordFish">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayCustomerGrid</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angularCore")
    @Scripts.Render("~/bundles/angularCustom")
    @*<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.13/daterangepicker.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">*@
    <script type="text/javascript">
        $("#global-nav li").removeClass("active");
        $("#global-nav-addCustomer").addClass("active");
    </script>
</head>
<body>
    <div ng-controller="customerCtrl">
        @Html.Partial("~/Views/SearchResults/CustomerGrid.cshtml")
    </div>
</body>
</html>
