﻿<!doctype html>
<html ng-app="SwordFish">
<head>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    @model Swordfish.UI.Models.Account.SearchModel
    @{
        Layout = "";
    }
    @Styles.Render("~/Content/angularCSS")
</head>
<body>
    <div class="main" ng-controller="rootCtrl" ng-init="getSearchModel(@Newtonsoft.Json.JsonConvert.SerializeObject(this.Model), @Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.UserInfo),@Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.FidelityCharges),@Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.QuoteReference), @Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.IsAsynchronous), @Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.AjaxCallTime))">
        <div class="container">
            <div id="loader" class="container">
                <div class="logo_loader"></div>
            </div>
            <modal title="{{validationResult.title}}" visible="showCommonPopup">
                <div ng-bind-html="showCommonPopupData" class="alert"></div>
            </modal>
            <lightboxmodal visible="showLightBoxPopup"></lightboxmodal>
            <layout></layout>
            <div class="row">
                <vertical-menu></vertical-menu>
                <div class="search-rs" ng-class="{'col-xs-11': showMenu, 'col-xs-12': !showMenu}">
                    <div class="row  srch-body-cntnr">
                        <div class="col-xs-2 filters-wrap float-filt" scroll-position2="filterscroll2" style="margin-top:{{filterscroll2}}px;">
                            <filters-widget></filters-widget>

                        </div>
                        <div class="col-xs-8 search-results-area-wrp" ng-class="{'col-xs-7': bsExpanded, 'col-xs-8': !bsExpanded}">
                            <div class="search-results-inner-wrap" ng-controller="dateRangeCtrl">
                                <light-Box></light-Box>
                                <customer-widget></customer-widget>
                                <search-filters></search-filters>
                                <re-search></re-search>
                                <flights-widget></flights-widget>
                                <hotel-results></hotel-results>
                                <transfers-widget></transfers-widget>
                                <baggage-widget></baggage-widget>
                            </div>
                        </div>
                        <div class="col-xs-2 search-basket-wrp" scroll-position="basketscroll" style="margin-top:{{basketscroll}}px;" ng-class="{'col-xs-3': bsExpanded, 'col-xs-2': !bsExpanded}">
                            <basket-widget></basket-widget>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angularCore")
    @Scripts.Render("~/bundles/angularCustom")
</body>
</html>
