﻿<div class="itinerary-leg text-left">
    <h4>
        <span class="icon outb icon-airplane"></span> <span  ng-if="fltWayType == 'Out'">OUTBOUND - <span class="date">{{ ::stopPoints.OutboundDepartureTime | date : format : fullDate }}</span></span>
        <span ng-if="fltWayType == 'In'">INBOUND - <span class="date">{{ ::stopPoints.InboundDepartureTime | date : format : fullDate }}</span></span>
</h4>
    <div class="itinerary-details out-bnd" ng-if="fltWayType == 'Out'">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody ng-repeat="stop in stopPoints.OutBoundStopPoints">
                <tr class="departure">
                    <td><div class="airline-name"></div></td>
                    <td class="times bold">{{::stop.DepartureDateTimeV}}</td>
                    <td class="route">{{::stop.StopAirportCode}}</td>
                    <td class="leg-icon" aria-hidden="true"></td>
                    <td class="duration">{{::stop.Duration}}</td>
                </tr>
                <tr class="destination">
                    <td class="airline-number">{{::stop.FlightNumber}}</td>
                    <td class="times">{{::stop.NextStopArrrivalDateTimeV}}</td>
                    <td class="route">{{::stop.NextStopAirportCode}}</td>
                    <td colspan="2" class="leg-icon" aria-hidden="true"></td>
                </tr>
                <tr class="connection" ng-if="!$last">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="connect"><span class="connect-info">Connect in airport</span><span class="bold">Long wait</span></td>
                    <td class="leg-icon" aria-hidden="true"></td>
                    <td class="duration">{{::stop.LongWait}}</td>
                </tr>
            </tbody>
            <tr class="arrival-info">
                <td colspan="5">
                    <span class="arrival"><strong>Arrives On:</strong> {{ ::stopPoints.OutboundArrivalTimeV}}</span>
                    <span class="total-duration" ng-if="stopPoints.OutBoundStopsCount == 0"><strong>Journey duration:</strong> {{::stopPoints.OutBoundEstimatedHours}} h</span>
                    <span class="total-duration" ng-if="stopPoints.OutBoundStopsCount > 0"><strong>Journey duration:</strong> {{::stopPoints.OutBoundJourneyDuration}}</span>
                </td>
            </tr>
        </table>
    </div>
    <div class="itinerary-details out-bnd" ng-if="fltWayType == 'In'">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody ng-repeat="stop in stopPoints.InBoundStopPoints">
                <tr class="departure">
                    <td><div class="airline-name"></div></td>
                    <td class="times bold">{{::stop.DepartureDateTimeV}}</td>
                    <td class="route">{{::stop.StopAirportCode}}</td>
                    <td class="leg-icon" aria-hidden="true"></td>
                    <td class="duration">{{::stop.Duration}}</td>
                </tr>
                <tr class="destination">
                    <td class="airline-number">{{::stop.FlightNumber}}</td>
                    <td class="times">{{::stop.NextStopArrrivalDateTimeV}}</td>
                    <td class="route">{{::stop.NextStopAirportCode}}</td>
                    <td colspan="2" class="leg-icon" aria-hidden="true"></td>
                </tr>
                <tr class="connection" ng-if="!$last">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="connect"><span class="connect-info">Connect in airport</span><span class="bold">Long wait</span></td>
                    <td class="leg-icon" aria-hidden="true"></td>
                    <td class="connection-time ">{{::stop.LongWait}}</td>
                </tr>
            </tbody>
            <tr class="arrival-info">
                <td colspan="5">
                    <span class="arrival"><strong>Arrives On:</strong> {{ ::stopPoints.InboundArrivalTimeV}}</span>
                    <span class="total-duration" ng-if="stopPoints.InBoundStopsCount == 0"><strong>Journey duration:</strong>{{::stopPoints.InboundEstimatedHours}}</span>
                    <span class="total-duration" ng-if="stopPoints.InBoundStopsCount > 0"><strong>Journey duration:</strong> {{::stopPoints.InBoundJourneyDuration}}</span>
                </td>
            </tr>
        </table>
    </div>
</div>