﻿<div class="bookingwidget" ng-controller="bookingCtrl">
    <div class="row payment_wrapper">
        <div class="col-xs-3"><h4>PAYMENT</h4></div>
        <div class="col-xs-4">
            <h5><b>This payment page will expire in 30 minutes.</b></h5>
            <p>Please enter passenger details below.</p>
        </div>
        <div class="col-xs-4 pull-right text-center timer">
            <span class="icon icon-alarm "></span>
            <span id="timer" ng-init="clockticker()"></span>
        </div>
    </div>
    <div class="row quote_ref_wrapper">
        <div class="col-xs-12 quote_wrapp">
            <h4 class="sechead1">Quote ref: <span class="quote_id">{{basketquoteobject.quoteHeader.CustomerReferenceCode}}</span></h4>
        </div>
        <div class="col-xs-12 fLight_details_wrapp">
            <div class="row nomarging">
                <div class="col-xs-6 fLight_details noleftpadd">
                    <h4 class="sechead">Flights ({{basketquoteobject.flightComponentUI.flightType}})</h4>
                </div>
                <!--<div class="col-xs-6">
                    <h4 class="pull-right">Total Cost</h4>
                </div>-->
            </div>
        </div>
        <div class="col-xs-12 fLight_ib_ob">
            <div class="row">
                <div class="col-xs-5">
                    <h5 class="pull-left"><b>Outbound</b> <i class="fa fa-plane"></i></h5>
                </div>
                <div class="col-xs-6">
                    <h5 class="pull-left"><b>Inbound</b> <i class="fa fa-plane in"></i></h5>
                </div>
            </div>
        </div>
        <div class="col-xs-12 fLight_ib_ob_dEtails">
            <div class="row nomarging crdpmd notopmarg">
                <div class="col-xs-5 oi_right noleftpadd">
                    <div class="row" ng-repeat="flightsoutbound in basketquoteobject.flightComponentUI.flightComponentsOutbound">
                        <div class="col-xs-5">
                            <div>
                                {{flightsoutbound.DepartureDateTime | date : 'EEE, dd/MM/yyyy HH:mm' }}<br />
                                {{flightsoutbound.DepartureAirportName}}<br />
                                {{flightsoutbound.DepartureAirportCode}}<br />
                                {{flightsoutbound.MarketingAirLine}}
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="row">
                                <div class="text-center">
                                    {{flightsoutbound.TravelDuration}} h<br />
                                    <i class="fa fa-plane"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-5 text-right">
                            <div>
                                {{flightsoutbound.ArrivalDateTime | date : 'EEE, dd/MM/yyyy HH:mm'}}<br />
                                {{flightsoutbound.ArrivalAirportName}}<br />
                                {{flightsoutbound.ArrivalAirportCode}}<br />
                                {{flightsoutbound.FlightNumber}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-5 oi_right  nopadding">
                    <div class="rowr" ng-repeat="flightsoutbound in basketquoteobject.flightComponentUI.flightComponentsInbound">
                        <div class="col-xs-5">
                            <div>
                                {{flightsoutbound.DepartureDateTime | date : 'EEE, dd/MM/yyyy HH:mm'}}<br />
                                {{flightsoutbound.DepartureAirportName}}<br />
                                {{flightsoutbound.DepartureAirportCode}}<br />
                                {{flightsoutbound.MarketingAirLine}}
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="row">
                                <div class="text-center">
                                    {{flightsoutbound.TravelDuration}} h<br />
                                    <i class="fa fa-plane"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-5 text-right">
                            <div>
                                {{flightsoutbound.ArrivalDateTime| date : 'EEE, dd/MM/yyyy HH:mm'}}<br />
                                {{flightsoutbound.ArrivalAirportName}}<br />
                                {{flightsoutbound.ArrivalAirportCode}}<br />
                                {{flightsoutbound.FlightNumber}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 cost">
                    <h4>&pound;{{basketquoteobject.quoteHeader.FlightCost | number:2}}</h4>
                </div>
            </div>

        </div>
        <div class="col-xs-12">
            <h4 class="sechead">Accommodation</h4>
        </div>
        <div class="col-xs-12 aCC_dEtails">
            <div class="row  nomarging crdpmd notopmarg">
                <div class="col-xs-7 nopadding">
                    <div class="row">
                        <div class="col-xs-6 padhtl">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="hotel-primary-det">
                                        <h4>
                                            <a class="hotel-det-link prl">{{basketquoteobject.hotelComponent.HotelName}}</a> &nbsp;
                                            <span class="htlrtg"><i class="fa fa-star" ng-repeat="n in [] | range:basketquoteobject.hotelComponent.StarRating"></i></span>
                                        </h4>
                                    </div>
                                    <div class="text-left  hotel-primary-info">
                                        {{basketquoteobject.hotelComponent.HotelCity}} <br />
                                        <!--<img class="rating-stars" ng-src="{{basketquoteobject.hotelComponent.TripAdvisorRating}}"/><br />-->
                                        {{basketquoteobject.hotelComponent.SupplierResortName}}

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 left-border padhtl">
                            <div class="row">
                                <div class="col-xs-12">
                                    {{basketquoteobject.searchModel.AdultsCount}}A,
                                    {{basketquoteobject.searchModel.ChildrenCount}}C,
                                    {{basketquoteobject.searchModel.InfantsCount}}I
                                    <br />
                                    No of Rooms : {{basketquoteobject.searchModel.RoomNo}}<br />
                                    Room Type: {{basketquoteobject.hotelComponent.hotelComponentsDetails[0].RoomDescription}}
                                    <br />
                                    Board Type: {{basketquoteobject.hotelComponent.hotelComponentsDetails[0].RatePlanName}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 checkin_out nopadding">
                    <div class="col-xs-6">
                        <div class="checkout-wrap">
                            <div class="checkin"><p>Check-In</p></div>
                            <div><h4><b>{{basketquoteobject.hotelComponent.CheckInDate | date : 'dd'}}</b></h4></div>
                            <div>
                                <p>
                                    <span>{{basketquoteobject.hotelComponent.CheckInDate | date : 'MMMM'}} </span>
                                    <span>{{basketquoteobject.hotelComponent.CheckInDate | date : 'y'}}</span>
                                </p>
                            </div>
                            <div>
                                <p>{{basketquoteobject.hotelComponent.CheckInDate | date : 'EEEE'}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="checkout-wrap">
                            <div class="checkout"><p>Check-Out</p></div>
                            <div><h4><b>{{basketquoteobject.hotelComponent.CheckOutDate | date : 'dd'}}</b></h4></div>
                            <div>
                                <p>
                                    <span>{{basketquoteobject.hotelComponent.CheckOutDate | date : 'MMMM'}} </span>
                                    <span>{{basketquoteobject.hotelComponent.CheckOutDate | date : 'y'}}</span>
                                </p>
                            </div>
                            <div><p>{{basketquoteobject.hotelComponent.CheckOutDate | date : 'EEEE'}}</p></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 cost">
                    <h4>&pound;{{(basketquoteobject.quoteHeader.HotelCost + basketquoteobject.quoteHeader.FidelityCost) | number:2}}</h4>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <h4 class="sechead">Transfers</h4>
        </div>
        <div class="col-xs-12 travel_dETails-wrap">
            <div class="row  nomarging crdpmd notopmarg">
                <div class="col-xs-10 noleftpadd travel_dETails" ng-show="basketquoteobject.transferComponents[0].BookingTypeId">
                    <div>
                        <strong>Transfer type :</strong> <span>{{basketquoteobject.transferComponents[0].ProductType}}</span> <br />
                        <strong>Duration :</strong> <span>{{basketquoteobject.transferComponents[0].TransferTime}} min</span><br />
                        <span ng-show="basketquoteobject.transferComponents[0].Luggage>0"><strong> Quantity :</strong> {{basketquoteobject.transferComponents[0].Units}}</span>

                    </div>
                </div>
                <div class="col-xs-10 noleftpadd travel_dETails" ng-show="basketquoteobject.transferComponents[0].BookingTypeId == null">
                    <div>
                        <strong class="text-danger">Transfers not selected.</strong>
                    </div>
                </div>
                <div class="col-xs-2 cost" ng-show="basketquoteobject.transferComponents[0].BookingTypeId">
                    <h4>&pound;{{basketquoteobject.quoteHeader.TransfersCost | number:2}}</h4>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <h4 class="sechead">Baggage </h4>
        </div>
        <div class="col-xs-12 bags-wrap">
            <div class="row  nomarging crdpmd notopmarg" ng-show="!isContainBags">
                <div class="col-xs-10 noleftpadd travel_dETails">
                    <div class="row">
                        <div>
                            <div ng-repeat="selectedItem in outbound track by $index">
                                <div class="col-xs-12 bagheaders" ng-if="$index == 0 && selectedItem.Direction=='Outbound'"><strong>Outbound baggage</strong> </div>
                                <div class="col-xs-12" ng-if="selectedItem.Direction=='Outbound'">
                                    <strong class="col-xs-2">Passenger {{$index + 1}}</strong>
                                    <span class="col-xs-7" ng-bind-html="selectedItem.BagsDescription"></span> &nbsp;&nbsp;&nbsp;
                                    <span class="col-xs-2" ng-show="selectedItem.SellingPrice">£{{selectedItem.SellingPrice | number:2}}</span><br />
                                </div>
                            </div>
                            <div ng-repeat="selectedItem in inbound track by $index">
                                <div class="col-xs-12 bagheaders top-margin" ng-if="$index == 0 && selectedItem.Direction=='Inbound'"><strong>Inbound baggage</strong> </div>
                                <div class="col-xs-12" ng-if="selectedItem.Direction=='Inbound'">
                                    <strong class="col-xs-2">Passenger {{$index + 1}}</strong>
                                    <span class="col-xs-7" ng-bind-html="selectedItem.BagsDescription"></span> &nbsp;&nbsp;&nbsp;
                                    <span class="col-xs-2" ng-show="selectedItem.SellingPrice">£{{selectedItem.SellingPrice | number:2}}</span><br />
                                </div>
                            </div>
                            <div ng-repeat="selectedItem in roundTripBags track by $index">
                                <div class="col-xs-12 bagheaders top-margin" ng-if="$index == 0 && selectedItem.Direction=='Flight Return'"><strong>RoundTrip baggage</strong> </div>
                                <div class="col-xs-12" ng-if="selectedItem.Direction=='Flight Return'">
                                    <strong class="col-xs-2">Passenger {{$index + 1}}</strong>
                                    <span class="col-xs-7" ng-bind-html="selectedItem.BagsDescription"></span> &nbsp;&nbsp;&nbsp;
                                    <span class="col-xs-2" ng-show="selectedItem.SellingPrice">£{{selectedItem.SellingPrice | number:2}}</span><br />
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
                <div class="col-xs-2 cost">
                    <h4>£{{total | number:2}}</h4>
                </div>
            </div>

            <div class="row  nomarging crdpmd notopmarg" ng-show="isContainBags">
                <div> <strong class="text-danger">Baggage not selected.</strong></div>
            </div>

        </div>
        <div class="col-xs-12 profit-wrap">
            <div class="row nomarging crdpmd notopmarg">
                <div class="col-xs-10 noleftpadd profit">
                    <h4 class="sechead">Profit</h4>
                </div>
                <div class="col-xs-2 cost">
                    <h4>£{{((basketquoteobject.quoteHeader.MarginExtras | number:2 | convertToNumber) + (basketquoteobject.quoteHeader.MarginFlight| number:2 | convertToNumber) + (basketquoteobject.quoteHeader.MarginHotel| number:2 | convertToNumber))|number:2}}</h4>
                </div>
            </div>
            <div class="col-xs-12 text-right">
                <h4 class="total_cost">Total :  <span>&pound;{{basketquoteobject.quoteHeader.GrandTotal | number:2}}</span></h4>
            </div>
        </div>

    </div>
    <div class="row contact_details_wrapper">
        <div class="col-xs-12 contact_details">
            <h4 class="sechead">Contact Details</h4>
            <p>The address given must be the card holder's billing address as shown on their statement.</p>
        </div>
        <div class="col-xs-12 lead_form crdpmd">
            <div class="row">
                <div class="col-xs-10">
                    <div class="row search-col-space">
                        <div class="col-xs-2">Title:<span class="mandtr">*</span></div>
                        <div class="col-xs-2">
                            <select class="form-control" ng-model="basketquoteobject.quoteHeader.CustomerTitle">
                                <option ng-repeat="titleOptions in bookingModel.passengerDetails[0].titleList ">{{titleOptions}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row search-col-space">
                        <div class="col-xs-2">First Name:<span class="mandtr">*</span></div>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" ng-model="basketquoteobject.quoteHeader.CustomerFirstName" />
                        </div>
                    </div>
                    <div class="row search-col-space">
                        <div class="col-xs-2">Last Name:<span class="mandtr">*</span></div>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" ng-model="basketquoteobject.quoteHeader.CustomerLastName" />
                        </div>
                    </div>
                    <div class="row search-col-space">
                        <div class="col-xs-2">Telephone Number :</div>
                        <div class="col-xs-4">
                            <input type="text" numbers-only="\d" class="form-control" ng-model="contactDetails.Telephone" />
                        </div>
                    </div>
                    <div class="row search-col-space">
                        <div class="col-xs-2">Mobile Number:<span class="mandtr">*</span></div>
                        <div class="col-xs-4 mNumber_wrapperBook">
                            <input type="text" class="form-control" id="mNumber_lable3" placeholder="44" maxlength="2" ng-model="contactDetails.CountryCode" numbers-only="\d" />
                            <input type="text" class="form-control" id="mNumber_field3" ng-model="contactDetails.Mobile" numbers-only="\d" />
                        </div>

                    </div>
                    <div class="row search-col-space">
                        <div class="col-xs-2">Email Address:<span class="mandtr">*</span></div>
                        <div class="col-xs-4">
                            <input type="email" class="form-control" ng-model="contactDetails.Email" />
                        </div>
                    </div>
                    <div class="row search-col-space">
                        <div class="col-xs-2">House No:<span class="mandtr">*</span></div>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" ng-model="contactDetails.HouseNumber" />
                        </div>
                    </div>
                    <div ng-show="manualCustomerAddress" class="row">
                        <div class="col-xs-2">Address Search:</div>

                        <div class="col-xs-4">
                            <input type="text" class="form-control" ng-model="basketquoteobject.quoteHeader.PostCode" maxlength="10" />
                            <span class="postCodeError" ng-show="!manual2 || !showManual">{{bookingModel.Error}}</span>
                        </div>

                        <div class="col-xs-2 noleftpadd">
                            <a class="btn btn-info find_code" ng-click="FindAddress(basketquoteobject.quoteHeader.PostCode,'postcode')">Find Address</a>
                        </div>

                    </div>
                    <div class="row" ng-show="manualCustomerAddress">
                        <div class="col-xs-4 col-xs-offset-2 noleftpadd" ng-if="bookingModel.postCodeList" ng-show="manualCustomerAddress; bookingModel.postCodeList.length">
                            <select class="form-control postCodeList" size="10" name="ngvalueselect1" ng-model="bookingModel.selectedAddress" ng-options="option.postcode +',' + option.line_1 + ',' + option.line_2 +',' + option.line_3 + ','+ option.post_town for option in bookingModel.postCodeList track by option.udprn " ng-change="bindAddresData(bookingModel.selectedAddress,'postcode');">
                                <option value="" ng-model="bookingModel.selectedAddress">-- Select Address --</option>
                            </select>
                        </div>
                    </div>

                    <div ng-show="!manualCustomerAddress" class="row">

                        <div class="col-xs-12">
                            <div class="row search-col-space">
                                <div class="col-xs-2">Address:<span class="mandtr">*</span></div>
                                <div class="col-xs-4">
                                    <input type="text" class="form-control" ng-model="contactDetails.Address1" />
                                </div>
                            </div>
                            <div class="row search-col-space">
                                <div class="col-xs-2">City/Town:<span class="mandtr">*</span></div>
                                <div class="col-xs-4">
                                    <input type="text" class="form-control" ng-model="contactDetails.CityTown" />
                                </div>
                            </div>
                            <div class="row search-col-space">
                                <div class="col-xs-2">Country:<span class="mandtr">*</span></div>
                                <div class="col-xs-4">
                                    <input type="text" class="form-control" ng-model="contactDetails.Country" readonly />
                                </div>
                            </div>
                            <div class="row search-col-space">
                                <div class="col-xs-2">Post Code:<span class="mandtr">*</span></div>
                                <div class="col-xs-4">
                                    <input type="text" class="form-control" ng-model="contactDetails.PostCode" maxlength="10" />
                                </div>
                                <!--<div class="col-xs-1 noleftpadd">
                                    <button class="btn btn-info find_code" ng-click="bookingModel.FindAddress(contactDetails.PostCode)">Find</button>
                                </div>-->
                            </div>
                            <div ng-show="!manualCustomerAddress" class="row search-col-space nolineh">
                                <div class="col-xs-2"></div>

                                <div class="col-xs-3">
                                    <p class="enter_manul_details2">or <a class="enter_manual" ng-click="removeAddressFieldsData('Passenger')">enter your address manually</a></p>
                                </div>

                            </div>
                            <div class="row search-col-space">
                                <div class="col-xs-2">&nbsp;</div>
                                <div class="col-xs-5">
                                    <a class="btn btn-info" ng-click="manualCustomerAddress=!manualCustomerAddress;bookingModel.postCodeList=[];bookingModel.Error='';">Find another Address</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--<div class="row search-col-space">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-6 nolineh">
                            <input type="checkbox" ng-model="contactDetails.sendOffersDetailsOnEmail"> Yes! Send Teletext exclusive offers by E-mail to customer<br />
                            <input type="checkbox" ng-model="contactDetails.sendOffersDetailsOnSMS"> Yes! Send Teletext exclusive offers by SMS to customer
                        </div>

                    </div>-->
                </div>
            </div>
        </div>
        <div class="col-xs-12 passnger_detls">
            <h4 class="sechead">Passenger Details</h4>
            <p>Names must be entered in full and should be spelt as they appear on the passengers passport.</p>
        </div>
        <div class="col-xs-12 pssenger_details_wrapper crdpmd" ng-repeat="pax in bookingModel.passengerDetails">
            <div class="row search-col-space">
                <div class="col-xs-2 leadp">{{pax.passengerType}} Passenger {{$index+1}}<br /><span class="lead_passenger_italic" ng-show="{{$index+1}}==1"><i>(Lead passenger)</i></span></div>
                <div class="col-xs-1 norightpadd">
                    <select class="form-control" ng-model="pax.Title">
                        <option ng-repeat="titleOptions in pax.titleList ">{{titleOptions}}</option>
                    </select>
                </div>
                <div class="col-xs-2 norightpadd">
                    <input type="text" class="form-control" placeholder="First Name" ng-model="pax.FirstName" />
                </div>
                <div class="col-xs-2 norightpadd">
                    <input type="text" class="form-control" placeholder="Last Name" ng-model="pax.LastName" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">Date of Birth:<span class="mandtr" ng-show="$index == 0"></span> </div>
                <div class="col-xs-3 norightpadd" ng-controller="singleDateCtrl">
                    <input date-picker id="daterange1" name="daterange1" class="form-control date-picker" type="text"
                           min="pax.minDate" max="pax.maxDate" ng-model="pax.DateOfBirth" required placeholder="DD/MM/YYYY" readonly />
                </div>

            </div>
        </div>
        <div class="col-xs-12 text-center share_cust">
            <input type="button" class="btn btn-info" ng-click="savePassengerDetails()" value="Live share this quote" />
            <input type="button" class="btn btn-info" value="Book Quote" ng-click="SendQuoteAsEmailToLeadPassenger()" />
        </div>
    </div>


    <div class="row cardDetailsWrapper">
        <h4 class="sechead">Payment Details</h4>
        <div class="col-xs-12 crdpmd  text14">
            <div class="row crdw-head">
                <div class="col-xs-4 card_deposite_checkBox"><div><input type="checkbox" name="deposit" id="deposit" value="deposit" ng-model="bookingModel.isDeposit" ng-click="depositCalculate()" ng-disabled="bookingModel.isDepositDisabled"> <strong>Deposit</strong></div></div>
                <div class="col-xs-4 text-center"><div><strong>Min Amount: &pound; {{bookingModel.depositMinAmount | number:2}}</strong></div></div>
                <div class="col-xs-4 bookingDepositAmount">
                    <div><strong class="bookingDepositDueDate">Due Date:</strong> <strong ng-show="bookingModel.isDeposit">{{bookingModel.depositDueDate| date:'dd/MM/yyyy'}}</strong></div>
                    <div><strong class="bookingDepositDueAmount">Due Amount:</strong> <strong ng-show="bookingModel.isDeposit">&pound; {{bookingModel.depositDueAmount | number:2}}</strong></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="deposit-msg">
                        <li>
                            <span class="glyphicon glyphicon-ok" style="color:green" ng-show="bookingModel.isDepositDaysSatisfied"></span> <span class="glyphicon glyphicon-remove" style="color:red" ng-show="!bookingModel.isDepositDaysSatisfied"></span>
                            The difference between book date and journey date should be > {{basketquoteobject.SesameBookBasket.DepositDays}} days.
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-ok" style="color:green" ng-show="!bookingModel.isHotelNonRefundable"></span> <span class="glyphicon glyphicon-remove" style="color:red" ng-show="bookingModel.isHotelNonRefundable"></span>
                            Hotel should be refundable.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="paymnet-det-grid">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Payment Status</th>
                        <th>Transaction Id</th>
                        <th>Authorization Code</th>                      
                        <th class="text-center">Amount</th>
                        <th class="text-center">Surcharge</th>
                        <th class="text-center">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pDetail in PaymentDetails">
                        <td>{{::pDetail.name}}</td>
                        <td>{{::pDetail.address}} {{::pDetail.city}}</td>
                        <td>{{::pDetail.txnResult}}</td>
                        <td>{{::pDetail.transactionId}}</td>
                        <td>{{::pDetail.authCode}}</td>                       
                        <td class="text-center">&pound;{{pDetail.cost | number:2}}</td>
                        <td class="text-center">&pound;{{pDetail.surcharge | number:2}}</td>
                        <td class="text-center">&pound;{{pDetail.totalprice | number:2}}</td>
                    </tr>
                    <tr>
                        <td colspan="7" class="text-right"><strong>Total: </strong></td>
                        <td class="text-center"><strong>&pound;{{getGrandPaymentTotal() | number:2}}</strong><strong ng-hide="true">&pound;{{getPaymentTotal() | number:2}}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-xs-6 pull-left card_payment_wrapper nopadding">
            <div class="crdpmd card_payment">
                <div class="row search-col-space">
                    <div class="col-xs-12 card_details">
                        <input type="checkbox" value="{{bookingModel.isSameAddress}}" ng-model="bookingModel.isSameAddress" ng-click="sameAddress()" /> Same as above address
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 card_addrs_wrapper">
                        <div class="row search-col-space">
                            <div class="col-xs-3">Select Card:<span class="mandtr">*</span></div>
                            <div class="col-xs-6">
                                <select class="form-control" ng-model="CardTypeSelected" ng-change="GetSelectedCardType(CardTypeSelected.PaymentTypeID,bookingModel.paymentDetail.cost)" data-ng-options="CardType as CardType.PaymentType for CardType in bookingModel.cardTypes">
                                    <option value="">Select Card Type</option>
                                </select>
                            </div>
                        </div>
                        <div class="row search-col-space">
                            <div class="col-xs-3">First Name:<span class="mandtr">*</span></div>
                            <div class="col-xs-6">
                                <input type="text" class="form-control" ng-model="bookingModel.paymentDetail.firstName" />
                            </div>
                        </div>
                        <div class="row search-col-space">
                            <div class="col-xs-3">Last Name:<span class="mandtr">*</span></div>
                            <div class="col-xs-6">
                                <input type="text" class="form-control" ng-model="bookingModel.paymentDetail.lastName" />
                            </div>
                        </div>
                        <div class="row search-col-space">
                            <div class="col-xs-3">Name On Card:<span class="mandtr">*</span></div>
                            <div class="col-xs-6">
                                <input type="text" class="form-control" ng-model="bookingModel.paymentDetail.name" />
                            </div>
                        </div>
                        <div class="row search-col-space">
                            <div class="col-xs-3">House No:<span class="mandtr">*</span></div>
                            <div class="col-xs-6">
                                <input type="text" class="form-control" ng-model="bookingModel.paymentDetail.houseNumber" />
                            </div>
                        </div>
                        <div class="row" ng-show="manualPaymentAddress">
                            <div class="col-xs-3">Address Search:</div>

                            <div class="col-xs-6">
                                <input type="text" class="form-control" ng-model="bookingModel.paymentDetail.postCode" />
                                <span class="postCodeError" ng-show="!manual2 || !showManual">{{bookingModel.ErrorPayment}}</span>
                            </div>
                            <div class="col-xs-3 noleftpadd">
                                <a class="btn btn-info find_code" ng-click="FindAddress(bookingModel.paymentDetail.postCode,'payment')">Find Address</a>
                            </div>
                        </div>
                        <div class="row" ng-show="manualPaymentAddress">
                            <div class="col-sm-6 col-sm-offset-3" ng-if="bookingModel.postCodePaymentList" ng-show="!manualPaymentAddress; bookingModel.postCodePaymentList.length">
                                <select class="form-control paymentPostCodeList" size="10" name="ngvalueselect2" ng-model="bookingModel.selectedAddress" ng-options="option.postcode +',' + option.line_1 + ',' + option.line_2 +',' + option.line_3 + ','+ option.post_town for option in bookingModel.postCodePaymentList track by option.udprn " ng-change="bindAddresData(bookingModel.selectedAddress,'payment')">
                                    <option value="" ng-model="bookingModel.selectedAddress">-- Select Address --</option>
                                </select>
                            </div>
                        </div>

                        <div ng-show="!manualPaymentAddress" class="row">
                            <div class="col-xs-12">

                                <div class="row search-col-space">
                                    <div class="col-xs-3">Address:<span class="mandtr">*</span></div>
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control" ng-model="bookingModel.paymentDetail.address" />
                                    </div>
                                </div>
                                <div class="row search-col-space">
                                    <div class="col-xs-3">City/Town:<span class="mandtr">*</span></div>
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control" ng-model="bookingModel.paymentDetail.city" />
                                    </div>
                                </div>
                                <div class="row search-col-space">
                                    <div class="col-xs-3">Country:<span class="mandtr">*</span></div>
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control" ng-model="bookingModel.paymentDetail.country" readonly />
                                    </div>
                                </div>
                                <div class="row search-col-space">
                                    <div class="col-xs-3">Post Code:<span class="mandtr">*</span></div>
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control" ng-model="bookingModel.paymentDetail.postCode" />
                                    </div>
                                    <!--<div class="col-xs-2 noleftpadd">
                                        <button class="btn  btn-info find_code">Find</button>
                                    </div>-->
                                </div>
                                <div class="row" ng-show="!manualPaymentAddress">
                                    <div class="col-xs-3">&nbsp; </div>
                                    <div class="col-xs-5"><p class="enter_manul_details2">Or <a class="enter_manual" ng-click="removeAddressFieldsData('Book')">enter address manually</a></p></div>
                                </div>
                                <div class="row search-col-space">
                                    <div class="col-xs-3"></div>
                                    <div class="col-xs-5">
                                        <a class="btn btn-info" ng-click="manualPaymentAddress = !manualPaymentAddress;bookingModel.postCodePaymentList=[];bookingModel.ErrorPayment='';">Find another Address</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row cost_final">
                    <div class="col-xs-12">
                        <div class="row  search-col-space">
                            <div class="col-xs-3">Cost:</div>

                            <div class="col-xs-6">
                                <div class="input-group">
                                    <span class="input-group-addon">&pound;</span>
                                    <input type="text" class="form-control" value="{{CardTypeSelected.PaymentTypeID}}" ng-change="GetSelectedCardType(CardTypeSelected.PaymentTypeID,bookingModel.paymentDetail.cost);" ng-model="bookingModel.paymentDetail.cost" numbers-only ng-keyup="calculateCradCharges()" />
                                </div>
                            </div>
                        </div>
                        <div class="row  search-col-space">
                            <div class="col-xs-3">Card Charges:</div>
                            <div class="col-xs-3">
                                <div class="input-group">
                                    <span class="input-group-addon">&pound;</span>
                                    <input type="text" class="form-control" ng-model="bookingModel.paymentDetail.cardCharges" readonly />
                                </div>
                            </div>
                            <div class="col-xs-3">
                                {{bookingModel.paymentDetail.paymentRule}}
                            </div>
                        </div>
                        <div class="row search-col-space">
                            <div class="col-xs-3">Total Cost:</div>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <span class="input-group-addon">&pound;</span>
                                    <input type="text" id="txttotalCost" class="form-control" ng-model="bookingModel.paymentDetail.totalCost" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="row search-col-space">
                            <div class="col-xs-3">Expiry Date:</div>
                            <div class="col-xs-6">
                                <input type="text" numbers-only="\d" class="form-control" ng-model="bookingModel.paymentDetail.cardExpiry" maxlength="6" placeholder="MMYYYY" />
                            </div>
                        </div>
                        <!--<div class="row search-col-space">
                            <div class="col-xs-3">&nbsp;</div>
                            <div class="col-xs-7">
                                <input type="checkbox" checked />  Please accept <a href="http://www.teletextholidays.co.uk/terms-and-conditions" target="_blank">Terms and Conditions</a>
                            </div>
                        </div>-->
                        <div class="text-center book_now search-col-space">
                            <button class="btn text-center" ng-click="addPaymentDetail()">Acknowledge Payment</button>
                            <button class="btn text-center" ng-click="proceedPayment()">Proceed to Payment</button>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="ispPay">
                    <div class="col-xs-12 card_addrs_wrapper">
                        <div class="row search-col-space">
                            <div class="col-xs-3">Response content:*</div>
                            <div class="col-xs-6">
                                <textarea class="form-control" rows="10" ng-model="bookingModel.paymentDetail.cardEasyResponse"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="crdpmd card_payment" style="display:none;">
                <div class="row search-col-space  form-inline">
                    <div class="col-xs-3">
                        <input type="checkbox" value="{{bookingModel.quoteOverride.isOverride}}" ng-model="bookingModel.quoteOverride.isOverride" ng-click="overrideBooking()" /> Override
                    </div>
                    <div class="col-xs-6 form-group">
                        <label class="lbl">Approved By:</label>
                        <input type="text" class="form-control" placeholder="Approver Name" ng-model="bookingModel.quoteOverride.approverId" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 card_addrs_wrapper">
                        <div class="row search-col-space">
                            <div class="col-xs-3">Comments:</div>
                            <div class="col-xs-10">
                                <textarea type="text" class="form-control" rows="3" ng-model="bookingModel.quoteOverride.comments" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="syntecGateway_wrapper nopadding crdpmd card_payment pull-left" id="iFrameDiv">
            <iframe id="syntecGateway" src="{{basketquoteobject.CardEasyUrl}}"></iframe>
        </div>
        <div class="col-xs-12 text-center bokngbtn">
            <form action="../BookingFulfillment/Index" method="get" name="bookingFulfilForm" id="bookingFulfilForm">
                <input type="hidden" name="quoteHeaderId" id="quoteHeaderId" value="{{basketquoteobject.quoteHeader.QuoteHeadderId}}" ng-value="basketquoteobject.quoteHeader.QuoteHeadderId" />
            </form>
            <button class="btn btn-primary btn-lg" id="btnBookNow" type="submit" ng-disabled="!bookingModel.quoteOverride.isPaymentDone" ng-click="saveBook()">Book Now</button>
            <span class="fa btn-loader-book"></span>
        </div>
    </div>
</div>
