﻿<div ng-controller="baggageCtrl">
    <div class="panel panel-default" ng-class="{'ner': !isExpanded}" ng-controller="panelCtrl">
        <div ng-hide="hideTotalSlabs" style="background-color:rgba(255,255,255,0.6);">
            <div class="panel-heading" role="tab">
                <div class="panel-title">
                    <div class="row">
                        <div class="col-xs-6">
                            <h3 class="panel-int-ttl">Baggage Selection</h3>
                        </div>
                        <div class="col-xs-2">
                            <!--<a  class="btn btn-info accupy  btn-sm" value="Refresh" ng-click="getBagages()">Refresh</a>--> 
                        </div>
                        <div class="col-xs-3 norightpadd">
                        </div>
                        <div class="col-xs-1 tog-acc-icon ">
                            <span ng-click="toggle()" class="pull-right glyphicon" ng-class="(isExpanded) ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- The "in" class determines whether the panel is opened or closed -->
            <div class="panel-collapse collapse" ng-class="{'in': isExpanded}" role="tabpanel">
                <div class="panel-body">
                    <div class="row bag-sel-wrp">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 out-bound-bs">
                                    <div ng-show="baggage.isRefreshed" class="row">
                                        <div class="col-xs-12 in-bound-bs" ng-show="baggage.showOutBoundBagSlabs" >
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="dot-border label-bag-head"><strong>{{ baggage.towayOrOutBoundDisplayText}} </strong> </div>
                                                </div>
                                            </div>
                                            <div class="row" ng-repeat="x in getnoOfPassengers(baggage.noOfPassengers) track by $index" ng-show="baggage.showTwowayorOutBoundBaggageDetails">
                                                <div class="col-xs-2 norightpadd">
                                                    <label>Passenger {{::$index+1}} </label>
                                                </div>
                                                <div class="col-xs-9 baggasel">
                                                    <div class="row">
                                                        <div class="col-xs-9 baggasel">
                                                            <select ng-model="baggageType" class="form-control" ng-options="baggageItem.Code as baggageItem.Description for baggageItem in  baggage.towayOrOutboundBaggage.BoundBaggageSlabs.cartitianSlabs" ng-change="baggageButtonTextChange(baggage.towayOrOutboundBaggageTextIndex,$index)">
                                                                <option value="">Add Baggage</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-xs-3 norightpadd">
                                                            <button class="btn btn-primary" ng-click="AddBaggage(baggageType,$index+1,'Outbound')" ><span ng-show="baggage.towayOrOutboundBaggageTextIndex[$index]">Add</span> <span ng-show="!baggage.towayOrOutboundBaggageTextIndex[$index]">Added</span></button >
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--<div ng-hide="baggage.showTwowayorOutBoundBaggageDetails"> No baggage slabs are available</div>-->
                                                <div class="col-xs-12">
                                                    <div class="dot-border"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 in-bound-bs" ng-hide="!baggage.isTowayOrOutboundBaggageErrorOccured">
                                                <span>{{::baggage.towayOrOutboundBaggageErrorMsg}}</span>
                                            </div>
                                        </div>


                                        <div class="col-xs-12 in-bound-bs" ng-show="baggage.showInBoundBagSlabs">
                                            <div class="row">
                                                <div class="col-xs-12 label-bag-head">
                                                    <div class="dot-border label-bag-head"><strong>{{baggage.inBoundDisplayText}} </strong></div>
                                                </div>
                                            </div>

                                            <div class="row" ng-repeat="x in getnoOfPassengers(baggage.noOfPassengers) track by $index">
                                                <div class="col-xs-2 norightpadd" ng-show="baggage.showInBoundBagSlabs">
                                                    <label>Passenger {{::$index+1}} </label>
                                                </div>
                                                <div class="col-xs-9 baggasel" ng-show="baggage.showInBoundBagSlabs">
                                                    <div class="row">
                                                        <div class="col-xs-9 baggasel">
                                                            <select ng-model="baggageType" class="form-control" ng-options="baggageItem.Code as baggageItem.Description for baggageItem in baggage.InboundBaggage.BoundBaggageSlabs.cartitianSlabs" ng-change="baggageButtonTextChange(baggage.inboundBaggageTextIndex,$index)">
                                                                <option value="">Add Baggage</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-xs-3 norightpadd">
                                                            <button  class="btn btn-primary" ng-click="AddBaggage(baggageType,$index+1,'Inbound')"><span ng-show="baggage.inboundBaggageTextIndex[$index]">Add</span> <span ng-show="!baggage.inboundBaggageTextIndex[$index]">Added</span></button> 
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12">
                                                    <div class="dot-border"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12" ng-hide="!baggage.isInboundBaggageErrorOccured">
                                                <span>{{baggage.InboundBaggageErrorMsg}}</span>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 text-right">
                                                    <modal title="Baggage Selection" visible="showModal">
                                                        <div class="row">
                                                            <div class="col-xs-12 text-left">
                                                                <p>
                                                                    You have not picked <br />
                                                                    Baggage selection for {{selectedbag1 + selectedbag2 + selectedbag3}} passengers in Outbound<br />
                                                                    Baggage selection for {{selectedbag4 + selectedbag5 + selectedbag6}} passengers in Inbound<br />
                                                                </p>
                                                                <p><strong>Do you want to proceed with selections made</strong></p>
                                                            </div>


                                                        </div>

                                                        <div class="row">
                                                            <div class="col-xs-12 text-right">
                                                                <a class="btn btn-info" data-dismiss="modal">No</a>

                                                                <a class="btn btn-primary" data-dismiss="modal">Yes</a>
                                                            </div>
                                                        </div>
                                                    </modal>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="hideTotalSlabs">
                <span> Baggage slabs are not available for this carrier.</span>
            </div>
        </div>
    </div>
