/* highlight results */
.ui-autocomplete span.hl_results {
    background-color: #ffffff;    
}
 
/* loading - the AJAX indicator */
.ui-autocomplete-loading {
    background: white url('../Assets/ui-anim_basic_16x16.gif') right center no-repeat;
}
 
/* scroll results */
.ui-autocomplete {
    max-height: 250px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding for vertical scrollbar */
    padding-right: 5px;  
    background-color: #ffffff;
    border:1px solid;
    max-width:360px;
    z-index:22;
}
 
.ui-autocomplete li {
    font-size: 16px;
}
 
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 250px;
}