﻿.loading {
        display: none;
        width: 16px;
        height: 16px;
        background-image: url(loading.gif);
        vertical-align: text-bottom;
        z-index:100000;
    }
.ui-autocomplete{
    border:1px solid #c2c2c2;
    padding:15px;
   
}
.ui-autocomplete li{
    background-color:#f7f7f7;
    margin-bottom:2px;
    /*border-bottom:1px solid rgba(0,0,0,0.2);*/
    padding:5px;
   
}
.ui-autocomplete li a{
    color:#000;
}
.ui-autocomplete li:hover{
    background-color:#7a2681;
    color:#fff;
}
.ui-autocomplete li:hover a{
    background-color:#7a2681;
    color:#fff;
    border:none;
}
    /* autocomplete adds the ui-autocomplete-loading class to the textbox when it is _busy_, use general sibling combinator ingeniously */
    #autocomplete.ui-autocomplete-loading ~ .loading {
        display: inline-block;
    }
   
    .ui-autocomplete .m-name {
        margin-right: 1em;
        font-size: larger;
    }

    .ui-autocomplete .m-year {
        float: right;
        font-size: larger;
    }
    .ui-menu-item a{
        color:#fff;
    }
    .ui-menu-item a:hover{
        color:#fff;
        cursor:pointer;
    }
    .ui-autocomplete .m-cast {
        display: block;
        font-size: smaller;
    }
    /* Rotten Tomatoes Branding */
    .ui-autocomplete .rt-main {
        display: block;
        margin-left: 1em;
        font-size: smaller;
    }

    .ui-autocomplete .rt-ico {
        display: inline-block;
        margin-right: .5em;
        width: 16px;
        height: 16px;
        background-image: url(rt-icons.png);
        vertical-align: bottom;
    }

        .ui-autocomplete .rt-ico.fresh {
            background-position: 0 0;
        }

        .ui-autocomplete .rt-ico.rotten {
            background-position: -16px 0;
        }

        .ui-autocomplete .rt-ico.certified_fresh {
            background-position: -32px 0;
        }

    .ui-autocomplete .rt-val {
        display: inline-block;
        margin-right: .5em;
    }

    .ui-autocomplete .rt-bar {
        display: inline-block;
        margin-right: .5em;
        width: 10em;
        height: 1em;
        background-color: #ECE4B5;
    }

        .ui-autocomplete .rt-bar span {
            display: block;
            height: 1em;
        }

        .ui-autocomplete .rt-bar.fresh span, .ui-autocomplete .rt-bar.certified_fresh span {
            background-color: #C91B22;
        }

        .ui-autocomplete .rt-bar.rotten span {
            background-color: #94B13C;
        }