body {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    background: #000000 url('../Assets/global-bg.jpg') no-repeat center top;
    background-size: 1400px 100%;
    background-attachment: fixed;
    padding: 0 !important;
}
/*::-webkit-scrollbar {
        width: 12px;
        }
        ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.3); 
        border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 8px     rgba(0,0,0,0.5); 
        }*/
#loader {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1200;
    width: 100%;
    display: none;
}
.mNumber_wrapper #mNumber_lable{
    width:40px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    float:left;
}
.mNumber_wrapperPop #mNumber_lable2{
    width:41px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    float:left;
}
.mNumber_wrapperBook #mNumber_lable3{
    width:41px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    float:left;
}
.mNumber_wrapper #mNumber_field{
    width:240px;
     border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.mNumber_wrapperPop #comment{
    width:216px;
     border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.mNumber_wrapperBook #mNumber_field3{
    width:316px;
     border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
#filtersloader {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1200;
    width: 100%;
    display: none;
}
.fa.fa-long-arrow-up {
    font-weight: bold;
    font-size: 14px;
}
.fa.fa-long-arrow-down {
    font-weight: bold;
    font-size: 14px;
}

.logo_loader {
    padding-top: 45%;
    background-image: url('../Assets/logo_loader.png');
    background-position: center center;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    width: 226px;
    height: 146px;
    line-height: 146px;
    margin: 49px auto;
    -webkit-animation: loader 1.0s infinite;
    -moz-animation: loader 1.0s infinite;
    animation: loader 1.0s infinite;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/***JQmodal****/
body .ui-widget-overlay {
    background: rgba(0,0,0,0.7) !important;
    opacity: 1 !important;
    z-index: 2000 !important;
}
.ui-dialog.ui-widget-content {
    background-color: #fff;
    border-radius: 6px;
    padding:0;
    position:fixed;
    top: 30% !important;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.ui-dialog .ui-dialog-titlebar{
    min-height: 16.43px;
    padding: .4em 1em;
    border-radius:0;
    background-color: #74397a !important;
    background-image: url("../Assets/logo.png") !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    color: #FFFFFF;
    cursor: all-scroll;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #74397a;
    height: 40px;
    width: 100%;
}
.ui-dialog .ui-dialog-title {
    float: left;
    margin: .1em 0;
    white-space: nowrap;
    width: 94% !important;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ui-dialog .ui-dialog-content {
    text-align: center;
    padding-top: 20px;
}
.ui-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    width:100% !important;
    padding: .5em 1em;
    background: none;
    overflow: auto;
    color: #333333;
}

.ui-dialog .ui-dialog-buttonpane button.vltbtn {
    background: #74397a;
}
.ui-dialog .ui-dialog-buttonpane button.btn-default {
    color: #FFFFFF;
    margin: 0 5px;
    box-shadow: 0 0 0;
    text-shadow: 0 0 0;
    font-weight: normal;
    border: 0;
}
.ui-dialog .ui-dialog-buttonpane {
    padding: 25px;
    text-align :right;
}
.grnbtn, .grnbtn:hover, .grnbtn:focus, .ui-dialog .ui-dialog-buttonpane button.grnbtn {
    background: #89c25d;
}
/**Hedaer**/
.header {
    background: #6e3a81;
    height: 52px;
    min-width: 1000px;
    max-width: 1400px;
    width: 100%;
    position: fixed;
    z-index: 1041;
    box-shadow: 0 0 2px #333;
}

.logo {
    padding: 13px 15px;
    float: left;
    width: 27%;
}

.logo .icon-menu{
    display:none;
}

    .logo img {
        float: left;
    }

.user_cust_name {
    padding-top: 5px;
}

.icon-bubble {
    color: #00bfce !important;
    margin-left: 20px;
    font-size: 30px;
    display: inline-flex;
    width: 35PX;
}

.user_cust_name .icon-user {
    /*color:#00bfce !important;*/
    margin-left: 20px;
    color: #fff;
    font-size: 25px;
}

.agent-name {
    color: #fff;
    position: relative;
    top: -1px;
    left: 5px;
}

.quote-bubble:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: underline;
}

.agent-name:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: underline;
}

.quote-bubble {
    color: #fff;
    position: relative;
    top: -2px;
}

.notifications {
    float: right;
    text-align: right;
    padding: 0 50px 0 15px;
    color: #FFFFFF;
    font-size: 30px;
}
.nonRefundable {
    background-image: url('Assets/Non-Refundable.png');
    background-repeat: no-repeat;
   height: 20px;
    width: 40px;
    background-size: contain;
    display:block;
    float: right;
    margin-top: 11px;
}
    .notifications li {
        display: inline-block;
        margin: 3px 5px 0;
        height: 49px;
        cursor: pointer;
        padding: 6px 10px 0px;
    }

        .notifications li.active, .notifications li.active .icon {
            background-color: #FFFFFF;
            color: #333333;
        }


        .notifications li .icon, .notifications li.icon {
            color: #FFFFFF;
        }

.logo .icon {
    font-size: 24px;
    color: #FFFFFF;   
    padding: 0 0 0 17px;
}

#quote_count {
    position: relative;
    left: -24px;
    top: 7px;
    color: #fff;
    FONT-SIZE: 14px;
}
/**Hedaer**/

/**Navigation**/

/**Navigation**/


.srch-body-cntnr {
    margin-top: 51px;
}

.search-results-inner-wrap .form-control {
    color: #333333;
    font-size: 12px;
}

.container {
    min-width: 1000px;
    width: auto;
}

.btn-primary, .btn-primary:active, .btn-primary:focus {
    color: #fff;
    background-color: #74397a;
    border-color: #74397a;
}

    .btn-primary:hover {
        background-color: #74397a;
        border-color: #74397a;
    }

    .btn-primary.active.focus,
    .btn-primary.active:focus,
    .btn-primary.active:hover,
    .btn-primary:active.focus,
    .btn-primary:active:focus,
    .btn-primary:active:hover,
    .open > .dropdown-toggle.btn-primary.focus,
    .open > .dropdown-toggle.btn-primary:focus,
    .open > .dropdown-toggle.btn-primary:hover {
        background-color: #74397a;
    }

.panel-primary, .panel-default {
    border: 0 #74397a;
}

    .panel-primary.ner .panel-heading {
        border-radius: 3;
    }

    .panel-default.ner .panel-heading {
        border-radius: 0;
    }

.whtback h5 {
    font-weight: bold;
    color: #74397a;
}

h3.panel-int-ttl {
    margin: 0;
    line-height: 38px;
    height: 32px;
    color: #74397a;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.hprimg img {
    width: 100%;
}

.hpr-wrapper {
    border: 1px #74397a solid;
    padding: 3px;
    font-size: 11px;
}

.hpr-pre-choice {
    background: #74397a;
    color: #FFF;
    font-size: 14px;
    padding: 5px;
    margin-bottom: 5px;
}

.lhrext-pricing {
    padding: 5px;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
}

.row.prihtin {
    margin-right: 1px;
}

.noleftpadd {
    padding-left: 0;
}

.lhrext-pricing.bg-danger {
    background: #FF0000;
}

.smsemailBoxWrap.errobox {
    padding-right: 20px;
}

.search-results-area-wrp.col-xs-7 .stctop {
    width: 55.333333%;
    max-width: 786px;
}

.search-results-area-wrp.col-xs-8 .stctop {
    width: 63.666667%;
    max-width: 903px;
}

.smsemailBoxWrap {
    padding-right: 35px;
    padding-top: 32px;
    border-top: 1px solid #ccc;
    margin-top: 5px;
}

.lblsms label.opted {
    line-height: 26px !important;
}


.lblsms .opted input[type=checkbox] {
    margin-top: 6px !important;
}

.hpr-wrapper .bg-primary {
    background: #74397a;
}

.norightpadd {
    padding-right: 0;
}

.htlrtg {
    font-size: 12px;
    display: inline-block;
}

.ect-hpr-wrp {
    background: #e7dce9;
    padding: 5px;
    margin: 6px 0;
}

#create_customer_wrapper {
    margin-top: 50px;
}

#search_cust h3 {
    margin: 15px 0 20px;
}

#crete_customer label {
    line-height: 20px !important;
    margin-top: 5px !important;
}

.daterangepicker .calendar th, .daterangepicker .calendar td {
    min-width: 20px;
    font-size: 14px;
}

/*.hprselect .btn{
    padding: 5px 10px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 3px;
}*/

.hprextrainfo, hprselect {
    margin: 5px 0;
}

.hprhotel-name {
    font-size: 12px;
    font-weight: bold;
}

.hpr-downbtnleg {
    margin-top: 25px;
}

.blockimg img {
    width: 100%;
}

.customer-wrap {
    font-size: 11px;
}

.nopadding {
    padding: 0;
}

.scb-bs {
    margin-bottom: 10px;
}

.scb-ls {
    margin-left: 10px;
}

.scb-b-rs {
    margin-right: 10px;
}

.panel-primary > .panel-heading {
    color: #FFFFFF;
    background-color: rgba(110,58,129,0.5);
    border-color: rgba(110,58,129,0.5);
}

.panel-default > .panel-heading {
    color: #333333;
    background-color: rgba(255,255,255,0.6);
    border-color: rgba(255,255,255,0.6);
    border-radius: 0;
}

.search-col-wrp, .search-basket-wrp {
    font-size: 12px;
    color: #333333;
    background: #FFFFFF;
}

a.reset-search {
    color: #333333;
    text-decoration: underline;
    font-size: 11px;
}

.search-results-inner-wrap, .search-col-wrp, .search-basket-wrp {
    padding-top: 1em;
    margin-bottom: 1em;
}

.hotel-det-link {
    text-decoration: underline;
    cursor: pointer;
    color: #333333;
}

 .hotel-det-link.prl {
   color: #74397a;
   cursor:default;
   text-decoration: none;
  }

.hotel-primary-det h4 {
    margin: 0 0 3px;
    font-size: 16px;
    font-weight: 600;
}

.trans-primary-det h4 {
    margin: 8px 0 5px;
    font-size: 13px;
    font-weight: bold;
}

.hotel-primary-info {
    font-size: 14px;
    line-height: 19px;
}

.ttss-head {
    font-weight: bold;
    margin: 3px 0;
    font-size: 13px;
}

.flight-info-wrapper.cheap-item {
    background: #ffb657;
    border-color: #ff9000;
}

.cdhead {
    text-transform: none;
    font-weight: normal;
}

    .cdhead strong {
        font-weight: bold;
    }

.flight-info-wrapper.sellected-item, .hotel-info-wrapper.sellected-item, .hotel-info-wrapper.prefferd-item.sellected-item, .transfers-info-wrapper.sellected-item {
    background: #e7dce9;
    border-color: #74397a;
}
.room-selected a{    
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration:none;
}
.hotel-info-wrapper {
    margin: 5px 0;
    border: 1px solid #ccc;
}

.posting-info-wrapper, .flight-info-wrapper, .transfers-info-wrapper {
    background: #FAFAFA;
    margin: 5px 0;
    border: 1px solid #ccc;
    padding: 4px 0;
}
.status-sf.topdog-sf {
    height: 176px;
}
.row .out-bound-sf {
    border-right: 1px solid #ccc;
}

.arrow-stops {
    /*background: url('../Assets/arrow-stops.png') right center no-repeat;*/
    height: 12px;
    font-size: 18px;
    margin-bottom: 10px;
}

    .arrow-stops ul li {
        background: #FFFFFF;
        width: 10px;
        border: 2px solid #74397a;
        height: 10px;
        border-radius: 5px;
        text-align: center;
        display: inline-block;
        margin: 0 11%;
    }

.flight-stops, .stops_hours {
    font-size: 11px;
}

    /*.search-basket-wrp, .search-results-area-wrp {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}*/

    .flight-stops a {
        text-decoration: underline;
    }

.ariline-name img {
    max-width: 65px;
}

.flg-mrg .btn-default, .flg-mrg .form-control {
    background: #e6e6e6;
}

.lblsms label {
    font-size: 14px;
    line-height: 31px !important;
    float: left;
}

.lblsms input[type=checkbox] {
    float: left;
    margin-right: 8px;
    margin-top: 8px !important;
}

.price-sflight {
    font-size: 12px;
    line-height: normal;
    padding-top: 0;
    padding-bottom: 2px;
}

.modal-body p {
    line-height: normal;
    font-size: 14px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #FFFFFF;
}

td.activerpice:nth-child(1) a {
    background: inherit;
    color: #74397a !important;
    font-weight: bold;
    padding: 0;
}

td.activerpice a {
    background: #5bc0de;
    padding: 5px 10px;
    line-height: 1.5;
    border-radius: 3px;
    color: #FFFFFF;
}

.mrrm-types td:nth-child(1) a {
    color: #333333;
}

th.activerpice a {
    color: #FFFFFF !important;
    background: #5bc0de !important;
}

.price-flight {
    font-size: 12px;
}

.total_price_pp {
    font-size: 12px;
}

.price-flight strong, .price-sflight strong {
    color: #74397a;
    font-size: 12px;
    font-weight: bold;
}

.addBtnRondTrip {
    margin-top: 5px;
}

.dest_flight_time, .source_flight_time, .stops_hours, .flight-stops {
    white-space: nowrap;
}

.flight-info-wrapper .source_flight_code, .dest_flight_code {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.flight-no-sp {
    white-space: nowrap;
}

.flight-info-wrapper .out-bound-sf,
.flight-info-wrapper .in-bound-sf,
.flight-info-wrapper .out-bound-ew,
.flight-info-wrapper .in-bound-ew {
    font-size: 12px;
}

.cheapfound {
    color: #ff9000;
}

.fa-plane {
    transform: rotate(45deg);
}

.search-results-area-wrp .pnl-tab-btn {
    margin: 0 0 -6px 3px;
    border: 1px solid #CCCCCC;
    font-weight: bold;
    font-size: 13px;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    background: #FFFFFF;
    border-bottom-right-radius: 0;
}

.pnl-tab-btn.active, .pnl-tab-btn.active:hover, primary:active:hover {
    background: #74397a;
    color: #FFFFFF;
    border-color: #74397a;
    border-bottom: #ffffff;
    box-shadow: inset 0 0 0 #aaa;
}

.arrow-stops ul {
    margin: 0;
    padding: 0;
    line-height: 12px;
    list-style-type: none;
}

.search-col-wrp label, .search-basket-wrp label {
    font-weight: normal;
}

.search-col-wrp label, .crdw-head label {
    line-height: 20px;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.search-basket-wrp label {
    line-height: 16px;
}

    .search-basket-wrp label input[type=checkbox], input[type=radio] {
        margin-top: 2px;
    }

.rtbt {
    margin-top: 5px;
}

.rz-bubble {
    display: none;
}

.search-col-wrp .bot-border {
    padding-bottom: 0;
}

.search-col-space {
    margin-bottom: 15px;
}

.search-col-space-small {
    margin-top: 8px;
}

.other-flight-details {
}

.routespace {
    padding: 0 0 5px;
}

.bot-border {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 15px;
}

.left-border {
    border-left: 1px solid #CCCCCC;
}

.right-border {
    border-right: 1px solid #CCCCCC;
}

.search-results-inner-wrap .panel {
    background: transparent;
}

.collapse.in.transprp {
    background: rgba(110,58,129,0.5);
}

.collapse.in {
    display: block;
    background: #FFFFFF;
    opacity: 1;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.noback.collapse.in {
    background-color: rgba(245,245,245,0.7);
    border-top: 4px solid #74397B;
}

.collapse {
    display: none;
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.form-group i.glyphicon-calendar {
    position: absolute;
    bottom: 10px;
    color: #333333;
    right: 24px;
    top: 10px;
    cursor: pointer;
}

.panel-heading .form-group {
    margin-bottom: 0;
}

.search-results-area-wrp .nomarging .panel-heading {
    border-bottom: 0;
}

.search-results-area-wrp .panel-heading {
    padding: 5px 15px;
}

h3.acc-head-left {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    margin: 0;
}

.tog-acc-icon .glyphicon {
    line-height: 32px;
    cursor:pointer;
}

.nav > li > a {
    padding: 5px 10px;
}

.duration-nts {
    line-height: 32px;
}

.sf-scroll.info-scroll {
    height: 760px;
}

.ew-scroll.info-scroll {
    height: 1034px;
}

.info-scroll {
    overflow-y: scroll;
}

.hotel-info-scroll {
    overflow-y: scroll;
    height: 500px;
}

.itinerary-details table, .itinerary-details td {
    margin: 0;
    padding: 0;
    border: none;
}

.itinerary-details .connection td {
    padding: 8px 4px;
    background-color: #fff;
}

.itinerary-details .departure td {
    padding: 5px 5px 2px;
}

.itinerary-details .destination td {
    padding: 2px 5px 5px;
}

.itinerary-details .departure .leg-icon {
    background: url('../Assets/dep-leg-point.png') left top 8px no-repeat transparent;
    background-size: 12px 140px;
}


.itinerary-details .destination .leg-icon {
    background: url('../Assets/destination-leg-point.png') left bottom 8px no-repeat transparent;
    background-size: 12px 140px;
}

.itinerary-details .connection .leg-icon {
    background: url('../Assets/connection-leg-point.png') left no-repeat #FFFFFF;
    background-size: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.itinerary-details .arrival-info td {
    text-align: right;
    padding: 15px 10px 5px;
    color: #333333;
}

.itinerary-details .arrival-info .arrival {
    margin-right: 10px;
    border-right: 1px solid #D7D7D7;
    padding-right: 15px;
}

.itinerary-leg {
    border: 1px solid #74397a;
    border-radius: 5px;
}

.itinerary-details {
    padding: 0px;
}

.uniqmodel .modal-header .close {
    color: #FFFFFF;
    opacity: 1;
}

.uniqmodel .modal-header {
    min-height: 16.43px;
    padding: 15px;
    background: #74397a;
    color: #FFFFFF;
    cursor: all-scroll;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #74397a;
}

.itinerary-leg h4 {
    border-radius: 0;
    background-color: #74397a;
    padding: 10px 0 10px 15px;
    color: #FFFFFF;
    margin: 0;
    font-size: 16px;
}

.connect, connection-time {
    color: #126591;
}

    .connect span.bold {
        font-weight: bold;
        display: block;
    }

.itinerary-leg .outb.icon-airplane {
    -webkit-transform: rotate(134deg);
    -moz-transform: rotate(134deg);
    -ms-transform: rotate(134deg);
    -o-transform: rotate(134deg);
    transform: rotate(134deg);
    display: inline-block;
    margin-right: 10px;
    color: #FFFFFF;
}


.itinerary-leg .inb.icon-airplane {
    -webkit-transform: rotate(-48deg);
    -moz-transform: rotate(-48deg);
    -ms-transform: rotate(-48deg);
    -o-transform: rotate(-48deg);
    transform: rotate(-48deg);
    display: inline-block;
    margin-right: 10px;
    color: #FFFFFF;
}

.ui-dialog .ui-dialog-titlebar-close {
    display: block;
    background: 0 none;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    outline: 0;
    height: 22px;
    width: 21px;
}
span.ui-button-icon-primary.ui-icon.ui-icon-closethick {
    display: none;
}

    .ui-dialog .ui-dialog-titlebar-close:before {
        content: "X";
        color: #FFFFFF;
        font-size: 12px;
        line-height: 22px;
    }

.ui-widget-overlay {
    background-color: rgba(0,0,0,0.7);
    opacity: inherit;
}

#stopsPopup {
    padding: 1.5em 2em;
}

.progress {
    height: 32px;
    margin-bottom: 0;
}

    .progress i {
        line-height: 32px;
    }

.progress-bar {
    transition: width 1s ease-in-out;
}

.founded-results {
    border-radius: 5px;
    padding: 6px 0;
    height: 32px;
    text-align: left;
    color: #333333;
    font-size: 14px;
}

.accupy {
    width: 100%;
}

.carousel-control.left {
    margin-left: -15px;
}

.qrid {
    text-transform: uppercase;
}

.nomarging {
    margin: 0;
}

.smallpadd {
    padding: 0 7px;
}

.carousel-control.right {
    margin-right: -15px;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    width: 20px;
}

.carousel-control .glyphicon {
    width: 25px;
    height: 25px;
    font-size: 15px;
}

.customer-wrap .carousel-indicators {
    display: none;
}

.cq-wrp-det {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 3px;
    color: #333333;
    word-break: break-all;
    min-height: 130px;
}

.customer-info {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 3px 10px;
    color: #333333;
    min-height: 130px;
}

.transfers-info-wrapper {
    font-size: 12px;
}

.search-basket-wrp {
    background: #FFFFFF;
    /*-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;*/
}

.filters-wrap.float-filt {
    /*transition: all 1s;*/
}

.price-expiry {
    padding: 10px 0 15px;
}

#basketForm {
    margin-top: -13px;
}

.search-basket-wrp .tog-acc-icon .glyphicon, .float-filt .tog-acc-icon .glyphicon {
    line-height: 18px;
    color: #74397a;
}

.smallmargin {
    margin-right: -7px;
    margin-left: -7px;
}

.fight-sm-text {
    font-size: 11px;
}

.bag-prc {
    line-height: 35px;
}

.tspn .input-group {
    height: 21px;
}

.tspn .btn {
    padding: 3px 4px;
}

.transfer-list {
    padding-bottom: 8px;
}

.trns-sel-btn {
    padding-top: 6px;
}

.tspn .input-group .form-control {
    height: 22px;
    font-size: 11px;
    text-align: center;
    border-left: none;
}

.spncwrp {
    margin-bottom: 5px;
}

.tophdspace {
    margin-top: 8px;
}

.search-basket-wrp a.reset-search .fa {
    font-size: 14px;
}

.ntscal {
    line-height: 34px;
    font-size: 12px;
}

.dates-to-show, .dates-to-show:focus {
    background: transparent !important;
    border: 0;
    color: #333333 !important;
    padding: 0 0 0 0;
    width: 140px;
    float: left;
    font-size: 14px;
    box-shadow: inset 0 0 0 rgba(0,0,0,.075),0 0 0 rgba(102,175,233,.6) !important;
}

.whtback {
    background: #ffffff;
}

.marg-right {
    margin-right: 5px;
}

.notoppad {
    padding-top: 0;
}

.small-mrgl {
    margin-left: 8px;
}

.panel-body.notoppad .whtback:nth-child(2) {
    margin-left: 0.5%;
}

.panel-body.notoppad .whtback:nth-child(1) {
    margin-right: 0.5%;
}

.panel-body.notoppad .whtback {
    width: 49.5%;
    padding-bottom: 10px;
}

.small-mrgr {
    margin-right: 8px;
}

.other-flight-details {
    font-size: 12px;
    line-height: 31px;
}

.htl-dt-inf, .hotel-pricelist {
    font-size: 12px;
}

.mrrm-types {
    cursor: pointer;
}

.select-rmtps {
    font-size: 12px;
    margin-top: 3px;
    /*text-decoration: underline;*/
    font-weight: bold;
}

    .select-rmtps a {
        padding-top: 7px;
        display: inline-block;
    }

.baggasel select {
    padding: 3px;
    height: 35px;
    margin-bottom: 7px;
    font-size: 13px;
}

.form-control[disabled], fieldset[disabled] .form-control {
    cursor: auto;
}

#daterange1 {
    background: #ffffff url('../Assets/datepicker_icon.png') no-repeat center right;
    cursor: pointer;
}

a {
    cursor: pointer;
    color: #1796bc;
}

.ttss-res-wrp {
    font-size: 12px;
}

.customer-inf {
    padding: 5px;
    background-color: #5bc0de;
    border-color: #46b8da;
    width: 191px;
    text-align: center;
    margin-left: 20px;
    color: #FFFFFF;
    border-radius: 5px;
}

.no_q_found {
    color: #fff;
    line-height: 27px;
}

.sf-scroll .source_flight_time, .sf-scroll .dest_flight_time {
    font-size: 12px;
}

.source_flight_time, .dest_flight_time {
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search-col-wrp label input[type="checkbox"], .crdw-head label input[type="checkbox"] {
    float: left;
    margin-right: 6px;
}

.bag-sel-wrp label, .crdw-head label {
    font-weight: normal;
}

span.badge-bt {
    background: rgba(110,58,129,0.6);
    color: #FFFFFF;
    border-radius: 15px;
    padding: 3px 10px;
    font-size: 13px;
    margin-top: 6px;
    display: inline-block;
}

.badge-bt-bsk {
    background: #333333;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 1px 5px;
    font-size: 11px;
}

.bag-sel-wrp {
    line-height: 35px;
    font-size: 12px;
}

.minhheight {
    min-height: 72px;
}

.bag-sel-wrp input.pull-left {
    margin: 10px 0 0;
}

.label-bag-head {
    font-size: 16px;
    padding-top: 0;
    padding-bottom: 5px;
}

.dot-border {
    border-bottom: 1px #cccccc dotted;
    margin-bottom: 7px;
}

.lbl-price {
    line-height: 25px;
}

.total-htl-price {
    font-size: 16px;
    font-weight: bold;
    padding-top: 8px;
    display: inline-block;
}

.search-col-space-tb {
    margin-top: 4px;
    margin-bottom: 4px;
}

.table.mrrm-types > tbody > tr > td, .table.mrrm-types > tbody > tr > th {
    border-left: 1px solid #ddd;
}

.table > tbody > tr.selected > td {
    background: #cccccc;
}

.expbskt {
    font-size: 30px;
    cursor: pointer;
}

.htlttlprc {
    font-size: 12px;
    padding-top: 6px;
}

.purple {
    background: #74397a !important;
}

.badge-preff {
    background: #ff9000;
    color: #FFFFFF;
    border-radius: 3px;
    padding: 3px 3px;
    font-weight: normal;
    white-space: nowrap;
    font-size: 11px;
}

.orrange-txt {
    color: #ff9000;
    font-size: 14px;
}

.hotel-info-wrapper.prefferd-item {
    background: #EEEEEE;
    border-color: #cccccc;
}

.ttl-prc-stl {
    font-size: 16px;
    color: #74397a;
    font-weight: bold;
}

.top-margin {
    margin-top: 15px;
}

.padhtl {
    padding-top: 5px;
    padding-bottom: 5px;
}

.dot-bot-border {
    border-bottom: 1px dotted #cccccc;
}

.basket-ttl {
    font-size: 13px;
    color: #74397a;
}

.fix-to-top {
    position: fixed;
    top: 0;
}

.notes-wrp {
    color: #333333;
    font-size: 12px;
    text-align: left;
}

.icon-add {
    background: #37bdd1 none repeat scroll 0 0;
    border-radius: 30px;
    color: #ffffff;
    float: left;
    font-size: 36px;
    height: 58px;
    padding: 2px 20px;
    width: 58px;
    margin-left: 20px;
}


@-webkit-keyframes sh-shake {
    0%   {transform: rotate(0deg)}
  25%  {transform: rotate(-10deg)}
  50%  {transform: rotate(10deg)}
  75% {transform: rotate(-10deg)}
  100% {transform: rotate(0deg)}
}

@-moz-keyframes sh-shake {
    0%   {transform: rotate(0deg)}
  25%  {transform: rotate(-10deg)}
  50%  {transform: rotate(10deg)}
  75% {transform: rotate(-10deg)}
  100% {transform: rotate(0deg)}
}

@keyframes sh-shake {
   0%   {transform: rotate(0deg)}
  25%  {transform: rotate(-10deg)}
  50%  {transform: rotate(10deg)}
  75% {transform: rotate(-10deg)}
  100% {transform: rotate(0deg)}
}
.redbg{
    color: #FF0000;
    font-size: 20px;
    vertical-align: bottom;
    line-height: 31px;
    padding-left: 10px;
}
.sf-scroll .greenbg{
    line-height: 17px;
    padding-left: 0;
}
.sf-scroll .redbg{
    line-height: 17px;
    padding-left: 0;
}
.greenbg{
    color: #458B00;
    font-size: 20px;
    vertical-align: bottom;
    line-height: 31px;
    padding-left: 10px;
}
.notifications .icon-bell {
    border-radius: 30px;
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;
    position: relative;
    display: block;
    z-index: 5;
}
.bellAnim{
     transform-origin: 50% 0;
    -webkit-animation: sh-shake 1s ease infinite;
    -moz-animation: sh-shake 1s ease infinite;
    -o-animation: sh-shake 1s ease infinite;
    animation: sh-shake 1s ease infinite;
}

/*@-webkit-keyframes thumb {
    0% {
        -webkit-transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
    }
}*/



#global-filter-basket.active.expand-hotel {
    width: 125%;
    Z-INDEX: 999;
    float: none;
    left: -25%;
    padding: 0 15px;
    height: 111%;
    overflow: hidden;
}

.basket_send_mail {
    padding: 10px;
    text-align: center;
    display: none;
}

.right-side-data {
    float: left;
    width: 80%;
    position: relative;
}



#hotel-details-wrapper.col-md-9 {
    display: block;
}

#hotel-details-wrapper .ttss-hotel-flight-widget-rate {
    margin-left: 0;
    float: none;
}

.ttss-hotel-flight-widget-rate .rate-next, .ttss-hotel-flight-widget-rate .rate-set-icons {
    padding-left: 20px;
}

#hotelTripAdvisorScore {
    display: inline-block;
    height: 16px;
    width: 88px;
    background-image: url(../Assets/tripadviser.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.skyblue {
    background: #00c0cf;
    color: #FFFFFF;
}

.hotel-gallery {
    margin: 15px auto 25px;
    width: 100%;
    overflow: hidden;
}

    .hotel-gallery .content {
        background: #fff;
        position: relative;
        width: 100%;
        height: 270px;
        overflow: hidden;
    }

        .hotel-gallery .content img {
            width: 100%;
        }

    .hotel-gallery .thumbnails {
        margin-top: 5px;
        box-shadow: 0 0 0;
    }

        .hotel-gallery .thumbnails .thumb {
            float: left;
            width: 16.6%;
            padding: 0 5px 0 0;
            cursor: pointer;
        }

            .hotel-gallery .thumbnails .thumb img {
                width: 100%;
                height: 50px;
            }

        .hotel-gallery .thumbnails .last {
            margin: 0;
        }

img.t {
    width: 70px;
}

.hotel-desc {
    margin: 15px 0 25px;
}


@-webkit-keyframes argh-my-eyes {
    0% {
        background-color: #fff;
        color: #000;
    }

    49% {
        background-color: #fff;
        color: #000;
    }

    50% {
        background-color: #ff9000;
        color: #FFFFFF;
    }

    99% {
        background-color: #ff9000;
        color: #FFFFFF;
    }

    100% {
        background-color: #fff;
        color: #000;
    }
}

@-moz-keyframes argh-my-eyes {
    0% {
        background-color: #fff;
        color: #000;
    }

    49% {
        background-color: #fff;
        color: #000;
    }

    50% {
        background-color: #ff9000;
        color: #FFFFFF;
    }

    99% {
        background-color: #ff9000;
        color: #FFFFFF;
    }

    100% {
        background-color: #fff;
        color: #000;
    }
}

@keyframes argh-my-eyes {
    0% {
        background-color: #fff;
        color: #000;
    }

    49% {
        background-color: #fff;
        color: #000;
    }

    50% {
        background-color: #ff9000;
        color: #FFFFFF;
    }

    99% {
        background-color: #ff9000;
        color: #FFFFFF;
    }

    100% {
        background-color: #fff;
        color: #000;
    }
}

.lbl {
    font-weight: normal;
}

.blink {
    -webkit-animation: argh-my-eyes 1s infinite;
    -moz-animation: argh-my-eyes 1s infinite;
    animation: argh-my-eyes 1s infinite;
}


.addaction .btn {
    border-radius: 30px;
}



/***Booking Confiramtion ***/
.payment_wrapper {
    background-color: #FFF;
    margin-bottom: 10px;
    margin-top: 52px;
}

    .payment_wrapper h4:nth-child(1) {
        color: #6e3a81;
    }

.timer {
    font-size: 20px;
    padding-top: 18px;
}

.ib_ob_row_margin {
    margin: 5px;
}

.quote_ref_wrapper {
    background-color: #FFFFFF;
    height: 440px;
    overflow: auto;
    overflow-x: hidden;
}

#saveQuote_wrapper .modal-footer {
    border-bottom: none;
}

.sms-eMail-checkbox {
    margin-right: 5px;
}

quote_ref_wrapper h4 {
    margin-bottom: 0;
}

#basket_details_v2 {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: -14px;
    padding-right: 5px;
}

    #basket_details_v2 .input-group-addon {
        padding: 2px 6px;
        background-color: none;
        border-right: none;
        font-size: 11px;
    }

.quote_wrapp {
    border-bottom: 1px solid rgba(204,204,204,0.3);
}

.oi_right {
    border-right: 1px solid rgba(204,204,204,0.3);
}

.cost {
    text-align: right;
}

.crdpmd .cost {
    position: absolute;
    bottom: 0;
    right: 0;
}

.checkin-wrap {
    padding: 0 0 10px 0;
    text-align: center;
    margin-right: 20px;
    background-color: #f3f3f3;
}

.checkin {
    background-color: #6e3a81;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 3px;
}

.checkin-wrap h4 {
    margin: 0;
}

.checkin-wrap p {
    margin-bottom: 0;
}

.checkout-wrap h4 {
    margin: 0;
}

.checkout-wrap p {
    margin-bottom: 0;
    line-height: normal;
    font-size: 12px;
}

.checkout-wrap {
    background-color: #f3f3f3;
    padding: 0 0 2px 0;
    text-align: center;
    border: 1px solid rgba(110,58,129,0.3);
}

.modal-header {
    background-color: #6e3a81;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

    .modal-header .close {
        color: #fff;
        opacity: 1;
    }

.crdpmd.smsEmailCheckbox {
    padding-top: 15px;
}

#qUote_lightBox .crdpmd label {
    font-size: 12px !important;
}

.checkout-wrap h5 {
    font-weight: normal;
    font-size: 12px;
}

.crdpmd .travel_dETails p {
    margin: 10px 0;
    font-size: 12px;
}

.checkout {
    background-color: #6e3a81;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding: 3px;
}

.checkin_out {
    border-right: 1px solid rgba(204,204,204,0.3);
}

.travel_dETails {
    border-right: 1px solid rgba(204,204,204,0.3);
    line-height: 18px;
}

.profit {
    border-right: 1px solid rgba(204,204,204,0.3);
}

.profit-wrap {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(204,204,204,0.3);
}

.contact_details_wrapper {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #FFFFFF;
}

    .contact_details_wrapper label {
        font-weight: normal;
    }

.lead_form {
    border-bottom: 1px solid rgba(204,204,204,0.3);
    line-height: 34px;
}

.passnger_detls p {
    margin: 0;
}

.pssenger_details_wrapper {
    margin-top: 20px;
    line-height: 34px;
}



.leadp, .nolineh {
    line-height: normal;
}

.dob_field {
    background-image: url(../Assets/calendar_icon.png);
    background-position: right center;
    background-size: 10%;
    background-repeat: no-repeat;
}

.share_cust {
    margin-top: 20px;
}

.share_quote {
    background-image: url(../Assets/shre_cust.png);
    background-position: right 17% center;
    background-size: 11%;
    background-repeat: no-repeat;
    background-color: #5bc0de;
    padding: 10px 31px 10px 10px;
    color: #fff;
    width: 20%;
}

    .share_quote:hover {
        color: #fff;
        font-weight: bold;
    }

.send_quote {
    background-image: url(../Assets/msg_mail.png);
    background-position: right 27% center;
    background-size: 18%;
    background-repeat: no-repeat;
    background-color: #5bc0de;
    padding: 10px 44px 10px 10px;
    color: #fff;
    width: 20%;
}

    .send_quote:hover {
        color: #fff;
        font-weight: bold;
    }

.cardDetailsWrapper {
    background-color: #FFFFFF;
    padding: 10px;
    margin-bottom: 30px;
}

.card_addrs_wrapper {
    border-bottom: 0px solid rgba(204,204,204,0.3);
}

.cost_final {
    margin-top: 20px;
}


.cardDetailsWrapper .form-control[disabled] {
    background-color: #f9f9f9;
}

#syntecGateway {
    width: 100%;
    height: 672px;
    border: none;
}

    #syntecGateway body {
    }


.book_now button {
    width: 200px;
    background-color: #6e3a81;
    color: #fff;
}

.bookingwidget h4 {
    color: #74397a;
}

.direct {
    color: #5bc0de;
    font-style: italic;
    cursor: pointer;
}

    .direct:hover {
        text-decoration: underline;
    }

.bags {
    margin-top: 3px;
}

.ibob_img {
    margin: -5px 10px 10px 9px;
}

.find_address {
    color: #5bc0de;
    text-decoration: underline;
    cursor: pointer;
}

.lead_passenger_italic {
    font-size: 9px;
}

.find_code {
    width: 100%;
}

.enter_manul_details {
    position: absolute;
    left: 130px;
    top: 198px;
    font-size: 11px;
}

    .enter_manul_details span {
        color: #5bc0de;
        text-decoration: underline;
        cursor: pointer;
    }

.enter_manul_details2 {
    font-size: 11px;
    margin: -13px 0 0 0 ;
}

    .enter_manul_details2 span {
        color: #5bc0de;
        text-decoration: underline;
        cursor: pointer;
    }

@-webkit-keyframes argh-my-eyes {
    0% {
        background-color: #fff;
        color: #000;
    }

    49% {
        background-color: #fff;
        color: #000;
    }

    50% {
        background-color: #ff9000;
        color: #FFFFFF;
    }

    99% {
        background-color: #ff9000;
        color: #FFFFFF;
    }

    100% {
        background-color: #fff;
        color: #000;
    }
}

@-moz-keyframes argh-my-eyes {
    0% {
        background-color: #fff;
        color: #000;
    }

    49% {
        background-color: #fff;
        color: #000;
    }

    50% {
        background-color: #ff9000;
        color: #FFFFFF;
    }

    99% {
        background-color: #ff9000;
        color: #FFFFFF;
    }

    100% {
        background-color: #fff;
        color: #000;
    }
}

@keyframes argh-my-eyes {
    0% {
        background-color: #fff;
        color: #000;
    }

    49% {
        background-color: #fff;
        color: #000;
    }

    50% {
        background-color: #ff9000;
        color: #FFFFFF;
    }

    99% {
        background-color: #ff9000;
        color: #FFFFFF;
    }

    100% {
        background-color: #fff;
        color: #000;
    }
}

.blink {
    -webkit-animation: argh-my-eyes 1s infinite;
    -moz-animation: argh-my-eyes 1s infinite;
    animation: argh-my-eyes 1s infinite;
}


.addaction .btn {
    border-radius: 30px;
}

.fa-plane.in {
    transform: rotate(-135deg);
}

/**** booking page payment details *****/
.paymnet-det-grid {
    overflow-y: auto;
    height: auto;
    width: 100%;
    margin-bottom: 35px;
}


.crdw-head {
    line-height: 35px;
}

.paymnet-det-grid table {
    margin-bottom: 0;
}

    .paymnet-det-grid table th {
        background: #6e3a81;
        color: #FFFFFF;
    }

.total_cost {
    margin: 20px 0 !important;
    color: #74397a;
    font-weight: bold;
}

.light_boxBaggageCols {
    line-height: 21px;
}

#qUote_lightBox h4 {
    margin-bottom: 5px;
}

.card_deposite_checkBox {
    margin-top: -3px;
}

.bookingwidget .quote_ref_wrapper {
    height: auto;
}

.crdpmd {
    padding: 10px 4px 10px 10px;
    background: #FAFAFA;
    border: 1px solid #B8B8B8;
    position: relative;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.bagheaders {
    line-height: normal;
}

.fLight_ib_ob {
    margin-top: -10px;
}

.sechead1 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    color: #74397a;
}
/*.bookingDepositAmount{
    margin-top:-30px;
}*/
.bookingDepositDueAmount{
        margin-right: 4px;     
}
/*.bookingDepositDueDate{
    margin-left:90px; 
}*/
.sechead {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    color: #74397a;
}

.bookingwidget .quote_ref_wrapper .quote_wrapp {
    border-bottom: none;
}

.bookingwidget .quote_ref_wrapper .sechead {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0px;
    color: #74397a;
}

.cost h4 {
    font-size: 15px !important;
    font-weight: bold !important;
    color: #74397a;
}

#co_browse .contact_details_wrapper {
    padding: 10px 15px;
}

    #co_browse .contact_details_wrapper h4 {
        color: #74397a;
    }

#co_browse .contact_details_table, #co_browse .crdpmd {
    margin-top: 0;
}

#co_browse td, #co_browse th {
    font-size: 12px;
}

.notopmarg {
    margin-top: 0;
}

#co_browse {
    width: 100%;
}

.sexp {
    color: #FFFFFF;
    text-align: center;
}

#co_browse .contact_details h4 {
    color: #74397a;
}

#co_browse .logo img {
    float: none;
}

#co_browse .logo {
    float: none;
    width: 100%;
}

.contact_details_table table th {
    background: #6e3a81;
    color: #FFFFFF;
}

.pssenger_details_co-browse table th {
    background: #6e3a81;
    color: #FFFFFF;
}

.contact_details_table {
    margin-top: 35px;
}

.imp_note_co_browse {
    padding: 20px;
    font-size: 12px;
}

    .imp_note_co_browse a {
        text-decoration: underline;
    }

.card_payment {
    height: auto;
    margin-right: 15px;
}

.syntecGateway_wrapper {
    width: 46%;
}

.card_payment_wrapper {
    margin-left: 27px;
}

.trip-adv-rate {
    display: inline-block;
    height: 14px;
    width: 86px;
    background-image: url(../Assets/tripadviser.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.trip-adv-na {
    display: none;
    width: 86px;
    height: 14px;
}
.mandtr {
    color: #FF0000;
}

#qUote_lightBox .quote_ref_wrapper {
    margin-top: -15px;
    margin-bottom: -5px;
}

.text14 {
    font-size: 14px;
}

#qUote_lightBox .fLight_ib_ob_dEtails {
    padding: 0 15px;
    font-size: 12px;
}

#qUote_lightBox .crdpmd {
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 12px;
    position: relative;
}

#qUote_lightBox .hotel-primary-det h4 {
    font-size: 14px;
}

#qUote_lightBox .hotel-primary-info {
    font-size: 12px;
}

.hotel-primary-det a {
    text-decoration: none;
}

#qUote_lightBox .travel_dETails-wrap {
    border: none;
}

#qUote_lightBox .bags-wrap {
    padding: 0 15px;
}

#qUote_lightBox .modal-dialog {
    width: 900px;
}

.text-danger {
    color: #ff0000;
}

#eMial_sms_wrapper {
    /*display:none;*/
}

#book_wrapper_popup {
    /*display:none;*/
    margin-top: 15px;
}

.create_cust_star {
    color: #ee1e1e;
}

.pointerEventsDisable {
    pointer-events: none;
}

.trash-margin {
    margin-left: 18px;
}

.ariline-name {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.daterangepicker select.yearselect {
    width: 46%;
}
/***** Booking full fill*****/

.fullfill {
    padding-top: 10px;
}

.status-sf .fa {
    line-height: 50px;
}

.status-sf {
    border-right: 1px solid #ccc;
    line-height: 100px;
}

.flight-info-wrapper .status-sf .btn-primary {
    margin: 8px 0;
}
.flight-info-wrapper .status-sf .btn-primary.return {
    margin: 33px 0;
}

.status-td{
    border-right: 1px solid #ccc;
}

.fstatus-acknowledge.return {
    line-height: 100px;
}

.status-acknowledge {
    line-height:26px;
}
.posting-info-wrapper {
    font-size: 12px;
    line-height: 22px;
}
.full-fill-area-wrp {
    width: 900px;
    margin: auto;
}

h2.ttl-wht {
    color: #FFFFFF;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.status-acknowledge {
    font-weight: bold;
    font-size: 12px;
}

.fstatus-acknowledge{
    font-weight:bold;
    line-height:26px;
    font-size:12px;
}

.transfers-info-wrapper .status-sf {
    line-height: 50px;
}

.hybrid-status {
    line-height: 34px;
}

    .hybrid-status .status-acknowledge {
        line-height: 34px;
    }

.hotel-info-wrapper .status-sf {
    line-height: 60px;
}

    .hotel-info-wrapper .status-sf .fa {
        line-height: 80px;
    }

.posting-info-wrapper .status-sf .fa,  .transfers-info-wrapper .status-sf .fa {
    line-height: 80px;
}

.htl-bordr {
    min-height: 80px;
    border-right: 1px solid #ccc;
}

.status-sf.hybrid-status .status-success .fa, .status-sf.hybrid-status .status-error .fa {
    font-size: 25px;
    line-height: 35px;
}

.status-success .fa {
    font-size: 25px;
    color: #278305;
}

.status-error .fa {
    font-size: 25px;
    color: #FF0000;
}

.btn-loader-book {
    background: url('../Assets/loader.gif') no-repeat center bottom;
    width: 27px;
    display:none;
    z-index: 2;
    height: 27px;
    background-size: cover;
    margin-top: 20px;
}

.navbtns button {
    margin-top: 10px;
    padding: 6px 9px;
}

.crslthumb img {
    width: 100%;
    height: 50px;
}

.thmbrow {
    margin-bottom: 20px;
}

#hotel-details-wrapper .panel-default > .panel-heading {
    background: #cbc7d5;
}

.htloverflow {
    height: 300px;
    overflow-y: auto;
}

#hotel-details-wrapper .carousel-indicators {
    display: none !important;
}

#hotel-details-wrapper .carousel-control .icon-next, #hotel-details-wrapper .carousel-control .icon-prev {
    color: #74397a;
}

#hotel-details-wrapper h5 {
    margin: 0 0 5px 0;
}

#hotel-details-wrapper .collapse.in.transprp {
    background: #FFFFFF;
}

.col-lg-3.cust_detail_widget {
    word-break: break-word;
}
#custDetailMail{
    word-break:break-all;
}
#custDetailName{
    word-break:break-all;
}
.postCodeList{
    overflow: auto;
    font-size: 12px;
    padding: 10px;
    cursor: pointer;
    margin-bottom:10px;
    margin-top: 5px;
    margin-left: 15px;
    width:560px;
}
.custPostCodeList{
   width:605px;
}
.paymentPostCodeList{
    overflow: auto;
    font-size: 12px;
    padding: 10px;
    cursor: pointer;
    margin-bottom:10px;
    margin-top:5px;
     width:488px;
}
.postCodeError{
    color:#dd4242;
    font-size:12px;
}
.deposit-msg {
    font-size:12px;
    margin-top:-40px;
}

.deposit-msg .glyphicon-remove{
    color:#FF0000;
    font-size:14px;
}
.deposit-msg .glyphicon-ok{
    color:#008000;
    font-size:14px;
}

@media (min-width: 768px) {
    .container {
        min-width: 1000px;
        max-width: 1400px;
    }

    .scb-bs {
        font-size: 10px;
    }
    
    .trip-adv-rate {
        width: 75px;
        height:13px
    }
}

@media (min-width: 1200px) {
    .container {
        min-width: 1000px;
        max-width: 1400px;
    }

    .scb-bs {
        font-size: 12px;
    }
    
    
    .trip-adv-rate {
        width: 86px;
        height:14px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
    .trash-margin {
        margin-left: 14px;
    }
    .customer-info, .cq-wrp-det {
        min-height: 145px;
        font-size: 10px;
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
    }
}

@-ms-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
    }
}

@-o-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
    }
}

.tspn .form-control {
    padding: 6px 3px;
}
