﻿<div class="notes-wrp">
    <div class="row">
        <div class="col-xs-12">
            <p>{{actionReminderModel.actionItem.TaskText}} {{actionReminderModel.actionItem.remindersdate  | date:'medium'}}<!--Apr 2016 18:42:00--></p>
        </div>
        <div class="col-xs-12 btns-note-wrap text-right" ng-if="actionReminderModel.actionItem!= null && actionReminderModel.actionItem != undefined">
            <input type="button" class="btn btn-primary next-task" value="Next" ng-click="actionReminderModel.nextActionItem(actionReminderModel.actionItem.index)" ng-hide="actionReminderModel.actionItem.isNextDisabled"/>
            <a class="btn btn-info dismiss-task" ng-click="actionReminderModel.disMissActionItem(actionReminderModel.actionItem.TaskPrimaryKeyid)">Dismiss</a>
        </div>
        <div class="col-xs-12 btns-note-wrap text-center" ng-show="actionReminderModel.actionItem == null || actionReminderModel.actionItem == undefined">
            <span><strong>No action items were found.</strong> </span>
        </div>
</div>
