﻿<div ng-class="(cnExpanded) ? 'expand' : 'cls'">
    <div class="row search-col-space ">
        <div class="col-md-6"><input type="text" maxlength="250" class="form-control" id="addTodaytask" placeholder="Enter task" autofocus="" ng-model="actionReminderModel.reminderText" required></div>
        <div class="col-xs-6" ng-controller="singleDateTimeCtrl">
            <input time-picker id="daterange3" name="daterange3"  min="min" options="{singleDatePicker: true, timePicker:true, locale: {format: 'DD/MM/YYYY hh:mm A'}}" class="form-control date-picker" type="text"
                   required placeholder="DD/MM/YYYY hh:mm"  ng-model="dateTime" readonly ng-show="actionReminderModel.scheduled" min="min"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 search-col-wrp text-left">
            <label><input type="checkbox" ng-model="actionReminderModel.scheduled" /> Is scheduled task</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2"><button type="button" class="btn btn-primary" id="addTaskButton" ng-click="actionReminderModel.addReminder()">Save</button></div>
    </div>
</div>
