﻿<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <header id="header">
                <div class="header">
                    <div class="logo col-xs-3">
                        <a href="../Home/Dashboard"> <img id="headerlogo" src="./../Assets/logo.png" alt=""></a>
                        <span class="icon icon-menu" ></span>
                    </div>
                    <div class="col-xs-4 user_cust_name">
                    </div>
                    <div class="notifications col-xs-4">
                        <ul>
                            <li>
                                <span class="fa fa-plus-circle" ng-click="toggleCustomerNotesModal()" aria-hidden="true"></span>
                                <modal title="Today’s Action" visible="showCustomerNotesModal">
                                    <customer-notes></customer-notes>
                                </modal>

                            </li>
                            <li>
                                <span ng-click="toggleActionReminderModal()" ng-class="(bellringing) ? 'icon icon-bell open-slide bellAnim':'icon icon-bell open-slide';" ></span>
                                <modal title="Action Reminder" id="myModal" visible="showActionReminderModal">
                                    <action-reminder></action-reminder>
                                </modal>
                            </li>
                            <li class="active" id="basketIcon"><span class="fa fa-shopping-basket" aria-hidden="true"></span></li>
                            <li>
                                <a class="icon icon-switch logout-ico-big" href="../Account/LogOff"></a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </header>
        </div>
    </div>
</div>