﻿<div class="modal fade" role="dialog" id="qUote_lightBox">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Quote details</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row quote_ref_wrapper">
                        <div class="col-xs-12 quote_wrapp" ng-show="basket.quoteReference">
                            <h4 class="sechead">Quote ref: <span class="quote_id">{{basket.quoteReference}}</span></h4>
                        </div>
                        <div class="row">
                            <div class="col-xs-12" ng-show="basket.flightsOneWayOutBound.$$hashKey">
                                <div class="col-xs-12 fLight_details_wrapp">
                                    <div class="row nomarging">
                                        <div class="col-xs-6 fLight_details noleftpadd">
                                            <h4 class="sechead">Flight (EachWay)</h4>
                                        </div>
                                        <!--<div class="col-xs-6">
                                            <h4 class="pull-right">Total Cost</h4>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="col-xs-12 fLight_ib_ob">
                                    <div class="row">
                                        <div class="col-xs-5">
                                            <h5 class="pull-left"><b>Outbound</b> <i class="fa fa-plane"></i></h5>
                                        </div>
                                        <div class="col-xs-6">
                                            <h5 class="pull-left"><b>Inbound</b> <i class="fa fa-plane in"></i></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 fLight_ib_ob_dEtails">
                                    <div class="row nomarging crdpmd notopmarg">
                                        <div class="col-xs-5 oi_right noleftpadd">
                                            <div class="row" ng-if="basket.flightsOneWayOutBound.OutBoundStopPoints===null">
                                                <div class="col-xs-5">
                                                    <div>
                                                        {{basket.flightsOneWayOutBound.OutboundDepartureTimeV}}<br />
                                                        {{basket.flightsOneWayOutBound.OutboundFlightFromName}}<br />
                                                        {{basket.flightsOneWayOutBound.OutboundFlightFrom}}<br />
                                                        {{basket.flightsOneWayOutBound.AirLaneName}}
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    <div class="row">
                                                        <div class="text-center">
                                                            {{basket.flightsOneWayOutBound.OutBoundEstimatedHours}}h <br />
                                                            <i class="fa fa-plane"></i><br />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-5 text-right">
                                                    <div>
                                                        {{basket.flightsOneWayOutBound.OutboundArrivalTimeV}}<br />
                                                        {{basket.flightsOneWayOutBound.OutboundFlightToName}}<br />
                                                        {{basket.flightsOneWayOutBound.OutboundFlightTo}}<br />
                                                        {{basket.flightsOneWayOutBound.OutBoundFlightNumber}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ib_ob_row_margin" ng-if="basket.flightsOneWayOutBound.OutBoundStopPoints!==null" ng-repeat="flightsoutbound in basket.flightsOneWayOutBound.OutBoundStopPoints">
                                                <div class="col-xs-5 noleftpadd">
                                                    <div>
                                                        {{flightsoutbound.DepartureDateTimeV}}<br />
                                                        {{flightsoutbound.StopAirportName}}<br />
                                                        {{flightsoutbound.StopAirportCode}}<br />
                                                        {{flightsoutbound.FlightName}}
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    <div class="row">
                                                        <div class="text-center">
                                                            {{flightsoutbound.Duration}} <br />
                                                            <i class="fa fa-plane"></i><br />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-5 text-right">
                                                    <div>
                                                        {{flightsoutbound.NextStopArrrivalDateTimeV}}<br />
                                                        {{flightsoutbound.NextStopAirportName}}<br />
                                                        {{flightsoutbound.NextStopAirportCode}}<br />
                                                        {{flightsoutbound.FlightNumber}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-5 oi_right  nopadding">
                                            <div class="rowr" ng-if="basket.flightsOneWayInBound.InBoundStopPoints===null">
                                                <div class="col-xs-5">
                                                    <div>
                                                        {{basket.flightsOneWayInBound.InboundDepartureTimeV}}<br />
                                                        {{basket.flightsOneWayInBound.InboundFlightFromName}}<br />
                                                        {{basket.flightsOneWayInBound.InboundFlightFrom}}<br />
                                                        {{basket.flightsOneWayInBound.AirLaneName}}
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    <div class="row">
                                                        <div class="text-center">
                                                            {{basket.flightsOneWayInBound.InboundEstimatedHours}}h <br />
                                                            <i class="fa fa-plane"></i><br />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-5 text-right">
                                                    <div>
                                                        {{basket.flightsOneWayInBound.InboundArrivalTimeV}}<br />
                                                        {{basket.flightsOneWayInBound.InboundFlightToName}}<br />
                                                        {{basket.flightsOneWayInBound.InboundFlightTo}}<br />
                                                        {{basket.flightsOneWayInBound.InBoundFlightNumber}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ib_ob_row_margin" ng-if="basket.flightsOneWayInBound.InBoundStopPoints!==null" ng-repeat="flightsinbound in basket.flightsOneWayInBound.InBoundStopPoints">
                                                <div class="col-xs-5">
                                                    <div>
                                                        {{flightsinbound.DepartureDateTimeV}}<br />
                                                        {{flightsinbound.StopAirportName}}<br />
                                                        {{flightsinbound.StopAirportCode}}<br />
                                                        {{flightsinbound.FlightName}}
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    <div class="row">
                                                        <div class="text-center">
                                                            {{flightsinbound.Duration}} <br />
                                                            <i class="fa fa-plane"></i><br />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-5 text-right">
                                                    <div>
                                                        {{flightsinbound.NextStopArrrivalDateTimeV}}<br />
                                                        {{flightsinbound.NextStopAirportName}}<br />
                                                        {{flightsinbound.NextStopAirportCode}}<br />
                                                        {{flightsinbound.FlightNumber}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-2 cost">
                                            <h4>£{{((basket.flightsOneWayOutBound.FlightFare | number:2 | convertToDecimal) + (basket.flightsOneWayInBound.FlightFare | number:2 | convertToDecimal)) | number:2}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12" ng-show="basket.flightsReturn.$$hashKey">
                                <div class="col-xs-12 fLight_details_wrapp">
                                    <div class="row nomarging">
                                        <div class="col-xs-6 fLight_details noleftpadd">
                                            <h4 class="sechead">Flight (Return)</h4>
                                        </div>
                                        <!--<div class="col-xs-6">
                                            <h4 class="pull-right">Total Cost</h4>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="col-xs-12 fLight_ib_ob">
                                    <div class="row">
                                        <div class="col-xs-5">
                                            <h5 class="pull-left"><b>Outbound</b> <i class="fa fa-plane"></i></h5>
                                        </div>
                                        <div class="col-xs-6">
                                            <h5 class="pull-left"><b>Inbound</b> <i class="fa fa-plane in"></i></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 fLight_ib_ob_dEtails" ng-if="basket.flightsReturn.OutBoundStopPoints===null && basket.flightsReturn.InBoundStopPoints===null">
                                    <div class="row nomarging crdpmd notopmarg">
                                        <div class="col-xs-5 oi_right noleftpadd">
                                            <div class="row">
                                                <div class="col-xs-5">
                                                    <div>
                                                        {{basket.flightsReturn.OutboundDepartureTimeV}}<br />
                                                        {{basket.flightsReturn.OutboundFlightFromName}}<br />
                                                        {{basket.flightsReturn.OutboundFlightFrom}}<br />
                                                        {{basket.flightsReturn.OutBoundFlightName}}
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    <div class="row">
                                                        <div class="text-center">
                                                            {{basket.flightsReturn.OutBoundEstimatedHours}}h <br />
                                                            <i class="fa fa-plane"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-5 text-right">
                                                    <div>
                                                        {{basket.flightsReturn.OutboundArrivalTimeV}}<br />
                                                        {{basket.flightsReturn.OutboundFlightToName}}<br />
                                                        {{basket.flightsReturn.OutboundFlightTo}}<br />
                                                        {{basket.flightsReturn.OutBoundFlightNumber}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-5 oi_right  nopadding">
                                            <div class="rowr">
                                                <div class="col-xs-5">
                                                    <div>
                                                        {{basket.flightsReturn.InboundDepartureTimeV}}<br />
                                                        {{basket.flightsReturn.InboundFlightFromName}}<br />
                                                        {{basket.flightsReturn.InboundFlightFrom}}<br />
                                                        {{basket.flightsReturn.InBoundFlightName}}
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    <div class="row">
                                                        <div class="text-center">
                                                            {{basket.flightsReturn.InboundEstimatedHours}}h <br />
                                                            <i class="fa fa-plane"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-5 text-right">
                                                    <div>
                                                        {{basket.flightsReturn.InboundArrivalTimeV}}<br />
                                                        {{basket.flightsReturn.InboundFlightToName}}<br />
                                                        {{basket.flightsReturn.InboundFlightTo}}<br />
                                                        {{basket.flightsReturn.InBoundFlightNumber}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-2 cost">
                                            <h4>£{{ basket.flightsReturn.FlightFare | number:2}}</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 fLight_ib_ob_dEtails" ng-if="basket.flightsReturn.OutBoundStopPoints!==null && basket.flightsReturn.InBoundStopPoints!==null">
                                    <div class="row nomarging crdpmd notopmarg">
                                        <div class="col-xs-5 oi_right noleftpadd">
                                            <div class="row ib_ob_row_margin" ng-repeat="flightsoutbound in basket.flightsReturn.OutBoundStopPoints">
                                                <div class="col-xs-5">
                                                    <div>
                                                        {{flightsoutbound.DepartureDateTimeV}}<br />
                                                        {{flightsoutbound.StopAirportName}}<br />
                                                        {{flightsoutbound.StopAirportCode}}<br />
                                                        {{flightsoutbound.FlightName}}
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    <div class="row">
                                                        <div class="text-center">
                                                            {{flightsoutbound.Duration}} <br />
                                                            <i class="fa fa-plane"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-5 text-right">
                                                    <div>
                                                        {{flightsoutbound.NextStopArrrivalDateTimeV}}<br />
                                                        {{flightsoutbound.NextStopAirportName}}<br />
                                                        {{flightsoutbound.NextStopAirportCode}}<br />
                                                        {{flightsoutbound.FlightNumber}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-5 oi_right  nopadding">
                                            <div class="row ib_ob_row_margin" ng-repeat="flightsinbound in basket.flightsReturn.InBoundStopPoints">
                                                <div class="col-xs-5">
                                                    <div>
                                                        {{flightsinbound.DepartureDateTimeV}}<br />
                                                        {{flightsinbound.StopAirportName}}<br />
                                                        {{flightsinbound.StopAirportCode}}<br />
                                                        {{flightsinbound.FlightName}}
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    <div class="row">
                                                        <div class="text-center">
                                                            {{flightsinbound.Duration}} <br />
                                                            <i class="fa fa-plane"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-5 text-right">
                                                    <div>
                                                        {{flightsinbound.NextStopArrrivalDateTimeV}}<br />
                                                        {{flightsinbound.NextStopAirportName}}<br />
                                                        {{flightsinbound.NextStopAirportCode}}<br />
                                                        {{flightsinbound.FlightNumber}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-2 cost">
                                            <h4>£{{ basket.flightsReturn.FlightFare | number:2}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <h4 class="sechead">Accommodation </h4>
                        </div>
                        <div class="col-xs-12 aCC_dEtails">
                            <div class="row  nomarging crdpmd notopmarg">
                                <div class="col-xs-7 nopadding">
                                    <div class="row">
                                        <div class="col-xs-6 padhtl">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="hotel-primary-det">
                                                        <h4>
                                                            <a class="hotel-det-link prl">{{basket.hotel.HotelName}}</a> &nbsp;
                                                            <span class="htlrtg"><i class="fa fa-star" ng-repeat="n in [] | range:bookingModel.quoteDetails.accomidationDetails.hotelRating"></i></span>
                                                        </h4>
                                                    </div>
                                                    <div class="text-left  hotel-primary-info">
                                                        {{basket.hotel.ResortName + ", " +  basket.hotel.RoomDescription}} <br />
                                                        <img ng-src="{{bookingModel.quoteDetails.accomidationDetails.hotelTripadviserRating}}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 left-border padhtl">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    {{basket.searchModel.Adults}}A,
                                                    {{basket.searchModel.Child}}C,
                                                    {{basket.searchModel.Infants}}I
                                                    <br />
                                                    No of rooms : {{basket.searchModel.Rooms}}<br />
                                                    Board Type:{{ basket.hotel.BoardType }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3 checkin_out nopadding">
                                    <div class="col-xs-6">
                                        <div class="checkout-wrap">
                                            <div class="checkin"><p>Check-In</p></div>
                                            <div><h4><b>{{basket.hotel.checkIn | date : 'dd'}}</b></h4></div>
                                            <div>
                                                <p>
                                                    <span>{{basket.hotel.checkIn | date : 'MMMM'}} </span><br />
                                                    <span>{{basket.hotel.checkIn | date : 'y'}}</span>
                                                </p>
                                            </div>
                                            <div>
                                                <p>{{basket.hotel.checkIn | date : 'EEEE'}}</p>
                                            </div>
                                            <div>
                                                <p>
                                                    <span> </span>
                                                    <span></span>
                                                </p>
                                            </div>
                                            <div>
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="checkout-wrap">
                                            <div class="checkout"><p>Check-Out</p></div>
                                            <div><h4><b>{{basket.hotel.checkOut | date : 'dd'}}</b></h4></div>
                                            <div>
                                                <p>
                                                    <span>{{basket.hotel.checkOut | date : 'MMMM'}} </span><br />
                                                    <span>{{basket.hotel.checkOut | date : 'y'}}</span>
                                                </p>
                                            </div>
                                            <div>
                                                <p>{{basket.hotel.checkOut | date : 'EEEE'}}</p>
                                            </div>
                                            <div>
                                                <p>
                                                    <span></span>
                                                    <span></span>
                                                </p>
                                            </div>
                                            <div><p></p></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2 cost">
                                    <h4>£{{ ((basket.hotel.AmountAfterTax | number:2 | convertToDecimal)+(basket.marginHotelVal | number:2 | convertToNumber)+(basket.marginFlighVal | number:2 | convertToNumber)+(basket.marginExtraVal | number:2 | convertToNumber)+(basket.fidelityVal| number:2 | convertToDecimal))|number:2}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <h4 class="sechead">Transfers </h4>
                        </div>
                        <div class="col-xs-12 travel_dETails-wrap">
                            <div class="row  nomarging crdpmd notopmarg" ng-show="basket.transfers.transfers.$$hashKey">
                                <div class="col-xs-10 noleftpadd travel_dETails">

                                    <strong>Transfer type :</strong> <span>{{basket.transfers.transfers.general[0].producttype}}</span> &nbsp;<br />
                                    <strong>Duration :</strong> <span>{{basket.transfers.transfers.general[0].transfertime}} min</span> &nbsp;<br />
                                    <span ng-show="basket.transfers.transfers.general[0].luggage>0"><strong> Quantity :</strong>{{basket.transfers.transfers.pricing[0].prices[0].units}}</span>&nbsp;<br />

                                </div>
                                <div class="col-xs-2 cost">
                                    <h4>£{{basket.transfers.transfers.pricing[0].totalPrice  | number:2}}</h4>
                                </div>
                            </div>
                            <div class="row  nomarging crdpmd notopmarg" ng-show="!basket.transfers.transfers.$$hashKey">
                                <div> <strong class="text-danger">Transfers not selected.</strong></div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <h4 class="sechead">Baggage </h4>
                        </div>
                        <div class="col-xs-12 bags-wrap">
                            <div class="row  nomarging crdpmd notopmarg" ng-show="basket.isContainBags">
                                <div class="col-xs-10 noleftpadd travel_dETails">

                                    <div class="row">
                                        <div class="col-xs-12" ng-show="basket.baggage.isTwoWay">
                                            <div class="row">
                                                <div class="col-xs-12"> <strong>Round Trip</strong></div>
                                                <div class="col-xs-12" ng-repeat="selectedItem in basket.baggage.lightBoxBaggageModel.selectedRoundTripBaggage | orderBy:'passengerIndex':false">
                                                    <div class="row" ng-repeat="slabItem in selectedItem.baggage.slab">
                                                        <strong class="col-xs-2">Passenger {{selectedItem.passengerIndex}}</strong> <span class="col-xs-7" ng-bind-html="slabItem.Description"></span> &nbsp;&nbsp;&nbsp; <span class="col-xs-2" ng-show="slabItem.SellingPricePence">£{{slabItem.SellingPricePence | number:2}}</span><br />
                                                    </div>
                                                    <div class="row" ng-repeat="slabItem in selectedItem.weight.slab">
                                                        <span class="col-xs-7">{{slabItem.Description}}</span> &nbsp;&nbsp;&nbsp; <span class="col-xs-4">£{{slabItem.SellingPricePence | number:2}}</span><br />
                                                    </div>
                                                    <div class="row" ng-repeat="slabItem in selectedItem.sportsEquipment.slab">
                                                        <span class="col-xs-7">{{slabItem.Description}}</span> &nbsp;&nbsp;&nbsp; <span class="col-xs-4">£{{slabItem.SellingPricePence | number:2}}</span><br />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-hide="basket.baggage.isTwoWay">
                                            <div class="col-xs-12 bagheaders"><strong>Outound baggage</strong> </div>
                                            <div class="col-xs-12" ng-repeat="selectedItem in basket.baggage.lightBoxBaggageModel.OutboundSelectedBaggage | orderBy:'passengerIndex':false">
                                                <div class="row" ng-repeat="slabItem in selectedItem.baggage.slab">
                                                    <strong class="col-xs-2">Passenger {{selectedItem.passengerIndex}}</strong> <span class="col-xs-7" ng-bind-html="slabItem.Description"></span> &nbsp;&nbsp;&nbsp; <span class="col-xs-2" ng-show="slabItem.SellingPricePence">£{{slabItem.SellingPricePence | number:2}}</span><br />
                                                </div>
                                                <div class="row" ng-repeat="slabItem in selectedItem.weight.slab">
                                                    <span class="col-xs-7">{{slabItem.Description}}</span> &nbsp;&nbsp;&nbsp; <span class="col-xs-4">£{{slabItem.SellingPricePence | number:2}}</span><br />
                                                </div>
                                                <div class="row" ng-repeat="slabItem in selectedItem.sportsEquipment.slab">
                                                    <span class="col-xs-7">{{slabItem.Description}}</span> &nbsp;&nbsp;&nbsp; <span class="col-xs-4">£{{slabItem.SellingPricePence | number:2}}</span><br />
                                                </div>

                                            </div>
                                            <div class="col-xs-12 bagheaders top-margin"><strong>Inbound baggage</strong> </div>
                                            <div class="col-xs-12" ng-repeat="selectedItem in basket.baggage.lightBoxBaggageModel.inboundSelectedBaggage | orderBy:'passengerIndex':false">
                                                <div class="row" ng-repeat="slabItem in selectedItem.baggage.slab">
                                                    <strong class="col-xs-2">Passenger {{selectedItem.passengerIndex}}</strong> <span class="col-xs-7" ng-bind-html="slabItem.Description"></span> &nbsp;&nbsp;&nbsp; <span class="col-xs-2" ng-show="slabItem.SellingPricePence">£{{slabItem.SellingPricePence | number:2}}</span><br />
                                                </div>
                                                <div class="row" ng-repeat="slabItem in selectedItem.weight.slab">
                                                    <span class="col-xs-7">{{slabItem.Description}}</span> &nbsp;&nbsp;&nbsp; <span class="col-xs-4">£{{slabItem.SellingPricePence | number:2}}</span><br />
                                                </div>
                                                <div class="row" ng-repeat="slabItem in selectedItem.sportsEquipment.slab">
                                                    <span class="col-xs-7">{{slabItem.Description}}</span> &nbsp;&nbsp;&nbsp; <span class="col-xs-4">£{{slabItem.SellingPricePence | number:2}}</span><br />
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                    </div>

                                </div>
                                <div class="col-xs-2 cost">
                                    <h4>£{{basket.baggage.totalPrice|number:2}}</h4>
                                </div>
                            </div>
                            <div class="row  nomarging crdpmd notopmarg" ng-show="!basket.isContainBags">
                                <div><strong class="text-danger">Baggage not selected.</strong></div>
                            </div>
                            <div class="col-xs-12">

                                <div class="row">
                                    <div class="col-xs-12 text-right">
                                        <h4 class="total_cost">Total :  <span>£{{((basket.hotel.AmountAfterTax | number:2 | convertToDecimal) + (basket.flightsReturn.FlightFare | number:2 | convertToDecimal) + (basket.flightsOneWayOutBound.FlightFare | number:2 | convertToDecimal) + (basket.flightsOneWayInBound.FlightFare | number:2 | convertToDecimal)+(basket.baggage.totalPrice | number:2 | convertToDecimal) +(basket.transfers.transfers.pricing[0].totalPrice | number:2 | convertToDecimal)+(basket.fidelityVal| number:2 | convertToDecimal)+(basket.marginHotelVal | number:2 | convertToNumber)+(basket.marginFlighVal | number:2 | convertToNumber)+(basket.marginExtraVal | number:2 | convertToNumber))| number:2}}</span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="saveQuote_wrapper" ng-show="currentContext =='SaveQuote'">
                    <div class="col-xs-12">
                        <div class="col-xs-12 text-center">
                            <h4>Do you wish to save this quote?</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" ng-click="lightBoxSaveBasket()" class="btn btn-primary" ng-disabled="basket.isDisableSaveQuote">Save Quote</button>
                        </div>
                    </div>
                </div>

                <div class="row" id="eMial_sms_wrapper" ng-show="currentContext =='EmailSms'">
                    <div class="col-xs-12 smsemailBoxWrap">
                        <div class="crdpmd smsEmailCheckbox">
                            <div class="row">
                                <div class="col-xs-2 lblsms">
                                    <label><input type="checkbox" value="{{basket.customer.IsSms}}" ng-model="basket.customer.IsSms" checked> SMS/ Text to</label>
                                </div>

                                <div class="col-xs-4 mNumber_wrapperPop">
                                    <input type="text" class="form-control" id="mNumber_lable2" placeholder="44" maxlength="2" ng-model="basket.customer.CountryCode" numbers-only="\d" />
                                    <input type="text" class="form-control"  placeholder="9100000123" ng-model="basket.customer.CustomerMobileNo" id="comment" numbers-only="\d" required maxlength="15" />
                                </div>
                            </div>
                            <div class="search-col-space"></div>
                            <div class="row">
                                <div class="col-xs-2 lblsms">
                                    <label><input type="checkbox" value="{{basket.customer.IsEmail}}" ng-model="basket.customer.IsEmail" checked> Email to</label>
                                </div>

                                <div class="col-xs-4">
                                    <input type="text" class="form-control" placeholder="abcd@xyz.com" ng-model="basket.customer.CustomerEmail" id="comment" />
                                </div>
                            </div>
                            <div class="search-col-space"></div>
                            <!--<div class="row">
                                <div class="col-xs-4 text-left lblsms">
                                    <label class="opted"><input type="checkbox" class="sms-eMail-checkbox">Customer opted for E-mail</label><br />
                                    <label class="opted"><input type="checkbox" class="sms-eMail-checkbox">Customer opted for SMS</label>
                                </div>
                                <div class="col-xs-6 text-left">
                                </div>
                            </div>-->
                        </div>
                        <div class="col-xs-12 text-center">
                            <h4>Do you wish to send this quote to the following contacts ?</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" ng-click="sendSmsAndMail(basket.customer)" class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </div>

                <div class="row" id="book_wrapper_popup" ng-show="currentContext =='Book'">

                    <div class="col-xs-12">
                        <div class="smsemailBoxWrap errobox">
                            <div class="alert alert-danger" ng-show="!basket.transfers.transfers.$$hashKey || basket.showBaggageWarning">
                                <strong>Warning!</strong>
                                <p ng-show="!basket.transfers.transfers.$$hashKey"> Transfers NOT added to the basket.</p>
                                <p ng-show="basket.showBaggageWarning"> Baggage NOT added for ALL passengers to the basket.</p>
                            </div>
                            <div class="col-xs-12 text-center">
                                <h4>Do you wish to book this quote?</h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" ng-click="saveBooking()" class="btn btn-primary">Book</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
