﻿<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="row">
                <div class="col-xs-4">
                    <h3 class="panel-int-ttl">Re-Search</h3>
                </div>
                <div class="col-xs-8">
                    <div class="form-group col-xs-8">
                        <input date-range-picker id="daterange1" name="daterange1" class="form-control date-picker" tabindex="-1" type="text"
                              min="min" ng-model="date" options="{singleDatePicker: false, showDropdowns: false,  locale: {format: 'DD/MM/YYYY'}}" required />
                    </div>
                    <div class="duration-nts col-xs-4">
                        <a href="" class="btn btn-primary btn-sm" ng-click="DateChange()">Change Search</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>