﻿<div class="panel panel-default ttss-res-wrp" ng-controller="searchFiltersCtrl">
    <div class="panel-heading" style="background:#cbc7d5;" offset="50" sticky>
        <div class="row">
            <div class="col-xs-12">
                <h5 class="ttss-head" >You have searched for : <span ng-show="searchFilterValues.showTTSSRibbon">TTSS Quote Ref - <span class="badge-bt"> {{searchFilterValues.TtssQuoteRef}}</span> TTSS Listed Price - <span class="badge-bt">&pound;{{searchFilterValues.TtssPrice | number:2}}pp</span></span> </h5>
                <strong>Route:</strong>  {{searchFilterValues.Source}} - {{searchFilterValues.Destination}}, Departing on {{searchFilterValues.TravelDates|date:'dd/MM/yyyy'}} for {{searchFilterValues.Nights}}nts - {{searchFilterValues.PAX}} |
                <strong>Hotel : </strong> <span ng-hide="searchFilterValues.Hotel">NA</span><span ng-show="searchFilterValues.Hotel">{{searchFilterValues.Hotel}} + Others</span>, <strong>Board Type:</strong> <span ng-hide="searchFilterValues.BoardType">NA</span>{{searchFilterValues.BoardType}}, <strong>Star Rating:</strong> {{searchFilterValues.StarRating}}
            </div>
            <div class="col-xs-12" ng-show="modifiedCheckIn || modifiedCheckOut">
                <h5>
                    <span class="ttss-head" ng-show="modifiedCheckIn">
                        Modified CheckIn
                        <span class="badge-bt"> {{modifiedCheckIn|date:'dd/MM/yyyy'}}</span>
                    </span>
                    <span class="ttss-head" ng-show="!modifiedCheckIn"> Check in date is not modified</span>
                    <span class="ttss-head" ng-show="modifiedCheckOut">
                        Modified CheckOut
                        <span class="badge-bt">{{modifiedCheckOut|date:'dd/MM/yyyy'}}</span>
                    </span>
                    <span class="ttss-head" class="badge-bt" ng-show="!modifiedCheckOut">
                        Check out date is not modified
                    </span>
                </h5>
            </div>
        </div>
    </div>
</div>