﻿<div class="col-xs-1 menu-ls" style="display:none;">
    <div class="row">
        <div id="global-nav">
            <ul>
                <li id="global-nav-logo"><span class="icon icon-home3"></span></li>
                <li id="global-nav-search"><span class="icon icon-search"></span></li>
                <li id="global-nav-filters" class="active"><span class="icon icon-equalizer"></span></li>
                <li id="global-nav-add"><span class="icon icon-plus"></span></li>
                <li id="global-nav-basket"><span class="icon icon-pencil2"></span></li>
                <li id="global-nav-addCustomer" data-toggle="modal" data-target="#addCustomer"><span class="icon icon-user-plus"></span></li>
            </ul>
        </div>
    </div>
</div>