﻿

<div class="col-lg-12 col-sm-12" id="crete_customer">
    <div class="row">
        <div class="col-lg-3 col-sm-3" id="cust_search_wrapper">
            <div class="row text-center">
                <button class="btn" id="btnCreatenewCusstomer" ng-click="CreateCustomerClick()">Create New Customer</button>
            </div>
            <hr />
            <div class="row" id="search_cust">
                <h3>Customer search</h3>
                <br />
                <form>
                    <div class="form-group">
                        <label>Membership no</label>
                        <input type="text" class="form-control" id="search_membership_no" placeholder="membership no" ng-model="search_membership_no">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Show inactive
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Surname</label>
                        <input type="text" class="form-control" id="search_last_name" placeholder="surname" ng-model="search_last_name">
                    </div>
                    <div class="form-group">
                        <label>Email type</label>
                        <input type="text" class="form-control" id="search_emailtype" placeholder="eMail type" ng-model="search_emailtype">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" id="search_email_address" placeholder="email" ng-model="search_email_address">
                    </div>
                    <div class="form-group">
                        <label>Phone number</label>
                        <input type="text" class="form-control" id="search_phone_number" placeholder="phone no" ng-model="search_phone_number" onkeypress="return isNumber(event)">
                    </div>
                    <div class="form-group">
                        <label>Post code</label>
                        <input type="text" class="form-control" id="search_postcode" placeholder="post code" ng-model="search_postcode">
                    </div>
                    <button type="button" class="btn text-center" ng-click="SearchCustomer()">Search</button>
                </form>
            </div>
        </div>
        <div class="col-lg-9 col-sm-9" id="_customers_wrapper">
            <div class="row" id="create_customer_wrapper" ng-show=createcustomerwrapper>
                <h3>Create a new customer</h3>
                <form style="margin-top:20px;" name="CustomerCreateForm" id="form">
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label>First name</label>
                            <input type="text" class="form-control" ng-class="{'shadow' :CustomerCreateForm.firstname.$invalid && !CustomerCreateForm.firstname.$pristine}" required name="firstname" id="first_name" placeholder="enter first name" ng-maxlength="50" ng-model="first_name" />
                        </div>
                        <div class="form-group">
                            <label>Email type</label>
                            <input type="text" class="form-control" ng-class="{'shadow' :CustomerCreateForm.emailtype.$invalid && !CustomerCreateForm.emailtype.$pristine}" required name="emailtype" id="email_type" placeholder="enter email type" ng-model="emailtype" />
                        </div>
                        <div class="form-group">
                            <label>Phone number</label>
                            <input type="text" class="form-control" ng-class="{'shadow' :CustomerCreateForm.phonenumber.$invalid && !CustomerCreateForm.phonenumber.$pristine}" required id="phone_no" name="phonenumber" placeholder="enter phone no" ng-model="phone_number" ng-maxlength="10" onkeypress="return isNumber(event)" />
                        </div>
                        <div class="form-group">
                            <label>Town/City</label>
                            <input type="text" class="form-control" ng-class="{'shadow' :CustomerCreateForm.city.$invalid && !CustomerCreateForm.city.$pristine}" required id="town_city" placeholder="enter town/city" name="city" ng-model="city" />
                        </div>
                        <div class="form-group">
                            <label>Post code</label>
                            <input type="text" class="form-control" ng-class="{'shadow' :CustomerCreateForm.postcode.$invalid && !CustomerCreateForm.postcode.$pristine}" required id="post_code" placeholder="enter post code" ng-model="postcode" ng-maxlength="50" name="postcode" />
                        </div>
                        <div class="form-group">
                            <label>County</label>
                            <input type="text" class="form-control" ng-class="{'shadow' :CustomerCreateForm.country.$invalid && !CustomerCreateForm.country.$pristine}" required id="County" placeholder="enter county" ng-model="country" ng-maxlength="50" name="country" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label>Surname</label>
                            <input type="text" class="form-control" ng-class="{'shadow' :CustomerCreateForm.lastname.$invalid && !CustomerCreateForm.lastname.$pristine}" required id="surname" placeholder="enter surname" name="lastname" ng-model="last_name" />
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" ng-class="{'shadow' :CustomerCreateForm.email.$invalid && !CustomerCreateForm.email.$pristine}" required id="email" placeholder="enter email" name="email" ng-model="email_address" />
                        </div>
                        <div class="form-group">
                            <label>Address line 1</label>
                            <textarea class="form-control" rows="3" ng-class="{'shadow' :CustomerCreateForm.addressline1.$invalid && !CustomerCreateForm.addressline1.$pristine}" required placeholder="enter address" ng-model="address_line1" id="address_line1" name="addressline1"> </textarea>
                        </div>
                        <div class="form-group">
                            <label>Address line 2</label>
                            <textarea class="form-control" rows="3" id="address_line2" ng-model="address_line2" ng-maxlength="200"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn text-center" ng-click="AddCustomer()">Create</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row" id="create_customer_list" ng-show=createcustomerlist>
                <h3>{{CustomerCount}} customers</h3>
                <div class="col-lg-12" id="list_cust_container">
                    <div ng-repeat="customer in customerData track by $index">
                        <div class="col-lg-3 cust_detail_widget">
                            <h5><b>#{{customer.MembershipNo}}</b></h5>
                            <h4>{{customer.first_name}} {{customer.last_name}}</h4>
                            <h5>{{customer.email_address}}</h5>
                            <h5>{{customer.phone_number}}</h5>
                            <h5>{{customer.Postcode}}</h5>
                            <button class="btn">Select</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

        $(function () {
            $('#form input').on('keypress', function (e) {
                if (e.which == 32)
                    return false;
            });
        });
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
</script>
