﻿<div ng-controller="transfersCtrl">
    <div class="panel panel-default" ng-class="{'ner': !isTransfersExpanded}" ng-controller="panelCtrl">
        <div class="panel-heading" role="tab">
            <!--ng-class if then else example-->
            <div class="panel-title">
                <div class="row">
                    <div class="col-xs-3">
                        <h3 class="panel-int-ttl">Transfers</h3>
                    </div>

                    <div class="col-xs-3 nopadding">
                        <!--<input date-range-picker class="form-control dates-to-show" type="text"
                               ng-model="date" disabled />-->
                    </div>
                    <div class="col-xs-2 norightpadd">
                        <a class="btn btn-info accupy  btn-sm" ng-click="RefreshTransfers()">Get Transfers</a>
                    </div>
                    <div class="col-xs-3 norightpadd">
                        <div class="form-group">
                            <select data-ng-change="orderByChange(orderBy)" class="order-by form-control" data-ng-model="orderBy">
                                <option value="0">Price Low To High</option>
                                <option value="true">Price High To Low</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-1 tog-acc-icon">
                        <span ng-click="toggleTransfersExpand();" class="pull-right glyphicon" ng-class="(isTransfersExpanded) ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- The "in" class determines whether the panel is opened or closed -->
        <div class="panel-collapse collapse" ng-class="{'in': isTransfersExpanded}" role="tabpanel">
            <div class="panel-body">
                <div class="row">
                    <div class="text-center" style="color:red">{{TransfersStatus}}</div>
                    <div ng-repeat="transfer in transfers[0].travelling.products | onlyBooleanValueFilter | orderBy: transfer.pricing[0].price:reverse  | limitTo: paginationLimit()" class="col-xs-12">
                        <div class="row transfers-info-wrapper" ng-class="{'sellected-item': transfer.general[0].productid == transferStates.activeItem}">
                            <div class="col-xs-12 out-bound-ew">
                                <div class="row">
                                    <div class="col-xs-6 text-left">
                                        <div class="trans-primary-det">
                                            <h4><a ng-click="showTransfersDetails($index)" class="hotel-det-link prl">{{ ::transfer.general[0].producttype }}</a> &nbsp; | &nbsp; {{ 'Return' }}  &nbsp; | &nbsp; Duration: {{ ::transfer.general[0].transfertime }} min </h4>
                                            <div class="transfer-list text-left">
                                                {{ ::transfer.general[0].minpax }}-{{ ::transfer.general[0].maxpax }} <i class="fa fa-user"></i>   &nbsp; | &nbsp;
                                                {{ ::transfer.general[0].luggage }} <i class="fa fa-briefcase"></i><sapn ng-show="transfer.general[0].luggage>0">&nbsp; | &nbsp; Quantity:{{::transfer.pricing[0].prices[0].units}}</sapn>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 left-border padhtl">
                                        <div class="row">
                                            <div class="col-xs-6 norightpadd htlttlprc text-right">
                                                <span class="ttl-prc-stl">Total: &pound;{{ ::transfer.pricing[0].totalPrice | number:2 }}</span><br />
                                                &pound;{{:: transfer.pricing[0].totalPrice / (PAXCount.AdultsCount + PAXCount.ChildCount + PAXCount.InfantCount)  | number:2}}pp
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="select-package trns-sel-btn text-right">
                                                    <a ng-click="transferStates.activeItem=transfer.general[0].productid;addTransferstobasket(transfer,transfers);" class="btn btn-primary">
                                                        <span ng-show="selection.indexOf($index) != -1">Deselect</span><span ng-hide="selection.indexOf($index) != -1">Select</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12" ng-show="description.indexOf($index) != -1">
                                        {{ ::transfer.general[0].description }}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</div>
