﻿<div class="row" ng-controller="filtersCtrl">
   
    <div class="col-xs-12 search-col-wrp">
        <div class="row search-col-space">
            <div class="col-xs-12">
                <a href="#" class="btn btn-primary col-xs-12" ng-click="resetFlightFilters(['outBoundDayAirlines','inBoundDayAirlines','stops','airlines','deptAirport'])">Reset Flight Filters</a>
            </div>
        </div>
        <div class="row search-col-space">
            <div class="col-xs-12">
                <a href="#" class="btn btn-default col-xs-12" ng-class="(!isBselected && isDselected) ? 'btn-primary' : 'btn-default'" ng-click="bestFlightFilter(); flightFilterUpdate(flightFilter)">Best Flights</a>
            </div>
        </div>
        <div class="row search-col-space">
            <div class="col-xs-12">
                <a href="#" class="btn btn-default col-xs-12" ng-class="(isBselected && isDselected) ? 'btn-primary' : 'btn-default'" ng-click="lateNightFlightFilter(); flightFilterUpdate(flightFilter)">Late Night Flights</a>
            </div>
        </div>
        <div class="search-col-space "></div>
        <div class="row" ng-controller="panelCtrl">
            <div class="col-xs-1 col-md-1 col-lg-1 tog-acc-icon">
                <span ng-click="toggle()" class="glyphicon" ng-class="(!isExpanded) ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>
            </div>
            <div class="col-xs-6 search-col-space  noleftpadd  basket-ttl">
                <strong>Each way</strong>
            </div>
            <div class="col-xs-4 text-right search-col-space">
                <a class="reset-search" href="#" ng-click="resetFlightFilters(['outBoundDayAirlines']); resetFlightFilters(['inBoundDayAirlines']);">Clear</a>
            </div>
            <div class="col-xs-12 panel-collapse collapse" ng-class="{'in': !isExpanded}">
                <div class="row">
                    <div class="col-xs-6 norightpadd">
                        <strong>Outbound</strong>
                    </div>
                    <div class="col-xs-6 noleftpadd">
                        <strong>Inbound</strong>
                    </div>
                    <div class="col-xs-6 norightpadd">
                        <label ng-repeat="oday in flightFilter.outBoundDayAirlines"><input type="checkbox" ng-model="oday.selected" ng-click="flightFilterUpdate(flightFilter)">{{::oday.day}}</label>
                    </div>
                    <div class="col-xs-6 noleftpadd">
                        <label ng-repeat="iday in flightFilter.inBoundDayAirlines"><input type="checkbox" ng-model="iday.selected" ng-click="flightFilterUpdate(flightFilter)">{{::iday.day}}</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="search-col-space bot-border"></div>
        <div class="row" ng-controller="panelCtrl">
            <div class="col-xs-1 col-md-1 col-lg-1 tog-acc-icon">
                <span ng-click="toggle()" class="glyphicon" ng-class="(!isExpanded) ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>
            </div>
            <div class="col-xs-6 search-col-space noleftpadd  basket-ttl">
                <strong>Stops</strong>
            </div>

            <div class="col-xs-4 text-right search-col-space">
                <a class="reset-search" href="#" ng-click="resetFlightFilters(['stops'])">Clear</a>
            </div>
            <div class="col-xs-12 panel-collapse collapse" ng-class="{'in': !isExpanded}">
                <div class="row">
                    <div class="col-xs-12" ng-repeat="stop in flightFilter.stops">
                        <label><input type="checkbox" ng-model="stop.selected" ng-click="flightFilterUpdate(flightFilter)">{{::stop.value}}</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="search-col-space bot-border"></div>
        <div class="row" ng-controller="panelCtrl">
            <div class="col-xs-1 col-md-1 col-lg-1 tog-acc-icon">
                <span ng-click="toggle()" class="glyphicon" ng-class="(!isExpanded) ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>
            </div>
            <div class="col-xs-6 search-col-space noleftpadd  basket-ttl">
                <strong>Airlines</strong>
            </div>
            <div class="col-xs-4 text-right search-col-space">
                <a class="reset-search" href="#" ng-click="resetFlightFilters(['airlines'])">Clear</a>
            </div>
            <div class="col-xs-12 panel-collapse collapse" ng-class="{'in': !isExpanded}">
                <div class="row">
                    <div class="col-xs-12" ng-repeat="airline in flightFilter.airlines">
                        <div class="row">
                            <div class="col-xs-8">
                                <label><input type="checkbox" ng-model="airline.selected" ng-click="flightFilterUpdate(flightFilter)"><span ng-attr-title="{{::airline.value}}">{{::airline.value}}</span></label>
                            </div>
                            <div class="col-xs-4 lbl-price text-right">
                                <label> &pound;{{::airline.price | number:2}} </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="search-col-space bot-border"></div>
        <div class="row" ng-controller="panelCtrl">
            <div class="col-xs-1 col-md-1 col-lg-1 tog-acc-icon">
                <span ng-click="toggle()" class="glyphicon" ng-class="(!isExpanded) ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>
            </div>
            <div class="col-xs-6 search-col-space noleftpadd norightpadd basket-ttl">
                <strong>Departure Airport</strong>
            </div>

            <div class="col-xs-4 text-right search-col-space">
                <a class="reset-search" href="#" ng-click="resetFlightFilters(['deptAirport'])">Clear</a>
            </div>
            <div class="col-xs-12 panel-collapse collapse" ng-class="{'in': !isExpanded}">
                <div class="row">
                    <div class="col-xs-12" ng-repeat="dept in flightFilter.deptAirport">
                        <div class="row">
                            <div class="col-xs-8">
                                <label><input type="checkbox" ng-model="dept.selected" ng-click="flightFilterUpdate(flightFilter)"><span ng-attr-title="{{::dept.value}}">{{::dept.value}}</span></label>
                            </div>
                            <div class="col-xs-4 lbl-price text-right">
                                <label> &pound;{{::dept.price | number:2}} </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="search-col-space bot-border"></div>
    </div>
    <!--Hotel Filters Start-->
    <div class="col-xs-12 search-col-wrp">
        <div class="row">
            <div class="col-xs-12">
                <a href="#" class="btn btn-primary col-xs-9" ng-click="resetHotelFilters(['resort','board','hotelRating','userRating','hotelName'])">Reset Hotel Filters</a>
                <a href="#" class="btn btn-primary col-xs-3 fa fa-filter" ng-click="refreshHotelFilters();" title="Apply Filter"></a>
            </div>
        </div>
        <div class="search-col-space bot-border"></div>
        <div class="row">
            <div class="col-xs-12 search-col-space">
                <input type="text" class="form-control" placeholder="Hotel Name" ng-model="hotelName" ng-change="filtersUpdate(hotelFilter)"/>
            </div>
        </div>
        <div class="row" ng-controller="panelCtrl">
            <div class="col-xs-1 col-md-1 col-lg-1 tog-acc-icon">
                <span ng-click="toggle()" class="glyphicon" ng-class="(!isExpanded) ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>
            </div>
            <div class="col-xs-6 search-col-space noleftpadd  basket-ttl">
                <strong>Resorts</strong>
            </div>
            <div class="col-xs-4 text-right search-col-space">
                <a class="reset-search" ng-click="resetHotelFilters(['resort'])">Clear</a>
            </div>
            <div class="col-xs-12 panel-collapse collapse" ng-class="{'in': !isExpanded}">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row" ng-repeat="res in hotelFilter.resort">
                            <div class="col-xs-8" ng-attr-title="{{::res.value}}">
                                <label><input type="checkbox" ng-model="res.selected" ng-click="filtersUpdate(hotelFilter)">{{::res.value}}</label>
                            </div>
                            <div class="col-xs-4 lbl-price text-right" title="{{::res.price | number:2}}">
                                <label> &pound;{{::res.price | number:2}} </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="search-col-space bot-border"></div>
        <div class="row" ng-controller="panelCtrl">
            <div class="col-xs-1 col-md-1 col-lg-1 tog-acc-icon">
                <span ng-click="toggle()" class="glyphicon" ng-class="(!isExpanded) ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>
            </div>
            <div class="col-xs-6 search-col-space noleftpadd  basket-ttl">
                <strong>Board</strong>
            </div>
            <div class="col-xs-4 text-right search-col-space">
                <a class="reset-search" ng-click="resetHotelFilters(['board'])">Clear</a>
            </div>
            <div class="col-xs-12 panel-collapse collapse" ng-class="{'in': !isExpanded}">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row" ng-repeat="boardType in hotelFilter.board">
                            <div class="col-xs-8">
                                <label><input type="checkbox" ng-model="boardType.selected" ng-click="filtersUpdate(hotelFilter)">{{::boardType.value}}</label>
                            </div>
                            <div class="col-xs-4 lbl-price text-right" title="{{::boardType.price | number:2}}">
                                <label> &pound;{{::boardType.price | number:2}} </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="search-col-space bot-border"></div>

        <div class="row" ng-controller="panelCtrl">
            <div class="col-xs-1 col-md-1 col-lg-1 tog-acc-icon">
                <span ng-click="toggle()" class="glyphicon" ng-class="(!isExpanded) ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>
            </div>
            <div class="col-xs-6 search-col-space noleftpadd  basket-ttl">
                <strong>Hotel Rating</strong>
            </div>
            <div class="col-xs-4 text-right search-col-space">
                <a class="reset-search" ng-click="resetHotelFilters(['hotelRating'])">Clear</a>
            </div>
            <div class="col-xs-12 panel-collapse collapse" ng-class="{'in': !isExpanded}">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row" ng-repeat="rating in hotelFilter.hotelRating">
                            <div class="col-xs-8">
                                <label><input type="checkbox" ng-model="rating.selected" ng-click="filtersUpdate(hotelFilter)"><i class="fa fa-star" ng-repeat="r in [] | range:rating.value"></i><i class="fa fa-star-o" ng-repeat="rr in [] | rangeReverse:{value:rating.value,reverse:5}"></i></label>

                            </div>
                            <div class="col-xs-4 lbl-price text-right">
                                <label> &pound;{{::rating.price | number:2}} </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="search-col-space bot-border"></div>

        <div class="row">
            <div class="col-xs-12">
                <span title="Trip Adviser Rating">Trip Advisor Rating</span> {{hotelFilter.userRating.minValue}} - {{hotelFilter.userRating.maxValue}}
            </div>
            <!--<div class="col-xs-3 text-right">
                <a class="reset-search" ng-click="resetHotelFilters(['userRating'])">Clear</a>
            </div>-->
            <div class="col-xs-12">
                <rzslider rz-slider-model="hotelFilter.userRating.minValue" rz-slider-precision="1"
                          rz-slider-high="hotelFilter.userRating.maxValue"
                          rz-slider-options="userRatingSlider.options" rz-slider-on-change="filtersUpdate(hotelFilter)"></rzslider>
            </div>
        </div>
        <div class="search-col-space bot-border"></div>
    </div>
</div>