﻿<div ng-controller="customerCtrl">
    <div class="panel panel-default ng-scope" ng-class="{'ner': !isExpanded}" ng-controller="panelCtrl" ng-init="isExpanded=true;">
        <div class="panel-heading">
            <div class="panel-title">
                <div class="row">
                    <div class="col-xs-11">
                        <h3 class="panel-int-ttl">Customer Details<span class="cdhead" ng-show="!isExpanded"><span ng-show="CustomerModel.ShowProfile"><strong> - Name:</strong> {{CustomerModel.CustomerQuotesDetails.CustomerName}}, <strong>Last Quoted on:</strong> {{CustomerModel.CustomerQuotesDetails.Quoteslist[0][0].QuotedDate|date:'dd/MM/yyyy'}}</span></span></h3>
                    </div>
                    <div class="col-xs-1 tog-acc-icon">
                        <span ng-click="toggle()" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-right': !isExpanded, 'glyphicon-chevron-down': isExpanded}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-collapse collapse transprp in" ng-class="{'in': isExpanded}" role="tabpanel">
            <div class="panel-heading">
                <div class="customer-wrap">
                    <div class="modal fade" id="addCustomer"  tabindex="-1" role="dialog" aria-labelledby="customerModalLabel">
                        <div class="modal-dialog modal-lg"  role="document">
                            <div class="modal-content" style="color:black;">
                                <div class="modal-header modal-header-info">
                                    <button type="button" class="close" data-dismiss="modal" ng-click="CustomerModel.closeCustomerClick()">&times;</button>
                                    <h4 class="modal-title"  id="customerModalLabel">Customer Profile</h4>
                                </div>
                                <div class="modal-body">
                                    <add-customer></add-customer>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="CustomerModel.closeCustomerClick()">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" data-ng-init="CustomerModel.getCutomerDetailsWithQueotes(customer)">
                        <div class="col-xs-3 norightpadd" data-toggle="modal" data-target="#addCustomer">
                            <div class="cd-wrp-det">
                                <div>
                                    <div class="col-xs-12 customer-info" ng-show="CustomerModel.ShowProfile" style="cursor:pointer">
                                        <span>Name: {{CustomerModel.CustomerQuotesDetails.CustomerName}}</span><br />
                                        <span>Email ID: <a href="mailto:{{CustomerModel.CustomerQuotesDetails.CustomerEmail}}">{{CustomerModel.CustomerQuotesDetails.CustomerEmail}}</a></span>  <br />
                                        <span>Mob: {{CustomerModel.CustomerQuotesDetails.CustomerMobileNo}},</span><br />
                                        <!--<span>Tel: {{CustomerModel.CustomerQuotesDetails.CustomerTelephone}}</span> <br />-->
                                        <span>Live Bookings: {{CustomerModel.CustomerQuotesDetails.LiveBookings}}<br /> Quotes: {{CustomerModel.CustomerQuotesDetails.Quotes}}</span>
                                    </div>
                                    <div class="col-xs-12 btn-sm customer-inf" ng-hide="CustomerModel.ShowProfile" title="Please click here to add a customer" style="cursor:pointer">
                                        Customer details are not found
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-9">
                            <div class="row">
                                <div class="col-xs-12" ng-show="CustomerModel.ShowQuotes">
                                    <carousel interval="CustomerModel.myInterval">
                                        <slide ng-repeat="slides in CustomerModel.CustomerQuotesDetails.Quoteslist" active="slide.active">
                                            <div class="row nomarging">
                                                <div class="col-xs-4 smallpadd" ng-repeat="slide in slides">
                                                    <div class="cq-wrp-det">
                                                        <div class="row">
                                                            <div class="col-xs-12 norightpadd text-left">
                                                                <div class="routespace">
                                                                    <strong>Quoted on:</strong> {{slide.QuotedDate|date:'dd/MM/yyyy HH:mm'}},<br />
                                                                </div>
                                                                <div class="routespace">
                                                                    <strong>Quote ref</strong>: {{slide.QuoteRefNo}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12  text-left">
                                                                <div class="routespace">
                                                                    <strong>Route</strong>:
                                                                    {{slide.DepartureLocationCode}} -
                                                                    {{slide.ArrivalLocationCode}},
                                                                    <strong>Staying at</strong> <span title="{{slide.HotelFullName}}">{{slide.HotelName}}</span> from {{slide.HotelCheckIn|date:'dd/MM/yyyy'}} - {{slide.HotelCheckOut | date:'dd/MM/yyyy'}},
                                                                    for {{slide.NoOfNights}}nts,
                                                                    for {{slide.NoOfAdults}}A {{slide.NoOfChildren}}C {{slide.NoOfInfants}}I
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12 norightpadd text-left">
                                                                <div class="routespace">
                                                                    <strong>Total price</strong>: &pound;{{slide.Total}} (&pound;{{slide.PricePerPerson}}pp)
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </slide>
                                    </carousel>
                                </div>
                                <div class="col-xs-12 no_q_found text-center" ng-hide="CustomerModel.ShowQuotes">
                                    No quotes found for this customer
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
