﻿<div ng-controller="flightCtrl" ng-init="getOneWayFlightData()">
    <div class="panel panel-default" ng-controller="panelCtrl" ng-class="{'ner': !isExpanded}" ng-init="tab=1;isExpanded=true;">
        <div class="panel-heading scheduled-flights" role="tab">
            <div class="panel-title">
                <div class="row">
                    <div class="col-xs-3">
                        <h3 class="panel-int-ttl">Flight - Results</h3>
                    </div>
                    <div class="col-xs-3 nopadding">
                        <!--<input date-range-picker class="form-control dates-to-show" type="text"
                               ng-model="date" disabled />
                        <span class="ntscal">{{nights}} nts</span>-->
                    </div>
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-3 norightpadd">
                        <div class="form-group">
                            <select data-ng-change="orderByflightChange(orderBy)" class="order-by form-control" data-ng-model="orderBy">
                                <option value="0">Price Low To High</option>
                                <option value="true">Price High To Low</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-1 tog-acc-icon">
                        <span ng-click="toggle()" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-right': !isExpanded, 'glyphicon-chevron-down': isExpanded}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-heading" ng-show="isExpanded">
            <div class="panel-title">
                <div class="row">
                    <div class="col-xs-12 nopadding">
                        <a class="btn btn-default pnl-tab-btn" ng-click="tab = 1" ng-class="{active: tab == 1}">Each Way</a>
                        <a class="btn btn-default pnl-tab-btn" ng-click="tab = 2;" ng-class="{active: tab == 2}">Round Trip</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- The "in" class determines whether the panel is opened or closed -->
        <div class="panel-collapse noback collapse" ng-class="{'in': isExpanded}" role="tabpanel">
            <div class="panel-body" ng-class="{whtback: tab == 2,notoppad: tab == 1 }">
                <div ng-show="tab == 1">
                    <div class="row">
                        <div class="col-xs-6 whtback norightpadd">
                            <h5>Outbound</h5>
                            <div class="row ew-scroll info-scroll marg-right">
                                <div ng-repeat="outBoundFlight in OneWayOutBoundFlights| orderBy: outBoundFlight.PricePerPerson:flightReverse  | stopsResultsFilter:{filters:flightFilter.stops,target:'OutBoundStopsCount'}
                                     | searchResultsFilter:{filters:flightFilter.airlines,target:'AirLaneName'} | searchResultsFilter:{filters:flightFilter.deptAirport,target:'OutboundFlightFrom'}
                                     | flightTimeFilter:{config:flightFilter.outBoundDayAirlines,target:'OutboundDepartureTime'}" class="col-xs-12 smallpadd">
                                    <div class="row flight-info-wrapper" ng-class="{'sellected-item': outBoundFlight.$$hashKey == flightStates.activeOutboundItem}">
                                        <div class="col-xs-12 out-bound-ew smallpadd">
                                            <div class="row">
                                                <div class="col-xs-5 norightpadd">
                                                    <div class="source_flight_time" title="{{ ::outBoundFlight.OutboundDepartureTimeV }}">{{ ::outBoundFlight.OutboundDepartureTimeV }}</div>
                                                    <div class="source_flight_code" title="{{ ::outBoundFlight.OutboundFlightFromName }}">{{ ::outBoundFlight.OutboundFlightFromName }}</div>
                                                    <!-- Newly added v2 -->
                                                    <div class="ariline-name">
                                                       <span>{{ ::outBoundFlight.OutboundFlightFrom }}</span> <br />
                                                        <span ng-attr-title="{{::outBoundFlight.AirLaneName}}">{{ ::outBoundFlight.AirLaneName }}</span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-2 text-center">
                                                    <div class="stops_hours">{{ ::outBoundFlight.OutBoundEstimatedHours }} h</div>
                                                    <div class="arrow-stops"><i class="fa fa-plane"></i></div>
                                                    <div class="flight-stops" ng-controller="popupCtrl">
                                                        <a ng-click="toggleFlight('Out',outBoundFlight)">{{ ::outBoundFlight.OutBoundFlightWay }}</a>
                                                        <modal title="Itinerary" visible="showModal">
                                                            <itinerary-info></itinerary-info>
                                                        </modal>
                                                    </div>
                                                </div>
                                                <div class="col-xs-5 noleftpadd text-right">
                                                    <div class="dest_flight_time" title="{{ ::outBoundFlight.OutboundArrivalTimeV }}">{{ ::outBoundFlight.OutboundArrivalTimeV }}</div>
                                                    <div class="dest_flight_code" title="{{ ::outBoundFlight.OutboundFlightToName }}">{{ ::outBoundFlight.OutboundFlightToName }}</div>
                                                    <!-- Newly added v2 -->
                                                    <div class="ariline-name">
                                                        <span class="flight-no-sp">{{ ::outBoundFlight.OutboundFlightTo }}</span><br />
                                                        {{ ::outBoundFlight.OutBoundFlightNumber }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 other-flight-details">
                                            <div class="row">
                                                <div class="col-xs-8 text-right smallpadd">
                                                    <div class="price-flight" ng-show="!outBoundFlight.showNewPirce && outBoundFlight.showNewPirce!=null"> <span class="total_price_pp">&pound;{{ outBoundFlight.PricePerPerson | number:2}}pp &nbsp;&nbsp;&nbsp;</span><strong class="total_price_final">Total: &pound;{{ outBoundFlight.FlightFare | number:2}}</strong></div>
                                                    <div class="price-flight" ng-show="outBoundFlight.showNewPirce"> <span class="total_price_pp"><strong>Old:</strong> &pound;{{ outBoundFlight.oldPrice | number:2}}pp | <span class="updated-pp"><span class="inc-pp"> <strong>New:</strong> &pound;{{ outBoundFlight.PricePerPerson | number:2}}pp </span><i class="fa fa-caret-up redbg" aria-hidden="true" ng-show="outBoundFlight.isPirceIncrease"></i><i class="fa fa-caret-down greenbg" aria-hidden="true" ng-show="!outBoundFlight.isPirceIncrease"></i></span> &nbsp;&nbsp;&nbsp;</span><strong class="total_price_final">Total: &pound;{{ outBoundFlight.FlightFare | number:2}}</strong></div>
                                                    <div class="price-flight" ng-show="outBoundFlight.FlightFare == 0"><strong>&pound;{{ outBoundFlight.PricePerPerson | number:2}}pp</strong></div>
                                                </div>
                                                <div class="col-xs-4 smallpadd">
                                                    <!--<div class="select-package text-right"><a href="#" class="btn btn-primary" ng-click="addOneWayOutBoundFlight(outBoundFlight)">Select</a></div>-->
                                                    <div class="select-package text-right"><a class="btn btn-sm btn-primary" ng-click="flightStates.activeOutboundItem=outBoundFlight.$$hashKey;flightStates.activeReturnItem=''; addOneWayOutBoundFlight(outBoundFlight)">ADD</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 whtback">
                            <h5>Inbound</h5>
                            <div class="row ew-scroll info-scroll">
                                <div ng-repeat="inBoundFlight in OneWayInBoundFlights | orderBy: inBoundFlight.PricePerPerson:flightReverse  | stopsResultsFilter:{filters:flightFilter.stops,target:'InBoundStopsCount'}
                                     | searchResultsFilter:{filters:flightFilter.airlines,target:'AirLaneName'} | searchResultsFilter:{filters:flightFilter.deptAirport,target:'InboundFlightTo'}
                                     | flightTimeFilter:{config:flightFilter.inBoundDayAirlines,target:'InboundDepartureTime'}" class="col-xs-12 smallpadd">
                                    <div class="row flight-info-wrapper" ng-class="{'sellected-item': inBoundFlight.$$hashKey == flightStates.activeInboundItem}">
                                        <div class="col-xs-12 in-bound-ew smallpadd">
                                            <div class="row">
                                                <div class="col-xs-5 norightpadd">
                                                    <div class="source_flight_time" title="{{ ::inBoundFlight.InboundDepartureTimeV }}">{{ ::inBoundFlight.InboundDepartureTimeV }}</div>
                                                    <div class="source_flight_code" title="{{ ::inBoundFlight.InboundFlightFromName }}">{{ ::inBoundFlight.InboundFlightFromName }}</div>
                                                    <!-- Newly added v2 -->
                                                    <div class="ariline-name">
                                                        <span>{{ ::inBoundFlight.InboundFlightFrom }}</span><br />
                                                        <span ng-attr-title="{{::inBoundFlight.AirLaneName}}">{{ ::inBoundFlight.AirLaneName }}</span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-2 text-center">
                                                    <div class="stops_hours">{{ ::inBoundFlight.InboundEstimatedHours }} h</div>
                                                    <div class="arrow-stops"><i class="fa fa-plane"></i></div>
                                                    <div class="flight-stops" ng-controller="popupCtrl">
                                                        <a ng-click="toggleFlight('In',inBoundFlight)">{{ ::inBoundFlight.InboundFlightWay }}</a>
                                                        <modal title="Itinerary" visible="showModal">
                                                            <itinerary-info></itinerary-info>
                                                        </modal>
                                                    </div>
                                                </div>
                                                <div class="col-xs-5 noleftpadd text-right">
                                                    <div class="dest_flight_time" title="{{ ::inBoundFlight.InboundArrivalTimeV }}">{{ ::inBoundFlight.InboundArrivalTimeV }}</div>
                                                    <div class="dest_flight_code" title="{{ ::inBoundFlight.InboundFlightToName }}">{{ ::inBoundFlight.InboundFlightToName }}</div>
                                                    <!-- Newly added v2 -->
                                                    <div class="ariline-name">
                                                        <span class="flight-no-sp">{{ ::inBoundFlight.InboundFlightTo }}</span><br />
                                                        {{ ::inBoundFlight.InBoundFlightNumber }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 other-flight-details">
                                            <div class="row">
                                                <div class="col-xs-8 text-right smallpadd">
                                                    <div class="price-flight" ng-show="inBoundFlight.FlightFare == 0"><strong>&pound;{{ inBoundFlight.PricePerPerson | number:2}}pp</strong></div>
                                                    <div class="price-flight" ng-show="!inBoundFlight.showNewPirce && inBoundFlight.showNewPirce!=null"> <span class="total_price_pp">&pound;{{ inBoundFlight.PricePerPerson | number:2}}pp &nbsp;&nbsp;&nbsp;</span><strong class="total_price_final">Total: &pound;{{ inBoundFlight.FlightFare | number:2}}</strong></div>
                                                    <div class="price-flight" ng-show="inBoundFlight.showNewPirce"> <span class="total_price_pp"><strong>Old:</strong> &pound;{{ inBoundFlight.oldPrice | number:2}}pp | <span class="updated-pp"><span class="inc-pp"> <strong>New:</strong> &pound;{{ inBoundFlight.PricePerPerson | number:2}}pp </span><i class="fa fa-caret-up redbg" aria-hidden="true" ng-show="inBoundFlight.isPirceIncrease"></i><i class="fa fa-caret-down greenbg" aria-hidden="true" ng-show="!inBoundFlight.isPirceIncrease"></i></span> &nbsp;&nbsp;&nbsp;</span><strong class="total_price_final">Total: &pound;{{ inBoundFlight.FlightFare | number:2}}</strong></div>
                                                 </div>
                                                <div class="col-xs-4 smallpadd">
                                                    <!--<div class="select-package text-right"><a href="#" class="btn btn-primary" ng-click="addOneWayInBoundFlight(inBoundFlight)">Select</a></div>-->
                                                    <div class="select-package text-right"><a class="btn btn-sm btn-primary" ng-click="flightStates.activeInboundItem=inBoundFlight.$$hashKey;flightStates.activeReturnItem='';addOneWayInBoundFlight(inBoundFlight)">ADD</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="tab == 2">
                    <div class="row">
                        <div class="co-xs-12">
                            <div class="sf-scroll info-scroll">
                                <div ng-repeat="flight in ReturnFlights | orderBy: flight.PricePerPerson:flightReverse| stopsResultsFilter:{filters:flightFilter.stops,target:'OutBoundStopsCount'} | stopsResultsFilter:{filters:flightFilter.stops,target:'InBoundStopsCount'}
                                     | searchResultsFilter:{filters:flightFilter.airlines,target:'OutBoundFlightName'} | searchResultsFilter:{filters:flightFilter.airlines,target:'InBoundFlightName'}
                                     | searchResultsFilter:{filters:flightFilter.deptAirport,target:'OutboundFlightFrom'} | flightTimeFilter:{config:flightFilter.outBoundDayAirlines,target:'OutboundDepartureTime'}
                                     | flightTimeFilter:{config:flightFilter.inBoundDayAirlines,target:'InboundDepartureTime'}" class="col-xs-12 smallpadd">
                                    <div class="row flight-info-wrapper" ng-class="{'sellected-item': flight.$$hashKey == flightStates.activeReturnItem}">
                                        <div class="col-xs-5 out-bound-sf smallpadd">
                                            <div class="row">
                                                <div class="col-xs-5 norightpadd">
                                                    <div class="source_flight_time" title="{{ ::flight.OutboundDepartureTimeV }}">{{ ::flight.OutboundDepartureTimeV }}</div>
                                                    <div class="source_flight_code" title="{{ ::flight.OutboundFlightFromName }}">{{ ::flight.OutboundFlightFromName }}</div>
                                                    <!-- Newly added v2 -->
                                                    <div class="ariline-name">
                                                        <span>{{ ::flight.OutboundFlightFrom }}</span><br />
                                                        <span ng-attr-title="{{::flight.OutBoundFlightName}}">{{ ::flight.OutBoundFlightName }}</span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-2 text-center nopadding">
                                                    <div class="stops_hours">{{ ::flight.OutBoundEstimatedHours}} h</div>
                                                    <div class="arrow-stops"><i class="fa fa-plane"></i></div>
                                                    <div class="flight-stops" ng-controller="popupCtrl">
                                                        <a ng-click="toggleFlight('Out',flight)">{{ ::flight.OutBoundFlightWay }}</a>
                                                        <modal title="Itinerary" visible="showModal">
                                                            <itinerary-info></itinerary-info>
                                                        </modal>
                                                    </div>
                                                </div>
                                                <div class="col-xs-5 noleftpadd text-right">
                                                    <div class="dest_flight_time" title="{{ ::flight.OutboundArrivalTimeV }}">{{ ::flight.OutboundArrivalTimeV }}</div>
                                                    <div class="dest_flight_code" title="{{ ::flight.OutboundFlightToName }}">{{ ::flight.OutboundFlightToName }}</div>
                                                    <div class="ariline-name">
                                                        <span class="flight-no-sp">{{ ::flight.OutboundFlightTo }}</span><br />
                                                        {{::flight.OutBoundFlightNumber}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-5 in-bound-sf smallpadd norightpadd">
                                            <div class="row">
                                                <div class="col-xs-5">
                                                    <div class="source_flight_time" title="{{ ::flight.InboundDepartureTimeV }}">{{ ::flight.InboundDepartureTimeV }}</div>
                                                    <div class="source_flight_code" title="{{ ::flight.InboundFlightFromName }}">{{ ::flight.InboundFlightFromName }}</div>
                                                    <!-- Newly added v2 -->
                                                    <div class="ariline-name">
                                                        {{ ::flight.InboundFlightFrom }}<br />
                                                        {{ ::flight.InBoundFlightName }}
                                                    </div>
                                                </div>
                                                <div class="col-xs-2 text-center nopadding">
                                                    <div class="stops_hours">{{ ::flight.InboundEstimatedHours }} h</div>
                                                    <div class="arrow-stops"><i class="fa fa-plane"></i></div>
                                                    <div class="flight-stops" ng-controller="popupCtrl">
                                                        <a ng-click="toggleFlight('In',flight)">{{ ::flight.InboundFlightWay }}</a>
                                                        <modal title="Itinerary" visible="showModal">
                                                            <itinerary-info></itinerary-info>
                                                        </modal>
                                                    </div>
                                                </div>
                                                <div class="col-xs-5 noleftpadd text-right">
                                                    <div class="dest_flight_time" title="{{ ::flight.InboundArrivalTimeV }}">{{ ::flight.InboundArrivalTimeV }}</div>
                                                    <div class="dest_flight_code" title="{{ ::flight.InboundFlightToName }}">{{ ::flight.InboundFlightToName }}</div>
                                                    <div class="ariline-name"><span class="flight-no-sp">{{ ::flight.InboundFlightTo }}</span><br />{{::flight.InBoundFlightNumber}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            <div class="price-flight text-right" ng-show="!flight.showNewPirce && flight.showNewPirce!=null"> <span class="total_price_pp">&pound;{{ flight.PricePerPerson | number:2}}pp </span><br /><strong class="total_price_final">Total: &pound;{{ flight.FlightFare | number:2}}</strong></div>
                                            <div class="price-flight text-right" ng-show="flight.showNewPirce"> <span class="total_price_pp"><strong>Old:</strong> &pound;{{ flight.oldPrice | number:2}}pp <br /> <span class="updated-pp"><span class="inc-pp"> <strong>New:</strong> &pound;{{ flight.PricePerPerson | number:2}}pp </span><i class="fa fa-caret-up redbg" aria-hidden="true" ng-show="flight.isPirceIncrease"></i><i class="fa fa-caret-down greenbg" aria-hidden="true" ng-show="!flight.isPirceIncrease"></i></span> </span><br /><strong class="total_price_final">Total: &pound;{{ flight.FlightFare | number:2}}</strong></div>
                                            <div class="price-sflight text-right" ng-show="flight.FlightFare == 0"><strong>&pound;{{ flight.PricePerPerson | number:2}}pp</strong></div>
                                            <div class="select-package text-right"><a class="btn btn-sm btn-primary addBtnRondTrip" ng-click="flightStates.activeReturnItem=flight.$$hashKey;flightStates.activeInboundItem='';flightStates.activeOutboundItem=''; addReturnFlight(flight)">ADD</a></div>
                                        </div>
                                        <!--<div class="col-xs-12 other-flight-details">
                                            <div class="row">
                                                <div class="col-xs-10 text-right">
                                                    <div class="price-flight">&pound; {{ ::flight.FlightFare }} pp</div>
                                                </div>
                                                <div class="col-xs-2 text-right">
                                                    <div class="ariline-name">
                                                        <img ng-src="{{ ::flight.AirlineSrc }}">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>