﻿@model Swordfish.UI.Models.Basket.WrapperModel
@if (!string.IsNullOrEmpty(Model.ResultMessage))
{
    <div>@Model.ResultMessage</div>
}
else
{
    <div id="basket-wrapper">
        <div id="expandBasket" class="icon icon-enlarge2 pull-right basket-icon-enlarge2"></div>
        <div id="basket-quote-logo-top" class="col-lg-12">
            <div class="row">
                <div class="col-lg-1">
                    <span class="basket_basket_img">
                        <img src="~/Assets/basket_new_purple.png" width="30" />
                    </span>
                </div>
                <div class="col-md-10 basket-txt1"><span class="basket-txt"><span class="">Ref.TXT-</span></span><h5 id="lblQuoteRef" class="ref-txt">@Model.QuoteReference</h5>  </div>
            </div>
        </div>
        <div class="row">
            <div id="hotel-details-wrapper">
                @Html.Partial("HotelDetails")
            </div>
            <div id="basket-wrapper-hiddenfields">
                <input type="hidden" id="hdnHotelCode" value="@Model.HotelCode" />
                <input type="hidden" id="hdnHotelContext" value="@Model.HotelCodeContext" />
                <input type="hidden" id="hdnFlightCode" value="@Model.FlightCode" />
                <input type="hidden" id="hdnBoardType" value="@Model.BoardType" />
                <input type="hidden" id="hdnAdults" value="@Model.Adults" />
                <input type="hidden" id="hdnChilds" value="@Model.Childs" />
                <input type="hidden" id="hdnInfants" value="@Model.Infants" />
                <input type="hidden" id="hdnRooms" value="@Model.RoomsRequired" />
                <input type="hidden" id="hdnDaysRequired" value="@Model.TotalNights" />
                <input type="hidden" id="hdnBasketId" value="0" />
                <input type="hidden" id="hdnObDepartureTime" value="@Model.OutboundDepartureTime" />
                <input type="hidden" id="hdnObArrivalTime" value="@Model.OutboundArrivalTime" />
                <input type="hidden" id="hdnIbDepartureTime" value="@Model.InboundDepartureTime" />
                <input type="hidden" id="hdnIbArrivalTime" value="@Model.InboundArrivalTime" />
                <input type="hidden" id="hdnCurrencyCode" value="@Model.CurrencyCode" />
                <input type="hidden" id="hdnTransferProductId" value="@Model.TransfersProductId" />
                <input type="hidden" id="hdnTransferProductDescription" value="@Model.TransfersDescription" />
                <input type="hidden" id="hdnMarketingAirLane" value="@Model.MarketingAirLane" />
                <input type="hidden" id="hdnOutboundFlightFrom" value="@Model.OutboundFlightFrom" />
                <input type="hidden" id="hdnOutboundFlightTo" value="@Model.OutboundFlightTo" />
                <input type="hidden" id="hdnInboundFlightFrom" value="@Model.InboundFlightFrom" />
                <input type="hidden" id="hdnInboundFlightTo" value="@Model.InboundFlightTo" />
                <input type="hidden" id="hdnTTICode" value="@Model.TtiiCode" />
                <input type="hidden" id="hdnBasketReference" value="@Model.BasketReference" />
                <input type="hidden" id="hdnFlightReference" value="@Model.FlightQuoteReference" />
                <input type="hidden" id="hdnHotelReference" value="@Model.HotelQuoteReference" />
                <input type="hidden" id="hdnBaggageCode" value="@Model.BaggageQuoteReference" />
                <input type="hidden" id="hdnBaggageQuantity" value="@Model.BagsCount" />
                <input type="hidden" id="hdnRoomDescription" value="@Model.RoomDescription" />
                <input type="hidden" id="hdnRoomTypeCode" value="@Model.RoomTypeCode" />
                <input type="hidden" id="hdnRoomRateQuote" value="@Model.RoomRateQuote" />
                <input type="hidden" id="hdnSourceFlightWidget" />
                <input type="hidden" id="hdnSelectedPageNo" />
                <input type="hidden" id="hdnSelectedItem" />
            </div>
            <div id="basket-right-side">
                <div id="basket-wrapper-hotel-quote">
                    <div class="row">
                        <div class="col-md-8 col-lg-8 col-sm-8">
                            <div id="basket-wrapper-hotel-name"><p><span id="lblHoteName">@Model.HotelName</span></p></div>
                            <div id="basket-wrapper-hotel-place"><h4 class="basket_hotel_name" title=@Model.HotelCity>@Model.HotelCity</h4></div>
                            <div id="basket-wrapper-hotel-days-quote"><span id="lblDaysQuote">@Model.DaysQuoteDescription</span></div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-4">
                            <div class="copyicon pull-right">
                                <span class="icon icon-copy" style="cursor:pointer;" onclick="LoadAgentQuotesStrip()"></span>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <div id="basket-wrapper-flight-cur" class="row">
                    <div class="col-sm-8 col-lg-8 col-md-8">
                        <div id="basket-wrapper-flight-cost"><span class="icon icon-airplane"></span> Rtn flights <span id="lblReturnFrom">@Model.InboundFlightFrom</span></div>
                        <div class="bound-time"><small>Outbound <span id="lblOutboundFlightTime">@Model.OutboundFlightDetails</span></small></div>
                        @if (!string.IsNullOrEmpty(Model.InboundFlightDetails))
                        {
                            <div class="bound-time"><small>Inbound <span id="lblInboundFlightTime">@Model.InboundFlightDetails</span></small></div>
                        }
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <span>£</span><span id="lblFlightFare">@Model.FlightFare</span><span> pp</span>
                    </div>
                </div>
                <hr />
                <div id="basket-wrapper-hotel-cur" class="row">
                    <div class="col-sm-8 col-lg-8 col-md-8">
                        <div id="basket-wrapper-hotel-cost"><span class="icon icon-office"></span> <span id="lblAccommodationName">@Model.HotelName</span></div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <span>£</span><span id="lblAccommodationFare">@Model.AccommodationFare</span><span> pp</span>
                    </div>
                </div>
                <hr />
                <div id="basket-wrapper-transfers-cur" class="row">
                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <div id="TrnasferAddegrid">
                            <span id="TransferCloseIcon" class="icon icon-bin"></span>
                        </div>
                        <div id="TransffersCloseAction" class="row">
                            <div class="col-sm-8 col-lg-8 col-md-8">
                                <p><span id="lblTransfersType">@Model.TransfersDescription</span></p>
                            </div>
                            <div class="col-sm-4 col-lg-4 col-md-4">
                                <span>£</span><span id="lblTrasfersFare">@Model.TransfersFare</span><span> pp</span>
                            </div>
                        </div>
                        <div id="basket-wrapper-transfer">
                            <button type="button" id="btnAddTransfers" class="btn btn-Success btn-xs lightgreen"><span class="icon icon-truck"></span> &nbsp; &nbsp;  ADD TRANSFERS</button>
                        </div>
                    </div>
                </div>
                <hr>
                <div id="basket-wrapper-bags-cur" class="row">
                    <div class="col-sm-8 col-lg-8 col-md-8">
                        <div class="form-group row">
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <span class="icon icon-briefcase"></span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="input-group small-spin">
                                    <input id="bagsCount" type="text" value="@Model.BagsCount" name="bagsCount">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">Bags</div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <span>£</span><span id="lblTotalBaggageFare">@Model.TotalBaggageFare</span>
                    </div>
                </div>
                <div id="basket-wrapper-bag-total">
                    <span>£</span><span id="lblPricePerBag">51</span> <span>per bag each way</span><span class="icon-questn" data-toggle="tooltip" title="Bag Count">?</span>
                    <hr>
                </div>
                <div class="row">
                    <div id="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                            <p style="margin-bottom: 5%;" class="col-md-7">Margin / Profit </p>
                            <div class="input-group  small-spin col-md-5">
                                <input id="marginProfit" type="text" value="50" name="marginProfit">
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-7 col-lg-7 col-md-7">
                        <div id="basket-wrapper-total-fare-cost" class="txt-wrp-bsk-big">Total</div>
                    </div>
                    <div class="col-sm-5 col-lg-5 col-md-5">
                        <div id="basket-wrapper-total-cost" class="txt-wrp-bsk-big">
                            <span>£</span><span id="lblTotalFarePerPerson">@Model.AmountPerPerson</span><span> pp</span>
                        </div>
                        <div><small><span>£</span><span id="lblTotalFare">@Model.TotalFare</span></small></div>
                        @Html.HiddenFor(m => m.TotalFare, new { @id = "lblMarginReducedTotalFare" }) 
                    </div>
                </div>
                @*<hr>
                    <div class="row">
                        <div class="col-sm-8 col-lg-8 col-md-8">
                            <select placeholder="nts" id="CardType" class="form-control nts">
                                <option>MasterCard Credit</option>
                            </select>
                        </div>
                        <div class="col-sm-4 col-lg-4 col-md-4">
                            <div id="basket-wrapper-reduced-margin" class="txt-wrp-bsk-big">
                                <span>£</span><span id="lblMarginReducedTotalFare"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row deposit">
                        <div class="col-sm-8 col-lg-8 col-md-8">
                            <div id="basket-wrapper-deposit-cost">
                                <span class="txt-wrp-bsk-big">Deposit</span> <span class="icon-questn" data-toggle="tooltip" title="No records are found please check !">?</span> <small> inc <span id="lblCCPercentage">1.5</span>% cc</small>
                            </div>
                        </div>
                        <div class="col-sm-4 col-lg-4 col-md-4">
                            <div id="basket-wrapper-deposit-amount" class="txt-wrp-bsk-big">
                                <span>£</span><span id="lblDepositAmount"></span>
                            </div>
                        </div>
                    </div>*@
                @{string ErrataInformation = String.Empty;
                    if (String.IsNullOrEmpty(Model.ErrataInformationForHotel) && String.IsNullOrEmpty(Model.ErrataInformationForFlight))
                    {
                        ErrataInformation = "No errata information is available";
                    }
                    else
                    {
                        if (!String.IsNullOrEmpty(Model.ErrataInformationForFlight))
                        {
                            ErrataInformation = Model.ErrataInformationForFlight + "\n";
                        }

                        if (!String.IsNullOrEmpty(Model.ErrataInformationForHotel))
                        {
                            ErrataInformation += Model.ErrataInformationForHotel;
                        }
                    }
                }

                <div class="col-lg-12 yellow-back">
                    <div class="row">
                        <div class="col-lg-1"><span class="icon-errt" data-toggle="tooltip" title="please check !">?</span></div>
                        <div class="col-lg-10">@ErrataInformation </div>

                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <button id="SendQuote"><span class="icon icon-mail2"></span> <span class="icon icon-bubble"></span>SEND QUOTE</button>
                        <button id="basket-wrapper-button-save" onclick="saveQuoteDetails()"><span class="icon icon-heart"></span> SAVE </button>
                    </div>
                    <div class="col-sm-12 col-lg-12 col-md-12 basket_send_mail">
                        <form class="form-inline">
                            <div class="form-group">
                                <input type="email" class="form-control" id="sendEmail" placeholder="enter mail Id">
                                <button type="button" class="btn btn-default" id="sendEmail_btn">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <button id="basket-wrapper-button-book" onclick="redirectToBooking()">Book <span class="icon icon-arrow-right2"></span></button>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
                    }
<script type="text/javascript">
    function validateEmail(email) {
        var re = /^(([^<>()[\]\\.,;:\s@@\*|%&\^$!~`"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }
</script>
