﻿<input type="hidden" id="hdnSelectedFlightRow" />
<div class="alternate_flights">
    <div id="changeFlight">
        <div id="change_flight_wrapper">            
            <div class="col-lg-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-2 col-sm-2 rght-border">
                        <div class="cngeflgt-left">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" boardtype="DO">0 Stops
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" boardtype="S1">1 Stop
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" boardtype="S2">2 Stops
                                </label>
                                <div class="clear"></div>
                            </div>
                            <div id="divOutBoundSlider" class="rangeslide">
                                <input type="hidden" id="choutboundFlights" class="slider-input" value="25,75" />
                            </div>
                            <div id="divInBoundSlider" class="rangeslide">
                                <input type="hidden" id="chinboundFlights" class="slider-input" value="25,75" />
                            </div>
                            <hr />
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Class </label>
                                    <div class="col-sm-10">
                                        <select class="form-control input-sm">
                                            <option id="economy">Select class</option>
                                            <option id="economy">Economy</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <span class="icon icon-cross icon-cros pull-right" id="close_changeFlight" onclick="CloseAlternativeFlights()"></span>
                    <div class="col-lg-8 col-sm-8">
                        <h3 class="tabs_alternate">Alternative Flights</h3>
                        <ul class="nav nav-tabs">
                            <li id="liCalendar" class="active"><a data-toggle="tab" href="#calendar">Calendar <span class="icon icon-calendar"></span></a></li>
                            <li id="liOutbound" ><a data-toggle="tab" href="#outbound" onclick="LoadInboundOutboundFlights('Outbound')">Outbound <span class="icon icon-airplane"></span></a></li>
                            <li id="liInbound"><a data-toggle="tab" href="#inbound" onclick="LoadInboundOutboundFlights('Inbound')">Inbound<span class="icon icon-airplane"></span></a></li>                           
                        </ul>
                        <div class="tab-content">
                            <div id="calendar" class="tab-pane fade in active">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-6">
                                            <div class="row">
                                                <div class="outbound_calender">
                                                    <h4 class="text-center">Outbound Flights</h4>
                                                </div>
                                            </div>
                                            <div class="row calender_border">
                                                <table class="table table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Airline</th>
                                                            <th>Depart</th>
                                                            <th>Duration</th>
                                                            <th class="td_sort">Price</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"></td>
                                                            <td><img src="../Assets/EasyJet_logo.png" width="50"/></td>
                                                            <td>07:00</td>
                                                            <td>2h 45m</td>
                                                            <td>£300</td>
                                                        </tr>
                                                        <tr>
                                                            <td><input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"></td>
                                                            <td><img src="../Assets/EasyJet_logo.png" width="50" /></td>
                                                            <td>07:00</td>
                                                            <td>2h 45m</td>
                                                            <td>£300</td>
                                                        </tr>
                                                        <tr>
                                                            <td><input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"></td>
                                                            <td><img src="../Assets/EasyJet_logo.png" width="50" /></td>
                                                            <td>07:00</td>
                                                            <td>2h 45m</td>
                                                            <td>£300</td>
                                                        </tr>
                                                        <tr>
                                                            <td><input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"></td>
                                                            <td><img src="../Assets/EasyJet_logo.png" width="50" /></td>
                                                            <td>07:00</td>
                                                            <td>2h 45m</td>
                                                            <td>£300</td>
                                                        </tr>
                                                       
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6">
                                            <div class="row">
                                                <div class="inbound_calender">
                                                   <h4 class="text-center">Inbound Flights</h4>
                                                </div>
                                                <div class="calender_border1">
                                                    <table class="table table-striped table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>Airline</th>
                                                                <th>Depart</th>
                                                                <th>Duration</th>
                                                                <th class="td_sort">Price</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td><input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"></td>
                                                                <td><img src="../Assets/EasyJet_logo.png" width="50" /></td>
                                                                <td>07:00</td>
                                                                <td>2h 45m</td>
                                                                <td>£300</td>
                                                            </tr>
                                                            <tr>
                                                                <td><input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"></td>
                                                                <td><img src="../Assets/EasyJet_logo.png" width="50" /></td>
                                                                <td>07:00</td>
                                                                <td>2h 45m</td>
                                                                <td>£300</td>
                                                            </tr>
                                                            <tr>
                                                                <td><input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"></td>
                                                                <td><img src="../Assets/EasyJet_logo.png" width="50" /></td>
                                                                <td>07:00</td>
                                                                <td>2h 45m</td>
                                                                <td>£300</td>
                                                            </tr>
                                                            <tr>
                                                                <td><input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"></td>
                                                                <td><img src="../Assets/EasyJet_logo.png" width="50" /></td>
                                                                <td>07:00</td>
                                                                <td>2h 45m</td>
                                                                <td>£300</td>
                                                            </tr>
                                                            <tr>
                                                                <td><input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"></td>
                                                                <td><img src="../Assets/EasyJet_logo.png" width="50" /></td>
                                                                <td>07:00</td>
                                                                <td>2h 45m</td>
                                                                <td>£300</td>
                                                            </tr>
                                                           
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="outbound" class="tab-pane fade ">
                            </div>
                            <div id="inbound" class="tab-pane fade">
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-2 change-flight-basket">
                        <div class="row">
                            <div class="col-lg-2 col-xs-2">
                                <span class="icon icon-cart"></span>
                            </div>
                            <div class="col-lg-10 col-xs-10 text-center">
                                <h3>Flights total</h3>
                            </div>
                        </div>
                        <div class="row">
                            <input type="hidden" id="hdnOriginalFare" />
                            <input type="hidden" id="hdnTotalFlightFare" />
                            <input type="hidden" id="hdnDepartureTime" />
                            <input type="hidden" id="hdnArrivalTime" />
                            <input type="hidden" id="hdnAirlaneName" />
                            <div id="divFare" class="col-lg-12 col-xs-12">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-xs-12 text-center">
                                <button type="button" class="btn btn-lg" onclick="saveFlightDetails()" data-dismiss="modal">Save & Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>