﻿@{
    ViewBag.Title = "CustomerQuotes";
    Layout = "~/Views/Shared/_FilterLayout.cshtml";
}
@Scripts.Render("~/bundles/customerquotes")
<div class="cust-qt-wrap">
    <div class="cQuote_body_wrapper">
        <div id="global-compare-data">
            <div id="recentQuotes_wrapper">
                <div class="col-lg-12 col-xs-12" id="recentquote_agent_nage">
                    <div class="row">
                        <div class="col-lg-6 col-xs-6">
                            <h3 id="quotesCustomerName">Quotes for Adam Cleverley</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-xs-12 selectrow" id="coustomer_quotes_details">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 cust_all_types">
                            <div class="col-md-1 col-lg-1">
                                <span id="todaysdata"><a>Today's</a></span>
                            </div>
                            <div class="col-md-2 col-lg-2">
                                <span id="last48hours"><a>Last 48 hours</a></span>
                            </div>
                            <div class="col-md-2 col-lg-2">
                                <span id="customerAllQuotes"><a>All quotes</a></span>
                            </div>
                            <div class="col-md-2 col-lg-2 clear_selected">
                                <button type="button" class="btn" id="clearQuotes">CLEAR SELECTED<span id="chkclearSelected">(2)</span></button>
                            </div>
                            <div class="col-md-2 col-lg-2 selected">
                                <button type="button" class="btn" id="comparequotes">COMPARE SELECTED<span id="chkcompareSelected">(2)</span></button>
                            </div>
                            @*<div class="col-md-2 col-lg-2 text-center cust_all_text_block">
                                    <span class="cust_all_text">All</span><input id="checkall" type="checkbox">
                                </div>*@
                        </div>
                    </div>
                    <hr />
                    <div id="container">
                    </div>
                    <div id="transferpartial" style="display:none;">
                        @Html.Partial("Transfers")
                    </div>
                    <div id="quotesPagination"></div>
                    <div id="quotesMoreRooms">
                    </div>
                    <div class="modal fade" id="CompareQuotes" role="dialog">
                        <div class="modal-dialog  modal-lg">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h3 class="modal-title">Quote compare</h3>
                                </div>
                                <div class="modal-body">
                                    <table class="table quote-comp-table">
                                        <thead>
                                            <tr>
                                                <th>Quote ID</th>
                                                <th>Price</th>
                                                <th>Star Rate</th>
                                                <th>Inbound Time</th>
                                                <th>Outbound Time</th>
                                                <th>Trip Adviser</th>
                                            </tr>
                                        </thead>
                                        <tbody id="dynamicpopup"></tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>                    
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <div class="compare-quote_detail_wrapper">
        <div id="global-filter-basket" style="width:98%!important;">
            <span id="global-filter-basket-loader"><img src="../Assets/loader.gif" width="40" /></span>
            <div id="divBasketWrapper">
            </div>
        </div>
        <div id="divCustomerDetails">
            <div class="col-lg-12 col-md-12">
                <div class="row">
                    <div class="col-lg-8"><h4>Customer details<span></span></h4></div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="row">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="txtFirstName" placeholder="First Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="text" class="form-control" id="txtLastName" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="txtCustomerPhoneNumber" placeholder="Ph.No">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="txtCustomerEmail" placeholder="Mail Id">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5">
                                <p class="pull-left">Add address</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5 cust_details">
                                <textarea id="txtCustomerInformation" class="form-control" rows="15"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 email_sms">
                                <button type="button" id="btnsendEmailSms" class="btn btn-lg pull-right">EMAIL/SMS <span class="icon icon icon-arrow-right2"></span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>        
    </div>
</div>
<div id="loader" class="container">
    <div class="logo_loader"></div>
</div>
<div id="divAlertBox" class="alert-wrapper">
    <div class="container-fluid alert-box">
        <div class="container-fluid alert_logo_strip"></div>
        <h4>Sorry information is not avilable</h4>
        <button class="btn btn-default" id="alert_close">Ok</button>
    </div>
</div>
<input type="hidden" id="hdnSelectedFlightRow" />
<div id="divChangeFlight">@Html.Partial("ChangeFlight")</div>