﻿@model Swordfish.Businessobjects.TTSS.TTSSPackage

<div id="ttss-detail-block" class="col-lg-12 col-xs-12">
    <div id="ttss-detail-left-block">
        @if (Model != null)
        {
            if (Model.QuoteRef != null)
            {                
                    var AIPrice = "N/A";
                    var FBPrice = "N/A";
                    var HBPrice = "N/A";
                    var BBPrice = "N/A";
                    var SCPrice = "N/A";
                    var ROPrice = "N/A";
                    var BoardCD = "";
                
                    if (Model.BoardTypePrices != null)
                    {
                        if (Model.BoardTypePrices.Any())
                        {
                            foreach (var item in Model.BoardTypePrices)
                            {
                                switch (item.BoardCode)
                                {
                                    case "AI":
                                        AIPrice = item.Fare;
                                        BoardCD = "AI";
                                        break;
                                    case "FB":
                                        FBPrice = item.Fare;
                                        BoardCD = "FB";
                                        break;
                                    case "HB":
                                        HBPrice = item.Fare;
                                        BoardCD = "HB";
                                        break;
                                    case "BB":
                                        BBPrice = item.Fare;
                                        BoardCD = "BB";
                                        break;
                                    case "SC":
                                        SCPrice = item.Fare;
                                        BoardCD = "SC";
                                        break;
                                    case "RO":
                                        ROPrice = item.Fare;
                                        BoardCD = "RO";
                                        break;
                                }
                            }
                        }
                    }
            <div id="ttss-saerchrow" class="col-lg-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-3 col-xs-3 "><label id="lblQuoteReference">@Model.QuoteRef</label></div>
                    <div class="col-lg-3 col-xs-3"><p>@Model.Accommodation</p></div>
                    <div class="col-lg-2 col-xs-2"><p>@Model.Duration nts,<span id="lblBoardCode">@Model.BoardType</span></p></div>
                    <div class="col-lg-2 col-xs-2"><p>from &pound; @Model.AccommodationFare</p></div>
                    <div class="col-lg-2 col-xs-2"><p class="text-center" id="ttss_view_button">View</p></div>
                </div>
            </div>
            <div class="col-lg-12 col-xs-12" style="margin-top:10px;" id="ttss_details">
                <p class="text-center" id="ttss_close_button"><span class="icon icon-cross"></span></p>
                <div class="row">
                    <div class="col-lg-5 col-xs-5">
                        <div id="ttss-hotel-details">
                            <div id="ttss-hotel-detail-name">
                                <div class="row">
                                    <div id="ttss-board-hotel-details" class="col-lg-12 col-xs-12">
                                        <h5>@Model.Accommodation</h5>
                                    </div>
                                    </div>
                            </div>
                            <div class="row">
                                <div id="ttss-board-hotel-details" class="col-lg-12 col-xs-12">
                                     <span id="ttss-board-detail-name">@Model.Duration nts, @BoardCD</span>
                                      <span class="ttss-board-detail-name-span">@BoardCD</span>
                                       <span id="ttss-board-detail-rate">
                                       @{ var rate = Convert.ToInt16(@Model.Rating);
                                          int i = 0;
                                        for (i = 0; i < rate; i++)
                                        {<span><img src='~/Assets/star.png'></span>}
                                        for (int j = i; i < 5; i++)
                                        {<span><img src='~/Assets/star-empty.png'></span>}
                                      }
                                      </span>      
                                     <span id="ttss-hotel-detail-view"><img src="~/Assets/view2.png" /></span>                                           
                            </div>
                           </div>
                            <div class="row">
                                <div id="ttss-flight-details" class="col-lg-12 col-xs-12">
                                    <div id="ttss-flight-from">
                                        <span id="ttss-flight-from-h3"> @Model.SourceFrom </span>
                                        <span class="icon icon-arrow-left"></span><span class="icon icon-arrow-right"></span>
                                        <span id="ttss-flight-to-h3"> @Model.DestinationTo </span>
                                    </div>
                                </div>
                            </div>
                            @{
                                var outboundDepartureTime = Convert.ToDateTime(Model.OutboundDepartureDtTime);
                                var outboundArrivalTime = Convert.ToDateTime(Model.OutboundArrivalTime);
                                var inboundDepartureTime = Convert.ToDateTime(Model.InboundDepartureDtTime);
                                var inboundArrivalTime = Convert.ToDateTime(Model.InboundArrivalTime);

                                var outboundMonth = outboundDepartureTime.ToString("MMMM").Substring(0, 3);
                                var inboundMonth = inboundDepartureTime.ToString("MMMM").Substring(0, 3);

                                var outboundDetails = "(" + outboundDepartureTime.ToString("dd") + " " + outboundMonth + ") " + outboundDepartureTime.ToString("hh:mm") + " - " +outboundArrivalTime.ToString("hh:mm");
                                var inboundDetails = "(" + inboundDepartureTime.ToString("dd") + " " + inboundMonth + ") " + inboundDepartureTime.ToString("hh:mm") + " - " + inboundArrivalTime.ToString("hh:mm");
                            }
                            <div class="row">
                                <div id="ttss-flight-timings" class="col-lg-12 col-xs-12">
                                    <div id="ttss-flight-time-up" class="col-lg-7 col-xs-7">
                                        <span id="ttss-flight-time-up-p">@outboundDetails/@Model.MarketingAirLane</span>
                                    </div>
                                    <div id="ttss-flight-time-down" class="col-lg-5 col-xs-5">
                                        <span id="ttss-flight-time-down-p">@inboundDetails/@Model.MarketingAirLane</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <div id="ttss-detail-right-block" class="row col-lg-3 col-xs-3">
                        <div class="ttss-hotel-board_block">
                            <p>AI</p>
                            <span id="ttss-hotel-AI">
                                @if (AIPrice != "N/A")
                                    {
                                    <span>&pound; @AIPrice pp</span>
                                    }
                                    else
                                    { <span>N/A</span> }
                            </span>
                        </div>
                        <div clear></div>
                        <div class="ttss-hotel-board_block">
                            <p>FB</p>
                            <span id="ttss-hotel-FB">
                                @if (FBPrice != "N/A")
                                    {
                                    <span>&pound; @FBPrice pp</span>
                                    }
                                    else
                                    { <span>N/A</span> }
                            </span>
                        </div>
                        <div clear></div>
                        <div class="ttss-hotel-board_block">
                            <p>HB</p>
                            <span id="ttss-hotel-HB">
                                @if (HBPrice != "N/A")
                                    {
                                    <span>&pound; @HBPrice pp</span>
                                    }
                                    else
                                    { <span>N/A</span> }
                            </span>
                        </div>
                        <div clear></div>
                        <div class="ttss-hotel-board_block">
                            <p>BB</p>
                            <span id="ttss-hotel-BB">
                                @if (BBPrice != "N/A")
                                   {
                                    <span>&pound; @BBPrice pp</span>
                                   }
                                   else
                                   { <span>N/A</span> }
                            </span>
                        </div>
                        <div clear></div>
                        <div class="ttss-hotel-board_block">
                            <p>SC</p>
                            <span id="ttss-hotel-SC">
                                @if (SCPrice != "N/A")
                                    {
                                    <span>&pound; @SCPrice pp</span>
                                    }
                                    else
                                    { <span>N/A</span> }
                            </span>
                        </div>
                        <div clear></div>
                        <div class="ttss-hotel-board_block">
                            <p>RO</p>
                            <span id="ttss-hotel-RO">
                                @if (ROPrice != "N/A")
                                    {
                                    <span>&pound; @ROPrice pp</span>
                                    }
                                    else
                                    { <span>N/A</span> }
                            </span>
                        </div>
                    </div>
                    <div class="row col-lg-4 col-xs-4">
                        <div class="ttss_worst_flight_tims">
                            <h4>Worst flight timings</h4>
                            <p id="worst-flight-time-time">16:40 - 22:30 / <span id="worst-flight-name">EJH</span> <a>2 Stops</a></p>
                        </div>
                        <div class="ttss_worst_flight_timings">
                            <p id="worst-flight-time-time">10:23 - 20:34 / <span id="worst-flight-name">EJH</span> <a>1 stop</a></p>
                        </div>
                        <div class="ttss_worst_flight_timings">
                            <p id="worst-flight-time-time">08:13 - 15:21 / <span id="worst-flight-name">EJH</span> <a>1 Stop</a></p>
                        </div>
                    </div>
                </div>
            </div>
            }
            else
            {
            <div><h4><span style="color:red">*</span>No result found !!</h4></div>
            }
        }
        else
        {
            <div><h4><span style="color:red">*</span>No result found !!</h4></div>
        }
    </div>
</div>
<script>
    $('#ttss_view_button').click(function () {
        $('#ttss_details').slideDown(300);
        $('#ttss-saerchrow').css("display", "none");
        $('#ttss_close_button').css("display", "block");
    });
    $('#ttss_close_button').click(function () {
        $('#ttss_details').slideUp(300);
        $('#ttss-saerchrow').css("display", "block");
        $('#ttss_close_button').css("display", "none");
    });
</script>