﻿@using Swordfish.UI.Helpers
@model Swordfish.UI.Models.Account.SearchModel

@{
    ViewBag.Title = "Filter";

    Layout = "~/Views/Shared/_FilterLayout.cshtml";
}
@{ bool ttssSearch = false;
    bool.TryParse(SFConfiguration.GetTTSSSearch(), out ttssSearch);
}

@Scripts.Render("~/bundles/quotefilter")
@Scripts.Render("~/bundles/daterangepicker")
@Scripts.Render("~/Scripts/srpcalender.js")

@*<div id="grdCustomer" ng-app="CustomerApp" ng-controller="CustomerCtrl">
    @Html.Partial("~/Views/Customer/CustomerGrid.cshtml")
</div>*@
<div id="gridQuoteSearch" style="display:none;">   
</div>
<div id="gridFilter">
    <input id="hdnBasketEnable" type="hidden" value="@ViewBag.BasketEnable" />
    <div id="global-filter-data-wrapper">
        <span id="global-filter-loader"><img src="../Assets/loader.gif" width="40" /></span>
        <div id="filterContents">
        </div>
    </div>
    <div id="transfers_nav_wrapper">
        @Html.Partial("TransfersLeftnav")
    </div>
    <!-- Filter Tab Ends Here-->
    <!-- TTSS Widgets Here starts-->
    <div id="WidgetContainer">        
        <div id="filter">
            <div id="global-filter-data">
                
                <div id="divTtssContent">
                </div>
                <div id="divSearchContent">
                    @if (Model != null)
                    {
                        @Html.Partial("SearchContent", Model)
                    }
                </div>
                <div id="ttss-list-view-nav">
                    <ul>                        
                        <li id="lstCheapestPrice">Cheapest Price</li>
                        <li id="lstBestValue">Best Value</li>
                        <li id="lstBestFlightTimes">Best Flight Times</li>
                        <li id="lstSpecialOffers">Special Offers</li>
                    </ul>
                </div>
                <div clear></div>
                <div id="divTtssCalender">
                </div>
                <div id="srpcal"></div>
                <div id="divPackage">
                    <span id="packageLoader"><img src="../Assets/loader.gif" width="70" /></span>
                </div>
            </div>
            <div id="pagination"></div>
        </div>
        <!-- Rendering Transerfs Partial -->
        <div id="transferpartial" style="display:none;">
            @Html.Partial("Transfers")
        </div>
        <div id="global-filter-basket">
            <span id="global-filter-basket-loader"><img src="../Assets/loader.gif" width="40" /></span>
            <div id="divBasketWrapper">
                @*@Html.Partial("BasketWrapper")*@
            </div>
        </div>
    </div>
    <div id="divAlertBox" class="alert-wrapper">
        <div class="container-fluid alert-box">
            <div class="container-fluid alert_logo_strip"></div>
            <h4>Sorry information is not avilable</h4>
            <button class="btn btn-default" id="alert_close">Ok</button>
        </div>
    </div>
    <div id="divDialogueBox" class="alert-wrapper">
        <div class="container-fluid alert-box">
            <div class="container-fluid alert_logo_strip"></div>
            <h4>Sorry information is not avilable</h4>
            <button class="btn btn-default" id="alert_close" onclick="navigateToBooking()">Yes</button>
            <button class="btn btn-default" id="alert_close" onclick="hideDialoguePopup()">No</button>
        </div>
    </div>
    <div id="divChangeFlight">@Html.Partial("ChangeFlight")</div>
</div>
	@*<script>
    $('#widgetsHolder').mCustomScrollbar({
        theme: "dark-3"
    });
</script>*@
<!-- TTSS Widgets Ends Here  -->
<!-- TTSS Basket Starts Here  -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#grdCustomer").hide();
    });
</script>