﻿@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#gallery-hotel').simplegallery({
                galltime: 400, // transition delay
                gallcontent: '.content',
                gallthumbnail: '.thumbnail',
                gallthumb: '.thumb'
            });
        });
    </script>    
}
<div id="hotelDetailsExpand">
    <h3>Hotel details &nbsp; <span class="icon icon-office"></span></h3>
    <div class="hotels-rate">
        <div class="ttss-hotel-flight-widget-rate">
            <span class="hotel-name-txt" id="spHotelName">Zalagh Kasbah Hotel & Spa </span>
            <span class="rate-set-icons">
                <span><img src="~/Assets/star.png" id="img1"></span>
                <span><img src="~/Assets/star.png" id="img2"></span>
                <span><img src="~/Assets/star.png" id="img3"></span>
                <span><img src="~/Assets/star.png" id="img4"></span>
                <span><img src="~/Assets/star-empty.png" id="img5"></span>
            </span>
            <span id="hotelTripAdvisorScore"></span>
        </div>
        <div id="hotel-place"><h4>Markash</h4></div>
        <div id="hotel-days"><span id="hotel-days-quote">7 Nights, 2 people, LGW </span>&nbsp;  &nbsp;<input id="btnMoreRoomTypes" type="button" class="btn btn-Success btn-xs skyblue" onclick="DisplayMoreRoomTypes()" name="CHANGE" value="CHANGE ROOMTYPE" /></div>
        <div id="moreHotelRoomCodes" class="morerooms_wrapper"></div>
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div id="gallery-hotel" class="hotel-gallery">
                   <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 800px; height: 456px; overflow: hidden; visibility: hidden;">
                        <!-- Loading Screen -->
                        <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                            <div style="position:absolute;display:block;background:url('../Assets/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
                        </div>
                        <div id="dynamicimage" data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 800px; height: 356px; overflow: hidden;">
                            @*<div data-p="144.50" style="display: none;">
                                <img data-u="image" src="~/Assets/hotel-1.png" />
                                <img data-u="thumb" src="~/Assets/thumb1.png" />
                            </div>
                            <div data-p="144.50" style="display: none;">
                                <img data-u="image" src="~/Assets/hotel-2.png" />
                                <img data-u="thumb" src="~/Assets/thumb2.png" />
                            </div>
                            <div data-p="144.50" style="display: none;">
                                <img data-u="image" src="~/Assets/hotel-3.png" />
                                <img data-u="thumb" src="~/Assets/thumb3.png" />
                            </div>
                            <div data-p="144.50" style="display: none;">
                                <img data-u="image" src="~/Assets/hotel-4.png" />
                                <img data-u="thumb" src="~/Assets/thumb4.png" />
                            </div>
                            <div data-p="144.50" style="display: none;">
                                <img data-u="image" src="~/Assets/hotel-5.png" />
                                <img data-u="thumb" src="~/Assets/thumb5.png" />
                            </div>
                            <div data-p="144.50" style="display: none;">
                                <img data-u="image" src="~/Assets/hotel-1.png" />
                                <img data-u="thumb" src="~/Assets/thumb1.png" />
                            </div>
                            <div data-p="144.50" style="display: none;">
                                <img data-u="image" src="~/Assets/hotel-2.png" />
                                <img data-u="thumb" src="~/Assets/thumb2.png" />
                            </div>
                            <div data-p="144.50" style="display: none;">
                                <img data-u="image" src="~/Assets/hotel-3.png" />
                                <img data-u="thumb" src="~/Assets/thumb3.png" />
                            </div>
                            <div data-p="144.50" style="display: none;">
                                <img data-u="image" src="~/Assets/hotel-4.png" />
                                <img data-u="thumb" src="~/Assets/thumb4.png" />
                            </div>
                            <div data-p="144.50" style="display: none;">
                                <img data-u="image" src="~/Assets/hotel-5.png" />
                                <img data-u="thumb" src="~/Assets/thumb5.png" />
                            </div>
                            <div data-p="144.50" style="display: none;">
                                <img data-u="image" src="~/Assets/hotel-1.png" />
                                <img data-u="thumb" src="~/Assets/thumb1.png" />
                            </div>
                            <div data-p="144.50" style="display: none;">
                                <img data-u="image" src="~/Assets/hotel-2.png" />
                                <img data-u="thumb" src="~/Assets/thumb2.png" />
                            </div>
                            <div data-p="144.50" style="display: none;">
                                <img data-u="image" src="~/Assets/hotel-3.png" />
                                <img data-u="thumb" src="~/Assets/thumb3.png" />
                            </div>
                            <div data-p="144.50" style="display: none;">
                                <img data-u="image" src="~/Assets/hotel-4.png" />
                                <img data-u="thumb" src="~/Assets/thumb4.png" />
                            </div>
                            <div data-p="144.50" style="display: none;">
                                <img data-u="image" src="~/Assets/hotel-5.png" />
                                <img data-u="thumb" src="~/Assets/thumb5.png" />
                            </div>
                            <div data-p="144.50" style="display: none;">
                                <img data-u="image" src="~/Assets/hotel-1.png" />
                                <img data-u="thumb" src="~/Assets/thumb1.png" />
                            </div>
                            <div data-p="144.50" style="display: none;">
                                <img data-u="image" src="~/Assets/hotel-2.png" />
                                <img data-u="thumb" src="~/Assets/thumb2.png" />
                            </div>
                            <div data-p="144.50" style="display: none;">
                                <img data-u="image" src="~/Assets/hotel-3.png" />
                                <img data-u="thumb" src="~/Assets/thumb3.png" />
                            </div>
                            <div data-p="144.50" style="display: none;">
                                <img data-u="image" src="~/Assets/hotel-4.png" />
                                <img data-u="thumb" src="~/Assets/thumb4.png" />
                            </div>
                            <div data-p="144.50" style="display: none;">
                                <img data-u="image" src="~/Assets/hotel-5.png" />
                                <img data-u="thumb" src="~/Assets/thumb5.png" />
                            </div>*@
                        </div>
                        <!-- Thumbnail Navigator -->
                        <div data-u="thumbnavigator" class="jssort01" title="Drag left or right" style="position:absolute;left:0px;bottom:0px;width:800px;height:100px;" data-autocenter="1">
                            <!-- Thumbnail Item Skin Begin -->
                            <div data-u="slides" style="cursor: default;">
                                <div data-u="prototype" class="p">
                                    <div class="w">
                                        <div data-u="thumbnailtemplate" class="t"></div>
                                    </div>
                                    <div class="c"></div>
                                </div>
                            </div>
                            <!-- Thumbnail Item Skin End -->
                        </div>
                        <!-- Arrow Navigator -->
                        <span data-u="arrowleft" class="jssora05l" style="top:158px;left:8px;width:40px;height:40px;"></span>
                        <span data-u="arrowright" class="jssora05r" style="top:158px;right:8px;width:40px;height:40px;"></span>
                    </div>
                    @*<div class="content">
                        <img src="~/Assets/hotel-1.png"  class="image_1">
                        <img src="~/Assets/hotel-2.png"  class="image_2">
                        <img src="~/Assets/hotel-3.png"  class="image_3">
                        <img src="~/Assets/hotel-4.png"  class="image_4">
                        <img src="~/Assets/hotel-5.png"  class="image_5">
                        <img src="~/Assets/hotel-6.png"  class="image_6">
                    </div>
                    <div class="clear"></div>
                    <div class="thumbnails">
                        <div class="thumb"> <a href="#" rel="1"> <img id="thumb_1" src="~/Assets/thumb1.png"> </a> </div>
                        <div class="thumb"> <a href="#" rel="2"> <img id="thumb_2" src="~/Assets/thumb2.png"> </a> </div>
                        <div class="thumb"> <a href="#" rel="3"> <img id="thumb_3" src="~/Assets/thumb3.png"> </a> </div>
                        <div class="thumb"> <a href="#" rel="4"> <img id="thumb_4" src="~/Assets/thumb4.png"> </a> </div>
                        <div class="thumb"> <a href="#" rel="5"> <img id="thumb_5" src="~/Assets/thumb5.png"> </a> </div>
                        <div class="thumb"> <a href="#" rel="6"> <img id="thumb_6" src="~/Assets/thumb6.png"> </a> </div>
                        <div class="clear"></div>
                    </div>*@
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="hotel-desc" id="dvHotelDescription">
                In addition to its outdoor pools, the <br />
                establishment Zalagh Kasbah Hotel and Spa <br />
                features restaurants,a bar and a concierge.
                </div>
            </div>
        </div>
        <div class="flight-details">
            <span class="flight-details-head">Flight details &nbsp; <span class="icon icon-airplane"></span></span> &nbsp;  &nbsp; <input id="btnChangeFlightTypes" type="button" class="btn btn-Success btn-xs skyblue" onclick="DisplayChangeFlightPopup()" name="CHANGE" value="CHANGE" />
        </div>
        <div class="flight-timerow-section">
            <div class="flight-timerow row">
                <div class="col-md-2 col-lg-2 col-sm-2"><span class="flight-bound">Outbound</span></div>
                <div class="col-md-2 col-lg-2 col-sm-2"><span id="spFlightObDate" class="flight-date"></span></div>
                <div class="col-md-1 col-lg-1 col-sm-1"><span id="spObAirlane" class="tlight-name"></span></div>
                <div class="col-md-3 col-lg-3 col-sm-3"><span id="spObSourceFrom"></span><span id="spObDepartureTime"></span></div>
                <div class="col-md-1 col-lg-1 col-sm-1"><span class="icon icon-arrow-right"></span></div>
                <div class="col-md-3 col-lg-3 col-sm-3"><span id="spObDestinationTo"></span><span id="spObArrivalTime"></span></div>
            </div>
            <div class="flight-timerow row">
                <div class="col-md-2 col-lg-2 col-sm-2"><span class="flight-bound">Inbound</span></div>
                <div class="col-md-2 col-lg-2 col-sm-2"><span id="spFlightIbDate" class="flight-date"></span></div>
                <div class="col-md-1 col-lg-1 col-sm-1"><span id="spIbAirlane" class="tlight-name"></span></div>
                <div class="col-md-3 col-lg-3 col-sm-3"><span id="spIbSourceFrom"></span><span id="spIbDepartureTime"></span></div>
                <div class="col-md-1 col-lg-1 col-sm-1"><span class="icon icon-arrow-left"></span></div>
                <div class="col-md-3 col-lg-3 col-sm-3"><span id="spIbDestinationTo"></span><span id="spIbArrivalTime"></span></div>
            </div>
        </div>
        <div class="flight-details-bags">
            <span class="flight-details-head">Bags &nbsp; <span class="icon icon-briefcase"></span></span>
        </div>
    </div>
</div>
