﻿<div class="quoteSearchPage">
   <div id="divSearchPage">
   </div>
    <div id="divQuoteDialog" class="alert-wrapper">
        <div class="container-fluid alert-box">
            <div class="container-fluid alert_logo_strip"></div>
            <h4>Sorry information is not avilable</h4>
            <button class="btn btn-default" id="alert_close" onclick="validateQuoteSearch()">Yes</button>
            <button class="btn btn-default" id="alert_close" onclick="hideQuoteSearchPopup()">No</button>
        </div>
    </div>
    <div class="errror_summery_wrapper1">
        <div class="container errror_summery_container alert-box">
            <span class="icon icon-cross pull-right close_error_summary"></span>
            <h3 class="text-left">Error Summary</h3>
            <div class="error_container">
            </div>
        </div>
    </div>
</div>


