﻿@using Swordfish.UI.Helpers
@{
    ViewBag.Title = "Filter";
    Layout = "~/Views/Shared/_FilterLayout.cshtml";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryUI")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/agentquotes")
@Scripts.Render("~/bundles/menuscript")
@Scripts.Render("~/bundles/daterangepicker")
@Scripts.Render("~/bundles/bootPage")


<div class="rQuote_body_wrapper">
    <div id="global-recent-data">
        <div id="recentQuotes_wrapper">
            <div class="col-lg-12 col-xs-12" id="recentquote_agent_nage">
                <div class="row">
                    <div class="col-lg-6 col-xs-6">
                        @if (@SFConfiguration.GetUserName() != null)
                        {
                            <h3 id="quotesAgentName">Hello <span class="usr-name">@SFConfiguration.GetUserName().ToString()</span></h3>
                        }
                    </div>
                    <div class="col-lg-6 col-xs-6">
                        <button type="button" class="btn btn-info agent_profile" id="btnShowProfile">Profile</button>
                    </div>
                </div>
            </div>
            <hr />
            <div id="divAgentProfile" class="agent-pop" style="display:none">
            </div>
            <div class="col-lg-12 col-xs-12 selectrow" id="recent_quotes_details">
                <h3 class="pull-left">Recent Quotes</h3>
                <p class="pull-left" style="margin-left:18%;">Dpt.date range</p>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <input type="text" class="form-control" id="txtSearch" placeholder="Type name,ref">
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-8">

                        <div class="col-md-4 col-lg-4 pull-left">
                            <div class="input-group date" id="dtreturnpickupinput">
                                <input type="text" placeholder="From" id="txtFromDate" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class=" input-group date" id="dtpickup">
                                <input type="text" placeholder="To" id="txtToDate" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <p class="last48hours"><a>Last 48 hours</a></p>
                        </div>
                    </div>
                </div>
                <div id="dvRecentQuotes">
                </div>
                <div id="quotesPagination"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="incomming_call_detail_wrapper">
    <div class="col-lg-12 col-md-12">
        <h3 class="incomming_call_detail_h3">Incoming call details</h3>
        <div class="row">
            <div class="col-lg-8"><h4>TXT - 0001 <span><i>3 quotes</i></span></h4></div>
            <div class="col-lg-4"><span class="icon icon-phone income_call pull-right"></span></div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12">
        <div class="row">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="call_fname" placeholder="First Name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <input type="text" class="form-control" id="call_lname" placeholder="Last Name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="phone_no" placeholder="Ph.No">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="" placeholder="Mail Id">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-7">
                        <button type="button" class="btn btn-lg col-sm-9 q-success">Success</button>
                    </div>
                    <div class="col-sm-3 incomming_call_not_now">
                        <p class="pull-left">Not Now</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="clear"></div>
   
</div>

<script type="text/javascript">
     $("#scrollTask_checkbox").on('change', function () {
            if ($("#scrollTask_checkbox").prop('checked')) {
                $("#FixedTask_timer").show();
            } else {
                $("#FixedTask_timer").hide();
            }
     });

    $("#addTaskButton").click(function(){
        var tasktext =  $("#addTodaytask").val();
        if (tasktext == "") {
            $('.container-fluid alert-box h4').text("Please enter today's action data");
            return;
        }else
        {
            var status='new';
            var type='Insert';

            inserttodayaction(status,type,tasktext);
            $(".addaction").removeClass("expand");
            $(".act-toggle").show();
            $("#scrollTask_checkbox").attr('checked', false);
            $("#FixedTask_timer").hide();
        }
    });

    $("#ActionComplete").on('click',function(){
        var id= $(this).attr('id');
        localStorage.clear();
        var type='';
        var TextId=$("#paragraph").html();
        var text=$("#myModalLabel").html();

        var model = {
            TaskPrimaryKeyid: TextId,
            TaskText: id,
            Type: type  ,
            reminder_status:"complete",
            reminder:'0',
            Is_deleted:"0"
        };

        var modeldata = JSON.stringify(model);

        AddTodaysAction('POST',modeldata,"OTHER");
            $(".addaction").removeClass("expand");
            $(".act-toggle").show();
            $('#myModal').modal('hide');
            $("#"+TextId+"div").remove();
    });
</script>
