﻿@model  Swordfish.UI.Models.Account.SearchModel

<div id="ttss-detail-block" class="col-lg-12 col-xs-12">
    <div id="ttss-detail-left-block">


        <div id="ttss-saerchrow" class="col-lg-12 col-xs-12">
            <div class="row">
                <div class="col-lg-3 col-xs-3 "><label id="lblQuoteReference">Search Parameters</label></div>
                <div class="col-lg-2 col-xs-2"><p class="text-center" id="ttss_view_button">View</p></div>
            </div>
        </div>
        <div class="col-lg-12 col-xs-12" style="margin-top:10px;" id="ttss_details">
            <p class="text-center" id="ttss_close_button"><span class="icon icon-cross"></span></p>
            <div class="row">
                <div class="col-lg-6 col-xs-6">
                    <div id="ttss-hotel-details">
                        <div id="ttss-hotel-detail-name">
                            <div class="row">
                                <div id="ttss-board-hotel-details" class="col-lg-13 col-xs-13">
                                    <h5>Source: @Model.SourceFromId</h5>
                                </div>
                                <div id="ttss-board-hotel-details" class="col-lg-13 col-xs-13">
                                    <h5>Destination: @Model.DestinationToId</h5>
                                </div>
                                <div id="ttss-board-hotel-details" class="col-lg-13 col-xs-13">
                                    <h5>Travel Dates: @Convert.ToDateTime(@Model.CheckIn).ToString("dd-MM-yyyy") - @Convert.ToDateTime(@Model.CheckOut).ToString("dd-MM-yyyy") , @Model.Nights Nts</h5>
                                </div>
                                <div id="ttss-board-hotel-details" class="col-lg-13 col-xs-13">
                                    <h5>PAX: @Model.Adults Adults, @Model.Child Child,@Model.Infants Infants Staying in @Model.Rooms Room(s)</h5>
                                </div>
                            </div>
                        </div>
                        <div id="ttss-detail-right-block" class="row col-lg-3 col-xs-3">

                        </div>
                    </div>
                </div>
                <div class="row col-lg-4 col-xs-4">
                    <div class="ttss_worst_flight_tims">
                        <div id="ttss-board-hotel-details" class="col-lg-12 col-xs-12">
                            <h5>Hotel: @Model.Hotel</h5>
                        </div>
                        <div id="ttss-board-hotel-details" class="col-lg-12 col-xs-12">
                            <h5>Board Type: @Model.BoardType</h5>
                        </div>
                        <div id="ttss-board-hotel-details" class="col-lg-12 col-xs-12" style="width:500px">
                            <h5>Star Rating: @Model.Rating</h5>
                        </div>
                        @*<div id="ttss-board-hotel-details" class="col-lg-12 col-xs-12" style="width:410px">
                    <h5>PAX: @Model.Adults Adults, @Model.Child Children Staying in @Model.Rooms Room(s)</h5>
                </div>*@

                    </div>
                </div>
            </div>
           
        </div>
        
    </div>
</div>
<script>
    $('#ttss_view_button').click(function () {
        $('#ttss_details').slideDown(300);
        $('#ttss-saerchrow').css("display", "none");
        $('#ttss_close_button').css("display", "block");
    });
    $('#ttss_close_button').click(function () {
        $('#ttss_details').slideUp(300);
        $('#ttss-saerchrow').css("display", "block");
        $('#ttss_close_button').css("display", "none");
    });
</script>
