﻿<div class="ttss-sort-wrapper">
    <div class="row text-center">
        <div class="col-md-3 col-xs-3"><h4 class="sort-hundred"></h4></div>
        <div class="col-md-1 col-xs-2" style="margin-top:7px;"><span>Sort By</span> </div>
        <div class="col-md-4 col-xs-4 select-sort pull-left">
            <select class="form-control" id="ddlHolidaySorting" style="width: 300px;">
                <option value="Cheapest Price">Sort by price Lowest - Highest</option>
                <option value="Best Value">Sort by price Highest - Lowest</option>
            </select>
        </div>

        <div class="col-md-4 col-xs-4 pull-left">
            <span class="icon icon-list2 icolist-nav"></span>
            <span class="icon icon-file-text icotext-nav"></span>
            <span class="icon icon-calendar icocal-nav hidden"></span>
        </div>
    </div>
    <div class="row ttss-sort-dates">
        <div id="SRPCalenDiv" class="col-lg-12">
            <ul>
                <li>
                    <span id="Calloader1" class="calendar-loading"><img src="../Assets/loader.gif" width="40" /></span>
                   <span hidden id="spndt1"></span><br />
                   <span hidden id="spnpr1"> </span>                        
                </li>
                <li>
                    <span id="Calloader2" class="calendar-loading"><img src="../Assets/loader.gif" width="40" /></span>
                    <span hidden id="spndt2"></span><br />
                    <span hidden id="spnpr2"></span>     
                </li>      
                <li>
                    <span id="Calloader3" class="calendar-loading"><img src="../Assets/loader.gif" width="40" /></span>
                    <span hidden id="spndt3"></span><br />
                    <span hidden id="spnpr3"></span>     
                </li>      
                <li>
                    <span id="spndt4">@ViewBag.CheckInDt</span><br />
                    <span id="spnpr4">-</span>     
                </li>      
                <li>
                    <span id="Calloader5" class="calendar-loading"><img src="../Assets/loader.gif" width="40" /></span>
                    <span hidden id="spndt5"></span><br />
                    <span hidden id="spnpr5"></span>     
                </li>
                <li>
                    <span id="Calloader6" class="calendar-loading"><img src="../Assets/loader.gif" width="40" /></span>
                    <span hidden id="spndt6"></span><br />
                    <span hidden id="spnpr6"></span>      
                </li>         
                <li>
                    <span id="Calloader7" class="calendar-loading"><img src="../Assets/loader.gif" width="40" /></span>
                    <span hidden id="spndt7"></span><br />
                    <span hidden id="spnpr7"></span>        
                </li>                             
            </ul>
        </div>
    </div>
</div>





