﻿<!-- body- content-->
<div class="transfers_body_wrapper">
    <div id="global-filter-data">
        <div class="ttl-transfers-body">Transfers</div>
        <div class="transfers-check">
            <div class="checkbox">
                <span>Outbound Single</span>
                <input type="checkbox" value="obSingle" id="obSingle">
                <label for="obSingle"></label>
            </div>
            <div class="checkbox">
                <span>Inbound Single</span>
                <input type="checkbox" value="inSign" id="inSign">
                <label for="inSign"></label>
            </div>
            <div class="checkbox">
                <span>Return</span>
                <input type="checkbox" value="checkReturn" id="checkReturn">
                <label for="checkReturn"></label>
            </div>
            <div class="clear"></div>
        </div>
        <div class="selectrow">
            <div class="search-fl">
                <div class="form-group">
                    <input type="text" id="txtAirportName" class="form-control input-primary" />
                </div>
            </div>
            <div class="search-fm">
                <span id="transferarrowleft" class="icon icon-arrow-left"></span>
                <span id="transferarrowright" class="icon icon-arrow-right"></span>
            </div>
            <div class="search-fr">
                <div class="form-group">
                    <input type="text" id="txtHotelName" class="form-control input-primary" />
                </div>
            </div>

            <div class="clear"></div>
        </div>
        <div class="row bot-space">
            <div class="col-md-3 col-lg-3">
                <div class=" input-group date" id="dtpickup">
                    <input type="text" placeholder="Pick up" id="dtPickUp_tr" class="form-control">
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class=" input-group date" id="dtreturnpickupinput">
                    <input type="text" placeholder="Return" id="dtReturnPickUp_tr" class="form-control">
                </div>
            </div>
        </div>
        <div id="transfercontainer">

        </div>
        <div id="transferReturncontainer">

        </div>
        @*<div class="transfers-results-wrap">
                <div class="transfers-content-wrap">
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <img src="~/Assets/result-img-ph.png" />
                        </div>
                        <div class="col-lg-7 col-md-7">
                            <h4 id="shuttletransfer">Shuttle transfer airport</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            </p>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <div id="transferprice1" class="trans-price1">&pound;50</div>
                            <div class="trans-pp">Per person</div>
                            <div class="trans-ret">Return</div>
                            <div class="trans-pc">1-4 <span class="icon icon-man"></span></div>
                            <div class="trans-bags">1-4 <span class="icon icon-briefcase"></span></div>


                        </div>
                    </div>
                </div>
                <div class="transfers-btn-action" id="btnShuttleTransfer">
                    <a href="#"><span class="icon icon-arrow-right2"></span></a>
                </div>
                <div class="clear"></div>

            </div>
            <div class="transfers-results-wrap">
                <div class="transfers-content-wrap">
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <img src="~/Assets/result-img-ph.png" />
                        </div>
                        <div class="col-lg-7 col-md-7">
                            <h4 id="shuttletransfer2">Shuttle transfer airport</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            </p>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <div id="transferprice2" class="trans-price2">&pound;50</div>
                            <div class="trans-pp">Per person</div>
                            <div class="trans-ret">Return</div>
                            <div class="trans-pc">1-4 <span class="icon icon-man"></span></div>
                            <div class="trans-bags">1-4 <span class="icon icon-briefcase"></span></div>


                        </div>
                    </div>
                </div>
                <div class="transfers-btn-action" id="btnShuttleTransfer2">
                    <a href="#"><span class="icon icon-arrow-right2"></span></a>
                </div>
                <div class="clear"></div>

            </div>
            <div class="transfers-results-wrap">
                <div class="transfers-content-wrap">
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <img src="~/Assets/result-img-ph.png" />
                        </div>
                        <div class="col-lg-7 col-md-7">
                            <h4 id="shuttletransfer3">Shuttle transfer airport</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            </p>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <div id="transferprice3" class="trans-price3">&pound;50</div>
                            <div class="trans-pp">Per person</div>
                            <div class="trans-ret">Return</div>
                            <div class="trans-pc">1-4 <span class="icon icon-man"></span></div>
                            <div class="trans-bags">1-4 <span class="icon icon-briefcase"></span></div>


                        </div>
                    </div>
                </div>
                <div class="transfers-btn-action" id="btnShuttleTransfer3">
                    <a href="#"><span class="icon icon-arrow-right2"></span></a>
                </div>
                <div class="clear"></div>

            </div>*@
    </div>

</div>
