﻿<div id="transfers-left-contents">
    <h4>Add Components</h4>
    <a href="#" class="link-components">
        <span class="comp-set-icon">+<span class="icon icon-briefcase"></span></span>
        Bags
    </a>

    <a href="#" class="link-components active">
        <span class="comp-set-icon">+<span class="icon icon-truck"></span></span>
        Transfers
    </a>

    <a href="#" class="link-components">
        <span class="comp-set-icon">+<span class="icon icon-truck"></span></span>
        Car Hire
    </a>

    <a href="#" class="link-components">
        <span class="comp-set-icon">+<span class="icon icon-office"></span></span>
        Accommodation
    </a>

    <a href="#" class="link-components">
        <span class="comp-set-icon">+<span class="icon icon-airplane"></span></span>
        Flights
    </a>

</div>
