﻿@model List<Swordfish.Businessobjects.TTSS.TTSSFlightDetails>
   
<div class="ttss-sort-wrapper">
    <div class="row">
        <div class="col-md-4 col-xs-4"><h4 class="sort-hundred">100 Holiday Options</h4></div>
        <div class="col-md-2 col-xs-2" style="margin-top:7px;"><span>Sort By</span> </div>
        <div class="col-md-2 col-xs-2 select-sort pull-left">
            <select class="form-control">
                <option>Date</option>
                <option>Rating</option>
            </select>
        </div>

        <div class="col-md-5 col-xs-5">
            <span class="icon icon-list2 icolist-nav"></span>
            <span class="icon icon-file-text icotext-nav"></span>
            <span class="icon icon-calendar icocal-nav"></span>
        </div>
    </div>
    <div class="row ttss-sort-dates">

        <div class="col-lg-12">
            <ul>
                @if (Model.Any())
                {
                    <li>
                        @Model[0].DepartureDate.ToString("dddd, MMM dd")<br />
                        @if (Model[0].Fare != "N/A")
                        {<span>+&pound; @Model[0].Fare pp</span>}
                        else
                        { @Model[0].Fare }
                    </li>
                    <li>
                        @Model[1].DepartureDate.ToString("dddd, MMM dd")<br />
                        @if (Model[1].Fare != "N/A")
                        {<span>+&pound; @Model[1].Fare pp</span>}
                        else
                        { @Model[1].Fare }
                    </li>
                    <li>
                        @Model[2].DepartureDate.ToString("dddd, MMM dd")<br />
                        @if (Model[2].Fare != "N/A")
                        {<span>+&pound; @Model[2].Fare pp</span>}
                        else
                        { @Model[2].Fare }
                    </li>
                    <li>@Model[3].DepartureDate.ToString("dddd, MMM dd")<br /><span>-</span></li>
                    <li>
                        @Model[4].DepartureDate.ToString("dddd, MMM dd")<br />
                        @if (Model[4].Fare != "N/A")
                        {<span>+&pound; @Model[4].Fare pp</span>}
                        else
                        { @Model[4].Fare }
                    </li>
                    <li>
                        @Model[5].DepartureDate.ToString("dddd, MMM dd")<br />
                        @if (Model[5].Fare != "N/A")
                        {<span>+&pound; @Model[5].Fare pp</span>}
                        else
                        { @Model[5].Fare }
                    </li>
                    <li>
                        @Model[6].DepartureDate.ToString("dddd, MMM dd")<br />
                        @if (Model[6].Fare != "N/A")
                        {<span>+&pound; @Model[6].Fare pp</span>}
                        else
                        { @Model[6].Fare }
                    </li>
                }
                else
                {
                    <li><h4><span style="color:red">*</span>No result found !!</h4></li>
                }
            </ul>
        </div>
    </div>
</div>
