﻿@model Swordfish.UI.Models.Account.UserModel
@{
    ViewBag.Title = "CreateUser";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@using (Html.BeginForm())
{
    <h2><span style="color:white;">CreateUser</span></h2>

    <div>
        @if(Model != null)
        {
            <div id="divMessage" style="color:red;font-size:14pt;text-align:center; width:100%;">@Model.ErrorMessage</div>
        }
        <table style="width:100%;" cellpadding="10">
            <tr>
                <td style="width:150px; text-align:right; color:white;font-size:12pt;">Email : </td>
                <td style="text-align:left;">@Html.TextBoxFor(m=>m.Username, new { @id="txtUsername", @style="width:350px;" })</td>
            </tr>
            <tr>
                <td style="width:150px; text-align:right; color:white;font-size:12pt;">First Name : </td>
                <td style="text-align:left;">@Html.TextBoxFor(m => m.FirstName, new { @id = "txtFirstName", @style = "width:350px;" })</td>
            </tr>
            <tr>
                <td style="width:150px; text-align:right; color:white;font-size:12pt;">Last Name : </td>
                <td style="text-align:left;">@Html.TextBoxFor(m => m.LastName, new { @id = "txtLastName", @style = "width:350px;" })</td>
            </tr>
            <tr>
                <td style="width:150px; text-align:right; color:white;font-size:12pt;">Password : </td>
                <td style="text-align:left;">@Html.PasswordFor(m => m.Password, new { @id = "txtPassword", @style = "width:350px;" })</td>
            </tr>
            <tr>
                <td style="width:150px; text-align:right; color:white;font-size:12pt;">Syntec Account Id : </td>
                <td style="text-align:left;">@Html.TextBoxFor(m => m.syntecAccountID, new { @id = "txtsyntecAccountID", @style = "width:350px;" })</td>
            </tr>
            <tr>
                <td></td>
                <td style="color:white;font-size:12pt;">
                    <input type="submit" name="Create" value="Submit" style="width:75px;color:black;" />
                </td>
            </tr>
        </table>
    </div>
}


