﻿@model Swordfish.UI.Models.Account.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div id="login-input-fields">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("ValidationSummary", ViewData.ModelState)
        <div class="row" style="margin-left:-29px !important;">
            <div class="form-inline login_input_fields">
                @if (Model != null)
                {
                    if (!string.IsNullOrEmpty(Model.ErrorMessage))
                    {<h2 class="alert-danger" id="message">@Model.ErrorMessage</h2>}
                }
                <div class="form-group col-lg-3">
                    <label class="sr-only">Email address</label>
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @id = "login_email", @name = "login_email", @placeholder = "Username or Email ", @title = "Email required", @maxlength = 60 })
                </div>
                <div class="form-group col-lg-3">
                    <label class="sr-only">Password</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control login_input_field_margin", @id = "login_password", @name = "login_password", @placeholder = "Password", @title = "Password required", @maxlength = 20, @autocomplete = "off" })
                </div>
                <span class="icon-questn" data-toggle="tooltip" data-placement="right" title="Make sure you need to fill both input fields">?</span>
            </div>
        </div>
        <div class="col-lg-12 col-xs-12">
            <div class="row">
                <div class="col-lg-3 col-xs-3">
                </div>
                <div class="col-lg-6 para_frgot_pass">
                    @Html.ActionLink("Forgot Password", "RecoverPassword")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="landing-input-fields">
                <button type="submit" class="btn btn-lg login_button col-md-4">LOG IN</button>
                <div class="checkbox col-md-4">
                    @*<div class="checkbox">
                            <span class="button-span">Save</span>
                            <label class="checkbox-aligin">
                                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "login_checkbox-save" })
                            </label>
                        </div>*@
                </div>
            </div>
        </div>
    }
</div>



