﻿@using Swordfish.UI.Models.Account
@model Swordfish.UI.Models.Account.ForgotPasswordViewModel
@{
    ViewBag.Title = "Password Recovery";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div id="login-input-fields">
    @using (Html.BeginForm("RecoverPassword", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("ValidationSummary", ViewData.ModelState)
        <div class="form-inline login_input_fields">
            <div class="row" style="margin-left:-18px !important;">
                @if (Model != null)
                {
                    if (!string.IsNullOrEmpty(Model.ErrorMessage))
                    {
                        if (Model.ErrorType == "Error")
                        {
                            <h2 class="alert alert-danger" role="alert" id="message">@Model.ErrorMessage</h2>
                        }
                        else if (Model.ErrorType == "Alert")
                        {
                            <h2 class="alert alert-warning" role="alert" id="message">@Model.ErrorMessage</h2>
                        }
                        else
                        {
                            <h2 class="alert alert-success" role="alert" id="message">@Model.ErrorMessage</h2>
                        }
                    }
                }
            </div>
            <div class="row" style="margin-left:-18px !important;">
                <div class="form-group">
                    <label class="sr-only">Email address</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control col-lg-5", @id = "forgot_password", @placeholder = "Please enter your mail id", @maxlength = 60 })
                </div>
            </div>
            <div class="row" style="margin-left:-18px !important;">
                <div class="form-group">
                    <input type="submit" class="btn btn-lg forgot_button" value="Confirm Mail" />
                    <button type="button" name="Cancel" value="Cancel" class="btn btn-lg forgot_button-1" onclick="@("window.location.href='" + @Url.Action("Login", "Account") + "'");">Cancel</button>
                </div>
            </div>
        </div>
    }
</div>
