﻿<div>
    <div class="container">
        <div class="navbar-header"> <img src="~/Assets/logo.png" class="img-responsive" style="margin-left:-15px;" /></div>
    </div>
    <h2>Please click here to recover password.</h2>
    <hr />
    <div>
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="RecoverPassword" />
                </div>
            </div>
        }
    </div>
</div>
