﻿@*@model Swordfish.UI.Models.Account.RegisterModel
    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Register</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div style="width:15%;float:left;">
        </div>
        <div style="width:70%; border:1px solid black; border-top:0px; background-color:#E6E6FA; margin:auto;">
            <div id="divHeader" style="background-color:#483D8B; height:80px; text-align:left; color:white;">
                <label style="font-size:18px; margin-left:15px; padding-top:30px; vertical-align:middle;">CWT DIGITAL - Chilli</label>
            </div>
            <div id="divContent" style="padding-top:15px;">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div id="divHeader">
                        <label style="margin-left:10px; text-align:center; font-size:16pt; margin-top:0px !important;">Registration</label>
                    </div>
                    <div id="dibSubHeader" style="padding-top:15px; padding-bottom:10px;">
                        <label style="margin-left:10px; text-align:center; font-size:12pt; margin-top:0px !important;">Create a new account</label>
                    </div>

                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div><label style="font-size:16px; color:red; margin-left:200px;">@ViewBag.ResultMessage</label></div>
                    <div id="divDetails">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-default" value="Register" />
                            </div>
                        </div>
                    </div>
                    <div style="text-align:center"><p>Please click here to @Html.ActionLink("Login", "Login", "Account")</p></div>
                }
            </div>
            <div id="divFooter" style="text-align:center;">
                <label>All Rights Reserved to CWT Digital</label>
            </div>
        </div>
        <div style="width:15%;float:right;">
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
    </body>
    </html>*@

