﻿@using Swordfish.UI.Models.Account
@model Swordfish.UI.Models.Account.ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div id="login-input-fields">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("ValidationSummary", ViewData.ModelState)
        <div class="row">
            <div class="form-inline login_input_fields">
                @if (Model != null)
                {
                    if (!string.IsNullOrEmpty(Model.ErrorMessage))
                    {
                        if (Model.ErrorType == "Error")
                        {
                            <h2 class="alert alert-danger" role="alert" id="message">@Model.ErrorMessage</h2>
                        }
                        else if (Model.ErrorType == "Alert")
                        {
                            <h2 class="alert alert-warning" role="alert" id="message">@Model.ErrorMessage</h2>
                        }
                        else
                        {
                            <h2 class="alert alert-success" role="alert" id="message">@Model.ErrorMessage Please click here to <a href="@Url.Action("Login", "Account")">Login</a></h2>
                        }
                    }
                }
                <div class="form-group col-lg-3">
                    <label class="sr-only">Email address</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "readonly", @id = "user_email", @placeholder = "Email", @maxlength = 60 })
                </div>
                <div class="col-lg-1"></div>
                <div class="form-group col-lg-3">
                    <label class="sr-only">Password</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control login_input_field_margin", @id = "user_password", @placeholder = "Password", @maxlength = 20 })
                </div>
                <div class="col-lg-1"></div>
                <div class="form-group col-lg-3">
                    <label class="sr-only">Confirm Password</label>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control login_input_field_margin", @id = "user_confirm_password", @placeholder = "Confirm Password", @maxlength = 20 })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="landing-input-fields">
                <input type="submit" class="btn btn-success btn-lg reset_button col-md-4" value="Reset Password" />
            </div>
        </div>
    }
</div>


