﻿@model IEnumerable<Swordfish.Businessobjects.Membership.Roles>
@using GridMvc.Html
@{
    ViewBag.Title = "RolesManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("GridMVC")
<div style="background-color:white; padding-top:120px;">
    <h2>RolesManagement</h2>
    <div id="gridRoles">
        <div style="text-align:right;width:500px;"><a href="#">Add</a>&nbsp;&nbsp;<a href="#">Edit</a>&nbsp;&nbsp;<a href="#">Delete</a></div>
        <hr />
        <div style="width:600px; padding-left:15px;">
            @Html.Grid(Model).Columns(columns =>
               {
                   columns.Add(c => c.RoleName).Titled("Role Name").SetWidth("150px");
                   columns.Add(c => c.Description).Titled("Description").SetWidth("200px");
                   columns.Add(c => c.CreatedOn).Format("{0:MM/dd/yyyy HH:mm}").Titled("CreatedOn").SetWidth("125px");
                   columns.Add(c => c.UpdatedOn).Format("{0:MM/dd/yyyy HH:mm}").Titled("UpdatedOn").SetWidth("125px");
               }).WithPaging(10).Sortable(true)
        </div>        
    </div>
    <div id="addEditRoles" style="display:none;"></div>
</div>



