﻿@*@model Swordfish.UI.Models.Account.RoleModel
    <div>
        @using (Html.BeginForm("Role", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div>
                <div><label style="font-size:16px; color:red; margin-left:200px;">@ViewBag.ResultMessage</label></div>
                <div id="divDetails">
                    <div class="form-group">
                        @Html.LabelFor(m => m., new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.RoleName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Role" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>*@
