﻿@model Swordfish.Businessobjects.Payments.PaymentDetail
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CardEasyOnSuccess</title>
</head>
<body>
    <div>
        <h2>Payment status</h2>
        @if (Model != null)
        {
            <table>
                <tr>
                    <td>
                        <strong>Quote Id/Merchant Reference</strong>
                    </td>
                    <td>
                        @Model.quoteHeaderId
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Transaction Id</strong>
                    </td>
                    <td>
                        @Model.transactionId
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Transaction Datetime</strong>
                    </td>
                    <td>
                        @Model.resultDatetime
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Error Msg</strong>
                    </td>
                    <td>
                        @Model.errormsg
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Auth Message</strong>
                    </td>
                    <td>
                        @Model.authMessage
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Auth Code</strong>
                    </td>
                    <td>
                        @Model.authCode
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Transaction status</strong>
                    </td>
                    <td>
                        @Model.txnResult
                    </td>
                </tr>
            </table>
        }
    </div>
</body>
</html>
