﻿<!doctype html>
<html ng-app="SwordFish">
<head>
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    @model Swordfish.Businessobjects.Quotes.Quote
    @{
        Layout = "";
    }
    @Styles.Render("~/Content/angularCSS")
    <link href="~/Content/jqueryui.css" rel="stylesheet" />
</head>
<body>
    <div class="main" ng-controller="bookingCtrl" ng-init="getQuoteModel(@Newtonsoft.Json.JsonConvert.SerializeObject(this.Model))">
        <div class="container">
            <div id="loader" class="container">
                <div class="logo_loader"></div>
            </div>
            <modal title="{{validationResult.title}}" visible="showCommonPopup">
                <div ng-bind-html="showCommonPopupData" class="alert"></div>
            </modal>
            <layout></layout>
            <div class="row">
                <vertical-menu></vertical-menu>
                <div class="search-rs" ng-class="{'col-xs-11': showMenu, 'col-xs-12': !showMenu}">
                    <booking-confirmation-widget></booking-confirmation-widget>
                </div>
            </div>
        </div>
    </div>
    <div id="dialog-confirm"></div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angularCore")
    @Scripts.Render("~/bundles/angularCustom")
    @Scripts.Render("~/bundles/signalR")
    @Scripts.Render("~/bundles/dashBoardScript")
    @Scripts.Render("~/signalr/hubs")
    
</body>
</html>